<!--
title: Gestión de campañas de adquisición
description: Crea, edita y optimiza campañas de adquisición de usuarios
published: true
date: 2020-11-27T17:12:54.466Z
tags: 
editor: ckeditor
dateCreated: 2020-11-27T17:12:50.738Z
-->

<h2>Crea tu primera campaña</h2>
<p>1. &nbsp;Haz&nbsp;<a href="http://emma.io/login/">login</a> en EMMA, dirígete a <i>Acquisition &gt; AppTracker</i>&nbsp;y selecciona el botón Añadir campaña <i>(+Add campaign).</i></p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360010853313/1.png" alt="1.png"></figure>
<p>2. &nbsp;Rellena&nbsp;la siguiente información sobre tu campaña:</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005739234/basic_campaign.png" alt="basic_campaign.png"></figure>
<ul>
  <li><i>Name: </i>especifica un nombre de campaña.</li>
  <li><a href="https://support.emma.io/hc/es/articles/115004972453">Re-Targeting Check</a>: habilita este marcador si quieres crear una campaña en modalidad de atribución de Re-Targeting. Haz click <a href="https://support.emma.io/hc/es/articles/115004972453">aquí</a> para conocer todo el detalle sobre los diferentes modelos de atribución de las campañas <i><strong>Basic </strong></i>y<i><strong> Re-Targeting</strong></i>.</li>
  <li>En el caso de que hayas habilitado el Re-Targeting Check y además tengas configurada la sección de My Account en modalidad de atribución Unique Click deberás seleccionar uno o varios eventos objetivo para que se realice la atribución. Conoce más sobre las campañas de Re-Targeting en modalidad de atribución <i><strong>Unique Click</strong></i><a href="https://support.emma.io/hc/es/articles/115004972453#uniqueclick">aquí</a>.</li>
</ul>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360007289494/Captura_de_pantalla_2018-06-12_a_las_12.22.45.png" alt="Captura_de_pantalla_2018-06-12_a_las_12.22.45.png"></figure>
<p><strong>Set your campaign info:&nbsp;</strong></p>
<ul>
  <li style="text-align:center;"><i>Start and End date</i>: Establece la fecha de inicio y fecha de finalización.&nbsp;Fuera de este período, aunque los redirects sigan funcionando, no se realizará la&nbsp;recogida de datos de las campañas.</li>
</ul>
<p><strong>Set your URLs:</strong></p>
<p>Añade las URLs de redirección en función del sistema operativo:</p>
<ul>
  <li><i>iOS URL:</i> redirección a AppStore</li>
  <li><i>Android URL:</i> redirección a Google Play</li>
  <li><i>Alternative URL:</i> introduce una url alternativa para aquellos usuarios que están utilizando&nbsp;algún otro sistema.</li>
</ul>
<p>Finalmente, selecciona <i>Create</i> para crear tu campaña.</p>
<p>&nbsp;</p>
<h2>Edita o elimina tu campaña</h2>
<p>Puedes editar tu campaña en cualquier momento o directamente eliminarla. Simplemente tienes que seleccionar la campaña que quieres editar/borrar y seleccionar la opción de <i>Edit</i> (editar):</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005702673/Edit_Campaign.png" alt="Edit_Campaign.png"></figure>
<p>Ahí tendrás la opción de realizar los cambios pertinentes y una vez hechos selecciona <i>Save</i> para guardarlos. Si, por el contrario, lo que quieres hacer es eliminar tu campaña, deberás seleccionar la opción de <i>Delete</i> (borrar).</p>
<p>Todas las modificaciones que hagas en estos campos tendrán incidencia sobre todas las sources creadas bajo la agrupación de la campaña pero no se modificará el tracking link por lo que podrás seguir usando estos mismos.</p>
<p>El único campo que no es editable es el marcador que indica si es una <a href="https://support.emma.io/hc/es/articles/115004972453">campaña <strong>Basic</strong> o de <strong>Re-Targeting</strong></a>.</p>
<p>&nbsp;</p>
<h2>Añade sources a tu campaña</h2>
<p>Una vez creada tu campaña, tienes que&nbsp;añadir una nueva <i>source</i> para&nbsp;obtener los enlaces de seguimiento o redirects de EMMA para tu&nbsp;nueva campaña.</p>
<p>Una <i>source</i>&nbsp;es el click command&nbsp;o el enlace de seguimiento <i>(tracking link)</i>&nbsp;que redirige&nbsp;a las páginas de destino configuradas en tu&nbsp;campaña. Sigue los pasos expuestos a continuación para crear una <i>source&nbsp;</i>dentro&nbsp;de una campaña.</p>
<p>1. Selecciona la campaña y verás que te aparece el desglose de su configuración.&nbsp;Haz click en el botón <i>Add Source</i>&nbsp;justo debajo del cuadro informativo para añadir un nuevo tracking link:</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005702733/Add_source.png" alt="Add_source.png"></figure>
<p>2. Rellena los siguientes campos:</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360027868354/Captura_de_pantalla_2019-03-06_a_las_10.11.11.png" alt="Captura_de_pantalla_2019-03-06_a_las_10.11.11.png"></figure>
<ul>
  <li><i>Source Name:</i> Especifica un nombre para tu nuevo<i> tracking link.&nbsp;</i></li>
  <li><i>Provider</i>: Selecciona un proveedor en el <a href="http://emma.io/partners">listado</a>. EMMA notificará al proveedor todas las&nbsp;instalaciones y eventos in-app provenientes &nbsp;de su&nbsp;tráfico. Puedes seleccionar la opción personalizada <i>(Custom)</i>&nbsp;si no deseas notificar a ningún proveedor. Si el proveedor al que se quiere notificar&nbsp;no se encuentra&nbsp;en el listado, envíanos tu solicitud a&nbsp;<a href="mailto:xservices@emma.io">EMMA support</a> y lo integraremos&nbsp;como un nuevo partner.</li>
  <li>Selecciona el modelo de pago con el que quieres medir&nbsp;la compra/venta del tráfico en el informe de tu&nbsp;<i>source.&nbsp;</i></li>
  <li>Rellena la opción de pago. Si tu campaña no tiene coste, rellénalo con&nbsp;un 0.</li>
  <li>ID de transacción (<i>transaction ID)</i>: Cambia el ID de la transacción si se está utilizando un SDK diferente al de EMMA&nbsp;(<i>3rd party tracker)</i>: Visita&nbsp;<a href="https://support.emma.io/hc/es/articles/203254341-Utiliza-la-herramienta-3rd-Party-Tracker">este artículo</a>&nbsp;para saber qué ID de transacción se debe utilizar en cada caso. Si estás utilizando el SDK propio de EMMA, este campo no necesita ningún cambio.</li>
  <li><i>Short URL suffix:&nbsp;</i>Puedes establecer un sufijo personalizado a tu short url. En caso de no querer añadir uno, deja este campo vacío y EMMA creará uno de manera aleatoria. Recuerda que este sufijo debe estar compuesto únicamente por caracteres alfanuméricos.</li>
  <li>Attribution Window (<a href="https://support.emma.io/hc/es/articles/115004972453">solo disponible para campañas de Re-Targeting</a>): establece el tiempo máximo que puede pasar entre un click y un evento para que este sea atribuido a dicha source.</li>
  <li>Enable Deeplink: opcionalmente habilita esta opción si quieres&nbsp;que los usuarios que ya tengan tu aplicación móvil sean redireccionados a la app y no a las stores. Visita nuestro artículo sobre <a href="https://support.emma.io/hc/es/articles/212683209-C%C3%B3mo-usar-EMMA-Powlink-deeplink-">cómo usar el Powlink en EMMA</a>&nbsp;para conocer como gestionar esta tecnología en tus campañas.</li>
</ul>
<p>3. &nbsp;Cuando selecciones un provider podrás escoger los eventos in-app que deseas notificar (la instalación es siempre requerida). Si el check box no está habilitado significa que el pixel s2s para este evento no está integrado. <a href="mailto:support@emma.io">Contáctanos</a> para solicitar la integración.</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115006455509/EMMA_7.png" alt="EMMA_7.png"></figure>
<p>4. Selecciona el botón <i>Create</i>&nbsp;para activar tu <i>source</i>.</p>
<p>5. &nbsp;Automáticamente se generará una&nbsp;nueva URL o "powlink", un nuevo short URL o "pwlnk" (en el caso de tener configurada está funcionalidad) y un código QR con la que iniciar el seguimiento de tu campaña.&nbsp;Para ver cómo configurar la short URL personalizada haz&nbsp;<a href="https://support.emma.io/hc/es/articles/203161022-Usando-EMMA-Apptracker#pwlnk">click aquí.</a></p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360027050554/QR_1.png" alt="QR_1.png"></figure>
<p>El código QR puede descargarse directamente desde la tabla de sources. También podrás verlo y descargarlo desde la propia pantalla de edición de la source.</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360027868414/QR.png" alt="QR.png"></figure>
<h3>Info</h3>
<p>Ten en cuenta cualquier cambio que realices en la configuración de la campaña o de la source afectará tanto al powlink como al pwlnk y al código QR.</p>
<p>&nbsp;</p>
<h2>Edita o elimina las sources de tu campaña</h2>
<p>Para editar o eliminar tu source, simplemente tienes que hacer click encima del nombre de aquella que quieras modificar.</p>
<p>Edita los campos que necesites y guardarlos haciendo click en <i>Modify. Esta modificación aplicará únicamente a la source editada.</i> El tracking link no variará por lo que podrás seguir usando este mismo.</p>
<p>Si quieres eliminarla selecciona <i>Delete.</i></p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005739314/Modify_source.png" alt="Modify_source.png"></figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Configurando el Short URL (pwlnk)</h2>
<p>Pwlnk es una versión acortada de nuestro clásico powlink que comparte todas sus funcionalidades y características salvo la longitud del mismo. Tanto el powlink clásico como el pwlnk pueden convivir juntos y se puede usar uno u otro indistintamente según se adapte más uno u otro a tus necesidades específicas.</p>
<p>Para poder usar el&nbsp;<i><strong>Short URL</strong></i>es necesario que primero se configure el subdominio del pwlnk. Para ello tienes que acceder a tu cuenta de EMMA, ir a la sección de&nbsp;<i><strong>My Account</strong></i>, editar la configuración de tu app y en la sección de&nbsp;<i>Media Source Settings&nbsp;</i>debes cubrir el campo&nbsp;<i><strong>Short URL&nbsp;</strong></i>con el nombre de tu subdominio (el que tú quieras).</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360017768474/1.png" alt="1.png"></figure>
<p>En segundo lugar, es necesario que la aplicación esté configurada para soportar el&nbsp;<i><strong>Short URL</strong></i> tanto en <a href="https://support.emma.io/hc/es/articles/115002811374-Integraci%C3%B3n-iOS#powlink">iOS</a>como en <a href="https://support.emma.io/hc/es/articles/115002771613#powlink">Android</a>.</p>
<p>Tengas o no configurado el subdominio, en la sección&nbsp;<i><strong>Acquisition &gt; Apptracker</strong></i> podrás ver una nueva columna denominada&nbsp;<i>"PWLNK"&nbsp;</i>en la que se verá esta nueva short url. En el caso de tener configurado el subdominio del short url, en esta columna saldrá el pwnlk y en caso de no tenerlo configurado simplemente aparecerá N/A.</p>
<p>Al igual que todas las columnas del Apptracker, esta columna puede mostrarse u ocultarse a elección propia.</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360017768454/2.png" alt="2.png"></figure>
<h3>Nota</h3>
<p>Si antes de configurar la short url ya tenías fuentes dentro del Apptracker de EMMA, en la columna de pwlnk saldrá por defecto el valor N/A.&nbsp; El pwlnk sólo se mostrará en aquellas sources creadas después de la configuración del short url.</p>
<h2>Leer los resultados de tu campaña</h2>
<p>Cuando tus campañas empiezan a generar datos en la plataforma, puedes tener la información de una manera gráfica en la sección de <a href="https://support.emma.io/hc/es/articles/115003847249-OVERVIEW">Installs</a> o bien puedes consultar los datos por campaña o source dentro de la propia sección del Apptracker.</p>
<p>Antes de nada, acuérdate de seleccionar el período de tiempo sobre el que deseas consultar los datos:</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360010804054/10.png" alt="10.png"></figure>
<p>En la pantalla del Apptracker verás&nbsp;dos partes diferenciadas de las que puedes sacar los datos de tus campañas. En la primera se muestran los siguientes filtros y datos totales de todas las campañas que estás midiendo con EMMA. Estos datos los puedes ver de una manera más visual&nbsp;en el gráfico que aparece a continuación:</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005702933/campaign_dashboard.png" alt="campaign_dashboard.png"></figure>
<p>Puedes filtrar por:</p>
<ul>
  <li>Basic/Re-Targeting: filtra las campañas según su modelo de atribución. Haz click <a href="https://support.emma.io/hc/es/articles/115004972453">aquí</a> para conocer el detalle sobre cada una de ellas.</li>
  <li>Sistema operativo (OS): permite elegir entre&nbsp;iOS y Android.</li>
  <li>País (<i>Country)</i>: permite seleccionar el país de origen del tráfico obtenido en el periodo.</li>
</ul>
<p>En el siguiente cuadro tienes la información sobre Totales y promedios <i>(total &amp; averages) </i>en donde EMMA hace un resumen de los resultados totales de tus campañas para el intervalo de fechas seleccionado:</p>
<figure class="table" style="height:130px;width:638px;">
  <table>
    <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:308px;"><i>Clicks</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:334px;">Número total de clicks provenientes de las redirecciones.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:308px;"><i>CPC</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:334px;">Coste por click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:308px;"><i>Cost</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:334px;">Coste total basado en el modelo de pago elegido (CPC, CPI o Coste Fijo).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:308px;"><i>Installs</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:334px;">Número de dispositivos atribuidos a alguna campaña que han abierto la app por primera vez.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:84px;padding:12px;width:308px;"><i>Engagement</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:84px;padding:12px;width:334px;">Número de dispositivos únicos que han realizado una interacción con campañas de Re-Targeting. Este valor será siempre N/A (<i>Not available)&nbsp;</i>para campañas en modalidad Basic.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:27.6875px;padding:12px;width:308px;"><i>CPI</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:27.6875px;padding:12px;width:334px;">Coste por instalación.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:308px;"><i>ITR</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:334px;"><i>Install Through Rate:</i> número de instalaciones por clic (%).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:308px;"><i>Registers</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:334px;">Dispositivos que han realizado un evento&nbsp;<i>registeruser.</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:308px;"><i>CPL</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:334px;">Coste por registro o&nbsp;<i>lead.</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:308px;"><i>Conversions</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:334px;">Número total de conversiones registradas con el evento<i> trackorder.</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:308px;"><i>CPS</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:334px;">Coste por conversión.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:308px;"><i>Daily Buyers</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:334px;">Dispositivos diarios que han hecho un evento de&nbsp;<i>trackorder.</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:308px;"><i>CPB</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:334px;">Coste por comprador (<i>buyer).</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:308px;"><i>Revenue</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:334px;">Valor de las órdenes de transacción.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:308px;"><i>ROI</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:334px;">Retorno de la inversión.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>A continuación se muestra el desglose de cada una de tus campañas. En esta tabla tendrás la misma información que en la tabla superior y alguna adicional:</p>
<figure class="table" style="height:67px;width:720px;">
  <table>
    <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Name</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Nombre dado a la campaña en el momento de la creación.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Start date</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Fecha de inicio de medición de datos.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>End date</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Fecha de fin de medición de datos.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Eventos</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Podrás añadir como columnas a tu reporting cada uno de los eventos que midas con nuestro SDK.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Además, podrás personalizar la tabla según tus preferencias: haz&nbsp;clic en el botón situado en la parte derecha de tu pantalla y&nbsp;selecciona los KPIs que quieres reportar:</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005739554/show_columns.png" alt="show_columns.png"></figure>
<p>Si quieres tener el detalle de los datos por <i>Source</i>, haz click encima del nombre de la campaña de la que deseas obtener esta información y, siempre dependiendo del período de tiempo seleccionado, obtendrás los siguientes datos.</p>
<p><strong>Filters:</strong></p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005739594/Filters_source.png" alt="Filters_source.png"></figure>
<ul>
  <li>Sistema operativo (OS): permite elegir entre&nbsp;iOS y Android.</li>
  <li>País (<i>Country)</i>: permite seleccionar el país de origen del tráfico obtenido en el periodo.</li>
</ul>
<p><strong>Resultados tabla:</strong></p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360001436273/TEST_ADWORDS_CE.png" alt="TEST_ADWORDS_CE.png"></figure>
<figure class="table" style="height:89px;width:720px;">
  <table>
    <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Source name</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Nombre de identificación del&nbsp;<i>tracking link.</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Provider</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Proveedor con el que trabajas.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Pay Model</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Coste elegido para la campaña (CPC, CPI o Coste Fijo).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Powlink</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Tracking link</i> de seguimiento.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Pwlnk</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Short Tracking link </i>de seguimiento.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Engagement</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Número de dispositivos únicos que han realizado una interacción con sources de Re-Targeting. Este valor será siempre N/A (<i>Not available</i>) para sources en modalidad Basic.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Impressions</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Impresiones de la creatividad publicitaria (solo disponible en las denominadas&nbsp;<i>"Facebook Campaign"</i>).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Unique clicks</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Número de clicks únicos por source (solo disponible en las denominadas&nbsp;<i>"Facebook Campaigns"</i>).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Clicks</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Número total de clicks por redirección.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>CPC</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Coste por click.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Cost</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Coste total basado en el modelo de pago elegido (CPC, CPI o Coste Fijo).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Installs</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Número de dispositivos atribuidos a alguna source que han abierto la app por primera vez.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>CPI</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Coste por instalación.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>ITR</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Install Through Rate:&nbsp;</i>Número de instalaciones por click (%).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Registers</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Dispositivos que han realizado un evento de&nbsp;<i>registeruser.</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>CPL</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Coste por registro o&nbsp;<i>lead.</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Conversions</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Número total de conversiones registradas con el evento&nbsp;<i>trackorder.</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>CPS</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Coste por conversión (sale).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Daily Buyers</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Dispositivos diarios que han hecho un evento de&nbsp;<i>trackorder.&nbsp;</i></td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>CPB</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Coste por comprador (buyer).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Revenue</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Valor de las órdenes de transacción.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>ROI</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Retorno de la inversión.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Session</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Número de aperturas de la app.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;"><i>Events</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;width:321px;">Podrás añadir como columnas a tu reporting cada uno de los eventos que midas con nuestro SDK.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>En las <i>sources</i>, al igual que en la información global de campaña, también puedes personalizar la tabla según tus preferencias seleccionando las columnas que quieres que sean mostradas y ocultas.</p>
<p>A continuación de la tabla, se muestra un gráfico con las métricas de tu <i>source</i>.</p>
<p>En primer lugar, debes filtrar el KPI que quieres analizar.&nbsp;Se mostrará una tabla donde se pueden ver los resultados numéricos del KPI seleccionado en el período de fechas. También se muestra&nbsp;un gráfico que representa los resultados de las <i>sources&nbsp;</i>por día. Para poder hacer comparaciones, debes seleccionar dos o más tipos de orígenes (selecciona el origen en la leyenda, debajo del gráfico).</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005739734/graphic_sources.png" alt="graphic_sources.png"></figure>
<p>&nbsp;</p>
<h2>Exportar los resultados de tu campaña</h2>
<p>El EMMA Apptracker habilita tres tipos de exportaciones. Encontrarás la opción de exportación en en el margen superior derecho de las tablas de datos desglosados por campaña y por fuente:</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005739574/Export_Campaign.png" alt="Export_Campaign.png"></figure>
<p><strong>1. Campaing Export:</strong></p>
<p>Este export se encuentra en el margen superior derecho de la pantalla principal del Apptracker. Exporta un archivo .csv con los datos filtrados en el dashboard.</p>
<p><strong>2. Source Export:</strong></p>
<p>Este export se encuentra en el margen superior derecho de la pantalla de sources del Apptracker. Exporta un archivo .csv con los datos filtrados en el dashboard.</p>
<p><strong>3. Click Export:</strong></p>
<p>Este export se encuentra en el margen superior derecho de la pantalla de detalle de sources del Apptracker.</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360001481233/boton_click_export.png" alt="boton_click_export.png"></figure>
<p>Exporta un archivo .csv con todos los clicks generados en esa campaña excepto aquellos clicks que levanten la app directamente (estos se verán en el dashboard pero no se descargarán). La información que podrás encontrar en esta exportación es la siguiente:</p>
<figure class="table" style="height:81px;width:720px;">
  <table>
    <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>ID</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Número de identificador interno del click en&nbsp;EMMA.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;"><i>Click ID</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;">Parámetro enviado en cada click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;"><i>Match</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;">Atribución del click en conversión (Yes/No).</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>Created at</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Fecha en la que el usuario ha realizado el click.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>Attributed at</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Hora en la que el usuario ha realizado la instalación.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;"><i>Device</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;">Modelo de dispositivo del usuario.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>Firmware</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Versión del Sistema Operativo del dispositivo.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>OS</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Sistema operativo configurado en el dispositivo del usuario.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>Campaign ID</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Número identificador interno de la campaña desde la que se ha generado el click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>Source ID</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Número identificador interno de la fuente desde la que se ha generado el click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;"><i>From Campaign</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;">Campaña de la que procede el click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;"><i>From Source</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;">Source de la que procede el click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>IP</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Dirección donde el usuario estaba conectado cuando hizo click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;"><i>Postal Code</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:21px;padding:12px;width:319px;">Código Postal asociado a ese dispositivo.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>Latitude</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Coordenadas de latitud del usuario en el momento en el que hizo el click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>Longuitude</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Coordenadas de longitud del usuario en el momento en el que hizo el click.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:84px;padding:12px;width:319px;"><i>City</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:84px;padding:12px;width:319px;">Ciudad en la que se encontraba el usuario en el momento en el que hizo el click. Para obtener esta información se realiza una traducción de la IP.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:84px;padding:12px;width:319px;"><i>State</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:84px;padding:12px;width:319px;">Comunidad/Estado en el que se encontraba el usuario cuando hizo el click. Para obtener esta información se realiza una traducción de la IP.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:85.6094px;padding:12px;width:319px;"><i>Country</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:85.6094px;padding:12px;width:319px;">País en el que se encontraba el usuario cuando hizo el click. Para obtener esta información se realiza una traducción de la IP.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;"><i>Language</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:42px;padding:12px;width:319px;">Idioma configurado por el usuario en su dispositivo.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:63px;padding:12px;width:319px;"><i>EAT_SUB[NUM]</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:63px;padding:12px;width:319px;">Valor custom añadido en la redirección a través de los parámetros "eat_sub1, eat_sub2, eat_sub3...eat_sub25".</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:63px;padding:12px;width:319px;"><i>Otros</i></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);height:63px;padding:12px;width:319px;">Valores custom añadidos en la redirección a través de los parámetros "camid, exid, dp, dpid, app_name, app_cats y mktc".</td>
      </tr>
    </tbody>
  </table>
</figure>
