<!--
title: EMMA's Introduction
description: 
published: true
date: 2021-11-08T09:20:00.918Z
tags: 
editor: ckeditor
dateCreated: 2021-11-02T11:32:18.783Z
-->

<h2><strong>Getting Started</strong></h2>
<p>Learn how to set up your account and get started with EMMA</p>
<h1><strong>Introduction</strong></h1>
<p>EMMA is an app marketing platform for customer acquisition and retention that provides the functionality to integrate analytics and app marketing. The platform helps clients increase user engagement in three ways:</p>
<ul>
  <li>Analyze the source of your app downloads by attributing installs to media sources.</li>
  <li>Track user actions and analyze how people use the product.</li>
  <li>Segment users according to their actions and run campaigns targeted to these segments.</li>
</ul>
<h1><strong>Features of the platform</strong></h1>
<p>The EMMA platform has 5 parts:</p>
<p>The EMMA interface provides the functionality to attribute the origin of your app downloads to optimize your acquisition campaigns, segment users based on their actions and profile properties, and execute targeted communication campaigns to these segments by analyzing the performance of each campaign.</p>
<p>The SDK tracks user actions within mobile applications. It also provides the ability to personalize mobile applications and their content by providing clients with access to user profile data.</p>
<p>The API sends event data or user profiles from any source to EMMA. Our API also exports user data from EMMA for analysis in BI tools and enriches customer information in CRM systems.</p>
<p>Integrations with advertising platforms such as Google and Facebook, analytics platforms such as Salesforce and Adobe and remarketing platforms such as Smadex and Appreciate.</p>
<p>Postbacks trigger workflows in backend systems as soon as qualifying events occur.</p>
<h1><strong>Key Concepts</strong></h1>
<p>Users, events, segments, campaigns and reports are fundamental to EMMA, so it is important to understand each function.</p>
<p><strong>Users</strong>: After integrating EMMA SDK, a user profile is created for each person who starts the application. The EMMA user profile has a set of default fields, such as device(s) and location. You can also extend the default user profile data model by adding custom attributes specific to your business.</p>
<p><strong>Events</strong>: The EMMA SDK tracks the actions users take on your application or website, such as a user viewing a product, listening to a song or making a purchase. Events are associated with a user profile.</p>
<p><strong>Segments</strong>: EMMA offers users the ability to create segments. A segment is a group of users whose actions or user profile properties match a set of criteria you have defined. Once a user has created a segment, you can target them with a campaign or create a report to analyze them.</p>
<p><strong>Acquisition campaigns</strong>: EMMA's acquisition campaigns analyze the origin of each app download for each user in order to optimize the acquisition of new users.</p>
<p><strong>Communication campaigns</strong>: EMMA's communication campaigns allow customers to communicate on a large scale, being able to personalize and automate each message. EMMA offers 10 different messaging formats to reach your users in the optimal channel.</p>
<p><strong>Reporting</strong>: EMMA provides the ability to create reports to understand the effect of campaigns on your users. You can use these reports to analyze user engagement and guide product decisions.</p>
<h1><strong>Users prior to the EMMA SDK: New Users</strong></h1>
<p>In case you already have the App ready to start and you decide to start measuring your statistics with EMMA, what happens with the users that already use the App? When will EMMA start tracking them? How will you be able to identify those users in your App statistics?</p>
<figure class="image"><img src="/usuarios_previos_sdk_emma.png"></figure>
<p>&nbsp;</p>
<p>When installing a new SDK <strong>all users of the previous version will appear as new users once they update the application</strong>. This is a common and unavoidable process that allows to detect and save all the measured users, the ones that really will be new users and the ones that will not.&nbsp;</p>
<p>Based on that, you should keep in mind that the first days of analysis in EMMA the percentage of new users will be higher than in future periods.</p>
<p>As you can see in the visual example of an application (represented in the previous image) if we have a number of existing users before performing the EMMA SDK integration, these will be counted as new users when they open the application once updated to the new version. Thus, the existing traffic, generated through the markets, will be added as new users.</p>
<p>Unfortunately, the real separation between new and existing users is not possible with current technologies so, in order to avoid devalued data, it is recommended to wait at least 15 days from the application version update to start considering new traffic.</p>
<h1>Getting started</h1>
<p>The first thing you need to do to start using EMMA is to create an account. Here is a detailed explanation of how to do it.</p>
<ul>
  <li>Go to <a href="https://ng.emma.io/es/login?returnUrl=%2Findex">EMMA</a> and click on the <strong>Create your account button</strong>.</li>
</ul>
<figure class="image"><img src="/registro_1.png"></figure>
<p>&nbsp;</p>
<ul>
  <li>Set the e-mail address you want to use EMMA with and a password. Then click on the Create Account button.</li>
</ul>
<figure class="image"><img src="/registro_2.png"></figure>
<p>&nbsp;</p>
<p>Set up the information requested in order to configure your account. Once configured click on the <strong>Continue</strong> button.</p>
<ul>
  <li><strong>Name</strong>: Enter your name. It will be used as your username.</li>
  <li><strong>Last Name</strong>: Enter your last name. It will be used to set up your profile.</li>
  <li><strong>Company</strong>: Enter your company name. This information will be used for billing purposes.</li>
  <li><strong>Address</strong>: Sets the fiscal address of the company. This information will be used for billing purposes.</li>
  <li><strong>Zip Code</strong>: Sets the zip code of the company. This information will be used for billing purposes.</li>
  <li><strong>City</strong>: Enter the city where the company is based. This information will be used for billing purposes.</li>
  <li><strong>Country</strong>: Sets the country where the company is based. This information will be used for billing purposes.</li>
</ul>
<figure class="image"><img src="/registro_3.png"></figure>
<ul>
  <li>Enter a credit card information. EMMA billing will be done against the card set up in this section. You must also agree to EMMA's Terms of Use and Privacy Policy in order to continue with the account creation process.</li>
</ul>
<figure class="image"><img src="/registro_4.png"></figure>
<ul>
  <li>If all the data has been entered correctly, you will see a validation message on your screen. We will then send you an email to validate your account.</li>
</ul>
<figure class="image"><img src="/registro_9.png"></figure>
<ul>
  <li>Validate your EMMA account with the link sent in the email. This point is very important to avoid problems accessing EMMA.</li>
</ul>
<figure class="image"><img src="/registro_6-blur.png"></figure>
<ul>
  <li>Once you have validated your account, you will receive another Welcome email. Follow the instructions in the email and you're done. Congratulations, you have created your EMMA account and can start using it as soon as you wish.</li>
</ul>
<figure class="image"><img src="/registro_7.png"></figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
