<!--
title: Eventos
description: Eventos
published: true
date: 2021-07-07T07:21:00.864Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:48:24.781Z
-->

<p>En EMMA&nbsp;los eventos se utilizan para identificar el comportamiento y acciones de los usuarios dentro de la App.&nbsp;Un mismo usuario puede tener un número infinito de repeticiones para cada evento creado. Tú&nbsp;mismo eres el que decides cómo quieres medir este comportamiento delimitando el número y el tipo de eventos que quieres medir.</p>
<p>En EMMA existen dos tipos de eventos diferenciados. Los eventos <strong>por defecto </strong>y los eventos <strong>personalizados.&nbsp;</strong></p>
<h1><strong>Eventos por defecto</strong></h1>
<p>EMMA define como <strong>eventos por defecto</strong> aquellos eventos&nbsp;creados automáticamente cuando se integran los diferentes métodos del SDK de EMMA. Son eventos básicos que suelen ser comunes en todas las apps.&nbsp;</p>
<p>A continuación se detalla la lista de los <strong>eventos por defecto</strong> que aparecerán automáticamente en EMMA cuando se usen los métodos correspondientes:</p>
<ul>
  <li><strong>EMMA Install:</strong> genera datos cuando se integra el método <i>starteMMaSession </i>del SDK</li>
  <li><strong>EMMA Session:</strong> genera datos cuando se integra el método <i>starteMMaSession</i> del SDK</li>
  <li><strong>EMMA Register:</strong> genera datos cuando se integra el método <i>registerUser</i> del SDK</li>
  <li><strong>EMMA First Login:</strong> genera datos cuando se integra el método <i>loginUser</i> del SDK</li>
  <li><strong>EMMA Login:</strong> genera datos cuando se integra el método <i>loginUser</i> del SDK</li>
  <li><strong>EMMA Transaction:</strong> genera datos cuando se integra el método <i>trackOrder</i> del SDK</li>
</ul>
<h1>Eventos personalizados</h1>
<p>Son todas aquellas acciones o secciones dentro de la app que son exclusivas de la app en cuestión. Estos son las dos principales&nbsp;acciones&nbsp;etiquetadas habitualmente como <strong>eventos personalizados</strong>:</p>
<ul>
  <li>Ver&nbsp;una pantalla o sección de la app</li>
  <li>Click en un botón de la app</li>
</ul>
<p>Ten en cuenta también que es posible envían un evento personalizado con atributos/propiedades. Por ejemplo, supongamos que en nuestra app tenemos una sección que es un blog en la que mostramos diferentes post relacionados con la temática o el mercado de nuestra app. Si queremos saber a qué posts dentro del blog acceden los usuarios podemos enviar a EMMA un <strong>evento</strong> que sea <strong>blog</strong> por ejemplo, que medirá si los usuarios acceden o no a esa sección específica. Y a mayores, para conocer qué post dentro del blog leen, podemos enviar como <strong>atributo/propiedad</strong> del <strong>evento</strong> <strong>blog</strong> el <strong>nombre</strong> en concreto del <strong>post</strong>, y/o el <strong>id</strong> interno del <strong>post</strong>.&nbsp;</p>
<p>Consulta nuestras <a href="https://developer.emma.io/es/home">guías de integración</a> para ampliar información sobre cómo integrar los <strong>Eventos personalizados.</strong>&nbsp;</p>
<p>Para poder integrar los eventos personalizados en nuestra app y medirlos con EMMA, lo primero que debemos hacer es crear esos eventos en EMMA para obtener el token necesario para su implementación en el código de la app. Puedes crear hasta <strong>512 eventos</strong> personalizados por aplicación.</p>
<p>A continuación, veremos con detalle cómo crear, editar y eliminar eventos.&nbsp;</p>
<h1>Crear eventos</h1>
<p>Para poder integrar un evento personalizado en la app y medirlo con EMMA, primero es necesario darlo de alta en EMMA. Para ello, tienes que hacer lo siguiente:&nbsp;</p>
<ul>
  <li>Haz login en EMMA y ve a <i><strong>Gestión &gt; Eventos.</strong></i></li>
</ul>
<figure class="image"><img src="/crear_eventos_1.png"></figure>
<ul>
  <li>Haz clic en el botón <i><strong>+ Nuevo evento</strong></i> para crear un nuevo evento.</li>
</ul>
<figure class="image"><img src="/crear_eventos_2.png"></figure>
<ul>
  <li>Completa los datos para la configuración del evento:</li>
</ul>
<figure class="image"><img src="/crear_eventos_3.png"></figure>
<ul>
  <li><strong>Nombre (obligatorio):</strong>&nbsp;selecciona el nombre del evento. Este nombre es el&nbsp;que se verá en los informes.</li>
  <li><strong>Token (opcional):</strong>&nbsp;el token del evento es el identificador que debes integrar en el&nbsp;código de la aplicación para realizar un seguimiento de este evento personalizado. Si este espacio se deja vacío, EMMA asignará automáticamente un token para&nbsp;identificar cada uno de los eventos.</li>
  <li><strong>¿Activo? (opcional):</strong> Por defecto el switch está activado. En el caso de marcarlo como inactivo EMMA dejará de registrar datos para dicho evento.</li>
  <li><strong>¿Es una pantalla? (opcional):&nbsp;</strong>señala esta opción si el evento se corresponde con la visualización de una pantalla de la aplicación. Es importante que identifiques qué eventos corresponden con la visualización de una pantalla ya que existen <a href="https://docs.emma.io/es/reglas"><strong>REGLAS</strong></a> directamente dependientes de esta elección.</li>
  <li><strong>Orden (opcional):</strong> establece un orden para el evento, siendo el primero el número uno. Esto te ayudará a ver los eventos con un orden coherente en&nbsp;Explorador y al generar los reportings.</li>
  <li><strong>Postback (opcional):</strong> configura una URL válida para que EMMA notifique cada vez que se realice dicho evento.</li>
</ul>
<h1>Gestionar eventos</h1>
<p>Una vez que tenemos creados todos los eventos que queremos medir con EMMA, podemos acceder a la <strong>Gestión &gt; Eventos</strong> tantas veces como necesitemos para crear nuevos eventos, editar/gestionar o eliminar los eventos ya existentes.&nbsp;</p>
<p>Una vez que accedemos a esta pantalla, podemos ver en una tabla todos los eventos que hemos dado de alta. En esta tabla podemos ver la siguiente información:</p>
<figure class="image"><img src="/eventos.png"></figure>
<ul>
  <li><strong>Nombre del Evento: </strong>Nombre dado al evento en el momento de su creación. Se puede modificar editando el evento. Esta cambio no tiene afectación más allá del nombre que se muestra en EMMA para localizar ese evento. Más info <a href="https://docs.emma.io/es/primeros-pasos/eventos#crear-eventos">aquí</a>.&nbsp;</li>
  <li><strong>Token: </strong>Token del evento. Si realizamos cambios sobre este token en EMMA y no se hacen los cambios pertinentes en el código de la app, el evento dejará de medirse. Más info <a href="https://docs.emma.io/es/primeros-pasos/eventos#crear-eventos">aquí</a>.</li>
  <li><strong>Orden: </strong>Orden establecido al evento. Esto afecta al orden en el que se muestran los eventos en las pantallas de reporting de EMMA. Más info <a href="https://docs.emma.io/es/primeros-pasos/eventos#crear-eventos">aquí</a>.&nbsp;</li>
</ul>
<p>Además, al lado del nombre del evento podemos ver unos iconos.&nbsp;</p>
<ul>
  <li>Si el evento tiene un icono de un stick, significa que ese evento está activo para su medición. El check <a href="https://docs.emma.io/es/primeros-pasos/eventos#crear-eventos">¿Activo?</a> del evento está activado. Lo normal es que todos los eventos tengan este icono.</li>
  <li>Si el evento tiene un icono de una pantalla significa que el evento ha sido marcado como pantalla para poder ser usado en comunicaciones con <a href="https://docs.emma.io/es/reglas">reglas</a>. Lo habitual es que sólo aquellos eventos que queremos usar para comunicaciones con reglas tengan este icono.&nbsp;</li>
  <li>Si el evento ni tiene ningún icono significa que no se está midiendo en EMMA (independientemente de que esté implementado en la app) y no está siendo usado como pantalla para comunicaciones con reglas.&nbsp;</li>
</ul>
<h2>Editar eventos</h2>
<p>Puedes editar un evento en cualquier momento volviendo a entrar en <i><strong>Gestión &gt; Eventos</strong></i> y seleccionando la opción <i>Editar </i>en el menú contextual que se encuentra a la izquierda del nombre: &nbsp;</p>
<figure class="image"><img src="/editar_evento_1.png"></figure>
<p>Los cambios en los campos de tu evento no afectan al <i>token&nbsp;</i>del evento que ya se generó.&nbsp;Puedes modificar cualquier campo de la configuración del evento, pero es importante que tengas en cuenta que si se modifica el token es necesario cambiarlo también en el código de la app. Nuestra recomendación es no modificar el campo de <i>token</i> una vez el evento esté implementado en la app.&nbsp;</p>
<figure class="image"><img src="/editar_evento_2.png"></figure>
<p>Una vez hagamos clic sobre el botón <i><strong>Editar evento</strong></i> los cambios se aplicarán al evento en cuestión.&nbsp;</p>
<p>Cuando los eventos se hayan implementado en el código de la app, EMMA registrará la información y te la mostrará en la pantalla de Explorador.&nbsp;</p>
<h2>Eliminar eventos</h2>
<p>Para eliminar un evento, selecciona la opción <i><strong>Eliminar</strong></i> que aparece en el menú contextual:</p>
<figure class="image"><img src="/eliminar_eventos_1.png"></figure>
<p>EMMA te preguntará&nbsp;si estás seguro de eliminar el evento y una vez confirmado, se eliminará automáticamente de tu cuenta:</p>
<figure class="image"><img src="/eliminar_eventos_2.png"></figure>
<p>&nbsp;</p>
