<!--
title: Actualización de segmentos
description: Actualización de segmentos
published: true
date: 2021-06-07T12:37:14.620Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:55:18.745Z
-->

<p>Cuando hayas creado tus comunicaciones en EMMA dirigidas a unos segmentos específicos establecidos, es muy importante que tengas en cuenta lo siguiente.</p>
<p>Una vez que se crea un segmento en una comunicación, se está estableciendo un grupo de usuarios que tienen que cumplir una serie de características específicas para poder ser impactados por la comunicación en cuestión.</p>
<figure class="image"><img src="/segmentos.png"></figure>
<p>Cuando la campaña empieza a mostrarse, es decir, cuándo está activa, EMMA calcula el segmento al inicio de la misma para determinar qué usuarios cumplen las condiciones (el segmento) para ser impactados por dicha campaña y cuales no. Ten en cuenta que la segmentación&nbsp;<strong>no</strong> es&nbsp;<strong>real-time</strong>, sino que los filtros se van recalculando cada cierto tiempo.</p>
<p>Independientemente de que los usuarios cumplan o no el segmento en el momento en el que se lance la campaña, pueden realizar acciones que hagan que entren o salgan del mismo.</p>
<p>Para saber que usuarios entran y/o salen del segmento, EMMA refresca de forma periódica el segmento para re-calcular qué usuarios deben estar en el segmento. Este <strong>update</strong> del segmento puede tardar de <strong>0 a 30 minutos</strong>.</p>
<h3>&nbsp;Re-cálculo de segmentos</h3>
<p>Algunos factores que influyen en el tiempo que tarda en realizarse el re-cálculo de los segmentos son el tamaño del segmento, los tags que se usen, las propiedades del dispositivo, etc...)</p>
