<!--
title: Apple Search Ads
description: Apple Search Ads
published: true
date: 2021-11-05T10:30:25.743Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T12:00:34.624Z
-->

<p>Con Apple Search Ads puedes promocionar tu aplicación móvil de iOS para que aparezca en los primeros resultados de búsqueda de AppStore.</p>
<p>EMMA, partner integrado de Apple, te permite medir y atribuir todas las conversiones que provengan de este formato.</p>
<p>Para ello, sigue las instrucciones que se detallan a lo largo de esta guía.&nbsp;</p>
<h3>Importante</h3>
<p>Para poder medir tus campañas de Apple Search Ads en EMMA debes tener la versión del EMMA iOS SDK 4.2.13 o superior. Para ver cómo integrar el SDK de EMMA haz click <a href="https://developer.emma.io/es/ios/integracion-sdk">aquí</a>.</p>
<h1>Obtener tu id de grupo de campaña y generar claves</h1>
<p>Para poder llevar a cabo al conexión entre Apple Search Ads y EMMA es necesario obtener el&nbsp;<i><strong>ID de grupo de campaña.</strong></i></p>
<p>Para poder relizar esta conexión, es necesario que el usuario que la lleve a cabo tenga un acceso de <i><strong>API Acco</strong></i></p>
<ul>
  <li>Haz login en tu cuenta de Apple Search Ads.</li>
  <li>Obtén tu <strong>ID de grupo de campaña (organization ID)</strong>. Para ello tienes que ir a la parte superior izquierda, donde aparece el nombre del grupo de campaña seleccionado y copiar el ID del grupo de campaña correspondiente.&nbsp;<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_1.png"></figure>
<ul>
  <li>Haz login en EMMA y ve a la sección <strong>Captación &gt; Fuentes de medios.</strong><br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_11.png"></figure>
<ul>
  <li>Busca la fuente Apple Search Ads y desde el menú contextual haz clic en la opción <i><strong>Editar.&nbsp;</strong></i><br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_8.png"></figure>
<ul>
  <li>Haz scroll hasta la sección <i><strong>Impresiones, clics y coste</strong></i>, introduce el el ID de grupo de campaña que has obtenido anteriormente en el campo <i><strong>Organization ID</strong> </i>y haz clic en el botón <i><strong>Generar claves.&nbsp;</strong></i><br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_10.png"></figure>
<ul>
  <li>Copia la clave pública tal y como se muestra en la captura.<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_12.png"></figure>
<ul>
  <li>Un usuario con acceso de <i><strong>API Account Manager</strong></i> debe hacer login en el dashboard de Apple Search Ads (si no hay ningún usuario con este rol se puede hacer un cambio sobre uno existente o crear un nuevo usuario específico con este acceso) e ir a la sección <i><strong>Settings</strong></i> desde el menú desplegable en la parte superior derecha de la pantalla (donde se muestra el nombre de usuario).&nbsp;<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_2.png"></figure>
<ul>
  <li>Pega la clave pública copiada de EMMA en el campo <i><strong>Client Credentials &gt; Public Key </strong></i>y haz clic en el botón <i><strong>Generate API Client.&nbsp;</strong></i><br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_13.png"></figure>
<ul>
  <li>Automáticamente se generará un <i><strong>clientId, teamId y KeyId. </strong></i>Copia los 3 identificadores y dirígete nuevamente al dashboard de EMMA.&nbsp;<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_14.png"></figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Configura Apple Search Ads en EMMA</h1>
<p>Lo último que queda, para empezar a medir tus campañas de Apple Search Ads en EMMA, es realizar la conexión de la consola con el apptracker de EMMA siguiendo estos sencillos pasos.</p>
<ul>
  <li>Haz login en EMMA y ve a la sección <strong>Captación &gt; Fuentes de medios</strong> y edita la fuente de medios de Apple Search Ads.</li>
  <li>Cubre los campos de <strong>Client ID, Key ID</strong> y <strong>Team ID</strong> con la información obtenida de la consola de Apple Search Ads.&nbsp;<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/asa_15.png"></figure>
<ul>
  <li>Haz clic en <strong>Guardar</strong> para guardar la configuración realizada.</li>
</ul>
<p>Una vez completados todos los pasos de esta guía podrás empezar a ver los resultados de tus campañas de Apple Search Ads en el Apptracker de EMMA.</p>
<h1>Principales causas de discrepancia</h1>
<p>En este apartado podrás encontrar de manera más detallada las principales causas de discrepancia que pueden existir en los datos entre las plataformas de EMMA y Apple Search Ads (de ahora en adelante ASA).</p>
<ol>
  <li><strong>Install vs open</strong><br>ASA cuenta todas las descargas cómo instalaciones/conversiones mientras que EMMA sólo cuenta la instalación como tal una vez que el usuario se descarga la app y realiza la primera apertura de la misma (que además debe ser una sesión mínima de 4 segundos, que es el tiempo que se tarda en realizar al conexión con Apple para que nos envíe la información).</li>
  <li><strong>Limitación de seguimiento publicitario</strong><br>Si los usuarios tienen la limitación de seguimiento publicitario habilitada para no recibir anuncios basados en sus intereses, serán atribuidos en ASA pero no en EMMA. Esto es debido a que, a raíz de la política de privacidad, ASA no puede compartir la información de esos usuarios específicos con EMMA.</li>
  <li><strong>Ventana de atribución</strong><br>La ventana de atribución de ASA es de 30 días mientras que la de EMMA es de 2 días. Esta es una de las principales causas de discrepancia entre ASA y EMMA.<br><br>Si un usuario hace click en el anuncio hoy y se instala la app dos días después, ASA atribuye ese usuario a alguna de sus campañas. Sin embargo, en EMMA, si un usuario hace click hoy en el anuncio, se instala la app mañana pero no realiza la primera apertura hasta tres días después del click, esa instalación en EMMA no es atribuida a la campaña de ASA.</li>
  <li><strong>Re-Installs</strong><br>ASA contabiliza las re-instalaciones. Es decir, aquellos usuarios que han tenido la app en el pasado, la han desinstalado y la han vuelto a instalar a través de un anuncio de ASA, son atribuidos como re-instalaciones en ASA. Por tanto, bajo la columna de instalaciones de ASA, se están contabilizando tanto las nuevas instalaciones como las re-instalaciones.&nbsp;<br><br>En EMMA, si un usuario ya tuvo la app anteriormente y se la vuelve a instalar a través de un anuncio de ASA no es contabilizado como una nueva instalación atribuida a esa campaña ya que ese usuario ya estaba en nuestra base de datos. Con lo cual el dato correcto para comparar ambas plataformas sería nuevas instalaciones de ASA vs instalaciones de EMMA.&nbsp;</li>
</ol>
<h1>Preguntas frecuentes</h1>
<p><strong>¿Qué nivel de desglose voy a tener?</strong></p>
<p>En EMMA podrás encontrar tu campaña por el mismo nombre que le has dado a la campaña en la consola de Apple. Además, podrás diferenciarla fácilmente porque tendrá el icono de Apple delante del nombre.</p>
<p>En cuanto al desglose de la campaña, cada fuente, tomará el nombre del Ad Group que le hayas dado en Apple Search Ads.</p>
<p><strong>¿Qué datos voy a poder ver en EMMA?</strong></p>
<p>Desde el Apptracker de EMMA podrás ver los datos de&nbsp;<i>impresiones, clicks, coste, instalaciones </i>y <i>eventos in-app</i> realizados tras la instalación.</p>
<p><strong>¿Porqué veo en EMMA una campaña con el nombre </strong><i><strong>CampaignName</strong></i><strong> que no está en el Dashboard de ASA?</strong></p>
<p>La campaña de ASA, <i>CampaignName</i>, que ves en el AppTracker de EMMA es una prueba que realiza EMMA para comprobar que la conexión es correcta. Por eso es normal que veas algunas instalaciones asociadas a esta campaña.</p>
<p>&nbsp;</p>
