<!--
title: Audiencias
description: audiencias
published: true
date: 2021-11-16T13:12:03.394Z
tags: 
editor: ckeditor
dateCreated: 2021-06-29T10:54:10.054Z
-->

<p>Con la funcionalidad de Audiencias de EMMA podrás crear segmentos de usuarios para usarlos posteriormente en tus comunicaciones In-App y Out-App y poder impactar a los usuarios deseados. Con Audiencias tendrás la ventaja de poder crear primero todos los segmentos de usuarios que necesites y vincularlos posteriormente a una comunicación y poder lanzar esta sin necesidad de esperar a que el segmento esté 100% procesado. Mucho más rápido y dinámico.</p>
<h1>Crear audiencias</h1>
<p>Para crear una nueva audiencia tan solo tienes que seguir estos pasos:</p>
<ul>
  <li>Accede a la sección <strong>Comportamiento &gt; Audiencias.</strong></li>
</ul>
<figure class="image"><img src="/audiencias_i.png" alt=""></figure>
<ul>
  <li>Haz clic en el botón <strong>+ Nueva Audiencia.</strong></li>
</ul>
<figure class="image"><img src="/audiencias_ii.png" alt=""></figure>
<ul>
  <li>Cubre el formulario de creación de audiencia.</li>
</ul>
<figure class="image"><img src="/audiencias_iii.png" alt=""></figure>
<ul>
  <li><strong>Nombre:</strong> Establece un nombre identificativo para tu audiencia.</li>
  <li><strong>¿Audiencia de prueba?:</strong> Habilita este check si usas <a href="/es/prevalidacion-de-campa%C3%B1as">prevalidación de campañas</a> y quieres que un usuario con rol <i>Autor</i> pueda usar esta audiencia para crear campañas.</li>
  <li><strong>Tipo:</strong> Selecciona la tipología de la audiencia. Puede ser <strong>dinámica o estática.</strong> Una audiencia <strong>dinámica</strong> está basada en filtros y los usuarios irán entrando y saliendo de la misma a medida que cumplan o dejen de cumplir los filtros establecidos. Una audiencia <strong>estática</strong> está basada en un archivo CSV y los usuarios que componen la audiencia son los que cumplen los criterios en el momento de la creación de la Audiencia y no podrán entrar ni salir usuario de la misma.</li>
  <li><strong>Origen:</strong> Selecciona el origen de la audiencia.&nbsp;<br>Si has seleccionad una audiencia de tipo <strong>dinámica</strong> podrás seleccionar entre los siguientes orígentes:<ul>
      <li><strong>Segmento de EMMA:</strong> Está basada en los filtros de EMMA y los usuarios irán entrando y saliendo de la audiencia a medida que cumplan o dejen de cumplir los filtros establecidos. Añade los filtros necesarios para completar tu audiencia. La funcionalidad de Audiencias no permite el uso de subfiltros en la creación de los segmentos. En está <a href="/es/analisis-de-comportamiento/segmentos">guía</a> puedes ver más al respecto sobre como usar los filtros.</li>
      <li><strong>S3:</strong> Puedes aojar un CSV de tu audiencia en un S3 y vincularlo en EMMA con un campo de identificación. Los campos de identificación pueden ser:<ul>
          <li>ID Cliente</li>
          <li>ID dispositivo</li>
          <li>EMMA ID</li>
          <li>Etiquetas personalizadas que tengan formato de texto o numérico. Las etiquetas formatadas como fecha no podrás ser empleadas.<br>Puedes ver más información sobre qué significan los distintos campos de identificación <a href="/es/analisis-de-comportamiento/segmentos#filtros-disponibles">aquí</a>.</li>
        </ul>
      </li>
      <li><strong>FTP:</strong> Puedes enlazar un CSV alojado via FTP, para ello tan solo tienes que cubrir la siguiente información:<ul>
          <li><strong>Campo de identificación:</strong> Selecciona el campo de identificación deseado entre:<ul>
              <li>ID Cliente</li>
              <li>ID dispositivo</li>
              <li>EMMA ID</li>
              <li>Etiquetas personalizadas que tengan formato de texto o numérico. Las etiquetas formatadas como fecha no podrás ser empleadas.<br>Puedes ver más información sobre qué significan los distintos campos de identificación <a href="/es/analisis-de-comportamiento/segmentos#filtros-disponibles">aquí</a>.</li>
            </ul>
          </li>
          <li><strong>Host:</strong> Establece el dominio en el que está alojado el CSV (por ejemplo <a href="http://ftp.dominio.com"><strong>ftp.dominio.com</strong></a>).</li>
          <li><strong>Puerto:</strong> Establece el número de puerto que usa el servidor de FTP. Por defecto el puerto es 21, pero se puede modificar por el puerto que corresponda.</li>
          <li><strong>Usuario:</strong> Establece el usuario que tiene acceso al FTP donde se encuentra alojado el CSV para que EMMA pueda acceder al archivo.</li>
          <li><strong>Contraseña:</strong> Establece la contraseña de acceso al FTP donde se encuentra alojado el CSV para que EMMA pueda acceder al archivo.</li>
          <li><strong>Ruta del fichero:</strong> Establece la ruta del archivo CSV alojado en el FTP para que EMMA pueda acceder a ese archivo en concreto. Ejemplo: <strong>/miCarpeta/misArchivos/fichero.csv</strong> (es importante añadir la extensión del archivo, .csv)</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<blockquote>
  <p>Es importante que nunca se elimine el archivo alojado en el FTP que está vinculado a una audiencia, ya que sino, la audiencia dará error y se tendrá que volver a crear una audiencia nueva cuando se vuelva a alojar el archivo.&nbsp;&nbsp;<br><br>En lugar de eliminar el archivo, se debe sustituir por uno que tenga el mismo nombre y que esté vacío, de esta menera, la audiencia no da error y cuando se cargue el archivo con datos nuevamente se podrá seguir empleando la misma audiencia.</p>
</blockquote>
<ul>
  <li>Si has seleccionado una audiencia de tipo <strong>estática</strong> deberás seleccionar como <strong>origen</strong> de la audiencia la opción CSV. Además, deberás seleccionar el campo de identificación en el que está basado el archivo CSV que vas a cargar entre:<ul>
      <li>ID cliente</li>
      <li>ID dispositivo</li>
      <li>EMMA ID<br>Por último deberás cargar el fichero CSV que se desea emplear en la audiencia en cuestión.</li>
    </ul>
  </li>
  <li>El último paso para guardar la audiencia creada es hacer clic en el botón <strong>Guardar Audiencia.</strong></li>
</ul>
<p>Es importante que tengas en cuenta que una vez creadas las audiencias no podrán ser editadas ni clonadas.</p>
<blockquote>
  <p>La carga de archivos <strong>CSV</strong> está permitida en las audiencias <strong>dinámicas</strong> y <strong>estáticas</strong>, pero en el caso de las audiencias <strong>dinamicas</strong> esta se ve <strong>limitada</strong> a CSVs de máximo <strong>5.000 líneas</strong>.<br><br>Si tu CSV es <strong>superior</strong>, deberás crear una audiencia <strong>estática</strong> con ese CSV. Recuerda que en el caso de las audiencias <strong>estáticas</strong>, el archivo CSV esta limitado a 500Mb.<br><br>Los filtros <strong>ID Cliente</strong>, <strong>ID Dispositivo</strong> y <strong>EMMA ID</strong> están disponibles para su uso tanto en audiencias <strong>dinámicas</strong> como en audiencias <strong>estáticas</strong>.</p>
</blockquote>
<blockquote>
  <p>El archivo CSV que subas debe tener un formato adecuado para que sea procesado. Es decir, tiene que ser un archivo <strong>.CSV</strong> que cuente con una columna de datos identificativos. El archivo que vayas a subir a Audiencias de EMMA deberá contener tan sólo una columna de datos.</p>
</blockquote>
<h1>Vincular audiencias</h1>
<p>Si tienes un CSV de más de 5.000 líneas y has tenido que crear una audiencia estática pero quieres usar ese CSV junto a unos filtros para obtener el público objetivo, tan solo tienes que seguir estos pasos:</p>
<ul>
  <li>Crea una audiencia de tipo <strong>estática</strong> como se explica en el paso anterior.</li>
  <li>Crea una audiencia de tipo <strong>dinámica</strong> y selecciona el filtro <strong>“Usuarios”.</strong></li>
</ul>
<figure class="image"><img src="/audiencias_xi.png" alt=""></figure>
<ul>
  <li>Selecciona el operador que se ajuste al tipo de audiencia que queremos crear entre <strong>“están en la audiencia”</strong> o <strong>“no están en la audiencia”.</strong></li>
  <li>Selecciona el CSV que quieres usar para crear tu nueva audiencia dinámica.</li>
</ul>
<figure class="image"><img src="/audiencias_xii.png" alt=""></figure>
<ul>
  <li>Añade los filtros que consideres oportunos para segmentar a los usuarios.</li>
</ul>
<figure class="image"><img src="/audiencias_xiii.png" alt=""></figure>
<p>Y listo, ya tienes tu audiencia estática vinculada a una audiencia dinámica con filtros.</p>
<h1>Usar audiencias en las comunicaciones</h1>
<p>Una vez que hemos creado las audiencias ya solo queda usarlas en las comunicaciones. Para ello, basta con seguir el flujo de creación de comunicaciones habitual (más info al respecto <a href="/es/mensajes-inapp">aquí</a>) y en el paso <strong>Objetivo</strong> seleccionaremos una de las audiencias creadas previamente. Podemos usar indistintamente una audiencia dinámica o estática siempre que esté en un estado apto para ser usada.</p>
<blockquote>
  <p>Ten en cuenta que en las comunicaciones OutApp (Push e Email) sólo está permitido el uso de audiencias procesadas al 100%. Si tu audiencia no aparece en el listado espera hasta que este 100% cargada.</p>
</blockquote>
<p>En el selector de <strong>Segmentación</strong> tendremos un listado con todas aquellas audiencias que están listas para ser usadas en una comunicación. Las audiencias que estén en estado <strong>Nueva</strong> no aparecerán en este listado. Sólo podremos usar aquellas audiencias que estén en los estados <strong>Lista</strong> o <strong>En</strong> <strong>progreso</strong>.</p>
<blockquote>
  <p>Las audiencias marcadas como <strong>Test</strong> para que puedan ser usadas por usuarios <i>Autor</i> aparecen marcadas con el texto <strong>[Test]</strong> delante del nombre de la audiencia.<br><br>Las audiencias que se encuentren <strong>en progreso</strong> aparecen marcadas con un <strong>icono</strong> de un <strong>reloj de arena</strong>, pero podemos usarlas sin ningún problema para lanzar nuestras comunicaciones.</p>
</blockquote>
<figure class="image"><img src="/audiencias_xiv.png" alt=""></figure>
<p>Si usamos una audiencia en estado <strong>Lista</strong>, en el paso de <strong>Confirmación</strong> tendremos un mensaje que nos dirá el número de dispositivos a los que impactaremos. Ten en cuenta que si se trata de una audiencia dinámica este dato puede ir variando a medida que los usuarios cumplan o dejen de cumplir las condiciones de la audiencia dinámica seleccionada.</p>
<figure class="image"><img src="/audiencias_xvii.png" alt=""></figure>
<p>Si seleccionamos una audiencia en estado <strong>En progreso</strong>, es decir, que se está calculando, en el paso <strong>Confirmación</strong> tendremos un mensaje que nos avisará de esta casuística.</p>
<figure class="image"><img src="/audiencias_xv.png" alt=""></figure>
<p>Si hacemos clic en el botón <strong>Enviar mensaje</strong>, inmediatamente saltará una ventana emergente que nos avisa que la audencia está siendo procesada. En este momento tenemos dos opciones:</p>
<ol>
  <li>Seleccionar la opción <strong>Esperar</strong> y cancelar la comunicación hasta que la audiencia esté totalmente calculada.</li>
  <li>Seleccionar la opción <strong>Lanzar</strong>. Con esta opción no tendremos que esperar y la campaña se lanzará inmediatamente impactando a los usuarios que ya estén en la audiencia e irá impactando al resto de usuarios confirme aparezcan en la audiencia.</li>
</ol>
<figure class="image"><img src="/audiencias_xvi.png" alt=""></figure>
<h1>Pantalla Audiencias</h1>
<p>En la pantalla de audiencias, además de crear nuevas audiencas, podremos ver una tabla con todas las audiencias creadas hasta el momento.<br>Por defecto se muestran todas las audiencias creadas, pero si así lo queremos, podemos añadir un filtro que muestre solo las audiencias que hemos creado nosotros mismos.</p>
<figure class="image"><img src="/audiencias_viii.png" alt="audiencias_viii.png"></figure>
<p>Asimismo, podemos añadir otro tipo de filtrado como puede ser el estado o el origen de la audiencia.</p>
<figure class="image"><img src="/origen_1.png" alt="origen_1.png"></figure>
<p>Al filtrar por el orgien, podemos elegir entre los siguientes valores:</p>
<ul>
  <li><strong>CSV</strong>: Filtra las audiencias cuyo origen sea un archivo CSV.</li>
  <li><strong>Segmento de EMMA</strong>: Filtra las audiencias de tipo dinámica cuyo origen sea un segmento de EMMA.</li>
  <li><strong>FTP</strong>: Filtra las audiencias de tipo dinámica cuyo origen sea un archivo alojado via FTP.</li>
  <li><strong>S3</strong>: Filtra las audiencias de tipo dinámica cuyo origen sea un archivo alojado en un S3.</li>
</ul>
<p>Al filtrar por el estado de la audiencia, podemos elegir entre las siguientes opciones:</p>
<ul>
  <li><strong>Nueva</strong>: Filtras las audiencias que tengan como estado nueva. Este estado se da cuando la audiencia es nueva y todavía no está en progreso.</li>
  <li><strong>En progeso</strong>: Filtra las audiencias que todavía están siendo procesadas por el sistema.</li>
  <li><strong>Lista</strong>: Filtra las audiencias que ya han temrinado de procesarse y están listas para usarse en las comunciaciones.</li>
  <li><strong>Inactiva</strong>: Filtras las audiencias que se han inactivado debido a que no están en uso. Puedes ver más información sobre las audiencias inactivas <a href="/es/audiencias#audiencias-inactivas">aquí</a>.</li>
  <li><strong>Error</strong>: Filtra las audiencias que han dado error al intentar procesarlas. Podría ser porque se ha metido mal la url del FTP, por el archivo CSV cargado no tenga un formato válido...</li>
</ul>
<p>En la tabla resumen de las audiencias podremos ver la siguiente información referente a las mismas:</p>
<figure class="image"><img src="/audiencias_v.png" alt="audiencias_v.png"></figure>
<ul>
  <li><strong>Origen:</strong> Muestra el origen de la audiencia con un icono. Las audiencias de origen estático (CSV) estarán marcadas con el icono de CSV. Las audiencias con origen dinámico de tipo segmento (filtros) estarán marcadas con el icono de EMMA. Las audiencias con origen dinámica de tipo FTP o S3 también estarán marcadas con un icono específico.</li>
  <li><strong>Compartido:</strong> Si la audiencia está siendo compartida con Facebook o con Google, en esta columna se mostrará el icono correspondiente a cada red para poder identificar qué audiencias se están compartiendo y en qué plataforma. Puedes ver más información sobre como compartir audiencias con Facebook <a href="/es/guias-de-integracion/facebook#compartir-audiencias-con-facebook-opcional">aquí</a> y con Google <a href="/es/google#compartir-audiencias-con-google-opcional">aquí</a>.</li>
  <li><strong>ID:</strong> ID interno de EMMA para identificar cada una de las audiencias creadas.</li>
  <li><strong>Fecha de creación:</strong> Fecha en la que la audiencia ha sido creada.</li>
  <li><strong>Fecha de actualización:</strong> Fecha en la que la audiencia se ha actualizado. Las audiencias se actualizan una vez al día.</li>
  <li><strong>Audiencias:</strong> Nombre que se le ha dado a la audiencia en el momento de la creación.</li>
  <li><strong>Test:</strong> Si la audiencia ha sido marcada como audiencia de test, en esta columna aparecerá marcada con un check.</li>
  <li><strong>Estado:</strong> Estado en el que se encuentra la audiencia. Puede ser Nueva, En progreso, Lista, Inactiva, Error.</li>
  <li><strong>Proceso:</strong> Estado el procesamiento de la audiencia. Mientras no sea 100% la audiencia no pasará al estado Lista.</li>
  <li><strong>Dispositivos:</strong> Número de dispositivos que cumplen los criterios de la audiencia.</li>
  <li><strong>Usuarios:</strong> Número de usuarios únicos (ids de cliente únicos) que cumplen los criterios de la audiencia.</li>
  <li><strong>Con push:</strong> Número de dispositivos que están activos para el envío de notificaciones push.</li>
  <li><strong>Con email:</strong> Número de dispositivos de los que tenemos información del email para poder hacer envío de emails desde EMMA.</li>
  <li><strong>Exceso de push:</strong> Número de dispositivos que han excedido el límite de push. Solo aplica si se ha establecido un límite de push <a href="/es/configuracion">configuracion</a>.</li>
</ul>
<p>En caso de necesitarlo, podremos descargar el contenido de la tabla haciendo clic en el botón <strong>Descargar datos</strong>. Una vez hagamos clic se descargará automáticamente la tabla con las columnas que tengamos seleccionadas en ese momento.</p>
<p>Además, si queremos ver la configuración concreta que tiene una audiencia o directamente eliminarla también lo haremos desde esta sección.<br>Para ello tendremos que hacer mouse over sobre el menú contextual que se muestra a la izquierda de la tabla y seleccionar la opción deseada.</p>
<figure class="image"><img src="/audiencias_xx.png" alt="audiencias_xx.png"></figure>
<h1>Audiencias inactivas</h1>
<p>Para evitar que el sistema de audiencias se sature y asegurar un mejor funcionamiento y estabilidad a tus comunicaciones, EMMA procederá a inactivar aquellas audiencias que no estén siendo usadas en una comunicación o no estén siendo compartidas con Google y/o Facebook.</p>
<blockquote>
  <p>Solo se marcarán como <strong>inactivas</strong> aquellas audiencias que no estén vinculadas a ninguna comunicación activa o programada siempre y cuando hayan transcurrido <strong>14</strong> <strong>días</strong> desde su <strong>creación</strong>.&nbsp;<br><br>Las audiencias marcadas como <strong>Test</strong> siempre estarán <strong>activas</strong>, independientemente de que no estén vinculadas a una comunicación activa o programada.&nbsp;<br><br>Asimismo, las <strong>audiencas</strong> compartidas con <strong>Google</strong> y/o <strong>Facebook</strong> tampoco serán marcadas como inactivas.</p>
</blockquote>
<p>Las audiencias se mantendrán como audiencias activas mientras cumplan una de estas condiciones:</p>
<ul>
  <li>La audiencia está vinculada a una comunicación automática para reglas y tiene vinculada una regla activa o programada en el futuro.</li>
  <li>La audiencia está en una comunicación clásica activa actualmente o programada para un futuro.</li>
  <li>La audiencia está vinculada a una notificación push o email que esté activo o programado para un futuro.</li>
  <li>La audiencia está siendo compartida con Google o Facebook. En este caso, la audiencia nunca se marcará como inactiva mientras esté siendo compartida.</li>
  <li>La audiencia está vinculada en otra audiencia de tipo dinámica de segmento que se considera activa, es decir, cumple alguna de las anteriores condiciones de este listado.</li>
  <li>Las audiencias de Test siempre serán audiencias activas.</li>
</ul>
<p>Que una audiencia se marque como inactiva no implica que no se pueda volver a activar. Recuerda que las audiencias se marcan como inactivas cuando ya no están siendo usadas de manera directa, pero si queremos volver a activar una audiencia inactiva tan solo tenemos que hacer clic en el botón Reactivar desde el menú contextual de la audiencia en cuestión.</p>
<p>La audiencia tardará en reactivarse lo que tarde en calcularse la audiencia nuevamente. Este tiempo de espera puede variar dependiendo del volumen de cada audiencia.</p>
<figure class="image"><img src="/audiencia_inactiva.png" alt="audiencia_inactiva.png"></figure>
<p>Además podremos saber qué audiencias están marcadas como inactivas ya que en la propia pantalla de audiencias, en la columna <i><strong>Estado</strong></i>, estas estarán marcadas como <i><strong>Inactiva</strong></i>.</p>
<figure class="image"><img src="/inactivas_1.png" alt="inactivas_1.png"></figure>
<p>A mayores, también podremos establecer un filtro para que el dashboard nos muestre únicamente las audiencias inactivas o aquellas que se encuentren en otro estado.<br>Puedes ver más información sobre como funcionan los filtros <a href="/es/barras-de-menu#filtros-en-comportamiento-audiencias">aquí</a>.</p>
<figure class="image"><img src="/inactivas_2.png" alt="inactivas_2.png"></figure>
