<!--
title: Barras menú
description: 
published: true
date: 2023-04-27T10:06:12.397Z
tags: 
editor: ckeditor
dateCreated: 2021-05-27T13:47:19.133Z
-->

<p>Dentro de EMMA vas a encontrar tres niveles diferentes de menús en los que podrás realizar una configuración general, acceder a las diferentes secciones de EMMA o aplicar filtros específicos a los datos que se muestran en determinadas secciones.&nbsp;</p>
<p>Estos tres menús que componen EMMA son:&nbsp;</p>
<ul>
  <li>Menú supra principal</li>
  <li>Menú principal</li>
  <li>Menú de filtrado</li>
</ul>
<p>A continuación veremos más detalladamente cada uno de ellos y el tipo de acciones que se pueden llevar a cabo.&nbsp;</p>
<h1>Menú supra principal</h1>
<p>El menú supra principal es el menú en el que podemos seleccionar nuestra app, aplicar rangos de fechas y acceder al menú de configuración general de la cuenta y la app.&nbsp;</p>
<figure class="image"><img src="/menu_supra.png"></figure>
<p>Desde este menú podemos seleccionar, para las secciones de EMMA en las que aplique como en Resumen Ejecutivo o Instalaciones, cómo queremos que estén agrupados los datos que se muestran. Podemos elegir entre las opciones días, semanas o meses.&nbsp;</p>
<figure class="image image_resized" style="width:22.42%;"><img src="/menu_supra_ii.png"></figure>
<p>Según la agrupación seleccionado los datos de los gráficos se mostrarán desglosados por día, semana o mes.&nbsp;</p>
<p>Además, en este menú también es donde establecemos el rango de fechas para le cuál EMMA nos está devolviendo datos. Este valor, afecta a los datos que se muestran en cualquier sección de EMMA. Por defecto, EMMA muestra datos de los último 7 días, pero podemos establecer otros rangos de fechas según nuestras necesidades entre los disponibles:&nbsp;</p>
<figure class="image image_resized" style="width:50.85%;"><img src="/menu_supra_iii.png"></figure>
<ul>
  <li><strong>Hoy: </strong>EMMA muestra datos del día en curso.</li>
  <li><strong>Ayer: </strong>EMMA muestra datos del día de ayer.</li>
  <li><strong>Últimos 7 días: </strong>EMMA muestra datos de los últimos 7 días desde el día en curso.</li>
  <li><strong>Últimos 30 días: </strong>EMMA muestra datos de los últimos 30 días desde el día en curso.</li>
  <li><strong>Mes pasado: </strong>EMMA muestra datos del mes natural inmediatamente anterior al actual.</li>
  <li><strong>Este mes: </strong>EMMA muestra datos del mes en curso.</li>
  <li><strong>Rango personalizado: </strong>EMMA muestra datos del rango de fechas seleccionado, puede ser un día concreto, una semana, 15 días o 1 mes y 3 días. En caso de existir algún límite de fechas a la hora de mostrar los datos, el dashboard avisará de dicho límite.</li>
</ul>
<p>Ya por último, desde este menú, tenemos acceso a las diferentes secciones de configuración de la cuenta y la app haciendo <i>mouse over</i> sobre el nombre de usuario que se muestra al final de este menú.&nbsp;</p>
<figure class="image"><img src="/base.png"></figure>
<p>Puedes ver más detalles sobre cada una de las opciones que componen este menú de configuración desde esta <a href="https://docs.emma.io/es/configuracion">guía</a>.&nbsp;</p>
<h1>Menú principal</h1>
<figure class="media">
  <oembed url="https://youtu.be/qf35MMk88w8"></oembed>
</figure>
<p>El menú principal es el menú al que accedemos a las diferentes secciones y funcionalidades que componen el dashboard de EMMA.&nbsp;</p>
<figure class="image"><img src="/menu_princi.png"></figure>
<p>Desde este menú podemos acceder. a las siguientes secciones:&nbsp;</p>
<ul>
  <li>General:<ul>
      <li><a href="https://docs.emma.io/es/resumen-ejecutivo">Resumen Ejecutivo</a></li>
      <li><a href="https://docs.emma.io/es/informes">Informes</a></li>
    </ul>
  </li>
  <li>Captación:<ul>
      <li><a href="https://docs.emma.io/es/instalaciones">Instalaciones</a></li>
      <li><a href="https://docs.emma.io/es/adquisicion/apptracker">Apptracker</a></li>
      <li><a href="https://docs.emma.io/es/adquisicion/fuentes-de-medios#notificar-eventos-a-redes-publicitarias">Fuentes de medios</a></li>
      <li><a href="https://docs.emma.io/es/adquisicion/enlaces-cortos">Enlaces cortos</a></li>
    </ul>
  </li>
  <li>Comportamiento:<ul>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos">Explorador</a></li>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/embudos">Embudos</a></li>
      <li><a href="https://docs.emma.io/es/audiencias">Audiencias</a></li>
    </ul>
  </li>
  <li>Comunicación:<ul>
      <li><a href="https://docs.emma.io/es/mensajes-inapp">Mensajes</a></li>
      <li><a href="https://docs.emma.io/es/comunicacion/campa%C3%B1as/reporting-campa%C3%B1as">Informe de comunicaciones</a></li>
      <li><a href="https://docs.emma.io/es/reglas">Reglas</a></li>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/customer-journeys">Rutas de clientes</a></li>
    </ul>
  </li>
  <li>Gestión:<ul>
      <li><a href="https://docs.emma.io/es/mensajes-inapp#crear-plantillas">Plantillas nativas</a></li>
      <li><a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/email">Proveedores de email</a></li>
      <li><a href="https://docs.emma.io/es/guias-de-integracion/salesforce">Integraciones</a></li>
      <li><a href="https://docs.emma.io/es/primeros-pasos/eventos">Eventos</a></li>
      <li><a href="https://docs.emma.io/es/etiquetas">Etiquetas</a></li>
      <li><a href="https://docs.emma.io/es/landings">Landings</a></li>
      <li><a href="https://docs.emma.io/es/categorias">Categorías</a></li>
    </ul>
  </li>
</ul>
<p>Puedes ver información más detalla de cada una de las secciones haciendo clic en ellas.&nbsp;</p>
<h1>Menú de filtrado</h1>
<figure class="media">
  <oembed url="https://youtu.be/T4Qf2p9DksU"></oembed>
</figure>
<p>El último menú que compone EMMA es el menú de filtrado. Podrás identificar este menú por su color grisáceo. Este menú no está disponible para todas las secciones de EMMA.&nbsp;</p>
<figure class="image"><img src="/menu_filtrado_i.png"></figure>
<p>Dependiendo de la sección de EMMA en la que nos encontremos habrá unos u otros filtros aplicados por defecto y podremos aplicar unos filtros específicos referentes a la sección en la que nos encontramos.&nbsp;</p>
<p>Veamos los filtros disponibles según la sección de EMMA en la que nos encontramos:&nbsp;</p>
<h2>Filtros en Captación &gt; Apptracker</h2>
<p>En la sección de Apptracker de EMMA está aplicado por defecto un filtro de <strong>Básico. </strong>Con este filtro por defecto EMMA devuelve las campañas de captación. Si lo cambiamos por <strong>Re-Targeting</strong> EMMA mostrará las campañas en modalidad <strong>Re-Targeting. </strong>Puedes ver más información sobre los modelos de atribución de EMMA <a href="https://docs.emma.io/es/adquisicion/apptracker#campa%C3%B1as-b%C3%A1sicas-y-re-targeting">aquí</a>.&nbsp;</p>
<figure class="image image_resized" style="width:25.18%;"><img src="/filtro_apptracker.png"></figure>
<p>Además del filtro por defecto podemos añadir dos filtros a mayores haciendo clic en el botón <strong>+ Añadir filtro:&nbsp;</strong></p>
<ul>
  <li><strong>Países: </strong>Selecciona entre el listado de países disponibles para que EMMA muestro datos en base a tu filtro.</li>
  <li><strong>Sistema operativo: </strong>Selecciona el sistema operativo entre Android e iOS para que EMMA muestre datos en base a tu filtro.</li>
</ul>
<p>Los filtros son combinables. Es decir, podemos aplicar los dos filtros a la vez.&nbsp;</p>
<h2>Filtros en Comportamiento &gt; Embudos</h2>
<p>En la sección de embudos tenemos un filtrado sencillo por sistema operativos.&nbsp;</p>
<figure class="image image_resized" style="width:30.42%;"><img src="/filtro_embudos.png"></figure>
<p>Por defecto la opción seleccionada es <i>“Todos los sistemas operativos”</i> por lo que en esta sección por defecto EMMA muestra datos conjuntos de ambos OS, pero podemos cambiar la selección entre:&nbsp;</p>
<ul>
  <li><strong>Android: </strong>Selecciona esta opción para ver datos solo de dispositivos Android.</li>
  <li><strong>iOS: </strong>Selecciona esta opción para ver datos solo de dispositivos iOS.</li>
</ul>
<h2>Filtros en Comportamiento &gt; Audiencias</h2>
<p>En la sección de Audiencias también tenemos este menú de filtros. En este caso, los filtros que podemos aplicar son los siguientes:&nbsp;</p>
<figure class="image image_resized" style="width:35.35%;"><img src="/filtro_audiencias.png"></figure>
<ul>
  <li><strong>Todas las audiencias: </strong>es el filtro por defecto y devuelve todas las audiencias existentes para la app. Si seleccionamos la opción <i><strong>“Mis audiencias”</strong></i> veremos únicamente las audiencias que hemos creado.</li>
  <li><strong>Estado: </strong>Filtra las audiencias en función del estado en el que se encuentran (<i>Nueva</i>, <i>En progreso</i>, <i>Lista</i>, Inactiva y <i>Error</i>).</li>
  <li><strong>Tipo: </strong>Selecciona el tipo de audiencia entre las opciones <i><strong>Estática</strong></i> o <i><strong>Dinámica</strong></i>.</li>
</ul>
<h2>Filtros en Comunicación &gt; Mensajes</h2>
<p>En la sección Mensajes puedes aplicar filtros para que EMMA te devuelva unas u otras comunicación en función a los filtros que hayas aplicado.&nbsp;</p>
<figure class="image image_resized" style="width:45.7%;"><img src="/filtro_mensajes.png"></figure>
<ul>
  <li><strong>Aplicación actual: </strong>Es un filtro por defecto. Se puede cambiar por <i><strong>“Todas las aplicaciones”. </strong></i>Según la opción seleccionada mostrara sólo las comunicaciones que han sido creadas en la app actual o las comunicaciones de todas las aplicaciones que estén bajo nuestra cuenta.</li>
  <li><strong>Todos los mensajes: </strong>También es un filtro por defecto. Se puede cambiar por <i><strong>“Mis mensajes”. </strong></i>En función de la opción seleccionada mostrará todas las comunicaciones creadas en la app, independientemente del usuario que las ha creado o mostrará solo las comunicaciones creadas por el usuario en cuestión.</li>
  <li><strong>Formato: </strong>Puedes seleccionar uno o varios formatos entre <a href="https://docs.emma.io/es/mensajes-inapp#adball">Adball</a>, <a href="https://docs.emma.io/es/mensajes-inapp#banner">Banner</a>, <a href="https://docs.emma.io/es/mensajes-inapp#cup%C3%B3n">Cupón</a>, <a href="https://docs.emma.io/es/mensajes-inapp#tab-din%C3%A1mico">Dynamic Tab</a>, <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/email">Email</a>, <a href="https://docs.emma.io/es/mensajes-inapp#native-ad">Native Ad</a>, <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/push-notifications">Push</a>, <a href="https://docs.emma.io/es/mensajes-inapp#startview">Startview</a> y <a href="https://docs.emma.io/es/mensajes-inapp#strip">Strip</a> para que EMMA te devuelva las comunicaciones que coincidan con el o los formato(s) seleccionado(s).</li>
  <li><strong>Estado: </strong>Puedes seleccionar uno o varios estados de las comunicaciones para que EMMA te devuelva las comunicaciones que se encuentren en ese estado en concreto. Puedes seleccionar entre: <i>Activa</i>, <i>Aprobada</i>, <i>Eliminada</i>, <i>Borrador</i>, <i>Finalizada</i>, <i>Pausada</i>, <i>En proceso</i>, <i>Lista</i>, <i>Programada</i>, <i>Testing</i> y <i>Para validar</i>. Puedes ver más información sobre los estados <a href="https://docs.emma.io/es/mensajes-inapp">aquí</a>.</li>
  <li><strong>Test A/B: </strong>Filtra por aquellas comunicaciones que tengan establecidas variaciones de Test A/B o por las que no las tengan. Puedes ver más información sobre el Test A/B <a href="https://docs.emma.io/es/test-a-b">aquí</a>.</li>
</ul>
<h2>Filtros en Comunicación &gt; Informe de comunicaciones</h2>
<p>Los filtros disponibles en la sección de Informe de comunicaciones son:&nbsp;</p>
<figure class="image image_resized" style="width:30.27%;"><img src="/filtro_informe_cmunicaciones.png"></figure>
<ul>
  <li><strong>In-App:</strong> Por defecto se muestran los resultados de las comunicaciones In-App. Pero podemos cambiar la opción por <strong>Out-App</strong> para que se muestren datos de las comunicaciones Out-App.</li>
  <li><strong>Test A/B: </strong>Filtra por aquellas comunicaciones que tengan establecidas variaciones de Test A/B o por las que no las tengan. Puedes ver más información sobre el Test A/B <a href="https://docs.emma.io/es/test-a-b">aquí</a>.</li>
  <li><strong>Sistema Operativo: </strong>Selecciona el sistema operativo entre <i>Android</i> e <i>iOS</i> para que EMMA muestre datos en base a tu filtro.</li>
  <li><strong>Formato: </strong>Puedes seleccionar uno o varios formatos entre <a href="https://docs.emma.io/es/mensajes-inapp#adball">Adball</a>, <a href="https://docs.emma.io/es/mensajes-inapp#banner">Banner</a>, <a href="https://docs.emma.io/es/mensajes-inapp#cup%C3%B3n">Cupón</a>, <a href="https://docs.emma.io/es/mensajes-inapp#tab-din%C3%A1mico">Dynamic Tab</a>, <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/email">Email</a>, <a href="https://docs.emma.io/es/mensajes-inapp#native-ad">Native Ad</a>, <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/push-notifications">Push</a>, <a href="https://docs.emma.io/es/mensajes-inapp#startview">Startview</a> y <a href="https://docs.emma.io/es/mensajes-inapp#strip">Strip</a> para que EMMA te devuelva las comunicaciones que coincidan con el o los formato(s) seleccionado(s).</li>
  <li><strong>Campañas: </strong>Selecciona una campaña en concreto de las existentes para que se muestren datos en base a este criterio.</li>
</ul>
<p>Todos los filtros son combinables entre sí, se pueden aplicar varios a la vez.&nbsp;</p>
<h2>Filtros en Comunicación &gt; Rutas de cliente</h2>
<p>Los filtros disponibles en Rutas de cliente son:&nbsp;</p>
<figure class="image image_resized" style="width:35.08%;"><img src="/filtro_rutas.png"></figure>
<ul>
  <li><strong>Todas las rutas: </strong>Es un filtro por defecto y devuelve todas las rutas creadas. Se puede cambiar por <i><strong>“Porpias”</strong></i> para que solo se muestran las rutas creadas por uno mismo.</li>
  <li><strong>Estado: </strong>Selecciona entre las opciones <i>Borrador</i>, <i>En</i> <i>proceso</i>, <i>Activa</i> o <i>Eliminada</i> para que se filtren las rutas que cumplan los criterios de filtrado.</li>
</ul>
<h2>Filtros en Gestión &gt; Plantillas nativas</h2>
<p>Los filtros disponibles en la sección de Plantillas nativas son:&nbsp;</p>
<figure class="image image_resized" style="width:30.15%;"><img src="/menu_plantilas_nativas.png"></figure>
<ul>
  <li><strong>Sólo privadas: </strong>Es un filtro por defecto. Devuelve aquellas plantillas categorizadas como privadas. Si seleccionamos la opción <i><strong>“Privadas y públicas”</strong> </i>veremos tanto las plantillas privadas como las públicas. Puedes ver más información al respecto en esta <a href="https://docs.emma.io/es/mensajes-inapp#crear-plantillas">guía</a>.</li>
</ul>
<h2>Filtros en Gestión &gt; Eventos</h2>
<p>En la sección de Eventos podemos aplicar un filtro para que EMMA nos devuelva unos u otros eventos:&nbsp;</p>
<figure class="image image_resized" style="width:20.21%;"><img src="/menu_eventos.png"></figure>
<ul>
  <li><strong>Personalizados: </strong>Se muestran los eventos personalizados en el listado de eventos. Puedes ver más info sobre los eventos personalizados <a href="https://docs.emma.io/es/primeros-pasos/eventos#eventos-personalizados">aquí</a>.</li>
  <li><strong>Por defecto: </strong>Se muestran los eventos por defecto en el listado de eventos. Puedes ver más información sobre los eventos por defecto <a href="https://docs.emma.io/es/primeros-pasos/eventos#eventos-por-defecto">aquí</a>.</li>
  <li><strong>Pantallas: </strong>Se muestran las pantallas detectadas en el listado de eventos.</li>
</ul>
