<!--
title: Categorías
description: Categorías
published: true
date: 2021-08-09T10:54:06.736Z
tags: 
editor: ckeditor
dateCreated: 2021-06-01T09:05:01.780Z
-->

<p>Las categorías son empleadas en el control de saturación para poder establecer una jerarquía de límite de impactos a nivel de producto o de un vertical concreto. Puedes ver más información sobre el control de saturación y el uso de las categorías en esta <a href="https://docs.emma.io/es/control-de-saturacion#impactos-por-categor%C3%ADa">guía</a>.&nbsp;</p>
<p>Crear una nueva categoría es muy sencillo, tan solo tenemos que seguir los pasos que se detallan a continuación.</p>
<ul>
  <li>Ve&nbsp;a la sección <i><strong>Gestión &gt; Categorías</strong></i>.</li>
</ul>
<figure class="image"><img src="/categoria_1.png"></figure>
<ul>
  <li>Haz clic en&nbsp;<i><strong>Nueva categoría</strong></i> y cubre el formulario de creación:</li>
</ul>
<figure class="image"><img src="/categoria_2.png"></figure>
<p>Establece un nombre identificativo a la categoría para poder localizarla posteriormente de manera fácil y vincularla a la comunicación correcta (<a href="https://docs.emma.io/es/control-de-saturacion#impactos-por-categor%C3%ADa">aquí</a> puedes ver más información sobre cómo vincular una categoría con una comunicación). Y configura los límites de impactos deseados para cada una de las categorías. Por defecto son ilimitados, pero puedes configurar el límite que necesites, por ejemplo 1 impacto diario, 3 semanales y 10 mensuales.&nbsp;</p>
<p>Una vez creada la categoría, de ser necesario, se puede editar o eliminar en cualquier momento. Tan solo tenemos que hacer clic en el menú de la categoría concreta y hacer clic en la opción <i>Editar </i>o <i>Eliminar </i>según la acción que necesitemos llevar a cabo.&nbsp;</p>
<figure class="image"><img src="/categoria_3.png"></figure>
