<!--
title: Compartir campañas de comunicación
description: Compartir campañas de comunicación
published: true
date: 2021-07-01T12:11:22.473Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:57:51.404Z
-->

<p>Con la funcionalidad de <i>compartir campañas de comunicación </i>(Comunicación &gt; Mensajes) los usuarios podrán ver todas las campañas creadas dentro una misma cuenta y clonarlas, sea cuál sea la app en la que se creó dicha campaña y sea cuál sea la app desde la que se está accediendo (siempre y cuando se tenga acceso a más de una app dentro de la misma cuenta).</p>
<h1>Compartir campañas de Messaging&nbsp;</h1>
<p>Si tienes acceso a varias apps dentro de la misma cuenta, verás que el apartado de&nbsp;<strong>Mensajes </strong>se&nbsp;muestra un botón desde el cuál podremos seleccionar si deseamos ver únicamente las campañas pertenecientes a la app actual o si queremos ver las campañas de todas las aplicaciones.&nbsp;</p>
<figure class="image"><img src="/compartir_campañas_i.png"></figure>
<p>En el caso de seleccionar&nbsp;la opción <strong>Todas las aplicaciones</strong><i>,&nbsp;</i>la tabla con las campañas programadas se verá del siguiente modo:</p>
<figure class="image"><img src="/compartir_campañas_iv.png"></figure>
<p>En la columna&nbsp;<strong>Nombre de campaña</strong> tendremos un icono de una nube en aquellas campañas que no pertenezcan a la app en la que estamos para que sea más fácil y rápida su identificación. Además, también tendremos una nueva columna llamada&nbsp;<strong>App</strong><i>&nbsp;</i>en la que podremos ver a qué aplicación pertenece cada campaña.&nbsp;</p>
<p>Las campañas creadas en otras aplicaciones podrán ser previsualizadas o clonadas haciendo <i>mouse over </i>sobre el menú contextual a la izquierda de la tabla.&nbsp;</p>
<h3>Importante</h3>
<p>Las campañas de la app A&nbsp;<strong>NO&nbsp;</strong>podrán ser editadas, eliminadas, lanzadas o pausadas desde la app B ni la app C, tan sólo podrán ser previsualizadas o clonadas.</p>
<h1>Clonar campañas</h1>
<p>A la hora de clonar las campañas de otra app tan solo tenemos que hacer <i>mouse over</i> sobre el menú contextual y seleccionar la opción <strong>Clonar.&nbsp;</strong></p>
<figure class="image"><img src="/compartir_campañas_iii.png"></figure>
<p>Esta opción abrirá la pantalla de configuración de la comunicación con toda la configuración de la campaña original clonada. De esta manera, tan sólo tenemos que hacer modificaciones en aquellos campos que sean requeridos como puede ser la fecha de inicio y fin de la comunicación y el público objetivo, así como aquellos campos que queramos modificar.</p>
