<!--
title: Configuración
description: Configuración
published: true
date: 2021-08-09T12:24:02.452Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T23:11:59.209Z
-->

<h1>Preferencias de la cuenta</h1>
<p>En la sección <i>Preferencias cuenta</i> podrás revisar y modificar los datos fiscales y de facturación de tu empresa que has facilitado a EMMA. Para acceder a esta sección tan solo tienes que hacer <i>mouse over </i>sobre tu nombre de usuario en la parte superior derecha de la pantalla. En el desplegable, selecciona la opción <i>Preferencias cuenta.&nbsp;</i></p>
<figure class="image image_resized" style="width:32.59%;"><img src="/pref_cuenta_i.png"></figure>
<p>Una vez dentro de esta sección podemos ver la información desglosada en tres grupos: <i>General, Facturación y Pagos.&nbsp;</i></p>
<p>En el apartado <i><strong>General</strong></i> podemos ver el nombre de empresa que hemos configurado en el momento de darnos de alta en EMMA. Este nombre será el nombre de tu app dentro de EMMA.&nbsp;</p>
<p>En el apartado <i><strong>Facturación</strong> </i>podemos ver la información referente a la facturación, los datos fiscales de la empresa como el <i>nombre, </i>el <i>CIF, dirección, código postal…</i></p>
<figure class="image image_resized" style="width:89.94%;"><img src="/pref_cuenta_iii.png"></figure>
<p>Por último, en el apartado <i><strong>Pagos</strong></i> podremos ver la información sobre el método de pago introducido para hacer frente a los pagos de EMMA. El número de tarjeta de crédito (codificado por seguridad), fecha de caducidad y CVC (codificado también).&nbsp;</p>
<p>Toda la información de esta página se puede editar en cualquier momento para poder llevar a cabo modificaciones en los datos facilitados a EMMA en caso de ser necesario.&nbsp;</p>
<h1>Preferencias de perfil</h1>
<p>En la sección <i>Preferencias perfil </i>podrás realizar cambios básicos sobre la información de tu perfil así como hacer modificaciones en la clave de acceso a EMMA. Para acceder a esta sección tan sólo tienes que hacer <i>mouse over</i> sobre tu nombre de usuario en la parte superior derecha y seleccionar la opción <i>Preferencias perfil</i> desde el desplegable.&nbsp;</p>
<figure class="image image_resized" style="width:37.33%;"><img src="/pref_perfil_i.png"></figure>
<p>En el apartado <strong>General</strong> podrás ver tu nombre y apellidos (que son los que ves en tu nombre de usuarios arriba a la derecha de la pantalla) y el email con el que has sido dado de alta en EMMA. Puedes realizar las modificaciones pertinentes sobre estos campos en caso de ser necesario haciendo clic en el botón <strong>Editar</strong>.&nbsp;</p>
<p>Si quieres realizar una modificación sobre tu clave de acceso a EMMA tan solo tienes que hacer clic en <strong>Cambiar contraseña</strong> para acceder al formulario de cambio de contraseña.&nbsp;</p>
<figure class="image image_resized" style="width:82.74%;"><img src="/pref_perfil_ii.png"></figure>
<h1>Preferencias de la app</h1>
<p>En la sección de EMMA <i>Preferencias app</i> podrás realizar diversas configuraciones del funcionamiento de EMMA o realizar la configuración pertinente para la implementación de algunas funcionalidades.&nbsp;</p>
<p>En esta guía, veremos qué configuración podemos realizar desde esta sección y a qué afectan y para qué sirven.&nbsp;</p>
<p>Para acceder a la sección de preferencias de la app haz <i>mouse over</i> sobre tu nombre de usuario en la parte superior derecha de la pantalla. En ese momento, se desplegará un menú en el que podrás seleccionar la opción <i>Preferencias app.&nbsp;</i></p>
<figure class="image image_resized" style="width:38.52%;"><img src="/pref_app_emma_key_i.png"></figure>
<h2>General (EMMA Key y API Key)</h2>
<p>En la sección General podrás y modificar el nombre de la app así como la dirección web. Además, también tendrás acceso al EMMA Key, necesario para empezar a enviar datos desde la app a EMMA, así como al API Key, necesario en caso de usar la API.&nbsp;</p>
<p>El EMMA Key es necesario para la implementación del SDK de EMMA. Se trata de un identificador único que vincula tu app con el dashboard de EMMA para poder obtener toda la información de manera correcta.&nbsp;</p>
<p>El EMMA Key se crea automáticamente en el momento de dar de alta una app (más info sobre cómo dar de alta apps <a href="https://docs.emma.io/es/configuracion#apps-de-la-cuenta">aquí</a>).&nbsp;</p>
<p>Puedes consultar el EMMA Key siempre que lo necesites desde la sección Preferencias app en la sección <i>General</i>. Si haces clic sobre el icono de <i>clipboard</i> que se muestra a la derecha del EMMA Key podrás copiarlo directamente al portapapeles.&nbsp;</p>
<figure class="image"><img src="/pref_app_emma_key_ii.png"></figure>
<p>En caso de que hayas contratado el uso de la API, en esta sección, también podrás acceder al API Key, necesario para poder conectarte a nuestra API para enviar y/u obtener información. En esta guía puedes ver <a href="https://developer.emma.io/es/api/emma-rest-api">cómo conectarte a nuestra API</a> y en esta <a href="https://ws.emma.io/swagger/">otra</a> todo el detalle de las llamadas que se pueden realizar.&nbsp;</p>
<figure class="image"><img src="/api_key.png"></figure>
<h2>Preferencias de iOS</h2>
<p>En la sección de preferencias de iOS podemos llevar a cabo la configuración básica para este sistema operativo y la configuración necesaria para que algunas de las funcionalidades de EMMA funcionen. Como por ejemplo el uso de powlink o notificaciones push.&nbsp;</p>
<figure class="image image_resized" style="width:63.18%;"><img src="/preferencias_app_ios_ii.png"></figure>
<p>La configuración que podemos hacer en preferencias de iOS es la siguiente:&nbsp;</p>
<ul>
  <li><strong>AppStore: </strong>URL de la app en la App Store. EMMA usará por defecto esta URL como url de redirección de iOS al crear campaña de <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as">Apptracker</a>. También es necesario para la configuración del <a href="https://docs.emma.io/es/adquisicion/apptracker#configurar-powlink-y-pwlnk-stu">powlink</a>.</li>
  <li><strong>AppStore Bundle ID: </strong>Este campo es necesario para configurar el <a href="https://docs.emma.io/es/adquisicion/apptracker#configurar-powlink-y-pwlnk-stu">powlink</a> en iOS.</li>
  <li><strong>AppStore ID: </strong>Es el id de la app en la store. Este ID se puede obtener de la propia URL de la store (https://apps.apple.com/es/app/emma-mobile/<strong>id943061465</strong>). Es necesario por ejemplo para lanzar campañas con <a href="https://docs.emma.io/es/guias-de-integracion/facebook">Facebook</a>.</li>
  <li><strong>Apple Team ID: </strong>Este identificador también es necesario para integrar el <a href="https://docs.emma.io/es/adquisicion/apptracker#configurar-powlink-y-pwlnk-stu">powlink</a> en iOS.</li>
  <li><strong>Mínima versión iOS soportada: </strong>Establece la versión mínima del sistema operativo iOS con la que tu app es compatible. Los usuarios que tengan un versión inferior en lugar de ser redireccionados a descargar la app serán llevados a la URL alternativa que se haya configurado al crear la campaña de <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as#redirecciones-en-apptracker">Apptracker</a>.</li>
  <li><strong>Apple Push Auth Key: </strong>Es el certificado tipo .p8 para poder hacer envío de <a href="https://developer.emma.io/es/ios/integracion-sdk#push-auth-key">notificaciones push</a> al sistema operativo iOS.</li>
  <li><strong>Apple Push Auth Key ID: </strong>Es el identificado asociado al certificado .p8 generado. Es necesario para poder hacer envío de <a href="https://developer.emma.io/es/ios/integracion-sdk#push-auth-key">notificaciones push</a> al sistema operativo iOS.</li>
</ul>
<h2>Preferencias de Android</h2>
<p>En la sección de preferencias de Android podemos llevar a cabo la configuración básica para este sistema operativo y la configuración necesaria para que algunas de las funcionalidades de EMMA funcionen. Como por ejemplo el uso de powlink o notificaciones push.&nbsp;</p>
<figure class="image image_resized" style="width:63.24%;"><img src="/preferencias_app_android.png"></figure>
<p>La configuración que podemos hacer en preferencias de iOS es la siguiente:&nbsp;</p>
<ul>
  <li><strong>Google Play: </strong>URL de la app en Google Play. EMMA usará por defecto esta URL como url de redirección de Android al crear campaña de <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as">Apptracker</a>. También es necesario para la configuración del <a href="https://docs.emma.io/es/adquisicion/apptracker#configurar-powlink-y-pwlnk-stu">powlink</a>.</li>
  <li><strong>Google Play ID: </strong>Es el id de la app en la store. Este ID se puede obtener de la propia URL de la store (https://play.google.com/store/apps/details?id=<strong>io.emma.emmaandroid</strong>). Es necesario por ejemplo para lanzar campañas con <a href="https://docs.emma.io/es/guias-de-integracion/facebook">Facebook</a>.</li>
  <li><strong>Certificate fingerprints: </strong>Este identificador también es necesario para integrar el <a href="https://docs.emma.io/es/adquisicion/apptracker#configurar-powlink-y-pwlnk-stu">powlink</a> en Android.</li>
  <li><strong>Mínima versión Android soportada: </strong>Establece la versión mínima del sistema operativo Android con la que tu app es compatible. Los usuarios que tengan un versión inferior en lugar de ser redireccionados a descargar la app serán llevados a la URL alternativa que se haya configurado al crear la campaña de <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as#redirecciones-en-apptracker">Apptracker</a>.</li>
  <li><strong>Google Push Sender ID: </strong>Sender ID en Firebase Console. Es necesario para realizar el envío de notificaciones push en <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/push-notifications#habilita-fcm-android-para-las-notificaciones-push">Android</a>.</li>
  <li><strong>Google Push Server Key: </strong>Server Key en Firebase Console. Es necesario para realizar el envío de notificaciones push en <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/push-notifications#habilita-fcm-android-para-las-notificaciones-push">Android</a>.</li>
</ul>
<h2>Preferencias de Huawei</h2>
<p>En la sección de preferencias de Huawei podemos realizar la configuración de la información de nuestra app para Huawei con HMS en caso de que se necesite.</p>
<figure class="image image_resized" style="width:63.06%;"><img src="/preferencias_app_huawei.png"></figure>
<p>La configuración sería la siguiente:&nbsp;</p>
<ul>
  <li><strong>Huawei App Gallery: </strong>URL de la app en la App Gallery. EMMA usará por defecto esta URL como url de redirección de Huawei al crear campaña de <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as">Apptracker</a>. También es necesario para la configuración del <a href="https://docs.emma.io/es/adquisicion/apptracker#configurar-powlink-y-pwlnk-stu">powlink</a>.</li>
  <li><strong>HMS App ID: </strong>ID de la app en la consola de Huawei developers necesario para el envío de notificaciones push en dispositivos Huawei con servicios HMS.</li>
  <li><strong>HMS App Secret: </strong>App Secret de la app en la consola de Huawei developers necesario para el envío de notificaciones push en dispositivos Huawei con servicios HMS.</li>
</ul>
<h2>Localización</h2>
<p>En la sección de <i>Localización</i> puedes configurar la información sobre la zona horario y moneda utilizada por la App. Por defecto la configuración de la zona horaria será <i>Europe/Madrid</i> y la divisa Euros.</p>
<p>Ten en cuenta que la configuración de la zona horaria que establezcas aquí se usará en el envío de <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/push-notifications#programaci%C3%B3https://docs.emma.io/es/comunicacion/mensajes-out-app/push-notifications#programaci%C3%B3n">notificaciones pus</a><a href="https://docs.emma.io/es/mensajes-inapp#startview">h</a> cuando se seleccione la opción <i>“Envío planificado Zona horaria del usuario”.</i></p>
<figure class="image image_resized" style="width:64.43%;"><img src="/preferencias_app_localización.png"></figure>
<h2>Dominio enlaces cortos</h2>
<p>Para poder usar la funcionalidad de EMMA <a href="https://docs.emma.io/es/adquisicion/enlaces-cortos"><i>Enlaces Cortos</i></a><i> </i>(Captación &gt; Enlaces cortos) es necesario configurar un dominio. &nbsp;</p>
<figure class="image image_resized" style="width:63.58%;"><img src="/preferencias_app_dominios_cortos.png"></figure>
<h2>Dominio enlaces powlink</h2>
<p>Para poder hacer uso de la funcionalidad de Powlink de EMMA es necesario establecer un dominio para el Powlink y, en caso de que se vaya a usar, también para el Powlink corto. En esta <a href="https://docs.emma.io/es/adquisicion/apptracker#configurar-powlink-y-pwlnk-stu">guía</a> puedes ver información más detalla sobre el powlink y su funcionamiento así como información sobre su implementación en la app.&nbsp;</p>
<figure class="image image_resized" style="width:63.41%;"><img src="/preferencias_app_enlaces_powlink.png"></figure>
<h2>Envío de emails</h2>
<p>Esta configuración de la app es necesaria para poder realizar el envío de emails a través del formato de EMMA.&nbsp;</p>
<figure class="image image_resized" style="width:63.11%;"><img src="/preferencias_app_email.png"></figure>
<ul>
  <li><strong>Dominio de envío:</strong> En el dominio de envío se debe establecer el dominio desde el que se va a realizar el envío de emails, por ejemplo <a href="http://tuempresa.com/"><i><strong>tuempresa.com</strong></i></a>.</li>
  <li><strong>Prefijo de la clave de dominio:</strong> En este campo se debe establecer un nombre o palabra clave (por ejemplo <i><strong>EMMA</strong></i> o <i><strong>tuempresa</strong></i>).</li>
  <li><strong>Clave pública:</strong> Es necesaria la creación de una clave pública. En caso de que ya se tenga una clave pública, existe la posibilidad de cargar un fichero directamente.</li>
  <li><strong>Clave privada:</strong> También es necesaria la creación de una clave privada. Esta clave privada puede cargarse en caso de que ya se tenga o se puede generar automáticamente en EMMA.</li>
  <li><strong>Nombre del registro DNS:</strong>&nbsp; Es el nombre del registro DNS que se genera automáticamente tras cubrir los campos&nbsp;<i>Dominio de envío</i> y&nbsp;<i>Prefijo de la clave de dominio.</i></li>
  <li><strong>Contenido del registro DNS:</strong> Es el&nbsp;contenido del registro DNS de tipo&nbsp;<i><strong>TXT</strong></i> que también se genera automáticamente tras haber cubierto el campo <i>Clave pública.</i></li>
</ul>
<p>Revisa nuestra guía específica sobre la <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/email">configuración del email</a> para ver más detalles sobre la configuración.&nbsp;</p>
<h2>Limitar los impactos de las notificaciones Push</h2>
<p>Si se tiene pensado impactar a varios segmentos de usuarios o envíar un gran número de notificaciones push es recomendable limitar el capping de frecuencia para no sobreimpactar a los usuarios.</p>
<p>Haz <i>scroll down</i> hasta localizar la sección <i><strong>Límite de impactos de push. </strong></i>Por defecto el capping de las notificaciones push es ilimitado, ya que el switch está habilitado, por lo tanto EMMA interpretará que el usuario será susceptible de recibir notificaciones push ilimitadas.&nbsp;<br>Si deshabilitamos el switch podremos seleccionar el número de veces que se quiere impactar a un dispositivo por día, semana y/o mes.</p>
<figure class="image image_resized" style="width:63.14%;"><img src="/pref_app_capping_push_ii.png"></figure>
<p>Cuando vayas a programar la notificación Push, si el límite de impactos no es ilimitado, se indicará el número de dispositivos que pese a pertenecer al segmento o filtro seleccionado, ya han superado el límite de recepción de notificaciones establecido.</p>
<figure class="image"><img src="/pref_app_capping_push_iii.png"></figure>
<h2>Límite de impactos In-App</h2>
<p>Al igual que para las notificaciones Push, EMMA te permite configurar un límite de impactos para los formatos In-App. Por defecto el límite de impactos de las comunicaciones In-App es ilimitado, por lo tanto EMMA interpretará que el usuario será susceptible de recibir impactos ilimitados de los formatos In-App.</p>
<figure class="image image_resized" style="width:63.31%;"><img src="/pref_app_impactos_inapp.png"></figure>
<p>Si deseamos establecer un límite de impactos para que cada dispositivo no pueda recibir más de X impactos al día, semana o mes; tan solo tenemos que deshabilitar el check y establecer el número máximo de impactos por día, semana y/o mes que el usuario puede recibir. &nbsp;</p>
<p>Además, también podemos establecer un límite adiciona según categorías de campañas. Por defecto, esta configuración está deshabilitada. Puedes ver más información al respecto en nuestra guía sobre <a href="https://docs.emma.io/es/control-de-saturacion"><i>Control de saturación</i></a><i>.</i></p>
<h2>Configuración de campañas de comunicación</h2>
<p>En esta sección puedes establecer el periodo de tiempo que debe transcurrir para que tus campañas de comunicación cambien automáticamente de estado. Por defecto este periodo es ilimitado, pero podemos establecer que las campañas cambien de estado automáticamente tras X días sin cambios.</p>
<figure class="image image_resized" style="width:52.82%;"><img src="https://docs.emma.io/preferencias_app_config_campan%CC%83as_inapp_i.png"></figure>
<p>De ser así, esta configuración tendrá efecto sobre las campañas en estado <strong>Testing </strong>y <strong>Pausada.&nbsp;</strong></p>
<ul>
  <li>Las campañas en estado <strong>Testing</strong> cambiarán automáticamente al estado <strong>Eliminada</strong> una vez transcurrido el tiempo establecido.</li>
  <li>Las campañas en estado <strong>Pausada</strong> cambiarán automáticamente al estado <strong>Finalizada </strong>una vez transcurrido el tiempo establecido.</li>
</ul>
<h2>Re-Targeting</h2>
<p>Selecciona el tipo de modalidad para tus campañas de Re-Targeting. Por defecto tus campañas de Re-Targeting usarán la modalidad <i>Último clic</i>, pero puedes cambiar la modalidad a <i>Clic único</i> habilitando el check. Puedes ver más información sobre los distintos modelos de atribución de campañas de Re-Targeting <a href="https://docs.emma.io/es/adquisicion/apptracker#campa%C3%B1as-re-targeting">aquí</a>.&nbsp;</p>
<figure class="image image_resized" style="width:52.67%;"><img src="/pref_app_rt.png"></figure>
<h2>Seguridad</h2>
<p>Si quieres establecer el sistema de aprobación de campañas de comunicación activa está opción. Por defecto EMMA no usa el sistema de aprobación de campañas de comunicación y esta opción está desactivada. Puedes ver más información sobre esta funcionalidad <a href="https://docs.emma.io/es/prevalidacion-de-campa%C3%B1as">aquí</a>.&nbsp;</p>
<figure class="image image_resized" style="width:51.34%;"><img src="/pref_app_seguridad.png"></figure>
<h2>Informes</h2>
<p>Establece el formato de todos los informes y exportaciones que realices desde EMMA. Podemos seleccionar el formato entre:&nbsp;</p>
<ul>
  <li>ZIP</li>
  <li>CSV</li>
</ul>
<p>Por defecto, el formato de descarga de EMMA es ZIP.</p>
<figure class="image image_resized" style="width:52.34%;"><img src="/preferencias_app_informes.png"></figure>
<h1>Equipo y apps de la cuenta</h1>
<p>En EMMA puedes dar acceso a tu cuenta a tantos usuarios diferente como necesites controlando en todo momento el tipo de visibilidad que tiene cada uno de ellos a los datos y las funciones que cada uno de ellos tiene habilitada.&nbsp;</p>
<h2>Equipo de la cuenta</h2>
<h3>Crear nuevos usuarios</h3>
<p>Para ello solo tienes que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Haz <a href="https://ng.emma.io/">login</a> en tu cuenta de EMMA y ve a la parte superior derecha donde aparece tu nombre de usuario.</li>
</ul>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_1.png">
  <figcaption>Selecciona tu usuario para desplegar el menú</figcaption>
</figure>
<ul>
  <li>En el menú desplegable selecciona la opción <i><strong>Equipo de la cuenta </strong></i>y a continuación haz clic en el botón <i><strong>Nuevo miembro del equipo.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_2.png"></figure>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_3a.png"></figure>
<ul>
  <li>Cubre la siguiente información del formulario de alta de usuarios:</li>
</ul>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_4.png"></figure>
<ul>
  <li><strong>Nombre: </strong>Nombre del nuevo usuario</li>
  <li><strong>Apellido: </strong>Apellido del nuevo usuario</li>
  <li><strong>Email: </strong>Email del usuario con el que va a tener acceso a EMMA.</li>
  <li><strong>Rol: </strong>Seleccionar un rol entre los disponibles de EMMA:<ul>
      <li><strong>Administrador: </strong>Tiene acceso ilimitado a EMMA a datos y funciones. Es el único usuario que puede realizad modificaciones de configuración de la app en la sección <i>Preferencias app.&nbsp;</i></li>
      <li><strong>Agencia: </strong>Puede acceder y operar (crear, editar, eliminar) en cualquier sección de EMMA. Puede crear y editar las aplicaciones y usuarios de una cuenta pero no podrá eliminarlos.</li>
      <li><strong>Analista: </strong>Este rol solo aparecerá disponible si se tienen habilitada la funcionalidad de <i>Pre-validación de campañas. </i>Para ver información más detalla sobre qué puede o no hacer este usuario, consulta nuestra guía sobre <a href="https://docs.emma.io/es/prevalidacion-de-campa%C3%B1as">Pre-validación de campañas</a>.</li>
      <li><strong>Autor: </strong>Este rol solo aparecerá disponible si se tienen habilitada la funcionalidad de <i>Pre-validación de campañas. </i>Para ver información más detalla sobre qué puede o no hacer este usuario, consulta nuestra guía sobre <a href="https://docs.emma.io/es/prevalidacion-de-campa%C3%B1as">Pre-validación de campañas</a>.</li>
      <li><strong>Cliente: </strong>Puede acceder y operar (crear, editar, eliminar) en cualquier sección de EMMA. Puede crear y editar las aplicaciones y usuarios de una cuenta pero no podrá eliminarlos.</li>
      <li><strong>Gestor: </strong>Este rol solo aparecerá disponible si se tienen habilitada la funcionalidad de <i>Pre-validación de campañas. </i>Para ver información más detalla sobre qué puede o no hacer este usuario, consulta nuestra guía sobre <a href="https://docs.emma.io/es/prevalidacion-de-campa%C3%B1as">Pre-validación de campañas</a>.</li>
      <li><strong>Proveedor: </strong>Tan solo tiene acceso de lectura a la sección de <i>Captación &gt; Apptracker </i>de EMMA única y exclusivamente a las campañas y fuentes a las que se le de acceso posteriormente. Continúa leyendo esta guía para ver como dar acceso a unas fuentes específicas.</li>
    </ul>
  </li>
  <li><strong>Departamento: </strong>Selecciona al departamento que pertenece ese usuario dentro de tu empresa de entre las opciones disponibles:<ul>
      <li>Dirección</li>
      <li>Finanzas</li>
      <li>Marketing</li>
      <li>Otro</li>
      <li>Producto</li>
      <li>Soporte</li>
      <li>Tecnología</li>
      <li>Ventas</li>
    </ul>
  </li>
  <li><strong>Aplicaciones: </strong>Selecciona las apps dentro de tu cuenta a las que tiene que tener acceso. Si solo tienes app dentro de tu cuenta, se dará acceso al usuario a esa única app. En caso de tener varias apps, por defecto se dará acceso a todas a no ser que selecciones lo contrario.</li>
  <li>Por último, haz clic en el botón <i><strong>Guardar Usuario</strong></i> para crearlo. En ese momento, el usuario recibirá un correo con los pasos a seguir para validar su usuario.</li>
</ul>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_7.png"></figure>
<h3>Configurar acceso de proveedor a fuentes</h3>
<p>Una vez que hemos creado un nuevo usuario con rol <i>Proveedor</i> tan solo nos queda darle acceso a las fuentes que queremos que visualice.&nbsp;</p>
<p>Para ello, tan solo tenemos que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Realizar los pasos previos en esta guía para crear un nuevo usuario con rol <i>Proveedor.&nbsp;</i></li>
  <li>Ir a la sección <i><strong>Captación &gt; Fuentes de medios.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_10.png"></figure>
<ul>
  <li>Buscar y editar la fuente de medios en cuestión a la que queremos dar acceso al proveedor.</li>
  <li>En el formulario de edición, nos deslizamos hasta la sección que pone <i><strong>Permisos. </strong></i>Activamos los permisos y añadimos el email del usuario que hemos creado previamente. Podemos añadir tantos usuarios como sean necesarios haciendo clic en el botón <i>+ Añadir acceso.&nbsp;</i></li>
</ul>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_11.png"></figure>
<ul>
  <li>Guardar los cambios y listo, el proveedor solo visualizará aquellas fuentes que en <i>Apptracker</i> tengan configurado como proveedor la fuente a la que se le ha dado desde esta sección.</li>
</ul>
<h3>Editar o eliminar usuarios existentes</h3>
<p>Para editar o eliminar un usuario existente, tan solo tenemos que hacer clic en el menú lateral a la derecha del nombre del usuario y seleccionar la opción adecuada, <i>Editar o Eliminar.&nbsp;</i></p>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_8.png"></figure>
<p>Si seleccionamos la opción <i>Editar</i>, se abrirá la pantalla de edición del usuario y tan solo tenemos que hacer las modificaciones pertinentes y guardar los cambios realizados.&nbsp;</p>
<p>Si seleccionamos la opción <i>Eliminar</i>, se abrirá un alerta para confirmar si realmente queremos eliminar ese usuario o no.&nbsp;</p>
<figure class="image"><img src="https://docs.emma.io/crear_usuario_9.png"></figure>
<h2>Apps de la cuenta</h2>
<p>La primera app de la cuenta se crea automáticamente en el momento en el que te registras en EMMA y <a href="https://docs.emma.io/es/home#empezando">creas tu cuenta</a><a href="https://docs.emma.io/es/guia-de-inicio#crear-una-cuenta-emma">.</a> Si necesitas crear más apps dentro de tu cuenta, tan solo tienes que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Dirígete al menú de usuario y selecciona <a href="https://ng.emma.io/user/account/apps">Apps de la cuenta.</a></li>
</ul>
<figure class="image"><img src="/apps_cuenta_1.png"></figure>
<ul>
  <li>Haz click en el botón <strong>Nueva App</strong></li>
</ul>
<figure class="image"><img src="/apps_cuenta_3.png"></figure>
<ul>
  <li>Rellena el formulario de creación de app:<ul>
      <li><strong>Nombre</strong>: Introduce el nombre de tu nueva aplicación.</li>
      <li><strong>Web: </strong>Introduce el sitio web de tu app.</li>
      <li><strong>AppStore</strong>: Introduce la URL de tu app iOS en el App Store.</li>
      <li><strong>Google Play: </strong>Introduce la URL de tu app Android en Google Play.</li>
      <li><strong>Huawei App Gallery: </strong>Introduce la URL de tu app Huawei en App Gallery.</li>
      <li><strong>Zona horaria: </strong>Configura la zona horaria usada por tu app. Por defecto es Europe/Madrid (UTC +01:00/+02:00)</li>
      <li><strong>Divisa: </strong>Configura la divisa empleada por tu app. Por defecto es EUR.</li>
    </ul>
  </li>
  <li>Una vez configurados todos los campos haz clic en el botón <strong>Guardar App</strong> para que se cree.</li>
  <li>Una vez que hayas guardado tu app, se generará un <i>EMMA Key</i> propio para la aplicación. Este <i>EMMA Key</i> se utiliza para conectar el SDK de &nbsp;EMMA integrado en tu aplicación con la cuenta creada en EMMA.</li>
</ul>
<figure class="image"><img src="/apps_cuenta_5.png"></figure>
<ul>
  <li>Envía el SDK de EMMA junto a las <a href="https://developer.emma.io/es/home">guías de integración</a> y el <i>EMMA Key</i> a tu equipo de desarrollo.</li>
  <li>Consulta con nuestro equipo de Soporte para revisar que todas las funcionalidades del SDK de EMMA estén bien implementados antes de actualizar tu aplicación en la Store.</li>
  <li>Actualiza una nueva versión de tu aplicación con el SDK de EMMA integrado en la Store.</li>
</ul>
<h1>Dispositivos de test</h1>
<p>Para poder llevar a cabo múltiples pruebas de atribución sin necesidad de tener que emplear dispositivos que nunca hayan tenido la app y por ende no estén en nuestra base de datos, ha nacido la funcionalidad de <i><strong>Dispositivos de test.&nbsp;</strong></i></p>
<p>Gracias a esta nueva funcionalidad, podremos añadir hasta <strong>40</strong> <strong>dispositivos</strong> de test por <strong>cuenta </strong>para poder realizar tantas pruebas de atribución con el mismo dispositivo como sea necesario.&nbsp;</p>
<p>A continuación veremos con más detalle cómo dar de alta nuevos dispositivos de test, el funcionamiento y algunas consideraciones a tener en cuenta para su uso.&nbsp;</p>
<h2>Cómo añadir dispositivos de test</h2>
<p>Añadir nuevos dispositivos de test es muy sencillo. Para ello, tan solo tienes que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Inicia sesión en <a href="https://ng.emma.io/es/login?returnUrl=%2Findex">EMMA</a>.</li>
  <li>Ve a la sección <strong>Comportamiento &gt; Gente</strong> y busca tu dispositivo en base de datos.</li>
  <li>Copia el identificador que aparece en la columna <i><strong>Device ID</strong></i>y guárdalo, ya que lo necesitaremos más adelante.</li>
</ul>
<figure class="image"><img src="https://docs.emma.io/dispositivos_test_iii.png"></figure>
<ul>
  <li>Haz <i>mouse over </i>sobre tu nombre de usuario, a la derecha de la pantalla, y en el menú desplegable selecciona la opción <strong>Dispositivos de test.</strong></li>
</ul>
<figure class="image"><img src="https://docs.emma.io/dispositivos_test_i.png"></figure>
<ul>
  <li>Haz clic en el botón <strong>+ Nuevo dispositivo de test.</strong></li>
</ul>
<figure class="image"><img src="https://docs.emma.io/dispositivos_test_ii.png"></figure>
<ul>
  <li>Cubre los campos del formulario de alta:<ul>
      <li><strong>Nombre: </strong>Establece un nombre identificativo para ese dispositivo de test.</li>
      <li><strong>Sistema operativo: </strong>Selecciona el sistema operativo correspondiente entre las opciones disponibles (<strong>iOS, Android, Otro).</strong></li>
      <li><strong>Identificador: </strong>Pega el identificador obtenido en la sección Gente anteriormente.</li>
    </ul>
  </li>
  <li>Guarda el dispositivo.</li>
</ul>
<p>Repite este proceso tantas veces como dispositivos de test necesites añadir hasta un máximo de <strong>40</strong> <strong>dispositivos</strong> por <strong>cuenta</strong>.&nbsp;</p>
<h2>Editar y eliminar dispositivos de test</h2>
<p>Una vez que hemos dado de alta nuestros dispositivos de test, eliminaros o editarlos de ser necesario es muy sencillo. Tan solo tenemos que hacer clic en el menú contextual que se muestra al lado del nombre del dispositivo de test y seleccionar la opción que deseemos.&nbsp;</p>
<figure class="image"><img src="https://docs.emma.io/dispositivos_test_v.png"></figure>
<ul>
  <li><strong>Editar: </strong>Se abrirá el menú de edición del dispositivo y podremos modificar cualquier campo: <strong>nombre, sistema operativo e identificador.&nbsp;</strong></li>
  <li><strong>Eliminar: </strong>Si hacemos clic en eliminar, el dispositivo de test será eliminado de inmediato (sin confirmación). Eso significa que ya no podrá ser empleado como un dispositivo “nuevo” para medir la atribución.</li>
</ul>
<h2>Cómo funcionan los dispositivos de test</h2>
<p>Cuando damos de alta dispositivos de test, lo que estamos haciendo es decirle a EMMA que trate esos dispositivos como si fuesen nuevas instalaciones en nuestra base de datos pero manteniendo el identificador.&nbsp;</p>
<p>De esta manera, podremos realizar tantas pruebas de atribución con powlink de EMMA como sean necesarias, ya que con cada nuevo clic y posterior instalación de la app se actualizará tanto la fecha de instalación, como la campaña y fuente, si así corresponde, a la que está atribuido el usuario.&nbsp;</p>
<h2>Cómo hacer pruebas de atribución y ver los datos&nbsp;</h2>
<p>Una vez que tenemos nuestro dispositivo dado de alta como dispositivo de test, el procedimiento para hacer pruebas de atribución y revisar los datos es el siguiente:&nbsp;</p>
<ul>
  <li>Desinstalar la aplicación de nuestro dispositivo.</li>
  <li>Hacer clic en un powlink de EMMA previamente creado. Si no sabes cómo crear un powlink, visita nuestro artículo sobre el <a href="https://docs.emma.io/es/adquisicion/apptracker">Apptracker</a> para ver como hacerlo.</li>
  <li>Instalar la app y la abrirla por primera vez.</li>
  <li>A continuación, vamos a la sección <strong>Comportamiento &gt; Explorador </strong>y buscamos nuestro dispositivo en base de datos.</li>
  <li>Una vez localizado nuestro dispositivo hacemos una<strong>Exportación Raw</strong> y seleccionaremos las columnas <i><strong>Install_at, From_</strong></i><strong>campaign </strong>y <i><strong>From_source</strong></i> para revisar la nueva atribución del dispositivo.&nbsp;<i><strong>&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="https://docs.emma.io/dispositivos_test_vi.png"></figure>
<h2>Qué información del dispositivo se actualizará</h2>
<p>La única información recogida del dispositivo que se verá afectada cuando tengamos un dispositivo de test será:&nbsp;</p>
<ul>
  <li>Fecha y hora de instalación.</li>
  <li>Campaña a la que el usuario está atribuido.</li>
  <li>Fuente a la que el usuario está atribuido.</li>
</ul>
<p>Toda la información relativa a <strong>eventos</strong> no sufrirá cambios y tendremos el histórico del usuario. Así mismo, las <strong>etiquetas de usuario</strong> funcionarán como siempre y también se mantendrá está información.&nbsp;</p>
<h2>Consideraciones extra para iOS 14</h2>
<p>Con iOS 14 el funcionamiento de dispositivos de test es un poco especial debido a las limitaciones que está sufriendo esta versión del OS con respecto al uso del IDFA.&nbsp;</p>
<p>Si el dispositivo en cuestión no ha permitido la recopilación del IDFA, lo que se va a recuperar es un identificador vendor del dispositivo. Este identificador, a diferencia del IDFA, no es único por dispositivo, sino que es único por grupo de apps del desarrollador.&nbsp;</p>
<p>Es decir, si en nuestra cuenta de App Store o Google Play, tenemos bajo el mismo desarrollador 3 aplicaciones, siempre que tengamos al menos una de esas 3 apps instaladas en el dispositivo, el vendor se podrá compartir entre las 3 apps y será el mismo.</p>
<p>Sin embargo, si solo tenemos una app, cada vez que instalemos la app, se generará un nuevo vendor diferente asociado a nuestro dispositivo.&nbsp;</p>
<p>Teniendo estos dos casos en cuenta:&nbsp;</p>
<ul>
  <li>Cuando tenemos varias apps del mismo desarrollador, podemos buscar nuestro vendor en base de datos y añadirlo como un dispositivo de test, ya que el funcionamiento será como en Android o iOS inferiores a iOS 14.&nbsp;<br><strong>IMPORTANTE:</strong> Eso sí, ten en cuenta que si desinstalas todas las apps del desarrollador del dispositivo, cuando vuelvas a instalar tu vendor será completamente diferente.</li>
  <li>Cuando el desarrollador solo tiene una app o solo tenemos instalada una de sus apps, no es necesario añadir el dispositivo como un dispositivo de test, ya que con cada nueva instalación, se generará un nuevo vendor distinto.</li>
</ul>
<h1>Facturación</h1>
<h2>Información de facturación</h2>
<p>En EMMA trabajamos con dos tipos de licencias diferenciadas entre sí, mensual y anual que se diferencian básicamente en el modo de pago tal y como su nombre indica (mes a mes o anualmente). A continuación podrás conocer las características de cada una de las licencias vigentes.</p>
<h3>Licencias mensuales</h3>
<ul>
  <li>Todas las licencias se facturarán al <strong>inicio del plan</strong> y corresponden a un <strong>mes</strong> <strong>completo</strong>.</li>
  <li>La emisión de la <strong>factura</strong> se realizará a los datos fiscales informados en su cuenta de EMMA, en la fecha de inicio del plan y se remitirá por correo electrónico a la/s direcciones de email informadas a tal efecto. Esta factura será recurrente durante todo el periodo de duración del acuerdo. Puedes revisar los cuáles serán los datos empleados para la facturación en tu perfil en la sección <a href="https://docs.emma.io/es/configuracion#preferencias-de-la-cuenta">Preferencias de la cuenta.</a></li>
  <li>Todos aquellos <strong>conceptos</strong> <strong>extras</strong> o no incluidos en su licencia o plan mensual, se facturarán al <strong>cierre</strong> del <strong>mes</strong> en curso en el mismo modo y forma que su licencia vigente.</li>
</ul>
<h3 style="text-align:justify;"><strong>Licencias de pago único anual</strong></h3>
<ul>
  <li>Las licencias de pago único anual se facturarán igualmente al <strong>inicio</strong> <strong>del</strong> <strong>plan</strong> y corresponden a un periodo de <strong>12 meses</strong>.</li>
  <li>La emisión de la <strong>factura</strong> se realizará a los datos fiscales informados en su cuenta de EMMA, en la fecha de inicio del plan y se remitirá por correo electrónico a la/s direcciones de email informadas a tal efecto. Puedes revisar los cuáles serán los datos empleados para la facturación en tu perfil en la sección <a href="https://docs.emma.io/es/configuracion#preferencias-de-la-cuenta">Preferencias de la cuenta.</a></li>
  <li>Todos aquellos <strong>conceptos</strong> <strong>extras</strong> o no incluidos en su licencia o plan anual, se facturarán al <strong>cierre</strong> de cada <strong>mes</strong>, con la emisión de una factura que será enviada por correo electrónico y deberá ser regularizada mediante <strong>transferencia</strong> <strong>bancaria</strong> <strong>net30</strong>.</li>
</ul>
<h3 style="text-align:justify;"><strong>Métodos de pago</strong></h3>
<p style="text-align:justify;">En EMMA ofrecemos dos métodos de pago en función del importe concreto de la licencia.&nbsp;</p>
<ul>
  <li>El método de pago para <strong>licencias</strong> de <strong>importe</strong> <strong>&lt;1.000€</strong> (impuestos no incl) será <strong>tarjeta</strong> de crédito <strong>net0.</strong></li>
  <li>El método de pago para <strong>licencias</strong> de <strong>importe</strong> <strong>&gt;1.000€</strong> (impuestos no incl) será <strong>transferencia</strong> <strong>bancaria</strong> al número de cuenta designado en la factura de venta en modalidad <strong>Net30.</strong></li>
</ul>
<p style="text-align:justify;">Toda nuestra facturación se realiza de forma digital, por lo que EMMA no envía facturas en papel ni otros formatos.</p>
<h2>Cancelación de la cuenta</h2>
<p>Para cancelar tu cuenta escribe un email a <strong>support@emma.io</strong> y a <strong>finance@emma.io</strong> para que procedamos a dar de baja tu cuenta.&nbsp;</p>
