<!--
title: Control de saturación
description: Control de saturación
published: true
date: 2022-02-03T11:40:37.287Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:46:06.749Z
-->

<p>Con EMMA podrás no sólo lanzar comunicaciones inapp a usuarios concretos según la segmentación establecida, sino que además, tendrás la posibilidad de establecer un control de impactos a distintos niveles que permite gestionar y controlar la saturación y los impactos a los usuarios finales con comunicaciones.</p>
<p>De esta manera, se evita sobre impactar a los usuarios de forma masiva con diferentes comunicaciones y que estas repercutan de manera negativa en los usuarios en lugar de ser un refuerzo y apoyo a la comunicación general.&nbsp;</p>
<p>Los tres niveles de control de impactos distintos que se pueden establecer son:</p>
<ol>
  <li><strong>Impactos por usuario:</strong> Se establece el número de veces que el usuario (dispositivo) podrá ser impactado por comunicaciones inapp en un día, en los últimos 7 días y/o en los últimos 30 días.</li>
  <li><strong>Impactos por categoría:</strong> Se establece el número de veces que el usuario podrá ser impactado por comunicaciones que pertenecen a una misma categoría en un día, en los últimos 7 días y/o en los últimos 30 días.</li>
  <li><strong>Impactos por campaña de comunicación:</strong> De la misma manera que ya se venía haciendo, en este nivel se establece el número de veces que el usuario podrá ser impacto por una comunicación concreta en un día, en los últimos 7 días y/o en los últimos 30 días.</li>
</ol>
<h3>Importante</h3>
<p>Ten en cuenta que la jerarquía a la hora de controlar los impactos será:</p>
<ol>
  <li>Impactos por usuario</li>
  <li>Impactos por categoría</li>
  <li>Impactos por campaña de comunicación</li>
</ol>
<p>De este modo, el sistema tendrá en cuenta todos los límites establecidos a la hora de mostrar o no una comunicación concreta a un usuario determinado manteniendo el orden jerárquico de los límites. Primero se revisará si se cumple o no el límite de impactos de usuario. En caso de que todavía no se cumpla ese capping, se revisará el límite de impactos por categoría y por último se revisará el límite de impactos por comunicación.&nbsp;&nbsp;</p>
<p>Veamos un ejemplo con todos los límites de control de saturación activos con la siguiente configuración.&nbsp;</p>
<ul>
  <li><strong>Límite de impactos por usuario</strong>
    <ul>
      <li>Límite diario 1</li>
      <li>Límite últimos 7 días 2</li>
      <li>Límite últimos 30 días ilimitado</li>
    </ul>
  </li>
  <li><strong>Límite de impactos Categoría 1</strong><br>
    <ul>
      <li>Límite diario 2</li>
      <li>Límite últimos 7 días ilimitado</li>
      <li>Límite últimos 30 días 3</li>
    </ul>
  </li>
  <li><strong>Límite de impactos comunicación A vinculada a la Categoría 1</strong>
    <ul>
      <li>Límite diario 1</li>
      <li>Límite últimos 7 días 1</li>
      <li>Límite últimos 30 días 1</li>
    </ul>
  </li>
  <li><strong>Límite de impactos comunicación B vinculada a la Categoría 1</strong>
    <ul>
      <li>Límite diario 2</li>
      <li>Límite últimos 7 días 2</li>
      <li>Límite últimos 30 días 8</li>
    </ul>
  </li>
</ul>
<p>Con esta configuración,&nbsp;el <strong>día 1</strong>,&nbsp;el&nbsp;<strong>usuario A&nbsp;</strong>visualizará la&nbsp;<strong>comunicación A&nbsp;</strong>una sola vez ya que esta comunicación tiene un límite de impactos diario de 1. Sin embargo,&nbsp;<strong>no</strong> visualizará nunca la&nbsp;<strong>comunicación B</strong> aunque todavía no se hayan consumido los impactos de la comunicación y aunque la&nbsp;<strong>categoría 1&nbsp;</strong>tenga un <strong>límite</strong> de impactos <strong>diario</strong> de <strong>2</strong>, ya que el límite de <strong>impactos</strong> por <strong>usuario</strong>, que es el más restrictivo, tiene un límite de impactos <strong>diarios</strong> de <strong>1.&nbsp;</strong></p>
<p>El <strong>día</strong>&nbsp;<strong>2,</strong> el&nbsp;<strong>usuario A</strong>&nbsp;<strong>no</strong> va a visualizar la&nbsp;<strong>comunicación A</strong> ya que se ha cumplido el límite de impactos de los últimos 7 días de 1. Pero esta vez sí que va a visualizar la <strong>comunicación B</strong>,&nbsp;pero solo una vez, ya que, <strong>aunque</strong> el límite <strong>diario</strong> es de <strong>2</strong> en la <strong>comunicación</strong> <strong>B</strong> y la <strong>categoría</strong> <strong>1</strong>, se toma como referencia el límite <strong>diario</strong> de <strong>1</strong> del <strong>usuario</strong> ya que es el más restrictivo.&nbsp;</p>
<p>El&nbsp;<strong>día 3</strong>,&nbsp;el&nbsp;<strong>usuario A</strong>&nbsp;<strong>no</strong> visualizará ninguna <strong>comunicación</strong> aunque haya disponibles límites de comunicación y categoría, ya que el límite <strong>de los últimos 7 días</strong>&nbsp;del <strong>usuario</strong> es de <strong>2</strong> impactos y ya se han cumplido al visualizar la <strong>comunicación</strong> <strong>A</strong> el <strong>día</strong> <strong>1</strong> y la <strong>comunicación</strong> <strong>B</strong> el <strong>día</strong> <strong>2</strong>.&nbsp;</p>
<p><strong>+7 días</strong>, el <strong>usuario</strong> <strong>A</strong> <strong>no</strong> va a visualizar la <strong>comunicación</strong> <strong>A</strong> porque <strong>ya</strong> se ha cumplido el <strong>limite</strong> <strong>de los últimos 30 días</strong>&nbsp;de la comunicación al visualizar la comunicación A el día 1. Por otra parte, <strong>sí</strong> visualizará la <strong>comunicación</strong> <strong>B</strong> pero sólo <strong>1</strong> <strong>vez</strong> debido a la <strong>restricción</strong> de 1 impacto <strong>diario</strong> del <strong>usuario</strong>.&nbsp;</p>
<p><strong>+8 días</strong>, el <strong>usuario</strong> <strong>A</strong> <strong>no</strong> va a visualizar ni la <strong>comunicación</strong> <strong>A</strong> <strong>ni</strong> la <strong>comunicación</strong> <strong>B</strong>. La comunicación A ya ha cumplido el límite de los últimos 30 días y por eso no la visualizará. Sin embargo, aunque en la comunicación B todavía estén disponibles impactos diario, últimos 7 días y últimos 30 días y el límite de usuario diario, 7 días y 30 días no se haya cumplido, sí que se ha cumplido el límite de últimos 30 días de 3 impactos de la categoría 1 al haberse consumido 3 impactos de comunicaciones con esa categoría vinculada los días 1, 2 y +7 días.&nbsp;</p>
<h1>Impactos por usuario</h1>
<p>El límite de impactos por usuario(dispositivo) es, de los tres niveles de control, el más restrictivo y el primero en la jerarquía. La función de este límite es establecer el número de comunicaciones máximo con el que un usuario(dispositivo) puede ser impactado diaria, semanal y/o mensualmente.&nbsp;</p>
<p>Este límite estará por defecto configurado con un límite de impactos diario, semanal y mensual ilimitado. Para configurarlo tan solo hay que ir a la sección&nbsp;<i><strong>Preferencias app</strong></i> desde el menú superior de usuario.&nbsp;</p>
<figure class="image"><img src="/pref_app.png"></figure>
<p>Una vez dentro de&nbsp;<i><strong>Preferencias app</strong>&nbsp;</i>tan solo hay que buscar la sección&nbsp;<i><strong>Límite de impactos In-App&nbsp;</strong></i>y establecer la configuración deseada para los impactos diarios, de los últimos 7 días y de los últimos 30 días.&nbsp;</p>
<figure class="image"><img src="/control_sat_2.png"></figure>
<p>Veamos un ejemplo con la configuración de esta captura. Pensemos que tenemos 5 campañas de comunicación activa y tenemos la configuración del límite de impactos por usuario de la captura:</p>
<ul>
  <li>Límite de usuario diario 1</li>
  <li>Límite de usuario últimos 7 días 3</li>
  <li>Límite de usuario últimos 30 días 15</li>
</ul>
<p>El&nbsp;<strong>usuario (dispositivo) A</strong> visualiza&nbsp;<strong>hoy</strong> una de las cinco campañas activas. Hoy no podrá visualizar ninguna comunicación más ya que hay un límite de impactos por usuario diario de 1.&nbsp;</p>
<p>Al <strong>día</strong> <strong>siguiente</strong>, el&nbsp;mismo&nbsp;<strong>usuario (dispositivo) A</strong> visualiza otra comunicación sin problema. Pero ya no podrá visualizar ninguna más por el límite de impactos por usuario diario de 1.&nbsp;</p>
<p><strong>Dos día después</strong>, ese mismo usuario (dispositivo) va a visualizar otra vez una comunicación, pero solo 1 por la misma limitación diaria de los días anteriores.&nbsp;</p>
<p>Esa&nbsp;<strong>misma semana</strong> no podrá visualizar ninguna de las 5 comunicaciones ya que hay establecido un limite de impresiones máximo por usuario de los últimos 7 días de 3 y ya se ha cumplido.&nbsp;</p>
<h3>Extra</h3>
<p>La configuración de los límites diario, últimos 7 días y 30 últimos días son independientes unos de otros. Es decir, podemos realizar una configuración en la que establezcamos un límite diario de 1 impacto, últimos 7 días ilimitado y últimos 30 días de 10.&nbsp;</p>
<p>Se puede establecer límite en una de las opciones y las otras dos dejarlas en ilimitadas por ejemplo. Se puede realizar la combinación que mejor se adapte a las necesidades reales de cada uno.&nbsp;</p>
<h1>Impactos por categoría</h1>
<p>El límite de impactos por categoría es el segundo en la jerarquía de los límites para el control de saturación. Se trata del segundo con más peso después del límite por usuario. Este límite establece un control de impactos a una categoría determinada que puede ser usada posteriormente en una o varias comunicaciones inapp.&nbsp;</p>
<p>Lo primero que hay que hacer para poder usar el límite por categoría es habilitar su uso. Para ello, es necesario acceder a la sección&nbsp;<i><strong>Preferencias app&nbsp;</strong></i></p>
<figure class="image"><img src="/control_sat_3.png"></figure>
<p>Una vez habilitado el uso del límite por categorías, es necesario crear una o varias categorías para su posterior uso. En esta <a href="https://docs.emma.io/es/categorias">guía</a> puedes ver en detalle cómo crear nuevas categorías.&nbsp;</p>
<p>Una vez creadas las categorías, ya estarían listas para uso. Pero, ¿como vinculo una categoría con una o varias comunicaciones inapp? Sencillo, en el momento de crear un nuevo mensaje, se mostrará un selector con todas las categorías existentes para su uso. Tan solo hay que seleccionar la categoría deseada y ya queda vinculada a la comunicación.&nbsp;</p>
<figure class="image"><img src="/control_sat_7.png"></figure>
<p>Veamos un ejemplo de uso.</p>
<p>Si por ejemplo tenemos una categoría, llamada <i>Categoría A,&nbsp;</i>con la siguiente configuración:</p>
<ul>
  <li>Límite de impactos diarios 2</li>
  <li>Límite de impactos últimos 7 días 3</li>
  <li>Límite de impactos últimos 30 días ilimitado</li>
</ul>
<p>Si creamos 3 comunicaciones inapp a las que le vinculamos esa categoría con la siguiente configuración:</p>
<ul>
  <li><i>Comunicación A</i>
    <ul>
      <li>Límite de impactos diarios 1</li>
      <li>Límite de impactos últimos 7 días 1</li>
      <li>Límite de impactos últimos 30 días 3</li>
    </ul>
  </li>
  <li><i>Comunicación B</i>
    <ul>
      <li>Límite de impactos diarios 1</li>
      <li>Límite de impactos últimos 7 días 2</li>
      <li>Límite de impactos últimos 30 días ilimitado</li>
    </ul>
  </li>
  <li><i>Comunicación C</i>
    <ul>
      <li>Límite de impactos diarios ilimitado</li>
      <li>Límite de impactos últimos 7 días ilimitado</li>
      <li>Límite de impactos últimos 30 días 5</li>
    </ul>
  </li>
</ul>
<p>Con este caso, el <strong>usuario A</strong> visualizaría <strong>hoy</strong> la <strong>comunicación A</strong> y también la <strong>comunicación B</strong>. Pero <strong>nunca</strong> podría visualizar la <strong>comunicación C</strong> ya que el límite de <strong>impactos</strong> <strong>diarios</strong> para la <strong>categoría A</strong> (que es común a las tres comunicaciones) es de <strong>2</strong>.&nbsp;</p>
<p>Al <strong>día</strong> siguiente, el <strong>usuario A</strong> <strong>no</strong> visualizaría la <strong>comunicación A</strong> ya que, aunque tiene límite diario de 1, también tiene un límite de <strong>impactos de último 7 días</strong>&nbsp;de <strong>1</strong> que ya ha cumplido, pero <strong>sí</strong> que visualizaría la <strong>comunicación</strong> <strong>B</strong>, ya que tiene <strong>límite</strong> <strong>diario</strong> de <strong>1</strong> y <strong>últimos 7 días</strong>&nbsp;de <strong>2</strong>. SIn embargo, una vez más <strong>no</strong> visualizaría la <strong>comunicación</strong> <strong>C</strong> ya que el <strong>límite</strong> de <strong>impactos de los</strong>&nbsp;<strong>últimos 7 días</strong> de la <strong>categoría</strong> <strong>A</strong> es de <strong>3</strong> y ya se ha cumplido ese límite de los últimos 7 días.&nbsp;</p>
<p>En caso de que las comunicaciones en la que se vincula la categoría tengan límite de impactos diario, semanal y mensual ilimitado, se tendrá en cuenta sólo el límite establecido en la categoría.&nbsp;</p>
<h1>Impactos por campaña</h1>
<p>El límite de impactos por comunicación es el último de los límites para el control de saturación y el menos restrictivo en la jerarquía (es el último que se consulta). Este límite determina el número de veces por día, últimos 7 días y y último 30 días que se va a mostrar la comunicación en cuestión.&nbsp;</p>
<p>Para configurar este límite de saturación hay que hacerlo en el paso&nbsp;<i><strong>3. Programación</strong>&nbsp;</i>en el momento en el que se está creando una nueva comunicación.&nbsp;</p>
<p>Será aquí donde se podrá establecer el número de veces máximo diario, últimos 7 días y último 30 días que se quiere mostrar esa comunicación.&nbsp;</p>
<figure class="image"><img src="/control_sat_8.png"></figure>
<p>De esta manera, con la configuración de la captura tendríamos el siguiente comportamiento.&nbsp;</p>
<p>Hoy el&nbsp;<strong>usuario A</strong> visualizará la comunicación, pero una sola vez, ya que hay establecido un límite diario de 1.&nbsp;</p>
<p>Al <strong>día</strong> <strong>siguiente</strong> el <strong>usuario</strong> <strong>A</strong>, no visualizará la comunicación, ya que, aunque hay un límite diario de 1 que todavía no se ha cumplido, existe un límite de los últimos 7 días de 1 que ya lo cumplió el día anterior. Sin embargo, el <strong>usuario</strong> <strong>B</strong> sí que visualizaría esta comunicación.&nbsp;</p>
<p>La&nbsp;<strong>semana siguiente</strong> el&nbsp;<strong>usuario A</strong> seguirá sin visualizar la comunicación ya que aunque el límite diario y de los últimos 7 días todavía no se ha cumplido en esa semana, si que se ha cumplido el de los últimos 30 días. Además, el <strong>usuario B</strong> tampoco visualizaría la comunicación por la misma casuística.&nbsp;</p>
<h1>Impresiones saturables y no saturables</h1>
<p>Además de establecer un control de saturación de campañas a nivel de usuario, categoría y comunicación, también se puede configurar que las impresiones que se realicen en una determinada campaña sean saturables o no saturables.&nbsp;</p>
<p>Las <strong>impresiones</strong> <strong>saturables</strong> son aquellas en las que se tienen en cuenta las impresiones configuradas a nivel de usuarios, categoría y comunicación y afectan unas a otras. Para que tu campaña tenga en cuenta as impresiones establecidas (ya sea a nivel de usuario, categoría o comunicación) tan solo debes dejar activado el check de <i><strong>Control de saturación</strong></i> que aparece en el paso de programación de la campaña.&nbsp;</p>
<figure class="image"><img src="/control_sat_9.png"></figure>
<p>Las <strong>impresiones</strong> <strong>no</strong> <strong>saturables</strong>, por el contrario, son aquellas que, aunque se haya vinculado una categoría a la comunicación y haya configurado un limite de impactos a nivel de campaña y usuario, no se tendrán en cuenta y la campaña se mostrará de manera ilimitada y las impresiones no afectarán a los cappings más generales de categoría y usuario. Para habilitar este tipo de configuración tan solo tienes que desactivar el check de <i><strong>Control de saturación</strong></i> que aparece en el paso de programación de la campaña.&nbsp;</p>
<figure class="image"><img src="/control_sat_10.png"></figure>
