<!--
title: Cuadro de mandos
description: Cuadro de mandos
published: true
date: 2021-08-25T12:15:36.466Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:44:23.643Z
-->

<p>En el cuadro de mandos puedes consultar todos os datos de tu aplicación de una manera rápida y visual que te permiten tener una idea global de todo lo que está pasando dentro de la aplicación como en el Resumen Ejecutivo. La principal, y gran diferencia, con el Resumen Ejecutivo es que esta pantalla te permite personalizar las gráficas para ver los datos más relevantes para tu app. A continuación te explicamos cómo personalizar los datos de tu aplicación.&nbsp;</p>
<h1>Crear cuadros de mandos</h1>
<p>Haz login en EMMA y dirígete a la sección <strong>General &gt; Cuadro de mandos</strong>.</p>
<figure class="image"><img src="/cuadro_mandos_1.png"></figure>
<p>Como en todas las pantallas de EMMA, los datos se muestran en función del rango de fechas seleccionado, pudiendo seleccionar entre intervalos por defecto o especificar un rango de fechas personalizados. Puedes ver más información al respecto del filtrado de fechas <a href="https://docs.emma.io/es/barras-de-menu#men%C3%BA-supra-principal">aquí</a>.&nbsp;</p>
<figure class="image"><img src="/cuadro_mandos_16.png"></figure>
<p>El primer paso es crear un nuevo <strong>Cuadro de mandos</strong> en el que ir agregando todas los componentes de los que queremos que se muestre información. Si nunca has creado un cuadro de mandos, por defecto al acceder a esta pantalla ya estarás en el formulario de creación. En caso de que ya hayas creado algún cuadro de mandos anteriormente, tan solo tienes que hacer clic en el botón <strong>+ Nuevo cuadro de mandos </strong>a la derecha de la pantalla para acceder al formulario de creación.</p>
<figure class="image"><img src="/cuadro_mandos_9.png"></figure>
<figure class="image"><img src="/cuadro_mandos_2.png"></figure>
<p>A continuación, puedes empezar a añadir todos los componentes que necesites para tu tablero. Para ello, tan solo tienes que hacer clic en el botón <strong>+ Añadir componente</strong> y cubrir el formulario de creación con los datos pertinentes para cada caso en particular.</p>
<figure class="image"><img src="/cuadro_mandos_4.png"></figure>
<ul>
  <li><strong>Título: </strong>Establece, de manera opcional, un título identificativo para tu nuevo componente.&nbsp;</li>
  <li><strong>Descripción: </strong>Establece, de manera opcional, una descripción para tu nuevo componente.&nbsp;</li>
  <li><strong>Tipo: </strong>Selecciona el tipo de gráfica en la que quieres que se muestren los datos. Puedes elegir entre las siguientes opciones:&nbsp;<ul>
      <li>Gráfica de líneas</li>
      <li>Gráfica &nbsp;de barras</li>
      <li>Gráfica de donut</li>
      <li>Contador</li>
    </ul>
  </li>
  <li><strong>KPI: </strong>Selecciona el KPI del cual quieres obtener información entre los siguientes:&nbsp;<ul>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#filtros-disponibles">Instalaciones</a></li>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#filtros-disponibles">Desinstalaciones</a></li>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#filtros-disponibles">Aperturas</a></li>
      <li><a href="https://docs.emma.io/es/resumen-ejecutivo#introducci%C3%B3n">Usuarios activos</a></li>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#filtros-disponibles">Usuarios registrados</a></li>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#filtros-disponibles">Compradores</a></li>
      <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#contador-de-eventos">Ingresos</a></li>
    </ul>
  </li>
  <li><strong>Agrupar por: </strong>La agrupación sólo está disponible para las gráficas de tipo barra y donut. Puedes seleccionar que los datos se muestren agrupados en base a los siguientes elementos:&nbsp;<ul>
      <li>Fecha: Agrupa los datos por fecha.</li>
      <li>Sistema Operativo: Agrupa los datos por sistema operativo (Android o iOS).</li>
      <li>País: Agrupa los datos en función del país vinculado al dispositivo.&nbsp;</li>
      <li>Campaña: Agrupa los datos por el nombre de la campaña de Apptracker. Más info sobre la gestión de campañas <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as">aquí</a>.&nbsp;</li>
      <li>Tipo de fuente: Agrupa los datos en función de su origen, orgánico o de campaña.&nbsp;</li>
      <li>Fuente de medios: Agrupa los datos en base al proveedor seleccionado a la hora de crear la fuente de Apptracker. Más info sobre la gestión de fuentes <a href="https://docs.emma.io/es/adquisicion/fuentes-de-medios">aquí</a>.&nbsp;</li>
      <li>Fuente: Agrupa los datos en base al nombre establecido a la fuente de Apptracker. Más info sobre la gestión de fuentes <a href="https://docs.emma.io/es/adquisicion/fuentes-de-medios">aquí</a>.&nbsp;</li>
    </ul>
  </li>
  <li><strong>Subagrupar por: </strong>La subagrupación sólo está disponible para la gráfica de tipo barras. Puedes seleccionar que los datos se muestren subagrupados en base a las siguientes opciones:&nbsp;<ul>
      <li>Sistema operativo: Subagrupa los datos por sistema operativo (Android o iOS).</li>
      <li>País: Subagrupa los datos en función del país vinculado al dispositivo.&nbsp;</li>
      <li>Campaña: Subagrupa los datos por el nombre de la campaña de Apptracker. Más info sobre la gestión campañas <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as">aquí</a>.</li>
      <li>Tipo de fuente: Subagrupa los datos en función de su origen, orgánico o de campaña.</li>
      <li>Fuente de medios: Subagrupa los datos en base al proveedor seleccionado a la hora de crear la fuente de Apptracker. Más info sobre la gestión de fuentes de Apptracker <a href="https://docs.emma.io/es/adquisicion/fuentes-de-medios">aquí</a>.</li>
    </ul>
  </li>
</ul>
<p>Además, también se pueden aplicar (o no) determinados filtros para obtener información granulada a medida de las necesidades específicas:&nbsp;</p>
<ul>
  <li><strong>Sistema operativo: </strong>Filtrar por Android o iOS para que solo se muestren datos de uno u otro sistema operativo.&nbsp;</li>
  <li><strong>País: </strong>Filtra la información por país para que sólo se muestre la información de un país específico. Sólo se puede seleccionar un país a la vez.&nbsp;</li>
  <li><strong>Campaña: </strong>Filtra por una campaña específica para que solo se muestren datos de esa campaña en concreto. Más info sobre gestión de campañas <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as">aquí.</a></li>
  <li><strong>Tipo de fuente: </strong>Filtra por Orgánico o No-orgánico para obtener sólo información orgánica o de campaña.&nbsp;</li>
</ul>
<p>Una vez configurado el componente haz clic en el botón <strong>Guardar componente </strong>para guardar los cambios. Puedes agregar tantos componentes como necesites. Una vez añadidos todos los componentes deseados, establece un nombre identificativo para tu cuadro de mandos y haz clic en el botón <strong>+ Guardar</strong> en la parte derecha de la pantalla.&nbsp;</p>
<figure class="image"><img src="/cuadro_mandos_8_bis.png"></figure>
<p>Puedes expandir el componente con el icono del recuadro, editarlo para cambiar la configuración haciendo clic en el icono del lápiz o eliminarlo haciendo clic en el icono de la papelera. Si seleccionas eliminar el componente deberás aceptar un pop up de confirmación para proceder con su borrado.&nbsp;</p>
<figure class="image"><img src="/cuadro_mandos_6.png"></figure>
<h1>Compartir cuadros de mandos</h1>
<p>Una vez guardado tu cuadro de mandos, por defecto es un cuadro <i><strong>No compartido</strong></i>, es decir, solo el usuario que lo ha creado tiene acceso a él. Pero si queremos compartirlo con otros usuarios tan solo tenemos que hacer clic en el botón <strong>Compartir</strong> que está en la parte derecha de la pantalla.&nbsp;</p>
<figure class="image"><img src="/cuadro_mandos_9_bis_2.png"></figure>
<p>A continuación, se abrirá un pop up en el que podemos seleccionar cómo queremos compartir nuestro cuadro de mandos. Las opciones disponibles son:&nbsp;</p>
<ul>
  <li><strong>No compartido: </strong>Opción por defecto. Sólo el usuario que ha creado el cuadro de mandos tendrá acceso a él.&nbsp;</li>
  <li><strong>Privado: </strong>Además del creador del cuadro de mandos, sólo los usuarios a los que específicamente se le da acceso tendrán acceso al mismo.&nbsp;</li>
  <li><strong>Compartido: </strong>Cualquier usuario con acceso a la app podrá acceder a ese cuadro de mandos.&nbsp;</li>
</ul>
<p>Saber si un cuadro de mandos no está compartido, es privado o compartido es sencillo.&nbsp;</p>
<ul>
  <li>Los cuadros de mandos <strong>No compartidos</strong> no mostrarán nada al lado del nombre.&nbsp;</li>
  <li>Los cuadros de mandos <strong>Privados </strong>mostrarán un icono de un candado al lado del nombre.&nbsp;</li>
  <li>Los cuadros de mandos <strong>Compartidos</strong> mostrarán un icono de compartir al lado del nombre.&nbsp;</li>
</ul>
<p>Una vez realizada la configuración deseada, haz clic en el botón <strong>Guardar.&nbsp;</strong></p>
<figure class="image"><img src="/cuadro_mandos_17.png"></figure>
<p>Además, en caso de ser necesario, también podremos descargar un archivo PDF con el contenido de nuestro cuadro de manos y la información respectiva en el rango de fechas seleccionado. Para ello, tan solo tenemos que hacer clic en el botón <strong>PDF</strong> en el pop up de compartir cuadro de mandos.&nbsp;</p>
<figure class="image"><img src="/cuadro_mandos_10.png"></figure>
<h1>Eliminar y editar cuadros de mandos</h1>
<p>Los cuadros de mandos creados pueden ser editados para hacer las modificaciones pertinentes que sean necesarias o eliminados, pero solo el usuario que ha creado el cuadro de mandos puede realizar estas acciones.&nbsp;</p>
<p>Para <strong>editar</strong> tu cuadro de mandos tan solo tienes que seleccionar el cuadro de mandos en cuestión y hacer clic en el botón <strong>Editar</strong> de la parte derecha de la pantalla. Con esto ya puedes editar individualmente cada uno de los componentes, eliminarlos o añadir nuevos componentes.&nbsp;</p>
<figure class="image"><img src="/cuadro_mandos_9_bis.png"></figure>
<p>Para <strong>eliminar </strong>tu cuadro de mandos debes seleccionar el cuadro en cuestión, hacer clic en el botón <strong>Editar</strong> y posteriormente hacer clic en el botón <strong>Borrar.</strong></p>
<figure class="image"><img src="/cuadro_mandos_11.png"></figure>
<p>A continuación se abrirá un pop up de confirmación para eliminar el cuadro de mandos. Haz clic sobre la opción <strong>Ok</strong> para eliminarlo o por el contrario, haz clic sobre <strong>Cancelar</strong> para mantener el cuadro de mandos.&nbsp;</p>
<figure class="image"><img src="/cuadro_mandos_13.png"></figure>
<p>&nbsp;</p>
