<!--
title: Especificaciones de los formatos de comunicación
description: Especificaciones de los formatos de comunicación
published: true
date: 2022-04-26T10:06:39.978Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:58:43.712Z
-->

<p>A continuación se detallan las especificaciones requeridas para el desarrollo de la creación de las creatividades en los distintos formatos de comunicación de EMMA:</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>
          <figure class="image"><img src="/01_push.png"></figure>
        </td>
        <td>
          <p><strong>Rich Push</strong></p>
          <p>Display rectangular que aparece junto a una Notificación Push cuando se recibe en el dispositivo.</p>
          <p>Se recomienda dejar un <a href="https://docs.emma.io/es/comunicacion/mensajes-out-app/push-notifications">pequeño margen de seguridad</a> debido a los problemas de adaptación de dispositivos Android ajenos a EMMA.&nbsp;&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td>
          <figure class="image"><img src="/02_banner.png"></figure>
        </td>
        <td>
          <p><strong>Banner</strong></p>
          <p>Display rectangular que aparece en la parte superior o inferior de la pantalla del dispositivo.</p>
          <p>Se recomienda que la imagen tenga unas dimensiones de al menos de 640x100px para asegurar la nitidez de la imagen.</p>
          <p>Se podrá usar una imagen de cualquier otro tamaño y dimensiones; posteriormente EMMA facilitará elegir una sección de la imagen que cumpla las mismas proporciones.</p>
        </td>
      </tr>
      <tr>
        <td>
          <figure class="image"><img src="/03_adball.png"></figure>
        </td>
        <td>
          <p><strong>AdBall</strong></p>
          <p>Display circular cuyo contenido aparece cuando el usuario pincha sobre él.</p>
          <p>Se recomienda que la imagen circular tenga unas dimensiones de al menos de 100x100px para asegurar la nitidez de la imagen.</p>
          <p>Se podrá usar una imagen de cualquier otro tamaño y dimensiones; posteriormente EMMA facilitará elegir una sección de la imagen que cumpla las mismas proporciones.</p>
          <p>El contenido tiene unas dimensiones aproximadas de 640x760px, pero esto varía en función del dispositivo, la mejor opción es crear una página responsive que adapte el contenido a las dimensiones disponibles de la pantalla. Con esto se cubrirían todos los diferentes dispositivos del mercado resultando en una mejor experiencia para el usuario.</p>
        </td>
      </tr>
      <tr>
        <td>
          <figure class="image"><img src="/04_dynamic_tab.png"></figure>
        </td>
        <td>
          <p><strong>Dynamic Tab</strong></p>
          <p>Pestaña que se muestra en el menú inferior de la App. Exclusivo de iOS.</p>
          <p>El icono que se muestra en la pestaña es de 16x16px. Un tamaño superior podría descuadrar su posicionamiento. Se recomienda utilizar un PNG con fondo transparente.</p>
        </td>
      </tr>
      <tr>
        <td>
          <figure class="image"><img src="/05_startview.png"></figure>
        </td>
        <td>
          <p><strong>StartView</strong></p>
          <p>Interstitial que aparece cubriendo por completo la pantalla del dispositivo.</p>
          <p>El contenido tiene unas dimensiones mínimas de 500x750px y unas dimensiones recomendables de 640x960px, pero esto varía en función del dispositivo, la mejor opción es crear una página responsive que adapte el contenido a las dimensiones disponibles de la pantalla. Con esto se cubrirían todos los diferentes dispositivos del mercado resultando en una mejor experiencia para el usuario.</p>
        </td>
      </tr>
      <tr>
        <td>
          <figure class="image"><img src="/06_prisma.png"></figure>
        </td>
        <td>
          <p><strong>Prisma</strong></p>
          <p>Interstitial que se muestra en ¾ de la pantalla centrado. Se comporta como un slider y tiene une estilo en 3D.&nbsp;</p>
          <p>Se recomienda un tamaño aproximado de 250-300x550-600px (ancho x alto) para el contenido, pero dependerá un poco del tamaño de la pantalla del dispositivo en cuestión. Además recomendamos que el &nbsp;contenido de la creatividad esté centrado en la imagen y no vaya pegado a los bordes superiores y laterales.&nbsp;</p>
          <p>Si la imagen es superior o inferior a las dimensiones recomendadas se realizará un crop center de la imagen para ajustarla al espacio disponible en la pantalla.&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
