<!--
title: Etiquetas
description: Etiquetas
published: true
date: 2021-08-09T10:27:37.365Z
tags: 
editor: ckeditor
dateCreated: 2021-06-07T12:23:22.992Z
-->

<p>En EMMA las etiquetas (<i>tags)</i> se utilizan para <strong>identificar características únicas o estados del usuario</strong>. Con este tipo de etiquetado&nbsp;se le asigna a un valor único a cada usuario y que se sobreescribirá&nbsp;automáticamente si un nuevo valor se dispara.</p>
<p>Estos son algunos ejemplos habituales sobre la medición&nbsp;con Etiquetas:</p>
<ul>
  <li>País: España, Portugal, Reino Unido, US,...</li>
  <li>Edad: 18, 19, 20, 21…</li>
  <li>Número de teléfono: 650050550, 696362656, 652987541...</li>
  <li>Notificaciones: Activado, Desactivado</li>
  <li>Compartir en redes sociales: Sí, No.</li>
  <li>Cumpleaños: 1988-11-01,1992-02-26...</li>
</ul>
<p>Consulta nuestras guías de integración de <a href="https://developer.emma.io/es/ios/integracion-sdk#propiedades-del-usuario-tags">iOS</a> y <a href="https://developer.emma.io/es/android/integracion-sdk#perfil-del-usuario">Android</a> para ampliar información sobre cómo integrar las <strong>Etiquetas.</strong></p>
<h1>Gestión de etiquetas</h1>
<p>Dentro de la sección de EMMA&nbsp;<strong>Gestión</strong> vas a encontrar una pantalla llamada&nbsp;<strong>Etiquetas,</strong> desde donde podrás configurar las etiquetas que tu aplicación esté enviando a EMMA desde el SDK. Puedes ver cómo usarlos en las notificaciones <a href="/es/comunicacion/mensajes-out-app/push-notifications"><i>Push</i></a> y en las comunicaciones <a href="/es/reglas"><i>InApp</i></a><i>.</i></p>
<figure class="image"><img src="/etiquetas_i.png" alt=""></figure>
<p>Para poder visualizar el listado de etiquetas en esta pantalla se debe haber <a href="/es/otros#c%C3%B3mo-etiqueto-mi-app">etiquetado</a> previamente la aplicación, de no haberlo hecho, esta pantalla se mostrará vacía.</p>
<p>Aquí podrás ver todas las etiquetas que se están enviando a EMMA y podrás configurar el tipo de información que contendrá cada uno.</p>
<blockquote>
  <p>Es responsabilidad de cada aplicación incluir en las etiquetas la información que ha acordado previamente. Así, si en esta pantalla se le asigna a un campo de valor numérico el tipo texto, EMMA lo interpretará como texto.&nbsp;</p>
</blockquote>
<figure class="image"><img src="/etiquetas_ii.png" alt=""></figure>
<p>Haciendo <i>mouse over</i> sobre el menú contextual de cada etiqueta, podremos editarla para seleccionar el tipo de información que contiene cada etiqueta</p>
<ul>
  <li><strong>Texto</strong></li>
  <li><strong>Número</strong></li>
  <li><strong>Fecha</strong></li>
</ul>
<figure class="image"><img src="/etiquetas_iii.png" alt=""></figure>
<p>Una vez se selecciona el valor deseado, debemos hacer clic en el botón <strong>+ Guardar Etiqueta</strong> para que los cambios realizados se apliquen.</p>
<p>Recuerda que según el tipo de información con la que esté configurada la etiqueta (texto, número o fecha), afectará a cómo se podrán filtrar y segmentar dichas etiquetas en EMMA.</p>
<p>En la siguiente tabla puedes ver que tipo de operador acepta cada tipo de tag.</p>
<ul>
  <li>Etiquetas de texto<ul>
      <li>es igual a</li>
      <li>es distintos de</li>
      <li>contiene</li>
      <li>existe</li>
      <li>no existe</li>
    </ul>
  </li>
  <li>Etiquetas numéricas<ul>
      <li>es igual a</li>
      <li>es distinto de</li>
      <li>existe</li>
      <li>no existe</li>
      <li>más de</li>
      <li>menos de</li>
    </ul>
  </li>
  <li>Etiquetas de fecha<ul>
      <li>existe</li>
      <li>no existe</li>
      <li>fue el</li>
      <li>fue hace</li>
      <li>hace más de</li>
      <li>hace menos de</li>
      <li>el cumpleaños es</li>
    </ul>
  </li>
</ul>
<blockquote>
  <p>De momento, estas personalizaciones de tags sólo serán aplicables a las recetas de Reglas y no a la segmentación de Explorador y Mensajes.</p>
</blockquote>
