<!--
title: Glosario
description: 
published: true
date: 2021-09-29T12:03:07.245Z
tags: 
editor: ckeditor
dateCreated: 2021-09-29T07:26:18.617Z
-->

<h1>Integración Notificaciones Push</h1>
<blockquote>
  <p>Para diferenciar una notificación de nuestro sistema de push respecto a otros sistemas, el payload enviado por EMMA contiene un flag denominado “eMMa”.&nbsp;</p>
</blockquote>
<p>EMMA ofrece un completo sistema de envío y reporting de Notificaciones Push fácil de integrar usando Firebase Cloud Messaging (FCM) en Android.&nbsp;</p>
<blockquote>
  <p>Obtén en primer lugar tu propio Sender ID y Server Key para FCM como se específica en este artículo y establece estos parámetros para la app en su cuenta de EMMA.&nbsp;</p>
</blockquote>
<p>Para integrar FCM en tu app sigue los siguientes pasos:</p>
<ul>
  <li>Hay que añadir el siguiente <i><strong>service</strong></i> al <i><strong>AndroidManifest.xml:</strong></i><br>XML<br><code>&lt;service</code><br><code>&nbsp; android:name="io.emma.android.push.EMMAFcmMessagingService"</code><br><code>&nbsp; android:enabled="true"</code><br><code>&nbsp; android:exported="false"&gt;</code><br><code>&nbsp; &lt;intent-filter&gt;</code><br><code>&nbsp; &nbsp; &lt;action android:name="com.google.firebase.MESSAGING_EVENT"/&gt;</code><br><code>&nbsp; &lt;/intent-filter&gt;</code><br><code>&lt;/service&gt;</code></li>
  <li>Añadimos la siguiente dependencia al <i><strong>build.gradle</strong></i> situado en la raíz del proyecto:<br>build.gradle<br><code>buildscript {</code><br><code>&nbsp; // ...</code><br><code>&nbsp; dependencies {</code><br><code>&nbsp; &nbsp; // ...</code><br><code>&nbsp; &nbsp; classpath 'com.google.gms:google-services:4.2.0' // google-services plugin</code><br><code>&nbsp; }</code><br><code>}</code><br><code>allprojects {</code><br><code>&nbsp; // ...</code><br><code>&nbsp; repositories {</code><br><code>&nbsp; &nbsp; // ...</code><br><code>&nbsp; &nbsp; google() // Google's Maven repository</code><br><code>&nbsp; }</code><br><code>}</code></li>
</ul>
<p>En el <i><strong>build.gradle</strong></i> de la app añadimos la dependencia de Firebase:</p>
<p>build.gradle</p>
<p><code>apply plugin: 'com.android.application'</code></p>
<p><code>android {</code></p>
<p><code>&nbsp; // ...</code></p>
<p><code>}</code></p>
<p><code>dependencies {</code></p>
<p><code>&nbsp; //</code><br><code>&nbsp; // ...</code></p>
<p><code>&nbsp; implementation 'io.emma:eMMaSDK:4.5.+'</code></p>
<p><code>&nbsp; implementation 'com.google.firebase:firebase-messaging:17.4.0'</code></p>
<p><code>}</code></p>
<p><code>// ADD THIS AT THE BOTTOM</code></p>
<p><code>apply plugin: 'com.google.gms.google-services'</code></p>
<ul>
  <li>Añadir el <i><strong>google-services.json</strong></i> en del directorio de <i><strong>/app</strong></i> dentro del proyecto. Puedes obtener aquí más información para obtener el chero. Sin este chero las noti caciones push no van a funcionar, es obligatorio añadirlo.</li>
  <li>En el caso de usar una <i><strong>server key “Legacy”</strong></i> todavía es valida y soportada por Google, aunque lo recomendable es usar la <i><strong>FCM Server Key</strong></i>.</li>
</ul>
<p>Inicie el sistema de push debajo del inicio de sesión en el Application:</p>
<p><code>@Override</code></p>
<p><code><strong>public void</strong> onCreate() {</code></p>
<p><code><strong>&nbsp; &nbsp; super</strong>.onCreate();</code></p>
<p><code>&nbsp; &nbsp; EMMA.getInstance().startSession(<strong>this</strong>);</code></p>
<p><code>&nbsp; &nbsp; EMMA.getInstance().startPushSystem(<strong>MyActivity</strong>.<strong>class</strong>, R.drawable.icon, customDialog</code></p>
<p><code>}</code></p>
<p>MyActivity.class</p>
<p>: Actividad que desea que se abra cuando se recibe el Push</p>
<p><strong>R.drawable.icon</strong><br>&nbsp;</p>
<p>: &nbsp; &nbsp;(Opcional) El resource id de la imagen que desea mostrar con la noti cación Push. Si no se especi ca ningún icono, el Push utilizará el icon de la app.<br><strong>customDialog</strong><br>&nbsp;</p>
<p>: (Opcional) Establecerlo para asegurar que se desea utilizar su Custom Dialog.<br>&nbsp;</p>
<p>Añadir el método de Activity's onNewIntent() llamando a eMMa.onNewNoti cation(), que veri cará si el usuario ha recibido una noti cación cuando la app esta abierta.</p>
<p><code>@Override</code></p>
<p><code><strong>public void</strong> onNewIntent(<strong>Intent</strong> intent) {</code></p>
<p><code><strong>&nbsp; &nbsp; super</strong>.onNewIntent(intent);</code></p>
<p><code>&nbsp; &nbsp; EMMA.getInstance().onNewNotification(<strong>this</strong>, intent, <strong>true</strong>);</code></p>
<p><code>}</code></p>
<blockquote>
  <p>El boolean que tiene como parámetro el método onNewNotification comprueba que el push contiene Rich Push Url en el caso de estar a true.</p>
</blockquote>
<p>Para comprobar el richPushUrl cuando se abre la app desde la noti cación, añade en la activity de push lo siguiente:</p>
<p><code>public class YOUR_ACTIVITY extends Activity{</code></p>
<p><code>&nbsp; &nbsp;@Override</code><br><code>&nbsp; &nbsp; &nbsp; public void onCreate(Bundle savedInstanceState) {</code><br><code>&nbsp; &nbsp; &nbsp; super.onCreate(savedInstanceState);</code><br><code>&nbsp; &nbsp; &nbsp; EMMA.getInstance().checkForRichPushUrl();</code><br><code>&nbsp; &nbsp; }</code></p>
<blockquote>
  <p>El checkForRichPushUrl también se puede utilizar en cualquier parte de la app si se prefiere.</p>
</blockquote>
<p>Si tu aplicación se basa en un WebView, tienes que añadir el checkForRichPushUrl en el siguiente método:</p>
<p><code>webView.setWebViewClient(new WebViewClient(){</code></p>
<p><code>.......</code></p>
<p><code>@Override</code></p>
<p><code>public void onPageFinished(new WebViewClient() {</code></p>
<p><code>EMMA.getInstance().checkForRichPushUrl();</code></p>
<p><code>});</code></p>
<p>Opcionalmente, si deseas controlar qué recibe de un Push, su Activity debe implementar la interfaz EMMANoti cationInterface y el método onPushOpen que será llamado cuando el usuario abra la notificación.</p>
<p><code>@Override</code></p>
<p><code><strong>public void</strong> onCreate(<strong>Bundle</strong> savedInstanceState) {</code></p>
<p><code><strong>&nbsp; &nbsp;super</strong>.onCreate(savedInstanceState);</code></p>
<p><code>&nbsp; &nbsp;EMMA.getInstance().getNotificationInfo();</code></p>
<p><code>}</code></p>
<p><code>@Override</code></p>
<p><code><strong>public void</strong> onPushOpen(<strong>EMMAPushCampaign</strong> pushCampaign) {</code></p>
<p><code><i><strong>//Do whatever you want with push campaign</strong></i></code></p>
<p><code>}</code></p>
<p>Para inhabilitar las noti caciones de un dispositivo, use EMMA.getInstance().unregisterPushService() y asegúrate de no llamar de nuevo a EMMA.getInstance().startPushSystem(...).</p>
<p>Puedes utilizar métodos abreviados si no necesitas todos los parámetros. Puede encontrarlos aquí.</p>
<h2>Push image</h2>
<p>Puedes seleccionar el color que quieras en las notificaciones push incluyendo la siguiente línea de código:</p>
<p><code>EMMA.getInstance().startPushSystem(<strong>PushActivity</strong>.<strong>class</strong>, R.drawable.notification_icon,&nbsp;<strong>ContextCompat</strong>.getColor(<strong>this</strong>, R.color.colorPrimary), <strong>true</strong>);</code></p>
<h2>Sonidos personalizados en las notificaciones push</h2>
<p>Se necesita la versión del SDK 2.5.5 o una superior.</p>
<p>Para usar sonidos personalizados en las notificaciones que envíes con EMMA, tienes que añadir los archivos de sonido que quieras a la carpeta raw de los recursos de tu app (carpeta res). Recuerda que debes emplear para los sonidos los mismos nombres de archivo en iOS y Android.</p>
<h2>Rich push URL uso DeepLinking</h2>
<p>Puedes redireccionar las aperturas de las notificaciones push a una sección en tu app. Para ello debes usar una estructura como esta:</p>
<p><strong>scheme://host/page1/page2/page3...</strong></p>
<p>La versión 4.2 trae cambios referentes a la gestión del deep link. Para integrarlo sigue los siguientes pasos:</p>
<ul>
  <li>Añade la siguiente actividad en el AndroidManifest.xml :<br><code><strong>&lt;activity&nbsp;</strong></code><br><code>android:name="io.emma.android.activities.EMMADeepLinkActivity" android:theme="@android:style/Theme.NoDisplay"<strong>&gt;</strong></code><br><br><code><strong>&lt;intent-filter&gt;</strong></code><br><code><strong>&nbsp; &lt;action</strong> android:name="android.intent.action.VIEW"<strong>/&gt;</strong></code><br><code><strong>&nbsp; &lt;category</strong> android:name="android.intent.category.DEFAULT"<strong>/&gt;&nbsp;</strong></code><br><code><strong>&nbsp; &lt;category</strong> android:name="android.intent.category.BROWSABLE"<strong>/&gt;</strong></code><br><code><strong>&nbsp; &lt;data</strong> android:scheme="YOUR_SCHEME"</code><br><code>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;android:host="YOUR_HOST"<strong>/&gt;</strong></code><br><code><strong>&lt;/intent-filter&gt;</strong></code></li>
</ul>
<p><code><strong>&lt;/activity&gt;</strong></code></p>
<ul>
  <li>Añade la actividad a ser lanzada, en forma de meta-data dentro del tag &lt;application&gt;&lt;/application&gt; en AndroidManifest.xml. Esta actividad será lanzada cuando el SDK ejecute un deeplink:<br><code><strong>&lt;meta-data </strong>android:name="io.emma.DEEPLINK_OPEN_ACTIVITY" &nbsp; android:value="com.your.package.CustomDeeplinkActivity"<strong>/&gt;</strong></code><br><br>Recuerda que en caso de ser una actividad que se pueda encontrar abierta en la app cuando un deep link se ejecute, se tiene que declarar en el AndroidManifest.xml como singleTask:<br><code><strong>&lt;activity</strong></code><br><code>&nbsp; &nbsp;android:name=".activities.MainActivity"</code><br><code>&nbsp; &nbsp;android:launchMode="singleTask"<strong>/&gt;</strong></code><br><br>En este caso, si la actividad esta en la pila cuando se ejecuta el deep link, el intent con la información de este vllegará al método de la actividad onNewIntent. En caso de no tener el "launchMode" como singleTask ocasiona que la actividad se instancie nuevamente, lo que produce duplicaciones.</li>
  <li>Para que el deeplink que se introduce en el campo Rich Push URL (en la web de EMMA) se ejecute correctamente, es importante añadir el siguiente método en la actividad que es abierta por el push o alguna otra que sea consecuente de esta, pero que se ejecute al abrir la app desde la notificación:<br><code>@Override</code><br><code><strong>protected void</strong> onCreate(<strong>Bundle</strong> savedInstanceState) {<strong>&nbsp;</strong></code><br><code><strong>&nbsp; super</strong>.onCreate(savedInstanceState);&nbsp;</code><br><code>&nbsp; setContentView(R.layout.activity_main);&nbsp;</code><br><code>&nbsp; EMMA.getInstance().checkForRichPush();</code><br><code>}</code><br><code>@Override</code><br><code><strong>protected void</strong> onNewIntent(<strong>Intent</strong> intent) {<strong>&nbsp;</strong></code><br><code><strong>&nbsp; super</strong>.onNewIntent(intent);&nbsp;</code><br><code>&nbsp; EMMA.getInstance().onNewNotification(intent, <strong>true</strong>);</code><br><code>}</code><br>El método checkForRichPush y onNewNotification comprueban el campo Rich Push enviado en el payload de la notificación y realizan las acciones pertinentes. En el caso de ser un deeplink lo ejecutarán abriendo la actividad definida en el metadato del AndroidManifest.xml.</li>
  <li>Definir el comportamiento de la actividad que ha de abrir el deeplink. En este caso CustomDeepLinkActivity:<br><code>@Override</code><br><code><strong>protected void</strong> onCreate(<strong>Bundle</strong> savedInstanceState) {<strong>&nbsp;</strong></code><br><code><strong>&nbsp; &nbsp;super</strong>.onCreate(savedInstanceState);&nbsp;</code><br><code>&nbsp; &nbsp;setContentView(R.layout.view);</code><br><code><strong>&nbsp; &nbsp;if</strong> (getIntent() != <strong>null</strong> &amp;&amp; getIntent().getData() != <strong>null</strong>){</code><br><code>&nbsp; &nbsp; &nbsp; processDeepLink(getIntent().getData());</code><br><code>&nbsp; &nbsp;}</code><br><code>&nbsp; &nbsp;finish();</code><br><code>}</code><br><code><strong>private void</strong> processDeepLink(<strong>Uri</strong> uri){</code><br><code>&nbsp; &nbsp;<strong>if</strong> (uri != <strong>null</strong> &amp;&amp; uri.<strong>getHost().equals("home")</strong>){</code><br><code>&nbsp; &nbsp; &nbsp; goHome();</code><br><code>&nbsp; &nbsp;}</code><br><code>}</code><br><code>@Override</code><br><code><strong>public void</strong> onNewIntent(<strong>Intent</strong> intent){</code><br><code>&nbsp; &nbsp;processDeepLink(intent.getData());</code><br><code>}</code></li>
  <li>Por último, declara en EMMA el scheme o schemes de nidos:<br><code>EMMA.getInstance().setDeepLinkSchemes(YOUR_SCHEME);</code></li>
</ul>
<h2>Integración push con Huawei</h2>
<p>El 19 de mayo, Google decidió finalizar con Huawei aquellos negocios que requieran transferencia de hardware y software, menos aquellos cubiertos por licencias open source. Esto se traduce en que los dispositivos fabricados a partir de esta fecha no contarán con los servicios de Google como es la Play Store, aunque sí con el equivalente, la App Gallery de Huawei.</p>
<p>Desde EMMA, hemos modificado nuestro SDK para adaptarlo a la tienda de aplicaciones de Huawei. Con el objetivo de medir la atribución así como permitir el envío de notificaciones Push mediante su servicio.</p>
<blockquote>
  <p>La versión&nbsp;mínima&nbsp;del&nbsp;SDK&nbsp;disponible&nbsp;para&nbsp;hacer&nbsp;la&nbsp;integración&nbsp;de&nbsp;Huawei,&nbsp;es&nbsp;la&nbsp;versión4.7.0.&nbsp;Si&nbsp;tienes una&nbsp;versión del&nbsp;SDK&nbsp;anterior,&nbsp;deberás&nbsp;actualizarla&nbsp;para&nbsp;que&nbsp;todo&nbsp;funcione&nbsp;debidamente.</p>
</blockquote>
<p>Para realizar integración hay que seguir los siguientes pasos:</p>
<ul>
  <li>Añadir las dependencias</li>
  <li>Añadir el servicio al AndroidManifest</li>
  <li>Obtener credenciales</li>
</ul>
<h3>Añadir las dependencias</h3>
<ul>
  <li>Lo primero que debemos hacer es añadir las dependencias al build.gradle del proyecto.<br>build.gradle<br><code>buildscript {</code><br><code>&nbsp; &nbsp; repositories { google()&nbsp;</code><br><code>&nbsp; &nbsp; &nbsp; &nbsp; jcenter()</code><br><code>&nbsp; &nbsp; &nbsp; &nbsp; maven { url 'http://developer.huawei.com/repo/' }</code><br><code>&nbsp; &nbsp; }</code><br><code>&nbsp; &nbsp; dependencies {</code><br><code>&nbsp; &nbsp; &nbsp; &nbsp; classpath 'com.android.tools.build:gradle:3.6.2' classpath&nbsp;</code><br><code>&nbsp; &nbsp; &nbsp; &nbsp; 'com.huawei.agconnect:agcp:1.3.1.300'</code><br><code>&nbsp; &nbsp; }</code><br><code>}</code><br><code>allprojects {</code><br><code>&nbsp; &nbsp; repositories { google()</code><br><code>&nbsp; &nbsp; jcenter{}</code><br><code>&nbsp; &nbsp; maver {url ‘https://developer.huawei.com/repo/’}</code><br><code>&nbsp; &nbsp; }</code><br><code>}</code></li>
  <li>A continuación añadimos las dependencias de HMS a la aplicación. La dependencia <i>ads-identifier&nbsp;</i>permite obtener el identificador de publicidad usado en Huawei. Le dependencia <i>push&nbsp;</i>permite el uso del servicio HMS para notificaciones push.<br>build.gradle<br><code>dependencies {</code><br><code>&nbsp; &nbsp;// other dependencies</code><br><code>&nbsp; &nbsp;implementation&nbsp;'com.huawei.hms:ads-identifier:3.4.28.305'&nbsp;</code><br><code>&nbsp; &nbsp;implementation&nbsp;'com.huawei.hms:push:4.0.4.301'</code><br><code>}</code><br><code>apply&nbsp;plugin:&nbsp;'com.huawei.agconnect'</code></li>
</ul>
<blockquote>
  <p>La&nbsp;integración&nbsp;del&nbsp;servicio&nbsp;HMS&nbsp;es&nbsp;compatible&nbsp;con&nbsp;la&nbsp;integración&nbsp;de&nbsp;FCM&nbsp;en&nbsp;el&nbsp;SDK&nbsp;de&nbsp;EMMA.La versión&nbsp;mínima&nbsp;de&nbsp;Android&nbsp;soportada&nbsp;para&nbsp;la&nbsp;integración&nbsp;de&nbsp;HMS&nbsp;es&nbsp;Android&nbsp;19.</p>
</blockquote>
<h3>Añadir el servicio al AndroidManifest</h3>
<p>Hay que añadir el siguiente <i>servicio </i>al&nbsp;<i>AndroidManifest.xml:</i></p>
<p><i>XML</i></p>
<p><code>&lt;service</code><br><code>&nbsp; &nbsp;android:name="io.emma.android.push.EMMAHmsMessagingService"&nbsp;</code><br><code>&nbsp; &nbsp;android:exported="false"&gt;</code><br><code>&nbsp; &nbsp;&lt;intent-filter&gt;</code><br><code>&nbsp; &nbsp; &nbsp; &lt;action&nbsp;android:name="com.huawei.push.action.MESSAGING_EVENT" /&gt;</code><br><code>&nbsp; &nbsp;&lt;/intent-filter&gt;</code><br><code>&lt;/service&gt;</code></p>
<h3>Obtener credenciales</h3>
<p>Para obtener las credenciales primero hay que crear una cuenta en&nbsp;<a href="https://developer.huawei.com/consumer/en/console">developer.huawei.com&nbsp;</a>y convertirse en desarrollador.</p>
<p>Una vez creada una cuenta hay que añadir una aplicación en <i>Huawei AppGallery Connect</i>. La app se crea en modo draft, para hacer la integración de push es su cliente.</p>
<p>Una&nbsp;vez&nbsp;creada&nbsp;la&nbsp;app&nbsp;ya&nbsp;podemos&nbsp;activar el&nbsp;Push&nbsp;Kit&nbsp;en&nbsp;la&nbsp;sección&nbsp;develop. Dentro&nbsp;de&nbsp;<i>Project&nbsp;Settings&nbsp;</i>aparecerá&nbsp;la&nbsp;información&nbsp;referente a&nbsp;la&nbsp;app.</p>
<p>Es necesario añadir el fingerprint del certificado que se usa para la firma de la app.</p>
<p>Descargamos&nbsp;el&nbsp;<i>agconnect-services.json&nbsp;</i>y lo&nbsp;añadimos&nbsp;en&nbsp;/app.&nbsp;De&nbsp;esta&nbsp;forma el&nbsp;servicio&nbsp;de&nbsp;HMS podrá autenticar la&nbsp;app.</p>
<p>Añadimos el appId y appSecret en la sección de preferencias de la app en el dashboard de EMMA.</p>
<p>Por último, compilamos la app y ya podemos enviar notificaciones push a dispositivos Huawei</p>
