<!--
title: Grupo de control
description: Grupo de control
published: true
date: 2021-07-02T10:12:57.860Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:49:38.403Z
-->

<p>Grupo de Control es una funcionalidad que permite ver las diferencias de comportamiento entre los usuarios que visualizan/reciben una comunicación y los usuarios que no la visualizan/reciben. De este modo, se podrá analizar posteriormente el comportamiento dentro de la app vinculado a la comunicación de los usuarios que sí han visto/recibido la comunicación frente a los que no. Esto nos permitirá saber si esa comunicación está consiguiendo los resultados deseados o no y poder hacer los cambios pertinentes para conseguir los resultados establecidos.</p>
<p>¿Cómo configuramos el grupo de control? Muy sencillo, en todos los formatos de comunicación de EMMA, en el paso <strong>4.Objetivo, </strong>podemos activar o no esta funcionalidad. Si no queremos establecer un Grupo de Control, tan sólo dejaremos está opción deshabilitada tal y como está por defecto. Si por el contrario queremos establecer un Grupo de Control, deberemos habilitar esta opción.&nbsp;</p>
<figure class="image"><img src="/grupo_control_i.png"></figure>
<p>Si hemos habilitado el Grupo de Control ya tan solo tenemos que seleccionar el % de usuario que van a ver/recibir la comunicación y el % que no va a ver/recibir la comunicación. El porcentaje que se establezca en la barra de Grupo de Control será el porcentaje de usuarios que <strong>NO van a recibir la comunicación</strong>.</p>
<figure class="image"><img src="https://docs.emma.io/push_12.png"></figure>
<p>Una vez que el Grupo de Control está activado ya se podrá seleccionar el porcentaje de usuarios que queremos que <strong>no</strong> visualicen la comunicación de manera totalmente aleatoria. En la parte inferior podremos ver un mensaje de aviso que nos avisa del % de Grupo de Control definido.</p>
<p>Para poder ver los resultados de una comunicación con grupo de control establecido debes ir a&nbsp;<i><strong>Comportamiento &gt; Embudos.&nbsp;</strong></i>Más información <a href="https://docs.emma.io/es/analisis-de-comportamiento/embudos">aquí</a>.</p>
