<!--
title: Primeros pasos
description: Aprende a configurar tu cuenta y empieza a trabajar con EMMA
published: true
date: 2021-08-09T08:25:38.420Z
tags: 
editor: ckeditor
dateCreated: 2020-11-26T19:00:21.823Z
-->

<h1>Introducción</h1>
<p>EMMA es una plataforma de app marketing para la adquisición y retención de clientes que proporciona la funcionalidad para integrar análisis y marketing de aplicaciones. La plataforma ayuda a los clientes a incrementar la participación de los usuarios de tres formas:</p>
<ul>
  <li>Analiza el origen de las descargas de tu app mediante la atribución de instalaciones a fuentes de medios.</li>
  <li>Realiza un seguimiento de las acciones que realizan los usuarios y analiza cómo las personas utilizan el producto.</li>
  <li>Segmenta a los usuarios según sus acciones y ejecuta campañas dirigidas a estos segmentos.</li>
</ul>
<h1>Características de la plataforma</h1>
<p>La plataforma EMMA tiene 5 partes:</p>
<p>La interfaz de EMMA proporciona la funcionalidad para atribuir el origen de las descargas de tu app para optimizar tus campañas de adquisición, segmentar a los usuarios según sus acciones y propiedades de perfil y ejecutar campañas de comunicación dirigidas a estos segmentos analizando el rendimiento de cada campaña.</p>
<p>El SDK realiza un seguimiento de las acciones de los usuarios dentro de las aplicaciones móviles. También brinda la capacidad de personalizar aplicaciones móviles y su contenido al proporcionar a los clientes acceso a los datos del perfil del usuario.</p>
<p>La API envía datos de eventos o perfiles de usuario desde cualquier fuente a EMMA. Nuestra API también exporta datos de usuario de EMMA para su análisis en herramientas de BI y enriquece la información del cliente en sistemas CRM.</p>
<p>Integraciones con plataformas de publicidad como Google y Facebook, plataformas de analítica como Salesforce y Adobe y plataformas de remarketing como Smadex y Appreciate.</p>
<p>Los postbacks desencadenan flujos de trabajo en los sistemas backend tan pronto como ocurren los eventos de calificación.</p>
<h1>Conceptos principales</h1>
<p>Los usuarios, eventos, segmentos, campañas e informes son fundamentales para EMMA, por lo que es importante comprender cada función.</p>
<p><strong>Usuarios</strong>: después de integrar EMMA SDK, se crea un perfil de usuario para cada persona que inicia la aplicación. El perfil de usuario de EMMA tiene un conjunto de campos predeterminados, como dispositivo(s) y ubicación. También puede ampliar el modelo de datos de perfil de usuario predeterminado agregando atributos personalizados específicos para su negocio.</p>
<p><strong>Eventos</strong>: el SDK de EMMA realiza un seguimiento de las acciones que realizan los usuarios en su aplicación o sitio web, como un usuario que ve un producto, escucha una canción o realiza una compra. Los eventos están asociados con un perfil de usuario.</p>
<p><strong>Segmentos</strong>: EMMA ofrece a los usuarios la capacidad de crear segmentos. Un segmento es un grupo de usuarios cuyas acciones o propiedades de perfil de usuario coinciden con un conjunto de criterios que ha definido. Una vez que un usuario ha creado un segmento, puede orientarlos con una campaña o crear un informe para analizarlos.</p>
<p><strong>Campañas de adquisición:</strong> las campañas de adquisición de EMMA analizan el origen de cada descarga de la app por cada usuario para poder optimizar la adquisición de nuevos usuarios.</p>
<p><strong>Campañas de comunicación</strong>: las campañas de comunicación de EMMA permiten a los clientes realizar una comunicación a gran escala, pudiendo personalizar y automatizar cada mensaje. EMMA ofrece 10 formatos de mensajería diferentes para llegar a sus usuarios en el canal óptimo.</p>
<p><strong>Informes</strong>: EMMA brinda la capacidad de crear informes para comprender el efecto de las campañas en sus usuarios. Puede utilizar estos informes para analizar la participación de los usuarios y orientar las decisiones sobre productos.</p>
<h1>Usuarios previos al SDK de EMMA: Nuevos usuarios</h1>
<p>En el caso&nbsp;que ya tengas lista la App para iniciar y decidas empezar a medir tus estadísticas con EMMA, ¿qué pasa con los usuarios que previamente ya utilizan la App?&nbsp;¿Cuándo iniciará EMMA el seguimiento de estos? ¿Cómo podrás identificar a esos usuarios en tus estadísticas de la App?</p>
<figure class="image"><img src="/usuarios_previos_sdk_emma.png"></figure>
<p>Al instalar un nuevo SDK&nbsp;<strong>todos los&nbsp;usuarios de la versión anterior aparecerán como nuevos usuarios una vez&nbsp;actualicen la aplicación.</strong> Este es un proceso común e inevitable que permite detectar y guardar todos los usuarios medidos, los que realmente serán los nuevos usuarios y los que no.</p>
<p>En base a eso, debes tener en cuenta que los primeros días de análisis en EMMA el porcentaje de nuevos usuarios será mayor que en períodos futuros.</p>
<p>Como se puede ver en el ejemplo visual de una aplicación (representado en la imagen previa) si tenemos un número de usuarios existentes antes de realizar la integración del SDK EMMA, estos se contarán como nuevos usuarios cuando abran la aplicación una vez actualizada a la nueva versión. Así, el tráfico existente, generado a través de los markets, se sumarán como nuevos usuarios.</p>
<p>Por desgracia, la separación real entre los nuevos usuarios y los ya existentes&nbsp;no es posible con las tecnologías actuales así, a fin de evitar datos devaluados, se recomienda esperar al menos 15 días a partir de la actualización de&nbsp;la versión de la&nbsp;aplicación para empezar a considerar el&nbsp;nuevo tráfico.</p>
<h1>Empezando</h1>
<p>Lo primero que necesitas para poder empezar a usar EMMA es crear una cuenta. A continuación te explicamos detalladamente cómo hacerlo.</p>
<ul>
  <li>Ve a <a href="https://ng.emma.io"><strong>EMMA</strong></a> y haz clic en el botón <strong>Crea tu cuenta</strong>.<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/registro_1.png" alt="registro_1.png"></figure>
<ul>
  <li>Establece el correo electrónico con el que quieres usar EMMA y una clave de acceso. A continuación haz clic en el botón <strong>Crear cuenta</strong>.<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/registro_2.png" alt="registro_2.png"></figure>
<ul>
  <li>Establece la información que se pide para poder configurar tu cuenta. Una vez configurado haz clic en el botón <strong>Continuar</strong>.<ul>
      <li><strong>Nombre:</strong> Introduce tu nombre. Será usado como tu nombre de Usuario.</li>
      <li><strong>Apellidos:</strong> Introduce tus apellidos. Serán usandos para configurar tu perfil.</li>
      <li><strong>Empresa:</strong> Introduce el nombre de tu empresa. Esta información será usada para la facturación.</li>
      <li><strong>Dirección:</strong> Establece la dirección fiscal de la empresa. Esta información será usada para la facturación.</li>
      <li><strong>Código postal:</strong> Establece el código postal de la empresa. Esta información será usada para la facturación.</li>
      <li><strong>Ciudad:</strong> Introduce la ciudad en la que tiene sede la empresa. Esta información será usada para la facturación.</li>
      <li><strong>País:</strong> Establece el país en el que tiene sede la empresa. Esta información será usada para la facturación.<br>&nbsp;</li>
    </ul>
  </li>
</ul>
<figure class="image"><img src="/registro_3.png" alt="registro_3.png"></figure>
<ul>
  <li>Introduce la información de una tarjeta de crédito. La facturación de EMMA se realizará contra la tarjeta configurada en esta apartado. También deberás aceptar los Términos de uso y la Política de privacidad de EMMA para poder contunuar con el proceso de creación de tu cuenta.<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/registro_4.png" alt="registro_4.png"></figure>
<ul>
  <li>Si todos los datos han sido introducidos de manera correcta, podrás ver un mensaje de validación en tu pantalla. A continuación te enviaremos un email para validar tu cuenta.<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/registro_9.png" alt="registro_9.png"></figure>
<ul>
  <li>Valida tu cuenta de EMMA con el enlace que se envía en el email. Este punto es muy importante para evitar problemas de acceso a EMMA.<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/registro_6-blur.png" alt="registro_6-blur.png"></figure>
<ul>
  <li><br>Una vez hayas validado tu cuenta, recibirás otro email de Bienvenida. Sigue las instrucciones del email y ¡listo!. Enhorabuena, has creado tu cuenta de EMMA y puedes empezar a hacer uso de ella en cuanto quieras.<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/registro_7.png" alt="registro_7.png"></figure>
<p>&nbsp;</p>
