<!--
title: Landings
description: Landings
published: true
date: 2021-08-09T12:12:38.845Z
tags: 
editor: ckeditor
dateCreated: 2021-06-07T12:24:13.188Z
-->

<h1>Introducción</h1>
<p>EMMA permite el uso de landings para aquellos casos que así lo requieren como en una campaña de Google que no sea con objetivo a instalación (más info <a href="https://docs.emma.io/es/google#gesti%C3%B3n-de-landings-para-campa%C3%B1as-con-powlinks">aquí</a>) o en aquellos casos en los que queremos que el powlink tenga un redireccionamiento concreto cuando el usuario tiene un configurado un navegador que no es el navegador por defecto del sistema operativo (más info <a href="https://docs.emma.io/es/adquisicion/apptracker#redireccionamiento-para-navegadores-no-nativos">aquí</a>).</p>
<p>Además de ofrecer dos landings por defecto, una para cada casuística, también se permite la creación de landings personalizadas para cada uno de los dos casos de uso.&nbsp;</p>
<h1>Crear landings</h1>
<p>Como explicábamos anteriormente, EMMA permite el uso de landing para determinadas casuísticas. En ambos casos, tenemos dos opciones a la hora de usar una landing:</p>
<ol>
  <li>Usar la landing por defecto que ofrece EMMA.</li>
  <li>Crear nuevas landings personalizadas con el contenido deseado.</li>
</ol>
<h2>Landing por defecto EMMA</h2>
<p>Si empleamos la landing por defecto que ofrece EMMA, se mostrará al usuario final una landing muy sencilla, con el logo de la store correspondiente (App Store en el caso de que un usuario iOS haga clic en el anuncio, PlayStore en el caso de que un usuario Android haga clic en el anuncio), el nombre de la app y un enlace que redireccionará al usuario a las URLs establecidas en el powlink con el que se haya vinculado la landing</p>
<h2>Landings personalizadas</h2>
<p>Si prefieres crear tu propia landing personalizada, tan solo tienes que ir a la sección&nbsp;<i><strong>Gestión &gt; Landings.&nbsp;</strong></i>Desde aquí,&nbsp;podrás dar de alta tantas landings como necesites.&nbsp;</p>
<figure class="image"><img src="/_landing_1.png"></figure>
<p>Crear una landing nueva es muy sencillo, tan solo deberemos hacer clic en el botón&nbsp;<i><strong>Nueva landing&nbsp;</strong></i>y cubrir el sencillo formulario de creación compuesto por:</p>
<ul>
  <li><strong>Nombre</strong>: en este campo se establece un nombre identificativo para la landing. Es un nombre para uso interno, el usuario final nunca visualizará este nombre.</li>
  <li><strong>Tipo: </strong>Selecciona el tipo de landing que quieres crear. Selecciona <strong>Web</strong> si es una landing para anuncios de Google Ads (más info <a href="https://docs.emma.io/es/google#gesti%C3%B3n-de-landings-para-campa%C3%B1as-con-powlinks">aquí</a>) o <strong>Redirección (Deeplink)</strong> si es una landing para redirección en navegadores no nativos (más info <a href="https://docs.emma.io/es/adquisicion/apptracker#redireccionamiento-para-navegadores-no-nativos">aquí</a>).</li>
  <li><strong>Landing por defecto:</strong> si queremos que esta sea la landing que se vincule por defecto a los powlinks, deberemos habilitar este check.</li>
</ul>
<blockquote>
  <p>Ten en cuenta que sólo puede haber una landing de Redirección (Deeplink) por defecto. La landing de deeplink que esté configurada como landing por defecto, será la que aplique para todos los casos en los que se use. En un inicio, la landing de EMMA estará marcada como la landing por defecto, pero puedes establecer que tu landing personalizada sea la landing por defecto.&nbsp;</p>
</blockquote>
<ul>
  <li><strong>Contenido HTML de la landing:</strong> aquí es donde se establece el HTML deseado. Puedes copiar el HTML de una landing que ya tengas creada y pegarlo aquí. En caso de que en campo <strong>Tipo</strong> hayas seleccionar la opción <strong>Redirección (Deeplink)</strong> deberás descargar nuestra landing de deeplink por defecto desde <a href="https://emma.io/assets/landing/default_landing_deeplink.html">aquí</a> para poder adaptar el html a vuestras necesidades especificas.</li>
</ul>
<figure class="image"><img src="/landing_2.png"></figure>
<p>Posteriormente podrás editar las landings creadas o desactivarlas para no usarlas más (se pueden volver a activar si vuelve a ser necesario su uso).&nbsp;</p>
<figure class="image"><img src="/landing_7.png"></figure>
<h1>Vincular un Powlink a una Landing</h1>
<p>Una vez que ya tenemos la(s) landing(s) creada(s) solo queda vincularla(s) con uno o varios powlinks. Para ello tenemos que ir a&nbsp;<strong>Captación &gt; Apptracker&nbsp;</strong>y crear una nueva fuente en una campaña ya existente o crear una nueva campaña con su correspondiente fuente.&nbsp;</p>
<h2>Vincular un powlink a una landing Web</h2>
<p>Para vincular un powlink a una landing Web, es importante que en el momento de crear la nueva fuente, en el campo&nbsp;<i><strong>Proveedor</strong></i> seleccionemos&nbsp;<i><strong>Google Ads</strong></i> para que se muestre el correspondiente selector que nos permitirá elegir la landing intermedia que se quiere vincular con ese powlink.&nbsp;</p>
<figure class="image"><img src="/landing_5.png"></figure>
<p>Una vez creada la fuente para el Proveedor de Google Ads, tan solo queda configurar la campaña en Google Ads y establecer el powlink en el campo de URL final.</p>
<h2>Vincular un powlink a una landing de Redirección (Deeplink)</h2>
<p>La landing de Redirección (Deeplink) se habilita a nivel de fuente (powlink). Es decir, unas fuentes (powlinks) pueden tener habilitado el uso de la landing de deeplink y otros no en función de nuestras necesidades.&nbsp;</p>
<p>Para habilitar el uso de la landing con deeplink, en el momento de creación o edición de la fuente (powlink) debemos ir a la parte final de configuración al apartado de <i><strong>Deeplink</strong></i> y habilitar el check de <i>¿Utilizar Landing Deeplink?.&nbsp;</i></p>
<figure class="image"><img src="https://docs.emma.io/configurar_lading_deeplink.png"></figure>
<p>Habilitando ese check, nuestro powlink ya usará la landing de deeplink por defecto de EMMA. Si quieres usar tu propia landing de deeplink, puedes ver como hacerlo en el apartado <i>Crear nuevas landings personalizadas</i>.&nbsp;</p>
<p>&nbsp;</p>
