<!--
title: Otros
description: 
published: true
date: 2021-07-07T10:22:56.754Z
tags: 
editor: ckeditor
dateCreated: 2021-07-07T10:22:55.107Z
-->

<h1>Configuración de la política en App Store</h1>
<p>Lorem ipsum</p>
<h1>¿Cómo etiqueto mi app?</h1>
<p>Antes de empezar con la integración del EMMA SDK es importante definir qué se va a medir y como se etiquetará la app &nbsp;ya que de ello dependerá el reporting y las opciones de segmentación que te dará nuestra tecnología.&nbsp;</p>
<p>Con el fin de &nbsp;cubrir todas las métricas posibles, <strong>EMMA ofrece tres&nbsp;niveles de etiquetado </strong>que son tratados como&nbsp;opciones&nbsp;complementarias.</p>
<ul>
  <li><a href="https://docs.emma.io/es/etiquetas">Etiquetas</a></li>
  <li><a href="https://docs.emma.io/es/primeros-pasos/eventos#eventos-por-defecto">Eventos por defecto</a></li>
  <li><a href="https://docs.emma.io/es/primeros-pasos/eventos#eventos-personalizados">Eventos personalizados</a></li>
</ul>
