<!--
title: Otros
description: 
published: true
date: 2022-03-21T08:38:37.773Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:38:00.835Z
-->

<h1>Configuración de la política de privacidad en App Store</h1>
<p>Con la actualización del sistema operativo de Apple a iOS 14, las aplicaciones deben informar a los usuarios de los datos que son recogidos por la aplicación, incluyendo la que se recoge a través de terceros, como puede ser el SDK de EMMA.</p>
<figure class="media">
  <oembed url="https://youtu.be/itz5y9Ykh7s"></oembed>
</figure>
<p>Esto se requerirá para todas las nuevas aplicaciones y para las versiones actualizadas que se suban a la App Store a partir del 8 de Diciembre.&nbsp;</p>
<p>Para ayudarte a cumplir con los requisitos de la Política de Privacidad en la App Store, en la siguiente lista puedes ver los datos que se recogen en EMMA por defecto y que por tanto se han de indicar en App Store Connect:</p>
<ul>
  <li>Precise Location</li>
  <li>Coarse Location</li>
  <li>User ID</li>
  <li>Device ID</li>
  <li>Product Interaction</li>
  <li>Advertising Data</li>
  <li>Other Usage Data</li>
</ul>
<p>Por otro lado, cualquier evento o etiqueta adicional que tu app esté midiendo con EMMA y se requiera informar al usuario de ello, debe ser incluido también.&nbsp;</p>
<p>En la siguiente imagen se puede ver con mayor detalle el tipo de datos tal y como aparecerá en App Store Connect una vez seleccionados:</p>
<figure class="image"><img src="/captura_de_pantalla_2021-07-15_a_las_12.07.16.png"></figure>
<h1>¿Cómo etiqueto mi app?&nbsp;</h1>
<p>Antes de empezar con la integración del EMMA SDK es importante definir qué se va a medir y como se etiquetará la app ya que de ello dependerá el reporting y las opciones de segmentación que te dará nuestra tecnología.&nbsp;</p>
<p>Con el fin de cubrir todas las métricas posibles, <strong>EMMA ofrece tres&nbsp;niveles de etiquetado </strong>que son tratados como&nbsp;opciones&nbsp;complementarias.</p>
<ul>
  <li><a href="/es/etiquetas">Etiquetas</a></li>
  <li><a href="/es/primeros-pasos/eventos#eventos-por-defecto">Eventos por defecto</a></li>
  <li><a href="/es/primeros-pasos/eventos#eventos-personalizados">Eventos personalizados</a></li>
</ul>
<h1>Obtener el ID de tu dispositivo (AAID/IDFA)</h1>
<p>Puedes utilizar tu ID de seguimiento publicitario de tu dispositivo para “<a href="/es/configuracion#dispositivos-de-test">eliminarlo</a>” de nuestra&nbsp;base de datos&nbsp;y testar tu aplicación como si fueras un nuevo usuario (nueva instalación):</p>
<h2>Android</h2>
<p>Para saber cual es el ID de tu dispositivo Android, sigue estos pasos:&nbsp;</p>
<p>Ve a <i>Ajustes</i> del dispositivo y busca la opción <i><strong>Google (Ajustes de Google)</strong>.</i></p>
<figure class="image image_resized" style="width:33.48%;"><img src="/id_android_i.jpg"></figure>
<ul>
  <li>Una vez en los ajustes de Google, haz clic en la opción <strong>Anuncios.</strong></li>
</ul>
<figure class="image image_resized" style="width:33.52%;"><img src="/id_android_ii.jpg"></figure>
<ul>
  <li>Al final de la pantalla de Anuncios, podrás ver el ID de publicidad de tu dispositivo.</li>
</ul>
<figure class="image image_resized" style="width:33.6%;"><img src="/id_android_iii.jpg"></figure>
