<!--
title: Prevalidación de campañas
description: Prevalidación de campañas
published: true
date: 2022-02-03T11:39:19.367Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:45:34.127Z
-->

<p>EMMA te da la posibilidad de habilitar tres tipos de roles distintos para la gestión y configuración de tus campañas de Comunicación.</p>
<p>Para ello, lo primero, debes ser el usuario con rol <strong>administrador</strong> en tu cuenta de EMMA. Si aún no lo eres, revisa las instrucciones sobre los roles básicos de los usuarios en este <a href="https://docs.emma.io/es/configuracion#equipo-de-la-cuenta">artículo</a>.</p>
<h1>Habilita y asigna los roles de pre-validación</h1>
<ul>
  <li>Logueate en EMMA y dirígete a Preferencias app.</li>
</ul>
<figure class="image"><img src="/pref_app.png"></figure>
<ul>
  <li>Haz <i>scroll down</i> hasta el apartado de <strong>Seguridad </strong>y habilita la aprobación de campañas de comunicación.</li>
</ul>
<figure class="image"><img src="/prevalidacion_i.png"></figure>
<ul>
  <li>Crea un nuevo usuario o edita uno ya creado. En esta <a href="https://docs.emma.io/es/configuracion#equipo-de-la-cuenta">guía</a> puedes ver como crear y editar usuarios.</li>
</ul>
<figure class="image"><img src="/prevalidacion_ii.png"></figure>
<ul>
  <li>Los roles para prevalidación de campañas son: <i>Autor, Gestor </i>y <i>Analista.</i> Selecciona uno de ellos y dale a guardar usuario.</li>
</ul>
<figure class="image"><img src="/prevalidacion_iii.png"></figure>
<h1>Tipos de roles de pre-validación</h1>
<h4>Importante</h4>
<p>A los usuarios con rol <strong>admin</strong>, no les afectarán las limitaciones propias de los roles de pre-validación de campaña. Por lo que, estos usuarios, podrán editar cualquier campaña, en cualquier estado, y modificar cualquier punto de la configuración de la misma.</p>
<h2>Usuarios <i>Autor</i></h2>
<p>Son los encargados de generar el contenido de las campañas de comunicación: nombre, descripción, imágenes, planificación, etc. El único paso que no podrán configurar será la elección del target, ya que en este punto, sólo podrá seleccionar un&nbsp;<strong>Segmento de prueba</strong> guardado previamente con los usuarios para las pruebas.</p>
<p>Identificar el&nbsp;<strong>Segmento de prueba</strong> es muy fácil, ya que siempre aparecerá nombrado de la siguiente manera "<strong>[TEST] Nombre del segmento</strong>". Si no sabes como crear un&nbsp;<strong>Segmento de prueba</strong><i>,</i>&nbsp;<a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#guardar-segmentos">aquí</a> tienes una guía donde puedes ver cómo <i>h</i>acerlo.&nbsp;</p>
<p>Este usuario verá por defecto las campañas asignadas a sí mismo y sólo podrá editar aquellas campañas de las que es <i>propietario</i> (las que tiene asignadas) así como pausar campañas que están en estado&nbsp;<i>"testing"&nbsp;</i>o&nbsp;<i>"</i>para validar<i>".&nbsp;</i>Además, este usuario también tendrá permisos para modificar el campo <i>propietario</i> y responsable de una campaña.</p>
<p>Una vez cubiertos todos los pasos, el usuario <i>Autor</i> podrá mandar la campaña a los siguientes estados:</p>
<ul>
  <li><strong>Borrador</strong>: la campaña se queda guardada como borrador y no se mostrará a ningún dispositivo. El <i>Autor </i>podrá editar posteriormente esta campaña.</li>
  <li><strong>Probar mensaje</strong>: la campaña se muestra solo a los dispositivos que cumplan el segmento seleccionado como SEGMENTO DE PRUEBA y lo seguirá haciendo hasta que un usuario con rol <i>Gestor</i> apruebe la campaña.</li>
  <li><strong>Para validar</strong>: la campaña no se muestra a ningún dispositivo hasta que un usuario con rol <i>Gestor</i> apruebe la campaña.</li>
</ul>
<h2>Usuarios <i>Gestor</i></h2>
<p>Son los encargados de aprobar las campañas que los usuarios&nbsp;<i>Autor</i> hayan enviado al estado&nbsp;<i>Para validar.&nbsp;</i>Una vez revisada la configuración de la campaña deberá validarla pasándola al estado&nbsp;Aprobada<i>.&nbsp;</i>Si una campaña no tiene la configuración adecuada el usuario Gestor podrá editar dicha configuración antes de ser marcada como Aprobada<i>.&nbsp;</i></p>
<p>Además, los usuarios con rol <i>Gestor </i>tienen permisos totales para crear y editar campañas en cualquier estado y sin limitación para añadir y modificar el TARGET. Asimismo, podrá modificar el usuario propietario y responsable de cualquier campaña.&nbsp;</p>
<p>Así pues, este usuario se encontrará con cuatro posibles opciones en el último paso de la creación o revisión de una campaña:</p>
<ul>
  <li><strong>Borrador</strong>: la campaña se queda guardada como borrador y no se mostrará a ningún dispositivo. El <i>Gestor</i> podrá editar posteriormente esta campaña.</li>
  <li><strong>Probar mensaje</strong>: la campaña se muestra solo a los dispositivos en el SEGMENTO DE PRUEBA y lo seguirá haciendo hasta que un usuario con rol <i>Gestor</i> apruebe la campaña.</li>
  <li><strong>Aprobar mensaje: </strong>en el caso de que haya sido el usuario <i>Autor</i> el que haya creado la campaña el <i>Gestor</i> podrá aprobarla tras revisar que la configuración es correcta. En este caso la campaña se quedará en el estado <i><strong>Aprobada</strong></i> pendiente de que un rol <i>Analista</i> introduzca el target final para su publicación.</li>
  <li><strong>Enviar mensaje</strong>: el usuario <i>Gestor</i> podrá publicar la campaña directamente haciendo clic en el botón de <i>Enviar mensaje, </i>independientemente del usuario que haya creado la campaña. Es decir, el usuario <i>Gestor</i> podrá saltarse el flujo de prevalidación de campañas si así lo considera oportuno para lanzar el mismo la campaña al público final.</li>
</ul>
<h2>Usuarios <i>Analista</i></h2>
<p>Son los encargados de establecer el TARGET y lanzar (ejecutar) la campaña. La función principal de estos usuarios será la de activar aquellas campañas que ya se encuentren en el estado <strong>Aprobada</strong>, es decir, que hayan sido validadas anteriormente por un <i>Gestor</i>. También podrá editar el target en campañas en estado&nbsp;“<i>Activa”, "</i>Lista<i>", "</i>Programada<i>" y "</i>Aprobada<i>",&nbsp;</i>de esto modo, en caso de detectar algún problema en el target se podrá modificar sin necesidad de tener que iniciar todo el flujo de nuevo.&nbsp;</p>
<p>Sea cual sea el estado de la campaña, el único paso que podrá editar será el número 3 Objetivo, donde podrá cargar un segmento ya guardado o crear un nuevo segmento desde cero.</p>
<p>Una vez cargado el público objetivo de la campaña estos usuarios podrán publicar la campaña haciendo click en el botón <strong>Enviar</strong> <strong>Mensaje</strong>. Estas campañas pasarán al estado <i>Lista</i> (en el caso de ser una campaña&nbsp;<i>Automática para reglas o Automática para rutas)</i> o <i>Programada/Activa&nbsp;</i>(en el caso de ser una campaña de tipo&nbsp;<i>Clásica).</i></p>
<p>Estos usuarios recibirán un correo en tiempo real con las campañas en el estado "<i>Aprobada</i>" siempre que hayan sido creadas en una aplicación a la que este usuario tiene acceso.</p>
<p>Este tipo de usuario tiene el acceso a EMMA limitado, pudiendo acceder únicamente a las secciones de <strong>Comportamiento&nbsp;</strong>y&nbsp;<strong>Comunicación.&nbsp;</strong></p>
<h3>Importante</h3>
<p>Si se tienen activos los roles de aprobación de campañas, debes saber que si no se modifican los roles de todos los usuarios con acceso a tu app, se hará una traducción de estos. En este caso, el antiguo rol <i><strong>Cliente</strong></i>&nbsp;tendrá los mismos permisos que un usuario <i><strong>Autor </strong></i>y un&nbsp;usuario&nbsp;<i><strong>Agencia&nbsp;</strong></i>tendrá los permisos de un usuario&nbsp;<i><strong>Gestor.</strong></i> En el caso del rol&nbsp;<i><strong>Proveedor</strong>&nbsp;</i>no se hará una traducción a un nuevo rol y seguirá manteniendo sus permisos habituales.</p>
<h1>Usuarios propietario y responsable</h1>
<p>Además de los roles explicados anteriormente, los usuarios también pueden ser propietario y responsable de una campaña. Cualquiera, propietario o responsable de una campaña, recibirá información por email únicamente de la(s) campañas a las que están asignados.</p>
<p>A continuación puedes ver más acerca de cada tipo de asignación y cuando reciben un email con información de la campaña.</p>
<h2>Usuarios “<i>Propietario</i>”</h2>
<p>Cualquier usuario puede ser asignado como&nbsp;propietario<i>&nbsp;</i>de la campaña, independientemente del rol que tenga asignado, pero por defecto, el usuario&nbsp;propietario será el usuario que cree la campaña.</p>
<p>Este usuario recibirá un email cada vez que se realice cualquier tipo de modificación en la campaña, ya sea cambiar el nombre de la misma, validarla, cambiar el target, pausarla o publicarla. Sea cual sea el cambio que se realice el usuario&nbsp;propietario recibirá un email con la información de la campaña y el estado.</p>
<h2>Usuarios “<i>Responsable</i>”</h2>
<p>Los usuarios asignados como responsable de la campaña sólo podrán ser usuarios con rol <i>Gestor</i> y se asignan en el momento de creación de la campaña. Puede haber uno o más usuarios <i>Gestor</i> asignado(s) como responsable de una misma campaña.</p>
<p>Estos usuarios recibirán un email con toda la información de la campaña cada vez que haya una campaña en estado&nbsp;"<i>Para validar"</i>, es decir, cuando haya una campaña pendiente de validación&nbsp;y también cuándo la campaña que han validado ha sido publicada.</p>
<h2>Asignar usuarios propietario y responsable</h2>
<p>Cualquier usuario puede ser propiertario, independientemente del rol que tenga asignado (ya sea&nbsp;<i>Analista, Autor o Gestor)</i>, pero sólo un usuario con rol&nbsp;<i>Gestor</i> puede ser asignado como responsable de una campaña.</p>
<p>Para asignar un usuario propietario y un usuario responsable de una campaña se tiene que hacer desde la edición de la campaña o bien en el momento de la creación de la misma. Ten en cuenta que el usuario propietario será por defecto el que crea la campaña, aunque podrá ser modificado posteriormente.</p>
<p>Para seleccionar un usuario responsable, se hace desde el primer paso de la creación de la campaña, <i>Propiedades.</i></p>
<figure class="image"><img src="/prevalidacion_iv.png"></figure>
<p>Una vez creada la campaña se podrá modificar el usuario&nbsp;responsable<i>&nbsp;</i>desde la edición de la misma. En el caso de modificar el usuario&nbsp;propietario<i>&nbsp;</i>se puede hacer o bien desde la propia edición de la campaña o&nbsp;desde la pantalla de resumen de las campañas desde el menú contextual. Lo único que tienes que hacer es clic en el botón&nbsp;<i><strong>“Asignar”.&nbsp;</strong></i></p>
<p>Tanto los usuarios con rol <i>Autor</i> como los usuarios con rol&nbsp;<i>Gestor</i> tendrán permisos para poder realizar cambios de usuario&nbsp;propietario y responsable.<i>&nbsp;</i></p>
<figure class="image"><img src="/prevalidacion_v.png"></figure>
<p>Después se abrirá un pop up para seleccionar el nuevo propietario y ya solo quedaría confirmar el cambio para que esté asignado el nuevo propietario de la campaña.</p>
<figure class="image"><img src="/prevalidacion_vi.png"></figure>
<h1>Resumen de campañas</h1>
<p>En la pantalla de resumen de campañas se podrá ver un filtro en la parte superior con la opción por defecto para cada usuario (<i>"Mis mensajes"</i> o <i>“Todos los mensajes”)<strong>.</strong></i> Este filtró ayudará a los usuarios a filtrar por las campañas que tienen asignadas a sí mismos o mostrar todas las campañas.</p>
<p>En el caso de los usuarios&nbsp;<i><strong>Autor </strong></i>y <i><strong>Gestor</strong></i>, tendrán seleccionado por defecto la opción&nbsp;<i><strong>Mis mensajes</strong>.&nbsp;</i>En el caso de los usuarios&nbsp;<i><strong>Analistas</strong></i> tendrán por defecto la opción&nbsp;<i><strong>Todos los mensajes.</strong></i></p>
<figure class="image"><img src="/prevalidacion_vii.png"></figure>
<p>En esta pantalla también podremos ver en la tabla de resumen de las campañas las &nbsp;columnas&nbsp;<i><strong>Propietario </strong></i>y <i><strong>Responsable</strong></i>. En estas columnas podremos ver fácilmente el usuario propietario de la campaña y el o los usuario(s) responsable(s).&nbsp;</p>
<h1>Historial de cambios</h1>
<p>En la opción <i><strong>Historia</strong>&nbsp;</i>quedan registrados todos los cambios que se realicen en la campaña. Ya sea un cambio de estado, modificación del target, creatividad o mensaje, así como el usuario que realizó dicho cambio y la fecha en la que se realizó.</p>
<p>La opción&nbsp;<i><strong>Historia</strong></i>&nbsp;está disponible únicamente desde el menú contextual de cada campaña.</p>
<figure class="image"><img src="/prevalidacion_viii.png"></figure>
<p>Una vez seleccionada esta opción, se abrirá una pantalla en la que podremos visualizar el registro de todos los cambios que se hayan realizado en la campaña en cuestión.</p>
<p>Si se han realizado cambios en el contenido de la campaña, podremos verlos con el detalle de los cambios realizados.</p>
<figure class="image"><img src="/prevalidacion_ix.png"></figure>
<h1>Resumen de acciones</h1>
<p>A continuación se detallan las diferentes acciones que cada tipo de rol puede llevar a cabo:</p>
<figure class="image"><img src="/prevalidacion_xi.png"></figure>
