<!--
title: Reglas
description: Reglas
published: true
date: 2025-03-04T11:10:29.567Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:44:59.221Z
-->

<p>EMMA REGLAS, es la tecnología de EMMA que te permite establecer reglas para la automatización de las comunicaciones con tus usuarios.&nbsp;</p>
<p>Basado en el etiquetado que hayas hecho de tu app, EMMA REGLAS utilizará esta información para <strong>lanzar automáticamente</strong> comunicaciones a los usuarios de tu app que cumplan los criterios de tu regla.&nbsp;&nbsp;</p>
<h1>Cómo crear tu primera EMMA RULE</h1>
<ul>
  <li>Haz&nbsp;login en EMMA y dirígete a Comunicación &gt; Reglas.</li>
</ul>
<figure class="image image_resized" style="width:30.71%;"><img src="/journey20.png"></figure>
<ul>
  <li>Haz clic en<i><strong> + Nueva regla</strong></i></li>
</ul>
<figure class="image"><img src="/reglas_ii.png"></figure>
<ul>
  <li>Completa el formulario de creación de reglas.</li>
</ul>
<figure class="image image_resized" style="width:65.13%;"><img src="/reglas_iv.png"></figure>
<ul>
  <li><strong>Nombre: </strong>Establece un nombre para tu regla para posteriormente poder identificarla en el listado de reglas programadas.</li>
  <li><strong>Receta: </strong>Las recetas son el condicionante del comportamiento que hará que EMMA impacte a unos y otros usuarios. Selecciona una de las recetas disponibles que se muestran en el selector desplegable. Conoce en detalle cómo funciona cada receta pulsando&nbsp;<a href="https://docs.emma.io/es/reglas#recetas-disponibles">aquí</a>. Si tu receta no está disponible puedes sugerirnos que la añadamos siguiendo estas <a href="https://docs.emma.io/es/reglas#a%C3%B1adir-nuevas-recetas">instrucciones</a>.</li>
  <li><strong>Acción: </strong>Una vez hayas seleccionado una receta, se mostrará la sección para seleccionar una acción. En función del tipo de receta seleccionada, tendremos unas u otras modalidades de campañas de comunicación disponible con las que impactar a los usuarios, pero estas son todas las existentes.<ul>
      <li><strong>Enviar mensaje push: </strong>Envía una notificación push a los usuarios que cumplan la receta. Completa la configuración de la notificación push que se enviará a los usuarios. Configura el mensaje que recibirán, la hora a la que se realizará el envío de la notificación push y opcionalmente puedes añadir una URL o una ruta de deeplink para que tus usuarios sean redireccionados al abrir la notificación push a una sección específica de la app.</li>
      <li><strong>Enviar una campaña automática:</strong> te permite aplicar a la receta&nbsp;una campaña in-app automática creada previamente en <strong>Comunicación &gt; Mensajes.&nbsp;</strong><br>Si el selector sale en blanco es porque aún no has creado la campaña in-app o porque la que has creado no está programada en modo <strong>Automática para reglas</strong>. Sigue estas <a href="https://docs.emma.io/es/mensajes-inapp">instrucciones</a> para crear tu primera campaña in-app automática para aplicarla posteriormente a EMMA REGLAS.<br><br>Una vez seleccionada la comunicación, puedes definir la <strong>prioridad</strong> de la comunicación seleccionando entre los valores 1 y 9<i><strong>&nbsp;del&nbsp;árbol de prioridades, </strong></i>en el que el 1 se corresponde al nivel más bajo, 5 al medio y 9 sería la más alta. Esta prioridad será usada por EMMA en el caso de que varios formatos de mensajes in-app coincidan para los mismos usuarios en las mismas pantallas de la aplicación. De esta forma, si una <i>Startview</i> con prioridad Alta y un <i>Adball</i> con prioridad Media&nbsp;son coincidentes en el tiempo,&nbsp;pantalla y&nbsp;usuario, solo se mostrará la Startview. En el caso de que sean coincidentes dos formatos de mensajes con la misma prioridad, sólo se mostrará el de más reciente creación. Con esta escala de prioridades se podrán tener 9 campañas simultáneas.<br><br><strong>Nota importante</strong>: Si hay varias Rules activas, y la que tiene la prioridad más alta, tiene una campaña que por algún motivo de segmentación, frecuencia, etc. no se muestra, EMMA NO mostrará en su lugar la siguientes Rule con más prioridad. Si no que al usuario no se le mostrará nada.<br>EMMA en primer lugar elige entre las Rules la de mayor prioridad y en segundo lugar si la&nbsp;Rule seleccionada tiene una campaña que se debe mostrar a ese usuario.</li>
      <li><strong>Crear cupón automático: </strong>Te permite aplicar a la receta&nbsp;un cupón automático creado previamente en <strong>Comunicación &gt; Mensajes.</strong><br>Si el selector sale en blanco, es porque aún no has creado un cupón o porque el que has creado no está programado en modo <strong>Automática para reglas</strong>. Sigue estas <a href="https://docs.emma.io/es/mensajes-inapp">instrucciones</a> para crear tu primer cupón automático para aplicar posteriormente a EMMA REGLAS.</li>
    </ul>
  </li>
  <li><strong>Programación: </strong>Establece la fecha y hora de inicio, a partir de la cual quieres que la regla empiece a funcionar. Por defecto, las reglas se mantienen activas en el tiempo hasta que las elimines, pero puedes marcar una fecha de finalización deshabilitando el check <i><strong>Sin fin </strong></i>y seleccionando una fecha y hora concreta de finalización.</li>
</ul>
<figure class="image"><img src="/reglas_xi.png"></figure>
<ul>
  <li>Haz clic en el botón <i><strong>Guardar regla </strong></i>situado en la parte superior derecha de la pantalla de creación para lanzar tu regla.</li>
</ul>
<p>Una vez que la campaña está asociada a una regla, el&nbsp;estado cambiará de <i><strong>Lista</strong></i> a <i><strong>Activa</strong></i> en la tabla de campañas en la sección <i><strong>Comunicación &gt; Mensajes.</strong></i></p>
<figure class="image image_resized" style="width:80.08%;"><img src="/reglas_vi.png"></figure>
<figure class="image image_resized" style="width:80.01%;"><img src="/reglas_vii.png"></figure>
<h1>Consultar, editar, clonar o eliminar reglas</h1>
<p>Una vez hayas creado tu primera EMMA REGLA podrás <strong>consultar, editar, clonar, eliminar o exportar</strong> las Reglas activas.</p>
<p>La tabla de resumen de reglas mostrará el nombre dado a la regla, la receta aplicada, la acción que ejecutará EMMA&nbsp;y la fecha de inicio y fin sobre la que aplicará la misma.</p>
<p>Puedes utilizar el campo <strong>Buscador </strong>para localizar con mayor facilidad todas tus reglas.&nbsp;</p>
<figure class="image"><img src="/reglas_viii.png"></figure>
<p>Para editar, clonar o eliminar alguna de tus reglas, tan solo tienes que hacer <i>mouse-over</i> sobre el menú contextual que se muestra a la izquierda de a columna <i>Nombre</i> y seleccionar la opción deseada en cada ocasión.&nbsp;</p>
<ul>
  <li><strong>Editar</strong>: Si seleccionas la opción editar, se abrirá el editor de la regla y podrás realizar los cambios que necesites sobre la misma. Una vez hayas finalizado con la edición, haz clic sobre el botón <i><strong>Guardar regla</strong></i> para que se guarden los cambios realizados.</li>
  <li><strong>Clonar</strong>: Seleccionando la opción clonar, se abrirá la pantalla de creación de reglas con todas la configuración que tenía la regla clonada. Podemos realizar los cambios que necesitemos en cualquiera de los campos. Una vez hayamos finalizado, haremos clic en el botón <i>Guardar regla.&nbsp;</i></li>
  <li><strong>Eliminar</strong>: Haciendo clic en la opción eliminar se eliminará inmediatamente la regla en cuestión. <strong>IMPORTANTE: </strong>La regla será eliminada inmediatamente tras hacer clic en el botón eliminar, no saldrá ningún pop up de confirmación.</li>
</ul>
<figure class="image"><img src="/reglas_ix.png"></figure>
<p>Puedes exportar esta misma tabla haciendo click sobre el botón <i><strong>Descargar datos.</strong></i></p>
<h1>Recetas disponibles</h1>
<p>Actualmente EMMA tiene habilitado una serie de&nbsp;recetas disponibles en función de tres comportamientos distintos:&nbsp;</p>
<ul>
  <li><i><strong>En su cumpleaños:&nbsp;</strong></i><br>Impacta al usuario el día de su cumpleaños. Para que EMMA pueda registrar correctamente la información sobre el cumpleaños del usuario se debe enviar una etiqueta o <strong>TAG</strong> siguiendo el formato especificado para <a href="https://developer.emma.io/es/ios/integracion-sdk#propiedades-del-usuario-tags">iOS</a> y para <a href="https://developer.emma.io/es/android/integracion-sdk#completar-el-perfil-del-usuario-mediante-tags">Android</a>.</li>
  <li><i><strong>Usuario registrado ayer:&nbsp;</strong></i><br>Impacta al usuario un día después de haberse registrado.</li>
  <li><i><strong>Usuario en la pantalla:</strong></i><br>Impacta al usuario cuando éste entra en una pantalla de la app en concreto. Esta opción te permite establecer reglas de comunicación en función de, con qué pantallas de la app interactúe el usuario. Si el listado de pantallas aparece vacío es porque EMMA no ha detectado ningún evento como pantalla. Puedes establecer tú mismo qué eventos son pantallas siguiendo estas <a href="https://docs.emma.io/es/primeros-pasos/eventos#crear-eventos">instrucciones</a>.</li>
  <li><i><strong>Usuario redimió un cupón:</strong></i><br>Esta opción te permite mostrar un cupón cuando el usuario haya redimido otro de los cupones disponibles. Para ello tendrás que escoger qué cupón debe haber sido redimido y qué cupón mostrar una vez dicha acción haya sucedido.</li>
  <li><i><strong>Usuario gastó al menos una cantidad de dinero:</strong></i><br>Impacta a los usuarios que han gastado al menos "X" cantidad de dinero a través de la app.</li>
  <li><i><strong>Usuario compró un producto:&nbsp;</strong></i><br>Impacta a los usuarios que compren un producto en concreto. Si este listado aparece vacío, es porque EMMA no ha podido detectar ningún producto en esta aplicación. Revisa la documentación sobre el envío de transacciones para <a href="https://developer.emma.io/es/ios/integracion-sdk#medici%C3%B3n-de-eventos">iOS</a> y para <a href="https://developer.emma.io/es/android/integracion-sdk#medici%C3%B3n-de-eventos">Android</a> para poder enriquecer el listado de productos.</li>
  <li><i><strong>Etiqueta tiene un valor concreto:</strong></i><br>Esta opción permite impactar a un usuario en función del contenido de una etiqueta concreta.<br>EMMA genera automáticamente las siguientes opciones para la selección de TAGS:<br>&nbsp;</li>
</ul>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Etiquetas disponibles</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Integración</strong></td>
      </tr>
      <tr>
        <td>Date of first conversion</td>
        <td>Fecha de realización del primer evento de transacción</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#medici%C3%B3n-de-eventos">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#medici%C3%B3n-de-eventos">iOS</a></td>
      </tr>
      <tr>
        <td>Date of first login</td>
        <td>Fecha de realización del primer evento de login</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#medici%C3%B3n-de-eventos">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#medici%C3%B3n-de-eventos">iOS</a></td>
      </tr>
      <tr>
        <td>Date of installation</td>
        <td>Fecha de instalación de la app en el dispositivo.&nbsp;</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#descarga-emma-android-sdk">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#descarga-e-integraci%C3%B3n-b%C3%A1sica">iOS</a></td>
      </tr>
      <tr>
        <td>Date of last conversion</td>
        <td>Fecha de realización del último evento de transacción</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#medici%C3%B3n-de-eventos">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#medici%C3%B3n-de-eventos">iOS</a></td>
      </tr>
      <tr>
        <td>Date of last login</td>
        <td>Fecha de realización del último evento de login</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#medici%C3%B3n-de-eventos">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#medici%C3%B3n-de-eventos">iOS</a></td>
      </tr>
      <tr>
        <td>Date of last session</td>
        <td>Fecha de realización del último evento de apertura de la app</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#descarga-emma-android-sdk">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#descarga-e-integraci%C3%B3n-b%C3%A1sica">iOS</a></td>
      </tr>
      <tr>
        <td>Date of loyal buyer</td>
        <td>Fecha de realización del segundo evento de transacción</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#medici%C3%B3n-de-eventos">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#medici%C3%B3n-de-eventos">iOS</a></td>
      </tr>
      <tr>
        <td>Date of loyal user</td>
        <td>Fecha de realización de la quinta apertura de la app</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#descarga-emma-android-sdk">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#descarga-e-integraci%C3%B3n-b%C3%A1sica">iOS</a></td>
      </tr>
      <tr>
        <td>Date of register</td>
        <td>Fecha de realización del evento registro</td>
        <td><a href="https://developer.emma.io/es/android/integracion-sdk#medici%C3%B3n-de-eventos">Android</a> &amp; <a href="https://developer.emma.io/es/ios/integracion-sdk#medici%C3%B3n-de-eventos">iOS</a></td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Puedes crear nuevos TAGS personalizados siguiendo la siguiente&nbsp;documentación para <a href="https://developer.emma.io/es/ios/integracion-sdk#propiedades-del-usuario-tags">iOS</a> y para <a href="https://developer.emma.io/es/android/integracion-sdk#completar-el-perfil-del-usuario-mediante-tags">Android</a>.</p>
<p>Puedes personalizar cómo quieres aplicar la receta a tu TAG en base a un campo de texto, número o fecha siguiendo estos <a href="https://docs.emma.io/es/etiquetas">pasos</a>.</p>
<ul>
  <li><i><strong>Usuario hizo un evento:&nbsp;</strong></i><br>Impacta al usuario X tiempo después de haber realizado un evento determinado dentro de la app.<br><br>Si este listado aparece vacío es porque no se está midiendo ningún evento custom en EMMA. En esta documentación puedes ver <a href="https://docs.emma.io/es/primeros-pasos/eventos#crear-eventos">cómo crear eventos custom</a> y en esta otra puedes ver la integración de los eventos tanto para <a href="https://developer.emma.io/es/android/integracion-sdk#medici%C3%B3n-de-eventos">Android</a> como para <a href="https://developer.emma.io/es/ios/integracion-sdk#medici%C3%B3n-de-eventos">iOS</a>.</li>
</ul>
<p>En la siguiente tabla puedes observar qué tipo de comunicaciones puedes hacer con cada modalidad de receta:</p>
<figure class="image image_resized" style="width:75.2%;"><img src="/reglas_x.png"></figure>
<h1>Añadir nuevas recetas</h1>
<p>Es posible que la opción que necesitas para automatizar tus comunicaciones no se encuentre en el listado de <i>recipes</i> (recetas).&nbsp;</p>
<p>Cada mes EMMA irá añadiendo nuevas fórmulas de automatización al listado de recetas y tendremos muy en cuenta todas las&nbsp;sugerencias que nos enviéis a <a href="mailto:support@emma.io"><strong>support@emma.io</strong></a>. Tu ayuda y experiencia es fundamental para que entre todos consigamos el listado de acciones más potente de <i><strong>Mobile Marketing Automatizado</strong></i>.</p>
