<!--
title: Resumen ejecutivo
description: Resumen ejecutivo
published: true
date: 2021-10-29T07:10:41.348Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:43:01.537Z
-->

<h1>Introducción</h1>
<p>El&nbsp;<strong>resumen ejecutivo</strong>&nbsp;te permite revisar la actividad principal de tu app de manera unificada en una misma pantalla. Es la forma más rápida y sencilla de acceder a los principales KPI's de tu aplicación y poder tener un evolutivo de los mismos.&nbsp;</p>
<p>Haz login en EMMA y ve a la sección&nbsp;<i><strong>General &gt; Resumen Ejecutivo.&nbsp;</strong></i></p>
<figure class="image"><img src="/r_ejecutivo_5.png"></figure>
<p>Los datos que mostrará EMMA serán siempre en función del <a href="https://docs.emma.io/es/barras-de-menu#men%C3%BA-supra-principal">rango de fechas seleccionado</a> y se visualizarán en las gráficas según el tipo de agrupación seleccionada (<i>días</i>, <i>semanas</i> o <i>meses</i>).</p>
<figure class="image"><img src="/r_ejecutivo_1.png"></figure>
<p>Los rangos de fecha disponibles para filtrar los datos son:</p>
<ul>
  <li><i>Hoy</i></li>
  <li><i>Ayer</i></li>
  <li><i>Últimos 7 días</i></li>
  <li><i>Últimos 30 días</i></li>
  <li><i>Este mes</i></li>
  <li><i>Mes pasado</i></li>
  <li><i>Rango personalizado</i></li>
</ul>
<p>Una vez seleccionado el rango de fechas a consultar, verás que los tres KPI's situados en la cabecera de la página han actualizado su información:</p>
<figure class="image"><img src="/r_ejecutivo_6.png"></figure>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Usuarios activos</i></td>
        <td>Usuarios que han abierto la aplicación en los últimos 30 días.</td>
      </tr>
      <tr>
        <td><i>Instalaciones</i></td>
        <td>Usuarios que han abierto la aplicación por primera vez, en el intervalo de&nbsp;tiempo seleccionado.</td>
      </tr>
      <tr>
        <td><i>Aperturas</i></td>
        <td>Aperturas de la aplicación en el intervalo de fecha seleccionado.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>De igual modo, cada una de las secciones que componen el resumen ejecutivo, habrán actualizado la información a mostrar en función del rango de fechas seleccionado anteriormente y el tipo de agrupación. A continuación, veremos más en profundidad cada una de las 4 secciones que forman esta pantalla.</p>
<ul>
  <li>Adquisición</li>
  <li>Comportamiento</li>
  <li>Comunicaciones</li>
  <li>Ventas</li>
</ul>
<h1>Adquisición</h1>
<p>En la sección de <strong>Adquisición</strong> podrás consultar los datos de los usuarios provenientes de tus campañas, es decir, usuarios atribuidos en el EMMA Apptracker.</p>
<h2>Instalaciones</h2>
<p>En la gráfica de instalaciones se muestra el total de las instalaciones de tu aplicación y un desglose de las mismas en función de su origen así como el porcentaje de variación respecto al periodo inmediatamente anterior.</p>
<figure class="image"><img src="/r_ejecutivo_2.png"></figure>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Instalaciones</i></td>
        <td>Usuarios que han abierto la aplicación (= instalación de la app) por primera vez en el periodo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Instalaciones orgánicas</i></td>
        <td>Instalaciones generadas de manera orgánica.</td>
      </tr>
      <tr>
        <td><i>Instalaciones no orgánicas</i></td>
        <td>Instalaciones generadas por campañas de pago.</td>
      </tr>
      <tr>
        <td><i>Instalaciones última versión</i></td>
        <td>
          <p>Usuarios que han abierto la última versión de la aplicación (= instalación de la app) registrada en&nbsp;EMMA&nbsp;por primera vez en el&nbsp; periodo de fechas seleccionado.</p>
          <p>Esta versión suele coincidir con la que está en las stores, pero si se compila una versión en desarrollo con una numeración mayor, se mostrarán los datos de esta.</p>
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Fuentes de medios principales</h2>
<p>En la siguiente gráfica podemos ver las mejores fuentes de medios y el volumen de instalaciones que ha conseguido cada una de ellas.&nbsp;</p>
<p>En el centro del gráfico se puede ver el número total de instalaciones generadas por las fuentes de medios en el periodo de fechas seleccionado así como el % de variación con respecto al periodo anterior. Además, puedes hacer <i>mouse over</i> sobre las distintas áreas del gráfico para visualizar el número de instalaciones de cada una de las fuentes.&nbsp;</p>
<h3>&nbsp;Nota</h3>
<p>Sólo se muestran las 6 mejores fuentes de medios, es decir, las que han generado un mayor número de instalaciones de la app en el periodo de fechas seleccionado.&nbsp;</p>
<figure class="image"><img src="/r_ejecutivo_3.png"></figure>
<p>En la leyenda de la gráfica, podemos ver listadas cada una de las 6 fuentes de medios, con su nombre, el número de instalaciones y el % que supone ese volumen sobre el total de las instalaciones de estas fuentes de medios.&nbsp;</p>
<p>&nbsp;</p>
<h2>Desinstalaciones</h2>
<p>En esta última gráfica se muestran las&nbsp;desinstalaciones de la aplicación&nbsp;versus las instalaciones. De este modo, se podrá hacer una comparativa rápida entre ambos kpi's en periodos de fecha concretos. En la parte superior se muestra el número total de instalaciones junto con el total de desinstalaciones.</p>
<figure class="image"><img src="/r_ejecutivo_4.png"></figure>
<p>Para poder ver datos de desinstalaciones es necesario:&nbsp;</p>
<ol>
  <li>En el caso de Android, tener una versión del SDK igual o superior a la 4.2.11. En el caso de iOS no es necesaria una versión mínima del SDK</li>
  <li>Tener integrado el módulo de notificaciones push en <a href="https://developer.emma.io/es/android/integracion-sdk#integraci%C3%B3n-notificaciones-push">Android</a> y en <a href="https://developer.emma.io/es/ios/integracion-sdk#integraci%C3%B3n-notificaciones-push">iOS</a>.</li>
</ol>
<h3>Cómo calcula EMMA las desinstalaciones</h3>
<p>EMMA calcula las desinstalaciones de tu app en un rango inferior a 24 horas sin necesidad de tener que esperar 7 días, 2 semanas o un mes para establecer que dicho usuarios ya no está activamente usando tu app.&nbsp;</p>
<p>Para ello, nuestro tracking de desinstalaciones envía una notificación silenciosa cada 24 horas a todos los usuarios. Si el usuario ha desinstalado tu app recibiremos un error de Google o de Apple indicando que dicho dispositivo ya no tiene la aplicación.&nbsp;</p>
<p>En caso de recibir dicho error en iOS, EMMA marcará a este dispositivo con el evento de desinstalación.&nbsp;</p>
<p>En dispositivos Android, EMMA verificará este estado con una segunda notificación a las 6 y una tercera notificación a las 12 horas. Al tercer KO en Android, EMMA marcará a este dispositivo con el evento de desinstalación.&nbsp;</p>
<p>Al contrario que con las notificaciones push normales, con las notificaciones silenciosas el usuario no ve ni recibe ningún indicador de que nuestro sistema esté verificando el estado de la app en su dispositivo. Además, las notificaciones silenciosas pueden ser enviadas a todos los usuarios incluso aunque estos hayan desactivado las notificaciones push normales.&nbsp;</p>
<h1>Comportamiento</h1>
<p>En la sección de Comportamiento se muestran los datos correspondientes a esta parte de la herramienta que engloba el comportamiento de los usuarios dentro de la App.</p>
<h2><strong>Usuarios</strong></h2>
<p>El primer gráfico muestra el volumen de usuarios según su comportamiento dentro de la aplicación.&nbsp;Puedes seleccionar las distintas áreas del gráfico para visualizar el número de aperturas<i>,</i>&nbsp;de<i>&nbsp;</i>usuarios activos<i>,</i> de&nbsp;usuarios registrados y de compradores dentro de tu aplicación.</p>
<p>Aparece acompañado de un índice explicativo que refleja el volumen total de los usuarios según su tipo de comportamiento y la variación de los mismos sobre el periodo anterior.</p>
<figure class="image"><img src="/r_ejecutivo_7.png"></figure>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Aperturas</i></td>
        <td>Número de veces que se ha abierto la App en el periodo de tiempo seleccionado.</td>
      </tr>
      <tr>
        <td><i>Usuarios activos</i></td>
        <td>Número de usuarios que han abierto la aplicación, al menos un vez, en un periodo de 30 días.</td>
      </tr>
      <tr>
        <td><i>Usuarios registrados</i></td>
        <td>Los usuarios que han hecho un registro directamente, a través de la aplicación o sitio móvil, en el intervalo de fechas seleccionado.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Compradores</i></td>
        <td>Usuarios que han hecho un evento de compra a través de la aplicación o sitio móvil, en el intervalo de fechas seleccionado.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h3>Tip</h3>
<p>Usa los eventos por defecto de EMMA para enviar la actividad relacionada con los registros y las ventas y que estos KPI's se visualicen en el resumen ejecutivo</p>
<h2><strong>Apertura por horas</strong></h2>
<p>La gráfica de barras muestra el volumen de aperturas de la aplicación por momento del día. Para conocer la cantidad de sesiones por hora es necesario deslizar el cursor por la gráfica.</p>
<p>En la parte inferior aparecen reflejada la duración media de la sesión, es decir, el tiempo que un usuario pasa con la aplicación en primer plano en su dispositivo en el periodo.</p>
<figure class="image"><img src="/r_ejecutivo_8.png"></figure>
<p>&nbsp;</p>
<h2><strong>Usuarios por aperturas</strong></h2>
<p>El gráfico situado a la derecha muestra el volumen de usuarios por número de aperturas. En la parte inferior aparece el número medio de aperturas por usuario en el periodo.</p>
<figure class="image"><img src="/r_ejecutivo_9.png"></figure>
<h3>Nota</h3>
<p>Cuando es la media de varios días, se realiza cogiendo la media individual de cada día y se usan las sesiones para hacer una media ponderada.</p>
<h1>Comunicaciones</h1>
<p>En el apartado de Comunicación se muestran los resultados de las campañas realizadas durante el período de tiempo seleccionado, tanto de notificaciones Push (reflejado en la primera gráfica) como de mensajes inapp (segunda gráfica de la pantalla).</p>
<h2><strong>Notificaciones Push e Ingresos</strong></h2>
<p>El primer gráfico muestra información sobre Notificaciones <i>Push</i> e Ingresos. En concreto, el volumen de Notificaciones Push enviadas contrapuestas a los ingresos generados. Aparece junto a un índice en el que se recogen breves explicaciones sobre la tipología de las notificaciones push mostradas en el gráfico y las ventas e ingresos asociados.</p>
<p>Se trata de una gráfica interactiva por lo que, para visualizar las distintas áreas puedes deslizar el cursor sobre este. Se mostrarán los datos concretos según el periodo seleccionado.</p>
<figure class="image"><img src="/r_ejecutivo_10.png"></figure>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Push enviadas</i></td>
        <td>Total de campañas de notificaciones Push enviadas en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Push entregadas</i></td>
        <td>Total de notificaciones Push recibidas en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Push abiertas</i></td>
        <td>Total de usuario que han abierto una notificación Push en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Ventas asociadas</i></td>
        <td>Ventas totales asignadas a las notificaciones Push en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Ingresos asociados</i></td>
        <td>Valor total generado mediante las transacciones de notificaciones Push, en el intervalo de fechas seleccionado.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2><strong>Mensajes In-App</strong></h2>
<p>El segundo gráfico, muestra las comunicaciones In-App que has programado en tu aplicación dentro de&nbsp;Comunicación &gt; Mensajes<i>. </i>Para visualizar en detalle el número exacto de impresiones, impresiones únicas, <i>clicks</i> y cupones aplicados correspondientes a un periodo de tiempo determinado,&nbsp;basta con seleccionar las distintas áreas del gráfico. Este gráfico cuenta con un índice explicativo a modo de apoyo para que una rápida y sencilla comprensión de las acciones sobre Mensajes In-App que se están midiendo.</p>
<figure class="image"><img src="/r_ejecutivo_11.png"></figure>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Impresiones</i></td>
        <td>Total de usuarios impactados por las comunicaciones In-App, en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Impresiones únicas</i></td>
        <td>Número de usuarios únicos que han visualizado los Mensajes In-App, en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Clics</i></td>
        <td>Interacciones totales generadas con las comunicaciones In-App, en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Cupones aplicados</i></td>
        <td>Volumen total de cupones aplicados por los usuarios.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Ventas</h1>
<p>En la sección de ventas se muestra el volumen total de ingresos generados por los eventos de compra, el número total de ventas y el volumen de venta contrapuesto con el de los ingresos generados por estas.</p>
<h3>Tip</h3>
<p>Usa el evento por defecto de EMMA para enviar la actividad relacionada con las ventas y que este KPI y sus atributos se visualicen en el resumen ejecutivo</p>
<h2><strong>Ingresos</strong></h2>
<p>En la sección Ingresos, situado en la parte superior izquierda de la pantalla, se muestra un desglose del total de ingresos generados por los eventos de compra, junto con el valor total generado por las ventas (situado a continuación) y el número total de ventas completadas.</p>
<figure class="image"><img src="/r_ejecutivo_12.png"></figure>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Total generado por los eventos de compra</i></td>
        <td>Valor total generado a través de la transacción en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Valor total generado por ventas</i></td>
        <td>Número de pedidos totales realizados en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Total de ventas completadas</i></td>
        <td>Número total de ventas completadas dentro de la aplicación, en el intervalo de fechas seleccionado.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2><strong>Ventas&nbsp;</strong></h2>
<p>Esta sección (situada a la derecha de las sección "Ingresos") muestra de manera resumida el número total de ventas en el intervalo de tiempo seleccionado previamente.</p>
<figure class="image"><img src="/r_ejecutivo_13.png"></figure>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Ingresos por venta</i></td>
        <td>Valor promedio por pedido/transacción en el intervalo de fechas seleccionado.</td>
      </tr>
      <tr>
        <td><i>Ingresos por usuario</i></td>
        <td>Corresponde al valor medio de ingresos generados por comprador.</td>
      </tr>
      <tr>
        <td><i>Primera venta</i></td>
        <td>Promedio de días para la primera transacción desde la instalación de la app o visita al sitio móvil por primera vez. Información disponible para un rango de fecha máximo de 180 días.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2><strong>Ingresos y ventas</strong></h2>
<p>El gráfico de barras muestra la relación entre el volumen de ventas y el de ingresos generados, en el ingreso de tiempo seleccionado.</p>
<figure class="image"><img src="/r_ejecutivo_14.png"></figure>
