<!--
title: Snapchat
description: Snapchat
published: true
date: 2022-02-03T11:54:15.430Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T12:01:28.440Z
-->

<p>Snapchat App Install es el formato publicitario que ha desarrollado la propia plataforma de Snapchat App Install orientado a conseguir nuevos usuarios para las apps móviles. Al igual que con otras fuentes publicitarias, no tendrás ningún problema para medir tus campañas de Snapchat con EMMA. Para ello, tal solo tienes que seguir los pasos listados a continuación.&nbsp;</p>
<h3>&nbsp;Importante</h3>
<p>Antes de lanzar campañas con Snapchat ponte en contacto con tu account asignado o a través de <a href="mailto:support@emma.io">support</a> para que podamos darte de alta en el sistema para que puedas ver los datos de las campañas de Snapchat sin ningún problema.&nbsp;<br>Asimismo, también es importante que sigas los pasos de esta guía antes de lanzar cualquier campaña.</p>
<h1>Configuración en EMMA</h1>
<p>Para empezar a medir campañas de Snapchat App Installs en EMMA, lo primero de todo es realizar una pequeña configuración en el dashboard de EMMA.&nbsp;</p>
<ul>
  <li>Haz login en tu cuenta de EMMA y ve a&nbsp;<i><strong>Preferencias App.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="/pref_app.png"></figure>
<ul>
  <li>Edita la configuración de la app</li>
  <li>En la configuración de iOS, configura la URL de la app en App Store y el AppStore ID.</li>
</ul>
<figure class="image"><img src="/snapchat_2.png"></figure>
<p>Puedes obtener el AppStore ID de la URL de la store.&nbsp;</p>
<figure class="image"><img src="/snapchat_5.png"></figure>
<ul>
  <li>En la configuración de Android, configura la URL de la app en Google Play y el Google Play ID.</li>
</ul>
<figure class="image"><img src="/snapchat_3.png"></figure>
<ul>
  <li>Puedes obtener el Google Play ID de la URL de la store.</li>
</ul>
<figure class="image"><img src="/snapchat_4.png"></figure>
<h1>Activar la fuente de medios Snapchat</h1>
<p>Una vez realizado el paso anterior, solo queda activar la fuente de medios Snapchat.&nbsp;</p>
<ul>
  <li>Ve a&nbsp;<strong>Captación &gt; Fuentes de medios</strong></li>
</ul>
<figure class="image"><img src="/snapchat_6.png"></figure>
<ul>
  <li>Busca la fuente de medios&nbsp;<strong>Snapchat&nbsp;</strong> y dale a&nbsp;<i><strong>Editar</strong></i> desde el menú lateral izquierdo.</li>
</ul>
<figure class="image"><img src="/snapchat_8.png"></figure>
<ul>
  <li>Activa la fuente de medios, haciendo clic en el botón&nbsp;<i><strong>Activar</strong></i> del mensaje de aviso.</li>
</ul>
<figure class="image"><img src="/snapchat_9.png"></figure>
<ul>
  <li>El resto de campos de la configuración no son obligatorios a no ser que se use algún intermediario para lanzar las campañas de Snapchat.</li>
</ul>
<p>Y ¡listo! con esto tenemos la integración con Snapchat realizada. Una vez se empiecen a medir instalaciones en Snapchat, aparecerá una nueva campaña en el apptracker de Snapchat con todos los datos de la misma.&nbsp;</p>
