<!--
title: test
description: 
published: false
date: 2021-12-22T10:55:39.362Z
tags: 
editor: code
dateCreated: 2021-12-22T10:28:03.501Z
-->

<p>test</p>
<video src="https://youtu.be/BCL60STTR-0" width="640" height="480"></video>
<figure class="media">
  <oembed url="https://youtu.be/BCL60STTR-0"></oembed>
</figure>

<iframe src="https://youtu.be/BCL60STTR-0" width="560" height="315">
</iframe>


<embed src="https://youtu.be/BCL60STTR-0" width="400" height="250" />

<iframe width="560" height="315" src="https://www.youtube.com/embed/BCL60STTR-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<video>
  <source src="https://youtu.be/BCL60STTR-0" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
  <source src="https://youtu.be/BCL60STTR-0" type='video/webm; codecs="vp8, vorbis"' />
</video>


<pre><div>
<iframe src="https://www.youtube.com/embed/sOnqjkJTMaA" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>
<pre>