<!--
title: Test A/B
description: Test A/B
published: true
date: 2022-02-10T13:22:13.844Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T11:47:18.941Z
-->

<p>Con el Test AB de EMMA se podrán crear diferentes variaciones de las campañas de comunicación InApp y ver cuál de ellas es la que mejor se adapta a los usuarios finales y cual es la que mejor funciona en base a los objetivos que se hayan establecido. De este modo, se podrá determinar qué comunicación es la más adecuada para cada caso y lanzarla a todos los usuarios.&nbsp;</p>
<p>A continuación veremos en detalle cómo crear variaciones de Test AB de una comunicación.&nbsp;</p>
<ul>
  <li>Lo primero es hacer <a href="https://ng.emma.io/login">log in</a> en la plataforma de EMMA con el usuario habitual.</li>
  <li>Dirígete a la sección&nbsp;<i><strong>Comunicación&nbsp;</strong></i>del menú superior y selecciona&nbsp;<i><strong>Messaging&nbsp;</strong></i>de entre las opciones del menú desplegable.</li>
</ul>
<figure class="image"><img src="/test_ab_1.png"></figure>
<ul>
  <li>Añade un nuevo mensaje y selecciona el formato deseado entre los disponibles.</li>
</ul>
<figure class="image"><img src="/test_ab_2.png"></figure>
<ul>
  <li>En el paso&nbsp;<i><strong>2. Contenido</strong>&nbsp;</i>se debe establecer la configuración de la comunicación como la&nbsp;<i>URL de destino, la creatividad...</i> Esta configuración será la correspondiente a la denominada&nbsp;<i><strong>Versión Original</strong></i>.</li>
</ul>
<figure class="image"><img src="/test_ab_3.png"></figure>
<ul>
  <li>Una vez realizada la configuración de la <i><strong>Versión</strong> <strong>Original</strong></i>, se pueden añadir las diferentes versiones de la comunicación (Test AB) hasta un máximo de 3 (<i>Versión A, Versión B y Versión C)&nbsp;</i>haciendo clic en el botón&nbsp;<i><strong>Añadir variación de Test A/B.</strong></i></li>
</ul>
<figure class="image"><img src="/test_ab_4.png"></figure>
<ul>
  <li>Una vez añadida(s) la(s) variación(es) de Test A/B deseadas, solo queda realizar las modificaciones pertinentes. Por defecto se clona la configuración de la Versión Original, por lo que sólo será necesario modificar los campos deseados y dejar el resto con la configuración original.</li>
</ul>
<h3>Nota</h3>
<p>Si se quiere eliminar alguna de las variaciones de Test A/B creadas, bastará con hacer clic sobre el icono del cubo de basura que se ve al lado del nombre de cada variación.</p>
<figure class="image"><img src="/test_ab_5.png"></figure>
<ul>
  <li>Ya por último, es necesario establecer un % de usuarios que van a visualizar cada comunicación. Para ello, en el paso tres,&nbsp;<strong>objetivo</strong>, además de establecer un segmento se debe establecer el porcentaje de usuarios que se desea que visualice cada una de las comunicaciones.<br>Por defecto, la Versión Original estará marcada con un 100% de usuarios, por lo que si no se modifica, los usuarios sólo visualizarán esta versión.</li>
</ul>
<figure class="image"><img src="/test_ab_6.png"></figure>
<p>Ten en cuenta que en función del formato comunicativo seleccionado se podrán modificar unos u otros inputs en las variaciones de Test A/B.<br>En la siguiente tabla puedes ver los valores que se pueden modificar según cada formato comunicativo.</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Formato</strong></td>
        <td><strong>Inputs</strong></td>
      </tr>
      <tr>
        <td><strong>Adball</strong></td>
        <td>
          <ul>
            <li>URL de destino</li>
            <li>Posición vertical</li>
            <li>Posición horizontal</li>
            <li>Imagen</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Banner</strong></td>
        <td>
          <ul>
            <li>URL de destino</li>
            <li>Cómo abrir URL</li>
            <li>Posición en la pantalla</li>
            <li>Visualización</li>
            <li>Imagen</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Coupon</strong></td>
        <td>
          <ul>
            <li>Mensaje</li>
            <li>Código de promoción</li>
            <li>Límite de redenciones totales</li>
            <li>Límite de redenciones diaria</li>
            <li>Ocultar al límite</li>
            <li>Imagen</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Dynamic Tab</strong></td>
        <td>
          <ul>
            <li>URL de destino</li>
            <li>Título de la pestaña</li>
            <li>Posición de la pestaña</li>
            <li>Imagen</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td>
          <ul>
            <li>&nbsp;Nombre del remitente</li>
            <li>Email del remitente</li>
            <li>BCC</li>
            <li>Asunto</li>
            <li>¿Usar plantilla HTML?</li>
            <li>Plantilla HTMl o Cuerpo del mensaje en caso de no usar plantilla HTML</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Native Ad</strong></td>
        <td>
          <ul>
            <li>Cómo abrir la URL</li>
            <li>Plantilla</li>
            <li>Todos los campos que compongan la plantilla</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Startview</strong></td>
        <td>
          <ul>
            <li>URL de destino</li>
            <li>Botón de cerrar</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Strip</strong></td>
        <td>
          <ul>
            <li>Mensaje</li>
            <li>Visualización</li>
            <li>Color del texto</li>
            <li>Color del fondo</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
