<!--
title: TikTok
description: TikTok
published: true
date: 2023-10-19T12:30:16.520Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T12:02:13.228Z
-->

<h1>Seguimiento con TikTok App Installs</h1>
<p><a href="https://ads.tiktok.com/help/article/app-installs-objective?lang=es"><i>TikTok App</i> Installs</a>&nbsp;es el formato publicitario de TikTok para poder medir instalaciones de la app y conseguir así nuevos usuarios.</p>
<p>En esta guía se explican todos los pasos de configuración necesarios para comenzar a medir tus campañas con TikTok<i> App Installs</i>.</p>
<h2>Configuración en TikTok Ads</h2>
<p>Para poder medir campañas de TikTok App Install, lo primero que debes hacer es ir al dashboard de TikTok Ads. Si no tienes cuenta deberás <a href="https://www.tiktok.com/business/es?tt4b_lang_redirect=1">crear una cuenta</a> y dar de alta la app de Android y la de iOS de manera independiente.&nbsp;</p>
<p>Si creas tu app de cero, es importante que a la hora de dar de alta la app, en el paso 2 <i><strong>Tracking Settings</strong></i> selecciones a Kochava como proveedor.&nbsp;</p>
<figure class="image"><img src="/tiktok_12.png"></figure>
<p>En caso de que ya tengas la app creada, tan solo debes acceder a los detalles de la misma y editar la configuración de <i><strong>Tracking Settings </strong></i>y seleccionar Kochava como proveedor (en los pasos listados a continuación puedes ver como acceder a los detalles de tu app en TikTok).&nbsp;</p>
<figure class="image"><img src="/tiktok_13.png"></figure>
<h2>Obtener TikTok App ID</h2>
<p>Una vez hayas <a href="https://docs.emma.io/es/tiktok#configuraci%C3%B3n-en-tiktok-ads">creado</a> la cuenta y dado de alta las apps, tan solo tienes que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Ve a los detalles de tu app desde Assets &gt; Events.</li>
</ul>
<figure class="image"><img src="/tiktok_7.png"></figure>
<ul>
  <li>Haz clic en el botón Manage.</li>
</ul>
<figure class="image"><img src="/tiktok_8.png"></figure>
<ul>
  <li>Haz clic sobre tu app.</li>
</ul>
<figure class="image"><img src="/tiktok_9.png"></figure>
<ul>
  <li>Crea y/o copia tu TikTok App ID.</li>
</ul>
<figure class="image"><img src="/tiktok_10.png"></figure>
<ul>
  <li>Repite este proceso con la app de Android e iOS.</li>
  <li>Reserva el TikTok App ID obtenido para configurarlo posteriormente en EMMA.</li>
</ul>
<h2>Configuración en EMMA</h2>
<p>Para empezar a medir tus campañas en EMMA tienes que seguir los siguientes pasos para finalizar la configuración:</p>
<ul>
  <li>Haz <a href="https://ng.emma.io/">login</a>&nbsp;en EMMA y dirígete a&nbsp;<strong>Preferencias App</strong> desde el menú desplegable pasando por encima de tu nombre de usuario (arriba a la derecha).</li>
</ul>
<figure class="image image_resized" style="width:28.79%;"><img src="https://docs.emma.io/pref_app.png" alt="pref_app.png"></figure>
<ul>
  <li>Configura la información de&nbsp;<strong>AppStore</strong> (url de la app en la store) y <strong>AppStore ID</strong> para&nbsp;<strong>iOS</strong> y la información de&nbsp;<strong>Google Play</strong> (url de la app en la store) y&nbsp;<strong>Google Play ID</strong> para&nbsp;<strong>Android.</strong><br>&nbsp;</li>
</ul>
<figure class="image image_resized" style="width:62.09%;"><img src="https://docs.emma.io/fb_12.png" alt=""></figure>
<figure class="image image_resized" style="width:61.65%;"><img src="https://docs.emma.io/fb_13.png" alt=""></figure>
<p>Para sacar el <i>App Store ID</i> puedes copiar el&nbsp;ID a través del enlace generado en AppStore, como en el siguiente ejemplo:</p>
<figure class="image image_resized" style="width:62.22%;"><img src="https://docs.emma.io/fb_14.png" alt=""></figure>
<p>Para sacar el <i>Google Play ID</i> puedes copiar el ID a través del enlace generado en GooglePlay, como en el siguiente ejemplo:</p>
<figure class="image image_resized" style="width:61.92%;"><img src="https://docs.emma.io/fb_15.png" alt=""></figure>
<p>Una vez configurado esto, dirígete a <i><strong>Captación &gt; Fuentes de Medios</strong>.</i></p>
<figure class="image"><img src="/tiktok_14.png"></figure>
<p>Busca la fuente de medios&nbsp;<strong>TikTok</strong> y en el menú lateral haz clic en editar.</p>
<figure class="image"><img src="/tiktok_15.png"></figure>
<p>Configura el <strong>TikTok App Id</strong> obtenido <a href="https://docs.emma.io/es/tiktok#obtener-tiktok-app-id">anteriormente</a> y haz clic en&nbsp;<strong>Guardar.</strong></p>
<figure class="image"><img src="/tiktok_23.png"></figure>
<h2>Crear enlace de seguimiento</h2>
<p>Para dar de alta nuevos enlaces de seguimiento en EMMA para poder medir las campañas de TikTok App Installs, tan solo tienes que seguir estos pasos.&nbsp;</p>
<ul>
  <li>Ve a la sección&nbsp;<strong>Captación &gt; Apptracker</strong></li>
</ul>
<figure class="image"><img src="/tiktok_4.png"></figure>
<ul>
  <li>Crea una nueva campaña haciendo clic en el botón&nbsp;<strong>Nueva campaña.</strong></li>
  <li>Configura la campaña como cualquier otra de EMMA para ello tienes que:<br>
    <ul>
      <li>Establecer un nombre de campaña (recomendamos que el nombre sea TikTok para poder identificar la campaña más fácilmente, pero puede ser el que quieras).</li>
      <li>Establece una fecha de inicio y de fin de la campaña.</li>
      <li>Establece las URL's de redirección.</li>
    </ul>
  </li>
  <li>Una vez creada la campaña, búscala y en el menú lateral izquierdo haz clic en&nbsp;<strong>Fuentes.</strong></li>
</ul>
<figure class="image"><img src="/tiktok_5.png"></figure>
<ul>
  <li>Añade una nueva fuente haciendo clic en el botón&nbsp;<strong>Nueva fuente.</strong></li>
  <li>Configura la fuente y en el campo&nbsp;<strong>Proveedor</strong> selecciona&nbsp;<strong>TikTok.</strong></li>
</ul>
<figure class="image"><img src="/tiktok_6.png"></figure>
<ul>
  <li>Guarda la fuente.</li>
</ul>
<p>Una vez creada la fuente para TikTok, se generarán automáticamente dos enlaces de seguimiento, uno para Android y otro para iOS. Estos enlaces de seguimiento son lo que se deben añadir a la hora de crear la campaña en TikTok.&nbsp;</p>
<p>Puedes crear tantos enlaces de seguimiento como necesites, tan solo repite el proceso de creación de fuentes tantas veces como sea necesario.&nbsp;</p>
<h2>Configurar enlace de seguimiento en TikTok Ads</h2>
<p>Una vez realizados todos los pasos anteriores de esta guía, a llegado el momento de dar de alta nuestras campañas de TikTok App Install.&nbsp;</p>
<p>En el proceso de creación de campaña llegarás a una sección que pone <strong>Tracking &gt; Third party tracking settings. </strong>En esa sección, en el campo <i><strong>Click Tracking URL</strong></i> deberás establecer el enlace de seguimiento <a href="https://docs.emma.io/es/tiktok#crear-enlace-de-seguimiento">generado anteriormente desde EMMA</a> para que puedas obtener todos los datos en el dashboard de EMMA.&nbsp;</p>
<p>El campo de <i><strong>Impresion Tracking URL </strong></i>no lo debes cubrir.&nbsp;</p>
<figure class="image"><img src="/tiktok_11.png"></figure>
<h2>Medición de eventos inapp (opcional)</h2>
<p>Además de medir las campañas de TikTok en EMMA, también puedes enviar cualquier evento inapp que estés midiendo en EMMA a TikTok para medirlos. Una vez realizados los pasos anteriores de esta guía, es necesario seguir estos pasos para configurar los eventos para TikTok:</p>
<ul>
  <li>Haz&nbsp;<a href="https://ng.emma.io/">login</a>&nbsp;en la página web de EMMA y dirígete a <i><strong>Captación &gt; Fuentes de medios</strong>.</i></li>
</ul>
<figure class="image"><img src="/tiktok_14.png"></figure>
<ul>
  <li>Edita la fuente de medios de <strong>TikTok</strong>.</li>
  <li>En la sección de&nbsp;<strong>Eventos,</strong> haz clic en el botón&nbsp;<i><strong>añadir evento</strong></i> para añadir los eventos que quieres enviar a TikTok. Es importante que en la columna&nbsp;<i><strong>Identificador del Evento para la Fuente de medios</strong></i> selecciones el evento de TikTok con el que se vinculará el evento evento enviado desde EMMA.</li>
</ul>
<figure class="image"><img src="/tiktok_17.png"></figure>
<ul>
  <li>Decide con qué evento de TikTok vas a querer vincular el evento que se envía desde EMMA .<ul>
      <li>install_app/retarget_app</li>
      <li>add_payment_info</li>
      <li>add_to_cart</li>
      <li>add_to_wishlist</li>
      <li>launch_app</li>
      <li>checkout</li>
      <li>complete_tutorial</li>
      <li>view_content</li>
      <li>create_group</li>
      <li>create_role</li>
      <li>generate_lead</li>
      <li>inapp_ad_click</li>
      <li>inapp_ad_impr</li>
      <li>join_group</li>
      <li>achieve_level</li>
      <li>loan_application</li>
      <li>loan_approval</li>
      <li>loan_disbursal</li>
      <li>login</li>
      <li>purchase</li>
      <li>rate</li>
      <li>registration</li>
      <li>search</li>
      <li>spend+credits</li>
      <li>start_trial</li>
      <li>subscribe</li>
      <li>unlock_achievement</li>
      <li>CUSTOM</li>
    </ul>
  </li>
</ul>
<h1>Campañas de SkAdNetwork</h1>
<p>EMMA permite medir camapñas de TikTok Ads orientadas a dispositivos iOS con versión del sistema operativo superior a iOS 14.5, lo que se conoce como campañas &nbsp;de SkAdNetowork. Al permitir la medición de esta tipología de campañas, podremos obtener en EMMA los datos agregados de las instalaciones y los eventos realizados a través de estas campañas.</p>
<blockquote>
  <p>Es importante que tengas en cuenta que debido a la política de privacidad de Apple, a través de las campañas de SkAdNetwork no podemos obtener información del usuario que se ha instalado la app o realizado eventos inapp, ya que Apple no comparte esta información con terceros. La única información que comparte con terceros es que se ha realizado una instalación o un evento vinculado a una determinada campaña.&nbsp;</p>
  <p>Es decir, solo podremos obtener datos agrerados de instalaciones y eventos inapp, sin poder saber bajo ningún concepto qué usuario ha realizado esas acciones.</p>
</blockquote>
<h2>Habilitar SkAdNetwork en EMMA para instalaciones</h2>
<p>Para poder empezar a medir este tipo de campañas en EMMA, es necesario seguir estos pasos:&nbsp;</p>
<ul>
  <li>Inicia sesión en tu cuenta de EMMA.</li>
  <li>Ve a preferencias de la app y asegúrate que el en el apartado de configuración relativo a iOS, el campo <strong>App Store ID</strong> está configurado. De no ser así, tan solo tienes que obtener este id de la url de la store de tu app y configurarlo.</li>
</ul>
<figure class="image"><img src="/tiktok_19.png"></figure>
<ul>
  <li>Asegurate de que has realizado los pasos previos de esta guía.</li>
</ul>
<p>Una vez validados los pasos anteriores, es necesario hacer esta configuración para poder medir SKAdNetwork de TikTok.</p>
<ul>
  <li>Ve a <i><strong>Captación &gt; Fuentes de medios </strong></i>y busca y edita el proveedor TikTok.</li>
</ul>
<figure class="image"><img src="/tiktok_15.png"></figure>
<ul>
  <li>Habilita el <i>switch</i> de SKAdNetwork y guarda cambios para que se realice la configuración necesaria para obtener estos datos en EMMA.</li>
</ul>
<figure class="image"><img src="/tiktok_21.png"></figure>
<blockquote>
  <p>Además de esta configuración, es recomendable integrar el SDK de EMMA (versión 4.12 o posterior) para poder realizar un seguimiento del usuario a nivel de eventos y poder recibir asimismo una copia directa del postback de SkAdNetwork para obtener más información en EMMA.</p>
</blockquote>
<p>¡Y listo! Tu conexión para medir campañas de SkAdNetwork está lista. En cuanto se empiecen a recibir datos de esta tipología de campañas, aparecerá automáticamente en EMMA una nueva campaña llamada <strong>SkAdNetwork TikTok</strong><i><strong> </strong></i>que mostrará toda la información agregada de instalaciones.&nbsp;</p>
<figure class="image"><img src="/tiktok_20.png"></figure>
<h2>Medición de eventos inapp en SkAdNetwork (opcional)</h2>
<p>En caso de querer recibir la información de atribución de los eventos inapp realizados a través de campañas de SkAdNetwork es necesario en primer lugar tener integrada la versión del SDK 4.12 o posterior.&nbsp;</p>
<p>Además, es necesario configurar en EMMA los eventos que se quieren medir. Para ello debemos seguir estos pasos:&nbsp;</p>
<ul>
  <li>Haz login en tu cuenta de EMMA.</li>
  <li>Ve a la sección <strong>Gestión &gt; Eventos</strong></li>
</ul>
<figure class="image image_resized" style="width:23.09%;"><img src="https://docs.emma.io/crear_eventos_1.png" alt="crear_eventos_1.png"></figure>
<ul>
  <li>Busca y edita el evento deseado.</li>
</ul>
<figure class="image image_resized" style="width:51.11%;"><img src="https://docs.emma.io/editar_evento_1.1.png" alt="editar_evento_1.1.png"></figure>
<ul>
  <li>En la parte final de la pantalla debes habilitar el check de SKAdNetwork y añadir un valor de conversión entre 1 y 63.</li>
</ul>
<figure class="image image_resized" style="width:70.57%;"><img src="https://docs.emma.io/google_36.png" alt="google_36.png"></figure>
<p>Los valores de conversión deben ser únicos, no puede usarse el mismo valor en múltiples eventos. En caso de seleccionar un valor en uso, EMMA nos avisará y nos mostrará el valor más cercano disponible para su configuración.</p>
<figure class="image image_resized" style="width:66.5%;"><img src="https://docs.emma.io/google_37.png" alt="google_37.png"></figure>
<blockquote>
  <p>Ten en cuenta que desde SKAdNetwork nos notifican solo la última conversión, el último evento realizado dentro de la ventana de atribución, por lo que si un usuario realiza 3 eventos de forma consecutiva dentro de la misma ventana de atribución, solo nos llegará la notificación del último y será este el que aparezca en EMMA.</p>
</blockquote>
<h1>Campañas de Re-Targeting de TikTok</h1>
<p>Para poder medir las campañas de Re-Targeting de TikTok a través de EMMA es necesario que sigas estos pasos:&nbsp;</p>
<h2>Creación un tracker de Re-Targeting</h2>
<ul>
  <li>Haz <a href="https://ng.emma.io/">login</a> en tu cuenta de EMMA y ve a la sección <strong>Captación &gt; Apptracker.&nbsp;</strong></li>
</ul>
<figure class="image image_resized" style="width:32.85%;"><img src="/tiktok_4.png"></figure>
<ul>
  <li>Crea una nueva campaña de Re-Targeting haciendo clic en el botón&nbsp;<strong>Nueva campaña.</strong></li>
  <li>Configura la campaña como cualquier otra de EMMA para ello tienes que:<br>
    <ul>
      <li>Establecer un nombre de campaña (recomendamos que el nombre sea TikTok ReTargeting para poder identificar la campaña más fácilmente, pero puede ser el que quieras).</li>
      <li>Habilitar el check de Re-Targeting.</li>
      <li>Establece una fecha de inicio y de fin de la campaña.</li>
      <li>Establece las URL's de redirección.</li>
    </ul>
  </li>
  <li>Una vez creada la campaña, búscala y en el menú lateral izquierdo haz clic en&nbsp;<strong>Fuentes.</strong></li>
</ul>
<figure class="image"><img src="/tiktok_5.png"></figure>
<ul>
  <li>Añade una nueva fuente haciendo clic en el botón&nbsp;<strong>Nueva fuente.</strong></li>
  <li>Configura la fuente y en el campo&nbsp;<strong>Proveedor</strong> selecciona&nbsp;<strong>TikTok.</strong></li>
</ul>
<figure class="image"><img src="/tiktok_6.png"></figure>
<ul>
  <li>Guarda la fuente.</li>
</ul>
<p>Una vez creada la fuente para TikTok, se generarán automáticamente dos enlaces de seguimiento, uno para Android y otro para iOS. Estos enlaces de seguimiento son lo que se deben añadir a la hora de crear la campaña en TikTok.</p>
<h2>Configurar eventos para Re-Targeting</h2>
<p>Para configurar eventos para campañas de Re-Targeting, debes seguir estos pasos:</p>
<ul>
  <li>Ve a la sección&nbsp;<strong>Captación &gt; Fuentes de medios</strong>.</li>
</ul>
<figure class="image"><img src="/tiktok_14.png"></figure>
<ul>
  <li>Edita la fuente de medios de <strong>TikTok</strong>.</li>
  <li>En la sección de&nbsp;<strong>Eventos,</strong> haz clic en el botón&nbsp;<i><strong>añadir evento</strong></i> para añadir los eventos que quieres enviar a TikTok. Es importante que en la columna&nbsp;<i><strong>Identificador del Evento para la Fuente de medios</strong></i> selecciones el evento de TikTok con el que se vinculará el evento evento enviado desde EMMA.</li>
</ul>
<figure class="image"><img src="/tiktok_17.png"></figure>
<p>Decide con qué evento de TikTok vas a querer vincular el evento que se envía desde EMMA .</p>
<ul>
  <li>install_app/retarget_app</li>
  <li>add_payment_info</li>
  <li>add_to_cart</li>
  <li>add_to_wishlist</li>
  <li>launch_app</li>
  <li>checkout</li>
  <li>complete_tutorial</li>
  <li>view_content</li>
  <li>create_group</li>
  <li>create_role</li>
  <li>generate_lead</li>
  <li>inapp_ad_click</li>
  <li>inapp_ad_impr</li>
  <li>join_group</li>
  <li>achieve_level</li>
  <li>loan_application</li>
  <li>loan_approval</li>
  <li>loan_disbursal</li>
  <li>login</li>
  <li>purchase</li>
  <li>rate</li>
  <li>registration</li>
  <li>search</li>
  <li>spend+credits</li>
  <li>start_trial</li>
  <li>subscribe</li>
  <li>unlock_achievement</li>
  <li>CUSTOM</li>
</ul>
<p>En la sección <i><strong>Eventos retargeting</strong></i> selecciona los eventos que serán usados para campañas de Retargeting. Ten en cuenta que solo podrás habilitar como eventos de retargeting los eventos que hayas configurado previamente en la sección <i><strong>Eventos</strong></i>.</p>
<figure class="image"><img src="/tiktok_18.png"></figure>
<p>Y listo, tu configuración para medir campañas de Re-Targeting está finalizada.</p>
