<!--
title: Twitter
description: Twitter
published: true
date: 2024-01-25T13:25:13.700Z
tags: 
editor: ckeditor
dateCreated: 2021-05-31T12:01:50.609Z
-->

<h1>Seguimiento con&nbsp;Twitter App Installs</h1>
<p><a href="https://biz.twitter.com/mobile-app-promotion"><i>Twitter App Promotion</i></a><i>&nbsp;</i>es el formato de Twitter orientado para llegar a nuevos usuarios de aplicaciones en dispositivos móviles.</p>
<figure class="image image_resized" style="width:46.71%;"><img src="/twitter_5.png"></figure>
<h2>Configuración en Twitter</h2>
<p>Sigue las siguientes indicaciones para empezar a medir las campañas de <i>Twitter App Promotion:&nbsp;</i></p>
<ul>
  <li>Accede a "Editar acceso a la cuenta":</li>
</ul>
<figure class="image"><img src="/twitter_6.png"></figure>
<ul>
  <li>Selecciona "Añadir acceso" e introduce la cuenta de EMMA&nbsp;<a href="https://twitter.com/eMMaIO">@emmaIO</a>&nbsp;con acceso de administrador de cuentas:</li>
</ul>
<figure class="image"><img src="/twitter_7.png"></figure>
<ul>
  <li>Guarda los cambios:</li>
</ul>
<figure class="image"><img src="/twitter_8.png"></figure>
<h2>Configuración en EMMA</h2>
<p>Una vez hayas realizado la configuración en Twitter del paso anterior debes ir a EMMA y seguir los pasos que listan a continuación:&nbsp;</p>
<ul>
  <li>Ve a <strong>Preferencias App</strong> y asegúrate de que los campos App Store URL y/o Google Play URL están correctamente configurados.</li>
</ul>
<figure class="image"><img src="/pref_app.png"></figure>
<ul>
  <li>Ve a la sección <strong>Captación &gt; Fuentes de medios.&nbsp;</strong></li>
</ul>
<figure class="image"><img src="/twitter_1.png"></figure>
<ul>
  <li>Busca y edita la fuente de Twitter.</li>
</ul>
<figure class="image"><img src="/twitter_2.png"></figure>
<ul>
  <li>Sin necesidad de hacer nada guarda los cambios.</li>
</ul>
<figure class="image"><img src="/twitter_3.png"></figure>
<ul>
  <li>Tras guardar la fuente de medios de Twitter, el equipo recibirá un email con vuestra solicitud para medir Twitter App Promotion.</li>
  <li>El equipo tiene que realizar una configuración en backend y os avisará en cuanto todo esté listo y podáis lanzar campañas con Twitter.</li>
  <li>Una vez el equipo te confirme que todo está listo, deberás revisar en Twitter, en <strong>Herramientas &gt; Administrador de eventos</strong> que se ha generado la etiqueta de conversión para la instalación tanto para Android como para iOS y que esta se encuetra activa.</li>
  <li>Una vez activa, puedes lanzar tu campaña. En cuanto se empiecen a generar <strong>instalaciones</strong> aparecerá automáticamente en EMMA una campaña llamada <strong>Twitter Campaign</strong> donde podrás ver todos los datos de la misma.</li>
</ul>
<h1>Campañas de SKAdNetwork</h1>
<p>EMMA permite medir camapñas de Twitter Ads orientadas a dispositivos iOS con versión del sistema operativo superior a iOS 14.5, lo que se conoce como campañas &nbsp;de SkAdNetowork. Al permitir la medición de esta tipología de campañas, podremos obtener en EMMA los datos agregados de las instalaciones y los eventos realizados a través de estas campañas.</p>
<blockquote>
  <p>Es importante que tengas en cuenta que debido a la política de privacidad de Apple, a través de las campañas de SkAdNetwork no podemos obtener información del usuario que se ha instalado la app o realizado eventos inapp, ya que Apple no comparte esta información con terceros. La única información que comparte con terceros es que se ha realizado una instalación o un evento vinculado a una determinada campaña. &lt;/br&gt;</p>
  <p>Es decir, solo podremos obtener datos agrerados de instalaciones y eventos inapp, sin poder saber bajo ningún concepto qué usuario ha realizado esas acciones.</p>
</blockquote>
<h2>Habilitar SkAdNetowrkt en EMMA para instalaciones</h2>
<p>Para poder empezar a medir este tipo de campañas en EMMA, lo primero es validar estos dos pasos:</p>
<ul>
  <li>Inicia sesión en tu cuenta de <a href="https://ng.emma.io">EMMA</a>.</li>
  <li>Ve a preferencias de la app y asegúrate que el en el apartado de configuración relativo a iOS, el campo App Store ID está configurado. De no ser así, tan solo tienes que obtener este id de la url de la store de tu app y configurarlo.</li>
</ul>
<figure class="image"><img src="/google_29.png"></figure>
<ul>
  <li>Asegurate de que has realizado los pasos previos de esta guía.</li>
</ul>
<p>Una vez validados los pasos anteriores, es necesario hacer esta configuración para poder medir SKAdNetwork de Facebook Ads.</p>
<ul>
  <li>Ve a la sección <strong>Captación &gt; Fuentes de medios</strong>.&nbsp;</li>
</ul>
<figure class="image"><img src="/google_35.png"></figure>
<ul>
  <li>Busca y edita el proveedor Twitter.</li>
</ul>
<figure class="image"><img src="/twitter_2.png"></figure>
<ul>
  <li>Si no está&nbsp;</li>
</ul>
<p>&nbsp;</p>
<p>- Si no tienes la **Conexión con Facebook** realizada, deberás hacer la conexión.&lt;/br&gt; &lt;p style="width:700px"&gt;![fb_25.png](/fb_25.png)&lt;/p&gt;</p>
<p>&nbsp;</p>
<p>- Una vez realizada la conexión, ya podrás habilitar el check de SKAdNetwork. &lt;/br&gt; &lt;p style="width:700px"&gt;![fb_42.png](/fb_42.png)&lt;/p&gt;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>- A continuación debes seleccionar las cuentas de Facebook dónde quieres realizar el seguimiento de SKAdNetwork. &lt;/br&gt;&lt;p style="width:700px"&gt;![google_32.png](/google_32.png)&lt;/p&gt;</p>
<p>&nbsp;</p>
<p>&gt; Además de esta configuración, es recomendable integrar el SDK de EMMA (versión 4.12 o posterior) para poder realizar un seguimiento del usuario a nivel de eventos y poder recibir asimismo una copia directa del postback de SkAdNetwork para obtener más información en EMMA.</p>
<p>{.is-info}</p>
<p>&nbsp;</p>
<p>En cuanto se empiecen a recibir datos de las campañas de SKAdNetwork, aparecerá automáticamente en EMMA una nueva campaña llamada **SkAdNetwork Facebook** que mostrará toda la información agregada.</p>
<p>![fb_44.png](/fb_44.png)</p>
<p>&nbsp;</p>
<p>### Consideraciones a tener en cuenta</p>
<p>&nbsp;</p>
<p>Para realizar el seguimiento de campañas con SKAdNetwork en Facebook es necesario habilitar el check “Campaña de datos para iOS 14 y versiones posteriores”. Sin esta opción habilitada no se contabilizaran las conversiones de SKAdNetwork.</p>
<p>&nbsp;</p>
<p>![fb_43.png](/fb_43.png)</p>
<p>&nbsp;</p>
<p>La conexión para los datos de SKAdNetwork se realiza a través de la API, esto quiere decir que hay que tener en cuenta lo siguiente:</p>
<p>&nbsp;</p>
<p>- SKAdNetwork no transmite los datos en tiempo real a Meta y puede sufrir retrasos de un mínimo de 24 horas. Por lo tanto, los resultados se registrarán en función de la hora a la que se hayan enviado a Meta y no la hora en la que realmente ocurrieron.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>## Medición de eventos de SKAdNetwork</p>
<p>Para poder hacer atribución de eventos de SKAdNetwork es necesario tener instalada la versión del SDK de EMMA 4.12 o posterior.</p>
<p>&nbsp;</p>
<p>Para configurar los eventos debemos seguir estos pasos:</p>
<p>- Haz login en tu cuenta de EMMA.</p>
<p>- Ve a la sección **Gestión &gt; Eventos** &lt;/br&gt;&lt;p style="width:300px"&gt;![crear_eventos_1.png](/crear_eventos_1.png)&lt;/p&gt;</p>
<p>- Busca y edita el evento deseado. &lt;/br&gt;&lt;p style="width:700px"&gt;![editar_evento_1.1.png](/editar_evento_1.1.png)&lt;/p&gt;</p>
<p>- En la parte final de la pantalla debes habilitar el check de SKAdNetwork y añadir un valor de conversión entre 1 y 63. &lt;/br&gt;&lt;p style="width:1000px"&gt;![google_36.png](/google_36.png)&lt;/p&gt;</p>
<p>&nbsp;</p>
<p>Los valores de conversión deben ser únicos, no puede usarse el mismo valor en múltiples eventos. En caso de seleccionar un valor en uso, EMMA nos avisará y nos mostrará el valor más cercano disponible para su configuración.&lt;/br&gt;&lt;p style="width:800px"&gt;![google_37.png](/google_37.png)&lt;/p&gt;</p>
<p>&nbsp;</p>
<p>&gt; Ten en cuenta que desde SKAdNetwork nos notifican solo la última conversión, el último evento realizado dentro de la ventana de atribución, por lo que si un usuario realiza 3 eventos de forma consecutiva dentro de la misma ventana de atribución, solo nos llegará la notificación del último y será este el que aparezca en EMMA.</p>
<p>{.is-warning}</p>
<h1>Preguntas frecuentes</h1>
<p><strong>¿Puedo ver los clics de las campañas de </strong><i><strong>Twitter App Promotion</strong></i><strong> en la EMMA?</strong></p>
<p>La integración&nbsp;<i>3rd party</i>&nbsp;con los socios oficiales de&nbsp;Twitter incluye únicamente la&nbsp;conversión y los datos de participación. No tenemos acceso a los datos de clics.&nbsp;</p>
<p><strong>¿Puedo ver las instalaciones de la App en </strong><i><strong>Twitter ads</strong></i><strong>?</strong></p>
<p>Sí, con la&nbsp;integración&nbsp;podrás&nbsp;ver las conversiones en ambas plataformas, tanto en EMMA como en Twitter.</p>
<p><strong>¿Cómo puedo probar mi configuración de&nbsp;</strong><i><strong>Twitter App Promotion</strong></i><strong>?</strong></p>
<p>Twitter no permite probar la configuración en un entorno de prueba por lo que recomendamos lanzar una campaña de prueba, con un límite presupuestario, para verificar si las primeras instalaciones se están registrando&nbsp;correctamente en EMMA.</p>
