<!--
title: Apptracker
description: Gestiona campañas de adquisición y fuentes de medios
published: true
date: 2021-10-04T09:39:20.181Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:44:41.393Z
-->

<h1>Introducción</h1>
<p>En el apptracker de EMMA, podrás gestionar todas tus campañas y fuentes. De esta manera, podrás conocer el origen exacto de cada uno de los usuarios de tu app.&nbsp;</p>
<p>Cuando las campañas estén activas y generando datos, podrás ver de manera general cómo están funcionando dichas campañas desde esta misma sección.&nbsp;</p>
<p>Lo primero que se debe hacer antes de consultar los datos, es seleccionar el periodo de fechas del cual se quiere tratar los datos. Por defecto se muestran datos de los últimos 7 días. Para seleccionar un periodo de fechas, se debe utilizar el selector de fechas situado en la parte superior derecha de la pantalla.&nbsp;</p>
<figure class="image"><img src="/r_ejecutivo_1.png"></figure>
<p>A continuación, se pueden añadir filtros en función de los datos que se quieran consultar. Los filtros disponibles son:</p>
<ul>
  <li><strong>Basic / Re-Targeting:</strong> es un filtro fijo y obligatorio que por defecto muestra las campañas Basic. En este <a href="https://docs.emma.io/es/adquisicion/apptracker#campa%C3%B1as-b%C3%A1sicas-y-re-targeting">enlace</a> se puede consultar información más detallada sobre los modelos de atribución disponibles en EMMA.</li>
  <li><strong>País:&nbsp;</strong>este filtro permite fragmentar los datos según el país de procedencia de las instalaciones.</li>
  <li><strong>Sistema operativo:</strong> con este filtro podremos consultar los datos en base a un sistema operativo determinado (Android/iOS)</li>
</ul>
<p>Una vez las campañas hayan generado actividad, se podrá&nbsp; ver, siempre en base al rango de fechas seleccionado y a los filtros establecidos, los datos generales de todas las campañas en la gráfica principal.</p>
<figure class="image"><img src="/apptracker_2.png"></figure>
<p>En esta gráfica se muestra la siguiente información:</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i><strong>Clics</strong></i></td>
        <td>Número total de clics realizados en todas las campañas</td>
      </tr>
      <tr>
        <td><i><strong>Coste</strong></i></td>
        <td>Coste total de todas las campañas</td>
      </tr>
      <tr>
        <td><i><strong>Instalación</strong></i></td>
        <td>Instalaciones totales de todas las campañas</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Ya por último, en la tabla que se muestra en la segunda parte de la pantalla se puede ver más detalladamente los datos adquiridos por cada una de las diferentes campañas en lo que respecta a instalaciones y eventos inapp realizados por los usuarios.</p>
<p>Además, la tabla es configurable con los KPIs que se necesiten analizar. Para ello, tan solo se tiene que hacer clic en el selector superior izquierdo de la tabla y se mostrará un desplegable con todos los KPIs disponibles. Más info sobre los KPIs disponibles pinchando <a href="https://docs.emma.io/es/adquisicion/apptracker#exporta-tus-datos">aquí.</a></p>
<figure class="image"><img src="/apptracker_3.png"></figure>
<p>Para acceder al detalle de las fuentes de cada campaña y conocer cuál es la que está funcionando mejor y obteniendo un mejor performance, hay que hacer clic en el menú contextual (los 3 puntitos a la izquierda del nombre de la campaña) y seleccionar la opción&nbsp;<i><strong>Fuentes.&nbsp;</strong></i></p>
<figure class="image"><img src="/apptracker_4.png"></figure>
<p>Una vez en el detalle de las fuentes, tendremos una línea por cada fuente / powlink creado y se podrán ver los datos correspondientes a cada una de ellas. Al igual que en el resumen general de las campañas, se puede configurar la tabla con los KPIs que se desean analizar. Más detalle sobre los KPIs disponibles <a href="https://docs.emma.io/es/adquisicion/apptracker#exporta-tus-datos">aquí.</a></p>
<h1>Campañas Básicas y Re-Targeting</h1>
<p>EMMA da la posibilidad de trabajar con dos modalidades de tracking links en función de los objetivos de la campañas.</p>
<ul>
  <li>Campañas Básicas</li>
  <li>Campañas Re-Targeting<ul>
      <li>Re-Targeting Last Click</li>
      <li>Re-Targeting Unique Click</li>
    </ul>
  </li>
</ul>
<h2>Campañas Básicas</h2>
<p>Las campañas en modalidad Básica atribuyen la actividad de dispositivos que nunca hayan tenido la aplicación y lo siguen haciendo durante toda la vida del usuario sin limitar dicha atribución por una ventana de atribución.</p>
<p>El objetivo principal de este tipo de campañas es impactar a usuarios que nunca hayan tenido la app y conocer toda la actividad atribuida al origen del evento de instalación independientemente del tiempo que haya pasado.</p>
<h3>Casos de uso</h3>
<p>A continuación se detallan distintos ejemplos de atribución:</p>
<p><strong>1. El dispositivo nunca ha tenido la app y hace clic en una fuente Básica:</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El usuario hace clic en una fuente Básica y se instala la app.</td>
        <td>Se cuenta un clic y una instalación en el informe de la fuente.</td>
      </tr>
      <tr>
        <td>El día 20 el usuario abre la app y se registra.</td>
        <td>Un evento de&nbsp;<i>session&nbsp;</i>y de&nbsp;<i>register</i> se cuenta en la fuente Básica.</td>
      </tr>
      <tr>
        <td>El día 380 el usuario abre la app y realiza una compra.</td>
        <td>Un evento de&nbsp;<i>session&nbsp;</i>y de&nbsp;<i>conversion</i> se cuenta en la fuente Básica.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p><strong>2. El dispositivo ya tenía la app y hace clic en una fuente Básica (fuente B) distinta a la del origen de la&nbsp;instalación (fuente A):</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El usuario hace clic en una fuente Básica distinta a la del origen de la instalación, abre la app y realiza un login.</td>
        <td>Se cuenta un clic en la fuente Básica B y una <i>session</i> y un <i>login</i> en la fuente Básica A.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Campañas Re-Targeting</h2>
<p>Las campañas en modalidad Re-Targeting atribuyen tanto la actividad de dispositivos que nunca hayan tenido la app como de aquellos que sí que la tienen durante una ventana de atribución limitada.</p>
<p>La <strong>ventana de atribución</strong> establece el tiempo máximo que puede transcurrir entre un clic y un evento (instalación o in-app) para que dicho evento sea asignado en el Apptracker.</p>
<p>El objetivo principal de este tipo de campañas es re-impactar a usuarios que ya tengan la app instalada y así poder atribuir cierta actividad in-app tras la interacción con este tipo de tracking links.</p>
<p>Dentro de las campañas en modalidad Re-Targeting, nos encontramos con dos posibles modelos de atribución:</p>
<ul>
  <li>Re-Targeting <a href="https://docs.emma.io/es/adquisicion/apptracker#re-targeting-last-click"><strong>Last Click</strong></a><strong>.</strong></li>
  <li>Re-Targeting <a href="https://docs.emma.io/es/adquisicion/apptracker#re-targeting-unique-click"><strong>Unique Click</strong></a><strong>.</strong></li>
</ul>
<p>&nbsp;</p>
<h3><strong>Re-Targeting Last Click</strong></h3>
<p>Las campañas de Re-Targeting en modalidad <i><strong>Last Click</strong></i> son las estándar del mercado. Este tipo de campañas&nbsp;te permiten atribuir cualquier evento de la app al último clic que haya realizado el usuario dentro de la ventana de atribución. Este clic debe haber sido realizado en alguna de las campañas y fuentes creadas en el Apptracker.</p>
<p>Para crear una campaña de Re-Targeting en modalidad Last Click sigue estos pasos:</p>
<p>1. Vete a la sección&nbsp;<i><strong>Preferencias&nbsp;App </strong></i>y comprueba que la opción <i><strong>Unique click</strong></i> está inactiva. Si no es así, desactívala.</p>
<figure class="image"><img src="/rt.png"></figure>
<p>2. <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as#gesti%C3%B3n-de-campa%C3%B1as">Crea tu campaña en el Apptracker marcando la modalidad Re-Targeting</a>.</p>
<p>&nbsp;</p>
<h3><strong>Casos de uso Re-Targeting Last Click</strong></h3>
<p><strong>1. El dispositivo nunca ha tenido la app y hace clic en una fuente de Re-Targeting con una ventana de atribución de 30 días:</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El día 1 el usuario hace clic en una fuente de Re-Targeting y se instala la app.</td>
        <td>Se cuenta un clic, un engagement y una instalación en el informe de la fuente de Re-Targeting.</td>
      </tr>
      <tr>
        <td>El día 30 el usuario abre la app y realiza un registro.</td>
        <td>Un evento de <i>session</i> y de <i>register</i> se cuenta en la fuente de Re-Targeting.</td>
      </tr>
      <tr>
        <td>El día 31 el usuario abre la app y realiza una compra.</td>
        <td>Un evento de session y de conversion se cuenta en el histórico del usuario* pero no en la fuente de Re-Targeting.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>* El histórico del usuario es siempre accesible desde las distintas opciones de informes de la sección de Comportamiento.</p>
<p><strong>2. El dispositivo nunca ha tenido la app y hace clic en una fuente de Re-Targeting (fuente A) con una ventana de atribución de 30 días&nbsp;y posteriormente en otra fuente de Re-Targeting con ventana de atribución de 4 días (fuente B):</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El día 1 el usuario hace clic en la fuente de Re-Targeting A y se instala la app.</td>
        <td>Se cuenta un clic, un engagement y una instalación en el informe de la fuente de Re-Targeting A.</td>
      </tr>
      <tr>
        <td>El día 2 el usuario abre la app y realiza un registro.</td>
        <td>Un evento de <i>session</i> y de <i>register</i> se cuenta en la fuente de Re-Targeting A.</td>
      </tr>
      <tr>
        <td>El día 3 el usuario hace clic en la fuente de Re-Targeting B, abre la app y realiza una conversión.</td>
        <td>Se cuenta un clic, un engagement, una <i>session</i> y una <i>conversion</i> en el informe de la fuente de Re-Targeting B. Un evento de session y de conversion se cuenta en el histórico del usuario* pero no en la fuente de Re-Targeting A.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>* El histórico del usuario es siempre accesible desde las distintas opciones de informes de la sección de Comportamiento.</p>
<p><strong>3. El dispositivo ya tenía la app y hace clic en una fuente de Re-Targeting con una ventana de atribución de 14 días:</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El día 1 el usuario hace clic en una fuente de Re-Targeting.</td>
        <td>Se cuenta un clic y un engagement en el informe de la fuentede Re-Targeting.</td>
      </tr>
      <tr>
        <td>El día 3 el usuario abre la app y realiza un registro.</td>
        <td>Un evento de <i>session</i> y de <i>register</i> se cuenta en la fuente de Re-Targeting así como en la fuente de atribución de la instalación (<i>básica u orgánico</i>).</td>
      </tr>
      <tr>
        <td>El día 15 el usuario abre la app y realiza una compra.</td>
        <td>Un evento de <i>session</i> y de <i>conversion</i> se cuenta en la fuente de atribución de la instalación (<i>básica u orgánico</i>)&nbsp;&nbsp;pero no en la fuente de Re-Targeting.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p><strong>4. El dispositivo ya tenía la app y hace clic en una fuente de Re-Targeting con una ventana de atribución de 2 días (fuente A) y posteriormente en otra fuente de Re-Targeting con ventana de atribución de 4 días (fuente B):</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El día 1 el usuario hace clic en la fuente de Re-Targeting A y abre la app.</td>
        <td>Se cuenta un clic, un engagement y una <i>session</i> en el informe de la fuente A. Se cuenta una <i>session</i>&nbsp;en la fuente de atribución de la instalación (<i>básica u orgánico</i>).</td>
      </tr>
      <tr>
        <td>El día 3 el usuario abre la app y realiza un registro.</td>
        <td>Un evento de <i>session</i> y de <i>registro</i> se cuenta en la fuente de atribución de la instalación (<i>básica u orgánico</i>)&nbsp;pero no en la fuente de Re-Targeting A.</td>
      </tr>
      <tr>
        <td>El día 4 el usuario hace clic en la fuente de Re-Targeting B, abre la app y realiza una conversión.</td>
        <td>Se cuenta un clic, un engagement, una <i>session</i> y una <i>conversion</i> en el informe de la fuente de Re-Targeting B. Se cuenta una <i>session </i>y una<i> conversion</i>&nbsp;en la fuente de atribución de la instalación (<i>básica u orgánico</i>).</td>
      </tr>
      <tr>
        <td>El día 7 el usuario abre la app y realiza un login.</td>
        <td>Se cuenta una <i>session</i> y un <i>login</i> en la fuente de Re-Targeting B así como en la&nbsp;en la fuente de atribución de la instalación (<i>básica u orgánico</i>).</td>
      </tr>
      <tr>
        <td>El día 8 el usuario abre la app y realiza una nueva conversión.</td>
        <td>Se cuenta una <i>session</i> y una <i>conversion</i> en la fuente&nbsp;de atribución de la instalación (<i>básica u orgánico</i>) pero no en la fuente de Re-Targeting.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<h3><strong>Re-Targeting Unique Click</strong></h3>
<p>Las campañas de Re-Targeting en modalidad<i><strong> Unique Click</strong></i> te permiten atribuir sólo determinados eventos de la app a cada una de las campañas teniendo en cuenta el último clic por campaña dentro de la ventana de atribución. Esto quiere decir que cada campaña tendrá uno o varios eventos objetivo y que la atribución tendrá en cuenta que la asignación de la conversión se realice sólo en el último click de la campaña que tenga configurado dicho evento objetivo.</p>
<p>Todos los eventos que se seleccionen para una campaña de Re-Targeting en modalidad Unique Click serán comunes a todas sus fuentes. La atribución entre las distintas fuentes de una misma campaña se realizará teniendo en cuenta el último clic del usuario.</p>
<h3>Importante</h3>
<p>Recuerda que los eventos sólo podrán ser atribuidos a una única campaña. Nunca se podrá usar el mismo evento para dos o más campañas diferentes.</p>
<p>&nbsp;</p>
<p>Para crear una campaña de Re-Targeting en modalidad Unique Click sigue estos pasos:</p>
<p>1. Vete a la sección&nbsp;<strong>Preferencias App</strong><i><strong>&nbsp;</strong></i>y comprueba que la opción <i><strong>Unique click</strong></i> está activa. Si no es así, actívala.</p>
<figure class="image"><img src="/rt_2.png"></figure>
<p>2. <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as#gesti%C3%B3n-de-campa%C3%B1as">Crea tu campaña en el Apptracker marcando la modalidad Retargeting</a> y selecciona el evento o eventos objetivo de la campaña. Los eventos objetivo serán los únicos que se asignen a la campaña bajo este modelo de atribución.</p>
<h3>Importante</h3>
<p>Cada vez que se active o desactive el selector de modalidad de atribución de Re-Targeting, se pararán todas las campañas que estén en ese momento funcionando en el Apptracker y se tendrán que crear nuevas campañas en la nueva modalidad de atribución.</p>
<h3><strong>Casos de uso Re-Targeting Unique Click</strong></h3>
<p><strong>1. El dispositivo nunca ha tenido la app y hace clic en una fuente de Re-Targeting con una ventana de atribución de 30 días de una campaña con el evento registro como objetivo:</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El día 1 el usuario hace clic en una fuente de Re-Targeting y se instala la app.</td>
        <td>Se cuenta un <i>clic</i>, un <i>engagement y&nbsp;</i>una <i>instalación</i> en el informe de la fuente de Re-Targeting.</td>
      </tr>
      <tr>
        <td>El día 30 el usuario abre la app y realiza un registro y un first login.</td>
        <td>Un evento de <i>register&nbsp;</i>se cuenta en la fuente de Re-Targeting. Un evento de first login se cuenta en el histórico del usuario*.</td>
      </tr>
      <tr>
        <td>El día 31 el usuario abre la app y realiza una compra.</td>
        <td>Un evento de <i>conversion</i> se cuenta en el histórico del usuario* pero no en la fuente de Re-Targeting.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>* El histórico del usuario es siempre accesible desde las distintas opciones de informes de la sección de Comportamiento.</p>
<p><strong>2. El dispositivo nunca ha tenido la app y hace clic en una fuente de Re-Targeting (de la campaña A con el evento conversión atribuido) con una ventana de atribución de 30 días&nbsp;y posteriormente en otra fuente de Re-Targeting (de la campaña B con el evento login atribuido) con ventana de atribución de 14 días:&nbsp;</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El día 1 el usuario hace clic en la fuente de Re-Targeting de la campaña A y se instala la app.</td>
        <td>Se cuenta un <i>clic</i>, un <i>engagement</i>, y una <i>instalación</i> en el informe de la fuente de la campaña A.</td>
      </tr>
      <tr>
        <td>El día 2 el usuario abre la app y realiza un registro.</td>
        <td>Un evento de <i>register</i> se cuenta en el histórico del usuario*.</td>
      </tr>
      <tr>
        <td>El día 9 el usuario hace clic en la fuente de Re-Targeting de la campaña B.</td>
        <td>Se cuenta un <i>clic</i> y un <i>engagement</i> en el informe de la fuente de la campaña B.</td>
      </tr>
      <tr>
        <td>El día 23 el usuario abre la app, realiza una conversión y un login.</td>
        <td>Un evento de <i>conversion</i> se registra en la fuente Re-Targeting de la campaña A, un evento de&nbsp;<i>login</i> se registra en la fuente Re-Targeting de la campaña B.</td>
      </tr>
      <tr>
        <td>El día 31 el usuario abre la app, realiza un login y una nueva conversión.</td>
        <td>Un evento de&nbsp;<i>conversion y login&nbsp;</i>se registra en el histórico* del usuario pero no en el reporting de la fuente de la campaña A ni de la campaña B.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>* El histórico del usuario es siempre accesible desde las distintas opciones de informes de la sección de Comportamiento.</p>
<p><strong>3. El dispositivo ya tenía la app y hace clic en una fuente de Re-Targeting con una ventana de atribución de 14 días de una campaña con el evento conversión como objetivo:</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El día 1 el usuario hace clic en una fuente de Re-Targeting.</td>
        <td>Se cuenta un <i>clic</i> y un <i>engagement</i> en el informe de la fuente.</td>
      </tr>
      <tr>
        <td>El día 3 el usuario abre la app y realiza un registro.</td>
        <td>Un evento de <i>session</i> y de <i>register</i> se cuenta en la fuente de atribución de la instalación&nbsp;y en el histórico* del usuario.</td>
      </tr>
      <tr>
        <td>El día 10 el usuario abre la app y realiza una conversión.</td>
        <td>Un evento de&nbsp;<i>conversion</i> se registra en la fuente de Re-Targeting y un evento de <i>session</i> y <i>conversion </i>se registra en la fuente&nbsp;de atribución de la instalación<i>&nbsp;</i>y en el histórico* del usuario.&nbsp;</td>
      </tr>
      <tr>
        <td>El día 15 el usuario abre la app y realiza una nueva conversión.</td>
        <td>Un evento de <i>session</i> y de <i>conversion</i> se cuenta en la fuente de atribución de la instalación&nbsp;y en el histórico* del usuario pero no en la fuente de Re-Targeting.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>* El histórico del usuario es siempre accesible desde las distintas opciones de informes de la sección de Comportamiento.</p>
<p><strong>4. El dispositivo ya tenía la app y hace clic en una fuente de Re-Targeting con una ventana de atribución de 2 días (fuente A) y posteriormente en otra fuente de Re-Targeting con ventana de atribución de 4 días (fuente B). Ambas fuentes pertenecen a una campaña con los eventos login y conversion como objetivo:</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>El día 1 el usuario hace clic en la fuente de Re-Targeting A, abre la app y hace login.</td>
        <td>Se cuenta un clic, un engagement y un&nbsp;<i>login</i> en el informe de la fuente A. Se cuenta una <i>session</i>&nbsp;en la fuente de atribución de la instalación y en el histórico* del usuario.</td>
      </tr>
      <tr>
        <td>El día 3 el usuario abre la app y realiza una conversión.</td>
        <td>Un evento de <i>session</i> y de <i>conversion</i> se cuenta en la fuente de atribución de la instalación<i>&nbsp;y</i> en el histórico* del usuario&nbsp;pero no en la fuente de Re-Targeting A.</td>
      </tr>
      <tr>
        <td>El día 4 el usuario hace clic en la fuente de Re-Targeting B, abre la app y realiza una conversión.</td>
        <td>Se cuenta un <i>clic</i>, un <i>engagement</i> y una&nbsp;<i>conversion</i>&nbsp;en el informe de la fuente de Re-Targeting B. Se cuenta una <i>session </i>y&nbsp;una <i>conversion</i> en la fuente de atribución de la instalación&nbsp;y en el histórico* del usuario.</td>
      </tr>
      <tr>
        <td>El día 7 el usuario abre la app y realiza un login.</td>
        <td>Se cuenta un clic y un evento de <i>login</i> en la fuente de Re-Targeting B y un evento de&nbsp;<i>session&nbsp;</i>y <i>login </i>en la fuente de atribución de la instalación y en el histórico* del usuario pero no en la fuente de Re-Targeting A.</td>
      </tr>
      <tr>
        <td>El día 9 el usuario abre la app y realiza un login y una nueva conversión.</td>
        <td>Se cuenta un evento de&nbsp;<i>session, login&nbsp;</i>y&nbsp;<i>conversion</i> en la fuente de atribución de la instalación (básica<i>)&nbsp;</i>o en el histórico* del usuario&nbsp;pero no en la fuente de Re-Targeting.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>* El histórico del usuario es siempre accesible desde las distintas opciones de informes de la sección de Comportamiento.</p>
<h1>Gestión de campañas</h1>
<p>Para poder conocer en detalle el origen de los usuarios es necesaria la creación de campañas que nos permitan medir las diferentes fuentes de tráfico. En nuestra guía sobre <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as"><i><strong>Campañas de adquisición</strong></i></a><i><strong> &nbsp;</strong></i>podrás ver en detalle como crear, editar, clonar y eliminar campañas de adquisición.&nbsp;</p>
<h1>Gestión de fuentes</h1>
<p>Una vez configuradas las campañas, es necesario crear fuentes (tracking links, enlaces de seguimiento) que nos permitan conocer el origen exacto de cada una de las instalaciones. Puedes ver más información sobre cómo gestionar las fuentes de medios en nuestro artículo <a href="https://docs.emma.io/es/adquisicion/fuentes-de-medios"><i><strong>Fuentes de medios</strong></i></a><i><strong>.&nbsp;</strong></i></p>
<h1><i><strong>Envío de clics vía server to server (S2S)</strong></i></h1>
<p>Si necesitas que los clics de tus campañas con EMMA se envíen a un sistema externo puedes configurar una url/postback a través de la cual se notificarán los clics. Está configuración se realiza a nivel de proveedor/fuente de medios y afectará a todas las fuentes que tengan vinculado dicho proveedor.&nbsp;</p>
<p>El envío de clics server to server está permitido para el proveedor <i>custom</i> (proveedor por defecto cuando no se trata de campañas con redes publicitarias) y también para los nuevos proveedores que se creen desde cero. Para ello, tan solo tenemos que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Haz login en <a href="https://ng.emma.io/es/login?returnUrl=%2Findex">EMMA</a>. &nbsp;</li>
  <li>Ve a la sección <strong>Captación &gt; Fuentes de medios.</strong></li>
</ul>
<figure class="image"><img src="/clic_s2s_1.png"></figure>
<ul>
  <li>Haz clic en el botón <strong>+ Nueva fuente de medios</strong> para crear una nueva fuente/proveedor o busca y edita la fuente/proveedor <i><strong>custom</strong>.&nbsp;</i></li>
</ul>
<figure class="image"><img src="/clic_s2s_2.png"></figure>
<figure class="image"><img src="/clic_s2s_3.png"></figure>
<ul>
  <li>Ve al apartado <i><strong>Postback de click</strong></i> y configura la postback mediante la que se tienen que notificar los clics generados.&nbsp;</li>
</ul>
<figure class="image"><img src="/clic_s2s_4.png"></figure>
<ul>
  <li>En el campo URL añade la url base de la postback y los parámetros fijos que quieras.</li>
</ul>
<blockquote>
  <p>En caso de que vayas a añadir parámetros fijos diferentes para cada powlink creado en EMMA existen dos opciones:&nbsp;</p>
  <ol>
    <li>Crear una nueva fuente de medios/proveedor para vincular a cada powlink. Donde cada fuente de medios creada tendrá los parámetros fijos correspondiente a cada campaña.&nbsp;</li>
    <li>Crear una única fuente de medios/proveedor universal con los parámetros comunes y añadir al final de cada powlink los parámetros específicos de cada campaña. Todas los parámetros que se anexen al powlink, se propagarán a la postback y se notificarán de manera correcta. <strong>Esta sería la opción recomendada por EMMA.&nbsp;</strong><br>En este ejemplo puedes ver como añadir los parámetros fijos al tracking link creado en EMMA:&nbsp;<br><a href="https://eat.emmasolutions.net?entw=1a763960aebd59fc34c6dd2c390496cc&amp;enlace=1&amp;campaña=inversiones&amp;origen=web&amp;param1=864">https://eat.emmasolutions.net?entw=1a763960aebd59fc34c6dd2c390496cc&amp;enlace=1&amp;campaña=inversiones&amp;origen=web&amp;param1=864</a></li>
  </ol>
</blockquote>
<ul>
  <li>Si quieres añadir parámetros dinámicos, haz clic en el botón <strong>+ Añadir parámetro</strong> y selecciona el parámetro de EMMA pertinente en la columna <i><strong>Parámetro EMMA&nbsp;</strong></i> y en la columna <i><strong>Parámetro Fuente de medios</strong></i> configura el nombre bajo el que quieres recibir ese parámetro. Por ejemplo city - ciudad. De esta manera, la información de la ciudad se enviará anexado a la postback como ciudad=madrid. &nbsp;<br><a href="https://ejemplopostback.es?ciudad=madrid">https://ejemplopostback.es?ciudad=madrid</a><br>Los parámetros dinámicos disponibles para esta configuración son:&nbsp;<br>&nbsp;</li>
</ul>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Parámetro de EMMA&nbsp;</strong></td>
        <td><strong>Significado</strong></td>
      </tr>
      <tr>
        <td>click_id</td>
        <td>Identificador del clic de EMMA. Es un código alfanumérico.</td>
      </tr>
      <tr>
        <td>provider_id</td>
        <td>Identificador del proveedor en EMMA. Es un código numérico.</td>
      </tr>
      <tr>
        <td>network_id</td>
        <td>Identificador de la fuente/powlink en EMMA. Es un código numérico.</td>
      </tr>
      <tr>
        <td>campaign_id</td>
        <td>Identificador de la campaña en EMMA. Es un código numérico.</td>
      </tr>
      <tr>
        <td>random</td>
        <td>Identificador generado de manera aleatoria.</td>
      </tr>
      <tr>
        <td>city</td>
        <td>Información de la ciudad desde la que se ha realizado el clic.</td>
      </tr>
      <tr>
        <td>country</td>
        <td>Información del país desde el que se ha realizado el clic.&nbsp;</td>
      </tr>
      <tr>
        <td>ip</td>
        <td>Dirección ip desde la que se ha realizado el clic.</td>
      </tr>
      <tr>
        <td>language</td>
        <td>Idioma del navegador desde el que se ha realizado el clic.&nbsp;</td>
      </tr>
      <tr>
        <td>os</td>
        <td>Sistema operativo del navegador desde el que se ha realizado el clic.&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Campañas autoatribuidas</h1>
<p>Con EMMA podrás lanzar campaña con las siguientes redes autoatribuidas:&nbsp;</p>
<ul>
  <li><a href="https://docs.emma.io/es/apple-search-ads">Apple Search Ads</a></li>
  <li><a href="https://docs.emma.io/es/guias-de-integracion/facebook">Facebook/Instagram</a></li>
  <li><a href="https://docs.emma.io/es/google">Google</a></li>
  <li><a href="https://docs.emma.io/es/snapchat">Snapchat</a></li>
  <li><a href="https://docs.emma.io/es/twitter">Twitter</a></li>
  <li><a href="https://docs.emma.io/es/tiktok">TikTok</a></li>
</ul>
<p>Haz clic en cada uno de los soportes para ver más información al respecto.</p>
<h1>Configurar Powlink y pwlnk (STU)&nbsp;</h1>
<p>Antes de ver en detalle la configuración necesaria para usar el powlink de EMMA, explicaremos qué es el powlink para poder entender las ventajas de su implementación y uso y a continuación veremos en profundidad la configuración pertinente para poder hacer uso del mismo.&nbsp;</p>
<h2>¿Qué es Powlink y pwlnk?</h2>
<p>Powlink es una tecnología de EMMA que se basa en el funcionamiento de los App Links (Android) y los Universal Links (iOS) y nos permite obtener todo el potencial de los mismos. Teniendo esto en cuenta, veremos a continuación los diferentes escenarios que distingue el Powlink:&nbsp;</p>
<ul>
  <li>El usuario no dispone de la App instalada en su dispositivo. En tal caso&nbsp;el enlace redireccionará al usuario a App Store o Google Play en función del sistema operativo del dispositivo (iOS / Android&nbsp;respectivamente).</li>
  <li>El usuario ya tiene instalada la App en su dispositivo. En tal caso, el enlace abrirá la App, de modo que desde cualquier otra App es posible&nbsp;poder enlazar los contenidos que tengamos dentro de nuestra App.</li>
</ul>
<p>Respecto a pwlnk, es una versión acortada de Powlink que comparte todas sus funcionalidades y características salvo la longitud del mismo. Tanto el Powlink clásico como el pwlnk pueden convivir juntos y se puede usar uno u otro indistintamente según se adapte más uno u otro a tus necesidades específicas.<br>&nbsp;</p>
<h3>Nota</h3>
<p>Si antes de configurar la short url ya tenías fuentes dentro del Apptracker de EMMA, en la columna de pwlnk saldrá por defecto el valor N/A.&nbsp;El pwlnk sólo se mostrará en aquellas fuentes creadas después de la configuración del short url.</p>
<h2>Configuración para usar Powlink y pwlnk</h2>
<p>Para poder disfrutar de todas las ventajas de Powlink es necesario en primer lugar configurar en la sección <strong>Preferencias app </strong>lo siguiente:&nbsp;</p>
<ul>
  <li><strong>Google Play ID</strong>, <strong>Cert Fingerprints</strong> <strong>y Google Play URL </strong>para soportar Powlink en Android</li>
  <li><strong>App Store Bundle</strong> <strong>ID</strong>, <strong>App Team ID y AppStore URL</strong>&nbsp;para Powlink en iOS.</li>
  <li><strong>Subdominio de powlink.io</strong> <strong>y pwlnk.io </strong>que se va a emplear.</li>
</ul>
<figure class="image image_resized" style="width:66.89%;"><img src="/ios_config.png"></figure>
<figure class="image image_resized" style="width:67.08%;"><img src="/android_config.png"></figure>
<figure class="image image_resized" style="width:67.17%;"><img src="/dominio_config.png"></figure>
<p>Una vez realizada esta configuración en tu app en EMMA, es necesario que la app esté configurada para soportar Powlink y pwlnk. &nbsp;En esta <a href="https://developer.emma.io/es/android/integracion-sdk#integraci%C3%B3n-acquisition">guía</a> encontrarás toda la información necesaria para la configuración de la app de Android y en esta otra <a href="https://developer.emma.io/es/ios/integracion-sdk#integraci%C3%B3n-acquisition">guía</a> podrás ver toda la info para la app de iOS.&nbsp;</p>
<h2>Usando powlink en tus campañas</h2>
<p>A la hora de <a href="https://docs.emma.io/es/adquisicion/fuentes-de-medios#crear-fuentes">crear</a> o <a href="https://docs.emma.io/es/adquisicion/fuentes-de-medios#editar-y-clonar-fuentes">editar</a> una Fuente (fuente de tráfico) para una campaña, disponemos del apartado Deeplink, que podemos configurar por cada fuente que tengamos. Si quieres utilizar una landing con Deeplink, tan solo tienes que activar el check. Puedes ver más información sobre las landings con deeplink <a href="https://docs.emma.io/es/adquisicion/apptracker#redireccionamiento-para-navegadores-no-nativos">aquí</a>.&nbsp;</p>
<figure class="image"><img src="/deeplink_1.png"></figure>
<p>En este apartado, introduciremos el destino al que queremos enviar al usuario (en caso de disponer de deeplinks en nuestra App). A modo de ejemplo se sugiere una estructura del tipo page/product (página/producto). Esta será la pantalla y/o sección que se mostrará al usuario cuando sea redireccionado a la apertura de la App.&nbsp;Al guardar, este <i>path</i> se empleará para generar el Powlink sobre el dominio powlink.io.</p>
<figure class="image"><img src="/deeplink_2.png"></figure>
<p>Una vez guardado, en el listado de fuentes de la campaña, dispondrás de la url de nuestro Powlink que puedes compartir públicamente con tus proveedores / medios para la medición de tus campañas de captación de usuarios.</p>
<figure class="image"><img src="/deeplink_3.png"></figure>
<h1>Redireccionamiento para navegadores no nativos</h1>
<p>Desde EMMA hemos estado trabajando en un desarrollo para poder asegurar un rango más amplio de funcionamiento del AppLink / UniversalLink y ampliar su funcionamiento y lógica al mayor número de escenarios posible. Para que un AppLink / UniversalLink funcione como tal, es necesario que se realice una acción (clic) sobre el mismo. Con este desarrollo se amplia el espectro de acción del AppLink / UniversalLink de tal manera que también funciona como tal sin necesidad de que se realice un clic explícito sobre el mismo (redirección o pegado del powlink directamente en un navegador).</p>
<p>Para ello, se ha determinado que todos los powlinks que tengan configurado un deeplink y se configure desde EMMA que usen una landing de deeplinking tengan un comportamiento determinado en función del navegador por defecto que se tenga seleccionado. De esta manera, a continuación, veremos el comportamiento dentro de cada sistema operativo.</p>
<p>En cualquier caso, los powlinks que no tengan configurado un deeplink usando una landing de deeplink van a seguir funcionando con la misma lógica de siempre, este flujo sólo aplica en aquellos casos en los que el powlink tenga un deeplink con landing de deeplinking.</p>
<h2>Redireccionamiento en iOS</h2>
<p>En el caso de iOS vamos a diferenciar el comportamiento en función del navegador por defecto que tenga el usuario configurado, diferenciando entre Safari (propio del OS) y otros navegadores “externos” como Chrome.&nbsp;</p>
<h3>Safari</h3>
<p>Si el usuario tiene configurado en su dispositivo como navegador por defecto Safari, el flujo del powlink será el siguiente:</p>
<figure class="image"><img src="https://docs.emma.io/ios_safari.png"></figure>
<p>*En el caso de que se haga un clic explícito sobre el powlink con deeplink y la app esté instalada en el dispositivo, la aplicación se levantará inmediatamente. En caso de hacer clic y no se tenga la app instalada, el flujo es el mismo que el detallado arriba.&nbsp;</p>
<p><strong>IMPORTANTE</strong></p>
<p>Las alertas que se muestran en el flujo, <i>“¿Quieres abrir la app?” y “Enlace no encontrado”</i>, es algo que hace por defecto Safari, es algo interno del OS y no se puede eliminar, es un elemento nativo sobre el que no tenemos control y no se puede evitar.&nbsp;</p>
<h3>Chrome</h3>
<p>Si el usuario tiene configurado en su dispositivo como navegador por defecto Chrome, el flujo del powlink será (en todos los casos) el siguiente:</p>
<figure class="image"><img src="https://docs.emma.io/ios_chrome_vii.png"></figure>
<h2>Redireccionamiento en Android</h2>
<p>Al igual que en el caso de iOS, vamos a describir dos flujos y analizar el comportamiento del powlink en función del navegador seleccionado por el usuario como navegador por defecto. En este caso vamos a ver los flujos con el navegador nativo Chrome y con otros navegadores “externos” como pueden ser Firefox u Opera.&nbsp;</p>
<h3>Chrome</h3>
<p>Si el usuario tiene configurado en su dispositivo como navegador por defecto Chrome, el flujo del powlink será el siguiente:</p>
<figure class="image"><img src="https://docs.emma.io/android_chrome_vii.png"></figure>
<p><strong>IMPORTANTE:&nbsp;</strong></p>
<p>En el caso de Chrome, si se añade la url a mano en el navegador, este va a bloquear el deeplinking y dejará al usuario en la landing. Se trata de un comportamiento propio de Chrome que hace automáticamente sobre el cual no tenemos control alguno y no se puede obviar.&nbsp;</p>
<p>Chrome sólo abrirá aquellos deeplinks que hayan sido ejecutados desde una acción (clic en un botón o redirección).&nbsp;</p>
<h3>Firefox / Opera</h3>
<p>En caso de que el usuario tenga configurado Firefox / Opera en su dispositivo como navegador por defecto, el flujo del powlink será, en todos los casos, el siguiente:&nbsp;</p>
<figure class="image"><img src="https://docs.emma.io/android_firefox.png"></figure>
<h2>Huawei HMS</h2>
<p>Huawei tiene su propio navegador por defecto, <i>Huawei Browser, </i>pero aún con un único navegador, tenemos dos posibilidades de funcionamiento del powlink. En este caso, contamos con una primera opción, que es la opción por defecto que empleará EMMA y una segunda opción que implica un pequeño paso de configuración para poder usar el <i>AGConnect </i>(App Link) y la creación de una landing propia con la lógica de la landing por defecto de EMMA.</p>
<p>Veamos a continuación cada una de las opciones disponibles y sus especificaciones.&nbsp;</p>
<h3>Huawei Browser (opción por defecto)</h3>
<p>La opción que ofrecerá EMMA por defecto, presenta el siguiente flujo en el caso de que el usuario emplee <i>Huawei Browser</i> como navegador:&nbsp;</p>
<figure class="image"><img src="https://docs.emma.io/huawei_default_vii.png"></figure>
<p>En este caso, en el flujo del usuario que NO tiene la app instalada o que no da permiso para abrirla cuando la tiene instalada, la App Gallery se abrirá siempre <i>“embebida”</i> en el navegador.&nbsp;</p>
<h3>AGConnect link (opción alternativa)</h3>
<p>Si queremos que al no tener la app instalada se abra la app de App Gallery, sería necesario optar por esta alternativa. Para poder hacer uso de esta alternativa, será necesario una pequeña configuración y crear una nueva landing personalizada. Más abajo, podemos ver detalladamente ambos requerimientos detallado.&nbsp;</p>
<p>En este caso, el flujo siempre será el siguiente:&nbsp;</p>
<figure class="image"><img src="https://docs.emma.io/huawei_agconnect_vii.png"></figure>
<h3>Configuración AGConnect Link</h3>
<p>Habilitar el AGConnect Link para el uso en la landing de redireccionamiento es muy sencillo, tan solo hay que seguir dos pasos simples.&nbsp;</p>
<ul>
  <li>Haz login en <a href="https://developer.huawei.com/consumer/es/"><i><strong>App Gallery Connect</strong></i></a>y seleccionamos la opción <i><strong>App Linking.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="https://docs.emma.io/agconnect_i.png"></figure>
<ul>
  <li>Haz clic en el botón <i><strong>New URL prefix</strong></i> y crea un nuevo dominio de AGConnect Link.</li>
</ul>
<figure class="image"><img src="https://docs.emma.io/agconnect_ii.png"></figure>
<figure class="image"><img src="https://docs.emma.io/agconnect_iii.png"></figure>
<p>Una vez realizada esta configuración en App Gallery Connect, debemos crear una nueva landing personalizada en EMMA usando el código principal de nuestra landing (ponte en contacto con nosotros para solicitar el código html).&nbsp;</p>
<p>Una vez tengas acceso a nuestro código, deberás llevar a cabo las siguientes acciones:&nbsp;</p>
<ol>
  <li>Cambiar el flag <i><strong>useHuaweiAppLink</strong></i> de <i>false</i> a <i><strong>true</strong></i></li>
  <li>Añadir dentro de la landing, en el código <i>javascript,</i> el <i><strong>packageName</strong></i></li>
  <li>Añadir dentro de la landing, en el código <i>javascript,</i> el dominio de AGConnect Link configurado previamente en <a href="https://developer.huawei.com/consumer/es/"><i><strong>App Gallery Connect</strong></i></a></li>
</ol>
<h2><strong>Configurar una landing de deeplink para los powlinks</strong></h2>
<p>Para ver en detalle como vincular una landing de deeplink con un powlink, visita nuestro artículo sobre <a href="https://docs.emma.io/es/landings#vincular-un-powlink-a-una-landing-de-redirecci%C3%B3n-deeplink">Landings</a>.&nbsp;</p>
<h2>Crear nuevas landings personalizadas</h2>
<p>Puedes ver información más detallada sobre cómo crear nuevas landings personalizadas de Redirección (Deeplink) <a href="https://docs.emma.io/es/landings#landings-personalizadas">aquí</a>.&nbsp;</p>
<h1>Exporta tus datos</h1>
<p>EMMA ofrece la posibilidad de exportar los resultados de las campañas si así lo necesitas para su gestión. Hay disponibles dos maneras de exportar los datos:</p>
<ul>
  <li><i><strong>Exportar tabla&nbsp;</strong></i>en el resumen de <strong>campañas</strong>. Esta opción se encuentra encima de la tabla de resumen de campañas hacia la izquierda.</li>
  <li><strong>Exportar tabla</strong> en el resumen de <strong>fuentes</strong>. Esta opción se encuentra encima de la tabla de resumen de fuentes hacia la izquierda.</li>
</ul>
<p>En ambos casos, el sistema realiza la descarga directa de un archivo .csv con las columnas que haya seleccionadas para mostrarse en la tabla.&nbsp;</p>
<p>Las opciones disponibles de KPIs y su significado son:&nbsp;</p>
<h2>Exportación de campañas</h2>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Nombre</strong></td>
        <td>Nombre de la campaña</td>
      </tr>
      <tr>
        <td><strong>Clicks</strong></td>
        <td>Número total de clics provenientes de las redirecciones</td>
      </tr>
      <tr>
        <td><strong>CPC</strong></td>
        <td>Coste por clic</td>
      </tr>
      <tr>
        <td><strong>Coste</strong></td>
        <td>Coste total basado en el modelo de pago elejido (CPC, CPI o Coste Fijo)</td>
      </tr>
      <tr>
        <td><strong>Instalaciones</strong></td>
        <td>Número de dispositivos atribuidos a alguna campaña que han abierto la app por primera vez</td>
      </tr>
      <tr>
        <td><strong>CPI</strong></td>
        <td>Coste por instalación</td>
      </tr>
      <tr>
        <td><strong>ITR</strong></td>
        <td>Install Through Rate: número de instalaciones por clic (%)</td>
      </tr>
      <tr>
        <td><strong>Registros</strong></td>
        <td>Dispositivos que han realizado un evento registeruser</td>
      </tr>
      <tr>
        <td><strong>CPL</strong></td>
        <td>Coste por registro o lead</td>
      </tr>
      <tr>
        <td><strong>Conversiones</strong></td>
        <td>Número total de conversiones registradas con el evento trackorder</td>
      </tr>
      <tr>
        <td><strong>CPS</strong></td>
        <td>Coste por conversión</td>
      </tr>
      <tr>
        <td><strong>Beneficio</strong></td>
        <td>Valor de las órdenes de transacción</td>
      </tr>
      <tr>
        <td><strong>Fecha de inicio</strong></td>
        <td>Fecha de inicio de medición de datos</td>
      </tr>
      <tr>
        <td><strong>Fecha de fin</strong></td>
        <td>Fecha de fin de medición de datos</td>
      </tr>
      <tr>
        <td><strong>Sesión</strong></td>
        <td>Número de aperturas de la app</td>
      </tr>
      <tr>
        <td><strong>Eventos</strong></td>
        <td>Se puede añadir como columnas del reporting cada uno de los eventos que se estén midiendo con nuestro SDK</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Exportación de fuentes</h2>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Nombre</strong></td>
        <td>Nombre de la fuente</td>
      </tr>
      <tr>
        <td><strong>Powlink</strong></td>
        <td>Tracking link de seguimiento</td>
      </tr>
      <tr>
        <td><strong>Pwlnk</strong></td>
        <td>Short Tracking link de seguimiento</td>
      </tr>
      <tr>
        <td><strong>QR</strong></td>
        <td>QR generado con el tracking link de seguimiento</td>
      </tr>
      <tr>
        <td><strong>Clicks</strong></td>
        <td>Número total de clics por redirección</td>
      </tr>
      <tr>
        <td><strong>CPC</strong></td>
        <td>Coste por clic</td>
      </tr>
      <tr>
        <td><strong>Coste</strong></td>
        <td>Coste total basado en el modelo de pago elegido (CPC, CPI o Coste Fijo)</td>
      </tr>
      <tr>
        <td><strong>Instalaciones</strong></td>
        <td>Número de dispositivos atribuidos a alguna fuente que han abierto la app por primera vez</td>
      </tr>
      <tr>
        <td><strong>CPI</strong></td>
        <td>Coste por instalación</td>
      </tr>
      <tr>
        <td><strong>ITR</strong></td>
        <td>Install Through Rate: Número de instalaciones por clic (%)</td>
      </tr>
      <tr>
        <td><strong>Registros</strong></td>
        <td>Dispositivos que han realizado un evento de registeruser</td>
      </tr>
      <tr>
        <td><strong>CPL</strong></td>
        <td>Coste por registro o lead</td>
      </tr>
      <tr>
        <td><strong>Conversiones</strong></td>
        <td>Número total de conversiones registradas con el evento trackorder</td>
      </tr>
      <tr>
        <td><strong>CPS</strong></td>
        <td>Coste por conversión (sale)</td>
      </tr>
      <tr>
        <td><strong>Beneficio</strong></td>
        <td>Valor de las órdenes de transacción</td>
      </tr>
      <tr>
        <td><strong>Modelo de pago</strong></td>
        <td>Modelo de pago seleccionado (CPC, CPI o Coste Fijo)</td>
      </tr>
      <tr>
        <td><strong>Proveedor</strong></td>
        <td>Proveedor con el que trabajas</td>
      </tr>
      <tr>
        <td><strong>Sesión</strong></td>
        <td>Número de aperturas de la app</td>
      </tr>
      <tr>
        <td><strong>Eventos</strong></td>
        <td>Se puede añadir como columnas del reporting cada uno de los eventos que se estén midiendo con nuestro SDK</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Exportación informe de fraude</h2>
<p>EMMA te permite obtener un reporting sobre las instalaciones del Apptracker susceptibles de haber sido realizadas con técnicas fraudulentas.&nbsp;</p>
<p>Esta funcionalidad te dará mayor control sobre la calidad del tráfico por el que estás pagando obteniendo una información adicional muy valiosa para poder optimizar cada uno de tus canales de captación.&nbsp;</p>
<h3>Reglas para detectar el fraude</h3>
<p>Para poder detectar el fraude hemos establecido cinco reglas a tener en cuenta para determinar si una instalación es sospechosa de ser fraudulenta o no y el peso probabilísitico de la misma.&nbsp;</p>
<p>En la siguiente tabla puedes ver cuales son esas reglas:</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>REGLAS DE FRAUDE</strong></td>
        <td><strong>DESCRIPCIÓN</strong></td>
        <td><strong>PESO</strong></td>
      </tr>
      <tr>
        <td>FR1 CLICK HIJACKING</td>
        <td>Inyección de un segundo clic de un mismo dispositivo segundos después del clic inicial y antes de la instalación (los clics deben haber sido realizados en un intervalo inferior a 5 segundos y pertenecer a &nbsp;fuentes &nbsp;diferentes).</td>
        <td>50%</td>
      </tr>
      <tr>
        <td>FR2 SECONDS TO INSTALL</td>
        <td>Segundos desde el clic hasta la instalación. Menos de 10 segundos será posible fraude.</td>
        <td>75%</td>
      </tr>
      <tr>
        <td>FR3 INSTALL TIME</td>
        <td>Hora de instalación. Todas las que se realizan desde las 2 am a las 5 am (hora del dispositivo) será posible fraude.&nbsp;</td>
        <td>25%</td>
      </tr>
      <tr>
        <td>FR4 COUNTRY</td>
        <td>Instalaciones desde países donde no se ha negociado lanzar la campaña. Para poder definir el país en el que se va a lanzar la campaña haz clic&nbsp;<a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as">aquí</a>.&nbsp;&nbsp;</td>
        <td>90%</td>
      </tr>
      <tr>
        <td>FR5 TIMEZONE MATCH</td>
        <td>Si el timezone de la instalación no es el mismo que el timezone de la ip de instalación será posible fraude.</td>
        <td>90%</td>
      </tr>
    </tbody>
  </table>
</figure>
<h3>Informe de fraude</h3>
<p>Para obtener tu informe anti-fraude&nbsp;<a href="https://ng.emma.io">accede</a> a EMMA y ve hasta&nbsp;la sección <strong>Captación &gt; AppTracker</strong>.&nbsp;</p>
<figure class="image"><img src="/fraude_1.png"></figure>
<p>Selecciona el periodo de fechas deseado, ve a la tabla de las campañas, filtra la campaña que quieres analizar y haz&nbsp;clic en el botón&nbsp;<strong>Exportar Fraude</strong>&nbsp;para poder descargar un archivo .csv con la información de fraude (solo se exportará la información de la(s) campaña(s) que estemos filtrando en el buscador, si no filtramos ninguna campaña, nos descargará información de todas las campañas).&nbsp;</p>
<figure class="image"><img src="/fraude_2.png"></figure>
<p>Obtendrás un fichero .csv (<a href="https://docs.google.com/spreadsheets/d/16PiLPO_yJqvY2KADS09rj7ZWVpwFX0yqykmoKy9H4n0/edit?usp=sharing"><strong>ver ejemplo de informe anti-fraude</strong></a>) con tantas lineas como instalaciones con posibilidad de ser fraudulentas con la siguiente información:</p>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Click ID</i></td>
        <td>ID del clic que se ha realizado.</td>
      </tr>
      <tr>
        <td><i>UDID</i></td>
        <td>Número de identificación único de iOS (IDFA) y Android (AAID).</td>
      </tr>
      <tr>
        <td><i>Fraud Percentage</i></td>
        <td>Probabilidad de que la instalación sea fraudulenta.&nbsp;</td>
      </tr>
      <tr>
        <td><i>FR1 Fraud Hijacking</i></td>
        <td>Verificación de sí se cumple fraude en esta regla.&nbsp;</td>
      </tr>
      <tr>
        <td><i>FR2 Seconds From Click to Install</i></td>
        <td><i>Verificación de si se cumple o no fraude en esta regla.&nbsp;</i></td>
      </tr>
      <tr>
        <td><i>FR3 Install Time</i></td>
        <td><i>Verificación de si se cumple o no fraude en esta regla.&nbsp;</i></td>
      </tr>
      <tr>
        <td><i>FR4 Country</i></td>
        <td><i>Verificación de si se cumple o no fraude en esta regla.&nbsp;</i></td>
      </tr>
      <tr>
        <td><i>FR5 TimeZone Match</i></td>
        <td><i>Verificación de si se cumple o no fraude en esta regla.&nbsp;</i></td>
      </tr>
      <tr>
        <td><i>Provider</i></td>
        <td>Proveedor seleccionado en el momento de creación del tracker.&nbsp;</td>
      </tr>
      <tr>
        <td><i>From Campaign</i></td>
        <td>Campaña de la que procede el usuario.</td>
      </tr>
      <tr>
        <td><i>From Source</i></td>
        <td>Tracker de la campaña de la que procede el usuario.</td>
      </tr>
      <tr>
        <td><i>Clicked at&nbsp;</i></td>
        <td>Hora en la que se ha realizado el clic atribuido a la instalación.</td>
      </tr>
      <tr>
        <td><i>Hijacked at</i></td>
        <td>Hora en la que se ha realizado el clic detectado como no fraudulento.</td>
      </tr>
      <tr>
        <td><i>Installed at</i></td>
        <td>Fecha en la que el usuario ha abierto la aplicación por primera vez tras haberla instalado.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Seconds From Click to Install</i></td>
        <td>Segundos que han transcurrido desde que se hizo clic hasta que se instaló la app.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Last session</i></td>
        <td>Última vez que el usuario abre la aplicación/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Device</i></td>
        <td>Modelo de dispositivo del usuario a través del cual ha utilizado la app/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>App Version</i></td>
        <td>Última versión instalada en el dispositivo del usuario.</td>
      </tr>
      <tr>
        <td><i>OS Version</i></td>
        <td>Última versión del sistema operativo configurado en el dispositivo del usuario.</td>
      </tr>
      <tr>
        <td><i>Latitude</i></td>
        <td>Coordenadas de latitud del usuarios mientras ha estado utilizando la geolocalización en la app /sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Longitude</i></td>
        <td>Coordenadas de longitud del usuarios mientras ha estado utilizando la geolocalización en la app /sitio móvil.</td>
      </tr>
      <tr>
        <td><i>City</i></td>
        <td>Ciudad en la que se encuentra el usuario mientras ha estado utilizando la geolocalización en la app /sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Country</i></td>
        <td>País en el que se encuentra usuarios mientras ha estado utilizando la geolocalización en la app /sitio móvil.</td>
      </tr>
      <tr>
        <td><i>IP</i></td>
        <td>Dirección donde el usuario ha conectado la app/sitio web.</td>
      </tr>
      <tr>
        <td><i>Install TimeZone</i></td>
        <td>Zona horaria desde la que se realizó la instalación de la app.</td>
      </tr>
      <tr>
        <td><i>Device Language</i></td>
        <td>Idioma del dispositivo.</td>
      </tr>
      <tr>
        <td><i>Carrier</i></td>
        <td>Compañía de teléfono contratada por el usuario.</td>
      </tr>
      <tr>
        <td><i>Connection Type</i></td>
        <td>Indica si la conexión del usuario es a través de WIFI o 3G.</td>
      </tr>
      <tr>
        <td><i>Install Postback</i></td>
        <td>Notificación de la instalación enviada al "Provider".</td>
      </tr>
      <tr>
        <td><i>Fraud Rules</i></td>
        <td>Detalle de las reglas de fraude atribuidas a esa instalación.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Params</i></td>
        <td>Detalle de todos los parámetros que la red envía a través del clic.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h4>Importante</h4>
<p>La información de fraude sólo está disponible a día cerrado. No se puede consultar la información del día en curso. Además, es importante recordar que esta información de fraude estará disponible para todas las campañas salvo para las campañas de Apple Search Ads, Facebook/Instagram, Google Ads, Snapchat, Tiktok y Twitter.&nbsp;</p>
<h1>Tracking de campañas sin el SDK de EMMA</h1>
<p>Puedes conseguir conversiones a tiempo real en EMMA, incluso cuando&nbsp;tu aplicación tenga integrado un SDK distinto al&nbsp;SDK de EMMA, a través del pixel&nbsp;<i>server to server.</i> Si necesitas poder ver en EMMA instalaciones y/o eventos de una app que NO tiene el SDK de EMMA, tienes que configurar nuestras postbacks en tu plataforma de tracking para que cada vez que se realicen las acciones en la app se envíe una notificación a EMMA.&nbsp;</p>
<h3>Dominio</h3>
<p>EMMA da la opción de configurar tres dominios diferentes para configurar la postback. Se puede usar cualquiera de ellos indistintamente:&nbsp;</p>
<ul>
  <li>es eat.emmasolutions.net</li>
  <li>powlink.io</li>
  <li>pwlnk.io.</li>
</ul>
<p>La postback quedaría de la siguiente manera con cada uno de los posibles dominios:&nbsp;</p>
<ul>
  <li>https://<strong>eat.emmasolutions.net</strong>/callback/event/emma_install?aaid={gps_adid}&amp;idfa={idfa}&amp;idfv={idfv}&amp;ecid={emma_click_id}&amp;api_key=&lt;cambiar por emma key de la app&gt;&amp;sender=sender_name</li>
  <li>https://<strong>powlink.io</strong>/callback/event/emma_install?aaid={gps_adid}&amp;idfa={idfa}&amp;idfv={idfv}&amp;ecid={emma_click_id}&amp;api_key=&lt;cambiar por emma key de la app&gt;&amp;sender=sender_name</li>
  <li>https://<strong>pwlnk.io</strong>/callback/event/emma_install?aaid={gps_adid}&amp;idfa={idfa}&amp;idfv={idfv}&amp;ecid={emma_click_id}&amp;api_key=&lt;cambiar por emma key de la app&gt;&amp;sender=sender_name</li>
</ul>
<h3>Postback de instalación</h3>
<p>Nuestra postback global de instalación tiene la siguiente estructura:</p>
<p>https://<strong>&lt;dominio&gt;</strong>/callback/event/emma_install?<strong>aaid</strong>={gps_adid}&amp;<strong>idfa</strong>={idfa}&amp;<strong>idfv</strong>={idfv}&amp;<strong>ecid</strong>={emma_click_id}&amp;<strong>api_key</strong>=&lt;cambiar por api key de la app&gt;&amp;<strong>sender=sender_name</strong></p>
<ul>
  <li><strong>&lt;dominio&gt;</strong>: Establece el dominio de EMMA de entre los tres detallados anteriormente.</li>
  <li><strong>aaid: </strong>Parámetro para enviar dinámicamente el identificador de publicidad de Android (<strong>A</strong>ndroid <strong>A</strong>dvertising <strong>ID</strong>).</li>
  <li><strong>idfa: </strong>Parámetro para enviar dinámicamente el identificador de publicidad de iOS (<strong>ID F</strong>or <strong>A</strong>dvertisers).</li>
  <li><strong>idfv:</strong> Parámetro para enviar dinámicamente el identificador vendor en dispositivos iOS (<strong>ID F</strong>or <strong>V</strong>endors).</li>
  <li><strong>api_key: </strong>Parámetro para enviar de manera fija el EMMA Key. Al crear una cuenta en EMMA se crea automáticamente un <i>EMMA Key </i>único para tu app. Puedes obtener este identificador único desde la sección <a href="https://docs.emma.io/es/configuracion#preferencias-de-la-app"><i><strong>Preferencias App</strong></i></a><i><strong>.&nbsp;</strong></i></li>
  <li><strong>sender:</strong> Parámetro para enviar de manera fija el sender, por ejemplo MUAK.</li>
</ul>
<h3>Postback de evento</h3>
<p>Si queremos recibir en EMMA eventos es necesario en primer lugar dar de alta esos eventos en la interfaz de EMMA. En esta <a href="https://docs.emma.io/es/primeros-pasos/eventos#crear-eventos">guía</a> puedes ver en detalle como crear nuevos eventos. Una vez hemos creado los eventos, obtendremos un token vinculado a cada evento. Ese token es el identificador único de cada evento.&nbsp;</p>
<p>Esta sería la postback de evento para notificar dichas acciones a EMMA.&nbsp;</p>
<p>https://<strong>&lt;dominio&gt;</strong>/callback/event/<strong>&lt;cambiar por token de evento de EMMA&gt;</strong>?<strong>aaid</strong>={gps_adid}&amp;<strong>idfa</strong>={idfa}&amp;<strong>idfv</strong>={idfv}&amp;<strong>api_key</strong>=&lt;cambiar por api key de la app&gt;&amp;<strong>sender=sender_name</strong></p>
<ul>
  <li><strong>&lt;dominio&gt;</strong>: Establece el dominio de EMMA de entre los tres detallados anteriormente.</li>
  <li><strong>&lt;cambiar por token de evento de EMMA&gt;: </strong>Sustituiremos todo lo marcado en negrita por el token que nos da EMMA al crear el evento.</li>
  <li><strong>aaid: </strong>Parámetro para enviar dinámicamente el identificador de publicidad de Android (<strong>A</strong>ndroid <strong>A</strong>dvertising <strong>ID</strong>).</li>
  <li><strong>idfa: </strong>Parámetro para enviar dinámicamente el identificador de publicidad de iOS (<strong>ID F</strong>or <strong>A</strong>dvertisers).</li>
  <li><strong>idfv:</strong> Parámetro para enviar dinámicamente el identificador vendor en dispositivos iOS (<strong>ID F</strong>or <strong>V</strong>endors).</li>
  <li><strong>api_key: </strong>Parámetro para enviar de manera fija el EMMA Key. Al crear una cuenta en EMMA se crea automáticamente un <i>EMMA Key </i>único para tu app. Puedes obtener este identificador único desde la sección <a href="https://docs.emma.io/es/configuracion#preferencias-de-la-app"><i><strong>Preferencias App</strong></i></a><i><strong>.&nbsp;</strong></i></li>
  <li><strong>sender:</strong> Parámetro para enviar de manera fija el sender, por ejemplo MUAK.</li>
</ul>
<p>* Notas:</p>
<ul>
  <li>Si el usuario no existe se crea como orgánico. Si es la primera vez que se notifica el evento antes de que exista el usuario y se facilita el parámetro “ecid” intentará también atribuir el usuario al click.</li>
  <li>Los parámetros <strong>aaid, idfa, idfv, apikey</strong> son prescindibles si se envía el param “ecid” y el click encontrado tiene un usuario atribuido como instalación.</li>
</ul>
<h3>Parámetros soportados</h3>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>nombre</strong></td>
        <td><strong>significado</strong></td>
        <td><strong>ejemplo</strong></td>
      </tr>
      <tr>
        <td>aaid</td>
        <td>Identificador de publicidad de Android</td>
        <td>cf6bef2e-50ab-46a9-9583-ada4ab07f113</td>
      </tr>
      <tr>
        <td>android_id</td>
        <td>Android id</td>
        <td>9fa7e549c1b1dba59897f3320ea420df</td>
      </tr>
      <tr>
        <td>idfa</td>
        <td>Identificador de publicidad de iOS</td>
        <td>573DEB13-C34C-457A-9B87-94F85B3602B7</td>
      </tr>
      <tr>
        <td>idfv</td>
        <td>Identificador vendor de iOS</td>
        <td>V-573DEB13-C34C-457A-9B87-94F85B3602B7</td>
      </tr>
      <tr>
        <td>ecid</td>
        <td>EMMA click id</td>
        <td>9fa7e549c1b1dba59897f3320ea420df_2017-11-07_09:50:10_609_111</td>
      </tr>
      <tr>
        <td>api_key</td>
        <td>EMMA Key de la app en EMMA</td>
        <td>0051718341426c8c3dd2cdc7e155d44f</td>
      </tr>
      <tr>
        <td>model</td>
        <td>Modelo del dispositivo</td>
        <td>SM-G965U</td>
      </tr>
      <tr>
        <td>ip</td>
        <td>Dirección IP</td>
        <td>200.98.1.89</td>
      </tr>
      <tr>
        <td>country</td>
        <td>País</td>
        <td>Spain</td>
      </tr>
      <tr>
        <td>city</td>
        <td>Ciudad</td>
        <td>Vigo</td>
      </tr>
      <tr>
        <td>state</td>
        <td>Comunidad Autónoma / Estado</td>
        <td>Galicia</td>
      </tr>
      <tr>
        <td>os_version</td>
        <td>Versión del sistema operativo</td>
        <td>Android 8.0.0</td>
      </tr>
      <tr>
        <td>app_version</td>
        <td>Versión de la app</td>
        <td>2.5.1</td>
      </tr>
      <tr>
        <td>os_build</td>
        <td>Compilación del sistema operativo</td>
        <td>R16NW</td>
      </tr>
      <tr>
        <td>timezone</td>
        <td>Huso horario</td>
        <td>Europe/Madrid</td>
      </tr>
      <tr>
        <td>language</td>
        <td>Idioma ISO</td>
        <td>es_ES</td>
      </tr>
      <tr>
        <td>latitude</td>
        <td>Latitud</td>
        <td>48.8</td>
      </tr>
      <tr>
        <td>longitude</td>
        <td>Longitud</td>
        <td>4.3</td>
      </tr>
      <tr>
        <td>carrier</td>
        <td>Compañía telefónica</td>
        <td>Vodafone</td>
      </tr>
      <tr>
        <td>install_timestamp</td>
        <td>unix timestamp in seconds</td>
        <td>1540509909</td>
      </tr>
      <tr>
        <td>email</td>
        <td>Email de usuario</td>
        <td>emma@emma.io</td>
      </tr>
      <tr>
        <td>customer_id</td>
        <td>Id de cliente interno</td>
        <td>EFFXX001</td>
      </tr>
      <tr>
        <td>connection_type</td>
        <td>Tipo de conexión (Wifi o datos móviles)</td>
        <td>WIFI</td>
      </tr>
      <tr>
        <td>sender</td>
        <td>Nombre del remitente, condiciona el parser de los argumentos</td>
        <td>adjust</td>
      </tr>
      <tr>
        <td>session_duration</td>
        <td>Segundos</td>
        <td>38</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Además, también disponemos de un pixel web para campañas web.&nbsp;</p>
<p>1. &nbsp;Ajusta el píxel a EMMA en&nbsp;3rd Party Tracker:</p>
<ul>
  <li>http://eat.emmasolutions.net/postback?eid=[eMMa_ID]</li>
  <li>En el evento de clic, EMMA redirigirá al usuario a la URL del 3rd party tracker añadiendo el [eMMa ID] como parámetro.</li>
  <li>Ej.: http://www.yoururl.com?eid=[eMMa_ID]</li>
  <li>La variable eid aporta el valor al EMMA ID. El 3rd party tracker debe devolver este parámetro en el evento de conversión, como se detalla.</li>
</ul>
<p>2. &nbsp;Establece tu&nbsp;campaña de EMMA con el link enviado del 3rd party tracker. Visita nuestro artículo <a href="https://docs.emma.io/es/adquisicion/Campa%C3%B1as">cómo usar el EMMA Apptracker</a> para gestionar tus campañas.</p>
<p>3. &nbsp;Crea las distintas&nbsp;<i>sources</i>&nbsp;o enlaces de seguimiento en tu&nbsp;nueva campaña, introduciendo en el parámetro ID de la transacción (<i>transaction ID)</i>&nbsp;el nombre requerido para el 3rd party.</p>
<p>EMMA envía, por defecto, la variable <strong>eid</strong> pero esta puede sustituirse mediante la edición de la <i>source:&nbsp;</i></p>
<ul>
  <li>Utiliza el parámetro&nbsp;<strong>exid</strong>&nbsp;si se va a notificar la conversión a través de una cuenta de EMMA.</li>
  <li>Utiliza el parámetro&nbsp;<strong>aid</strong>&nbsp;si se va a notificar la conversión a través de&nbsp;AppBurn.</li>
  <li>Utiliza el parámetro&nbsp;<strong>aff_sub&nbsp;</strong>si se va a notificar la conversión a través de&nbsp;Hasoffers.</li>
  <li>Utiliza el parámetro&nbsp;<strong>eid</strong>&nbsp;(no necesita ser reemplazado) si se va a notificar la conversión a través de&nbsp;Appsflyer.</li>
  <li>Contacta con el equipo de 3rd party tracking para otras notificaciones de conversión <i>server to server.&nbsp;</i></li>
</ul>
<h1>Discrepancias - ¿Cómo cuenta EMMA instalaciones comparado con App Store o Google Play?</h1>
<p>En ocasiones pueden existir discrepancias entre los datos mostrados por EMMA y los informes de instalaciones de iTunes App Store o Google Play.</p>
<p>En algunas casos, EMMA puede mostrar menos instalaciones que las que se pueden ver en los reportings de App Store o Google Play y otras veces puede ocurrir lo contrario, que en EMMA se muestren más instalaciones de las que se muestran en las stores.&nbsp;</p>
<p>A continuación, veremos más detalladamente los principales motivos que pueden generar ambas casuísticas.&nbsp;</p>
<ul>
  <li>EMMA muestra menos datos que las stores</li>
  <li>EMMA muestra más datos que las stores</li>
</ul>
<h2>EMMA muestra menos datos que las stores</h2>
<p>A continuación se muestran las causas principales que pueden generar que en EMMA se muestren menos datos que App Store y Google Play:</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Causa</strong></td>
        <td><strong>App Store / Google Play</strong></td>
        <td><strong>EMMA</strong></td>
        <td><strong>Nota</strong></td>
      </tr>
      <tr>
        <td><strong>Definición de instalación</strong></td>
        <td>Las instalaciones se registran en el momento en el que se descarga la app en el dispositivo, independientemente de si el usuario abre o no la app.</td>
        <td>EMMA registra nuevas instalaciones en el momento en el que el usuario lanza por primera vez la app (install+apertura).</td>
        <td>Si un usuario no abre la app, EMMA no podrá registrar la instalación.</td>
      </tr>
      <tr>
        <td><strong>Fecha de registro de la instalación</strong></td>
        <td>App Store y Google Play registran la instalación el día que se realiza la descarga de la app.</td>
        <td>EMMA registra la instalación el día en el que la aplicación es abierta por primera vez.</td>
        <td>Habitualmente es mejor extender el rango de tiempo al comparar EMMA con App Store y Google Play.</td>
      </tr>
      <tr>
        <td><strong>Time Zone</strong></td>
        <td>Los datos se muestran según la zona horaria del anunciante.</td>
        <td>Los datos se muestran según la hora del dispositivo móvil.</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><strong>Reinstall en la ventana de atribución definida (Android)</strong></td>
        <td>
          <p>En algunas secciones, Google Play muestra 2 instalaciones únicas para el mismo usuario, independientemente del tiempo transcurrido tras la primera instalación.</p>
          <p>En otras secciones muestran usuarios únicos. Este dato será más semejante al mostrado en EMMA.&nbsp;</p>
        </td>
        <td>EMMA no atribuye las reinstalaciones en ningún momento.&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p><strong>Ejemplos:</strong></p>
<ol>
  <li>Un usuario instaló la App y no la abrió. EMMA no registra la instalación mientras que App Store y Google Play cuentan una nueva instalación.</li>
  <li>Un usuario descargó la App y la abrió 2 semanas después. App Store y Google Play registran la instalación en el momento de la descarga mientras que EMMA contabiliza esa instalación en el momento de la primera apertura de la App.</li>
</ol>
<h2>EMMA muestra más datos que las stores</h2>
<p>Ahora pasaremos a analizar los posibles causantes que provocan que en EMMA haya más datos que en las stores.&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Causa</strong></td>
        <td><strong>App Store/ Google Play</strong></td>
        <td><strong>EMMA</strong></td>
      </tr>
      <tr>
        <td><strong>Instalación única</strong></td>
        <td>
          <p>Por cada usuario único se registra una única instalación, teniendo en cuenta:</p>
          <ul>
            <li>Desinstalaciones de la App.</li>
            <li>Usuarios con varios dispositivos.</li>
            <li>Actualizaciones de dispositivos.</li>
          </ul>
        </td>
        <td>
          <p>EMMA registra instalaciones únicas por dispositivo.</p>
          <p>Si una app se despliega sin el SDK de EMMA y posteriormente se sube una nueva versión a las stores con el SDK de EMMA integrado, EMMA mostrará un pico de nuevas instalaciones orgánicas.</p>
          <p>Este pico disminuye con el tiempo a medida que los usuarios actualizan la app.</p>
          <p><strong>Esta es la principal razón por la que EMMA registra más instalaciones que App Store y Google Play.</strong></p>
        </td>
      </tr>
      <tr>
        <td><strong>Instalación en varios dispositivos</strong></td>
        <td>Si un usuario se instala la app en varios dispositivos usando el mismo Apple ID, App Store la considera como una única instalación.&nbsp;</td>
        <td>Si un usuario se instala la aplicación en varios dispositivos EMMA contabiliza cada una de esas instalaciones como una nueva instalación.</td>
      </tr>
      <tr>
        <td><strong>Instalaciones de fuera de Google Play</strong></td>
        <td>&nbsp;Las instalaciones que no se realizan desde Google Play no son contabilizadas en Google Play</td>
        <td>EMMA contabiliza cualquier instalación de la app venga o no de Google Play.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p><strong>Ejemplos:</strong></p>
<ol>
  <li>Un usuario descargó y abrió (instaló) la App en sus dos dispositivos (iPhone y iPad). EMMA cuenta esto como dos instalaciones mientras que App Store cuenta como una única instalación.</li>
  <li>Un usuario actualizó su dispositivo, sincronizado con su cuenta de App Store / Google Play y abre la App. EMMA cuenta una nueva instalación orgánica, mientras que App Store y Google Play no.</li>
  <li>La App se desplegó en 2016 sin el SDK de EMMA. Un usuario descargó y abrió la App. App Store y Google Play cuentan a ese usuario en 2016 mientras que EMMA no pudo registrar su instalación (no estaba el SDK instalado).&nbsp;<br>Posteriormente la App integra el SDK de EMMA (en Abril de 2017, por ejemplo). El usuario actualiza la versión de la App y la abre. EMMA registra ese usuario como una nueva instalación orgánica mientras que App Store y Google Play no.&nbsp;<br>Ésta es la principal causa para discrepancias, especialmente si la App tiene una amplia base de usuarios desde el periodo anterior a la instalación del SDK de EMMA.</li>
</ol>
<h3>Importante</h3>
<ul>
  <li>Esto no afecta la exactitud al contar instalaciones no orgánicas. EMMA registra una sóla instalación por click en anuncio, incluso si el usuario específico tiene más de un dispositivo registrado en su cuenta de App Store / Google Play.<br>&nbsp;</li>
  <li>Habitualmente es mejor extender el rango de tiempo al comparar EMMA con App Store y Google Play.</li>
</ul>
<p>Puedes ver más información sobre la atribución de descargas no orgánicas por EMMA <a href="https://docs.emma.io/es/adquisicion/apptracker">aquí</a>.</p>
