<!--
title: Campañas de adquisición
description: Campañas de adquisición
published: true
date: 2021-08-09T07:26:01.396Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:45:35.272Z
-->

<h1>Gestión de campañas</h1>
<p>Para poder conocer en detalle el origen de los usuarios es necesaria la creación de campañas que nos permitan medir todas las fuentes de tráfico. Posteriormente, se podrá editar, clonar o eliminar cualquiera de las campañas que hayan sido dado de alta en el sistema.</p>
<ul>
  <li>Crear campañas</li>
  <li>Editar y clonar campañas</li>
  <li>Eliminar campañas</li>
</ul>
<h2>Crear campañas</h2>
<p>Para crear campañas, tan solo debemos hacer clic en el botón&nbsp;<i><strong>Nueva campaña&nbsp;</strong></i>que se encuentra en la tabla resumen de las campañas.&nbsp;</p>
<figure class="image"><img src="/campañas_1.png"></figure>
<p>A continuación, es necesario cubrir la información que solicita el formulario para poder dar de alta una nueva campaña en el sistema. Es importante cubrir todos los campos marcados como&nbsp;<i>Obligatorio</i>, ya que de otra manera, no se podrán guardar los cambios y no se podrá crear la campaña.</p>
<figure class="image"><img src="/campañas_2.png"></figure>
<figure class="table">
  <table style="background-color:rgb(255, 255, 255);">
    <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Nombre</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Establece un nombre identificativo para tu campaña. Es de uso interno, el usuario final nunca visualizará este nombre</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>¿Campaña de Re-Targeting?</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Si vas a lanzar una campaña en modalidad de atribución de Re-Targeting activa esta opción. En este <a href="https://support.emma.io/hc/es/articles/115004972453">artículo</a>, tienes más información sobre los diferentes modos de atribución.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Fecha de inicio</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Establece una fecha de inicio a tu campaña. Esta fecha es importante ya que es el momento en el que se empezará a medir actividad para esa campaña</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Fecha de fin</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Establece una fecha de fin a tu campaña. Esta fecha es importante si se trabaja con redes publicitarias y se les notifican eventos, ya que desde la fecha de fin, dejará de notificarse cualquier actividad a las redes publicitarias</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Países</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Selecciona uno o varios países a los que va enfocado tu campaña. Es un campo opcional, pero si lo configuras, el powlink tendrá el comportamiento habitual sólo en aquellos países seleccionados. Si se realiza algún clic desde otro país, el powlink será bloqueado internamente y no realizará las redirecciones pertinentes. De esta manera, se evita tráfico fraudulento en las campañas.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Eventos atribuidos</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">En caso de que se haya habilitado el check de Re-Targeting y se tenga configurada la atribución de Re-Targeting en modo Unique Click se deberán seleccionar uno o varios eventos objetivo para que se realice la atribución.&nbsp;Conoce más sobre las campañas de Re-Targeting en modalidad de atribución Unique Click <a href="https://support.emma.io/hc/es/articles/115004972453#uniqueclick">aquí</a>.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>iOS URL</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Establece la URL a la que van a ser redireccionados los usuarios de iOS al hacer clic en el anuncio. Normalmente es la URL de la app en App Store. Si has configurado la URL de la store de iOS en <a href="https://docs.emma.io/es/configuracion#preferencias-de-ios">Preferencias App</a>, por defecto EMMA cubre este campo con la URL configurada.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Android URL</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Establece la URL a la que van a ser redireccionados los usuarios de Android al hacer clic en el anuncio.&nbsp;Normalmente es la URL de la app en GPlay. Si has configurado la URL de la store de Android en <a href="https://docs.emma.io/es/configuracion#preferencias-de-android">Preferencias App</a>, por defecto EMMA cubre este campo con la URL configurada.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Huawei URL</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Establece la URL a la que van a ser redireccionados los usuarios de Huawei al hacer clic en el anuncio.&nbsp;Normalmente es la URL de la app en App Gallery. Si has configurado la URL de la store de Huawei en <a href="https://docs.emma.io/es/configuracion#preferencias-de-huawei">Preferencias App,</a> por defecto EMMA cubre este campo con la URL configurada.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Alternative URL</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Establece la URL a la que van a ser redireccionados los usuarios de cualquier otra sistema operativo diferente a los anteriores al hacer clic en el anuncio. Si has configurado tu dirección web en <a href="https://docs.emma.io/es/configuracion#general-emma-key">Preferencias App</a>, por defecto EMMA cubre este campo con la URL configurada.&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Si se va a dar de alta una nueva campaña de Re-Targeting en modalidad&nbsp;<i>unique click (</i>más info pinchando <a href="https://docs.emma.io/es/adquisicion/apptracker#re-targeting-unique-click">aquí</a>) es necesario que se establezcan los eventos que se van a querer atribuir a esa campaña en concreto. Cuando habilitemos el check de campaña de Re-Targeting y tengamos como modalidad <i>unique click, </i>se habilitará un selector para seleccionar los eventos atribuidos.&nbsp;</p>
<figure class="image"><img src="/campañas_4.png"></figure>
<p>En el selector que se muestra, se deben seleccionar todos aquellos eventos que queremos atribuir. Los eventos disponibles para seleccionar serán los eventos por defecto de EMMA +&nbsp; todos aquellos eventos personalizados que estén integrados en la app para ser medidos con el SDK de EMMA.&nbsp;</p>
<p>De este modo, se podrá seleccionar entre los siguientes eventos:&nbsp;</p>
<ul>
  <li>Registro</li>
  <li>Primer Login</li>
  <li>Login</li>
  <li>Venta</li>
  <li>Eventos Personalizados</li>
</ul>
<h3>&nbsp;Importante</h3>
<p>Los eventos son únicos y solo podrán ser seleccionados una vez en todas las campañas. Es decir, si en la campaña A se ha seleccionado que se va a atribuir el evento Registro, ese evento ya no estará disponible para ser seleccionado en otra campaña.&nbsp;&nbsp;</p>
<p>La configuración de la campaña se puede editar en cualquier momento desde el menú contextual de la tabla resumen de campañas.&nbsp;</p>
<h3>Nota</h3>
<p>No es obligatorio cubrir todas las URLs de redirección, con establecer una URL de redirección es suficiente para lanzar la campaña. Eso si, es importante tener en cuenta que si solo se configura la URL de iOS y un usuario Android hace clic en la campaña, visualizará un error 404 ya que no tenemos ningún lugar a dónde llevar a esos usuarios.</p>
<h2>Editar y clonar campañas</h2>
<p>Si es necesario realizar alguna modificación en la campaña o crear otra con las mismas características, existe la posibilidad de editar o clonar la campaña de manera rápida y sencilla.&nbsp;</p>
<p>Tan solo hay que hacer clic en el menú contextual y seleccionar la opción específica de&nbsp;<i><strong>Editar&nbsp;</strong></i>o&nbsp;<i><strong>Clonar.</strong></i></p>
<figure class="image"><img src="/campañas_3.png"></figure>
<p>En caso de que se haya&nbsp;<strong>editado</strong>&nbsp;la campaña, se abrirá el formulario de creación de campaña con la configuración que haya establecida para poder hacer las modificaciones que sean pertinentes. Una vez se hayan realizado los cambios, tan solo deberemos hacer clic en le botón&nbsp;<i><strong>Guardar campaña</strong></i><strong>&nbsp;</strong>para guardar los cambios realizados.</p>
<p>En caso de que se haya&nbsp;<strong>clonado</strong> la campaña, se abrirá el formulario de creación de la campaña copiando la configuración de la campaña clonada. De esta manera, con esta opción podremos ahorrar tiempo en la creación de campañas que tengan la misma configuración.&nbsp;</p>
<h2>Eliminar campañas</h2>
<p>Si necesitamos eliminar una campaña por cualquier motivo, tan solo tenemos que ir al menú contextual y seleccionar la opción&nbsp;<i><strong>Eliminar.&nbsp;</strong></i></p>
<p>Una vez seleccionada la opción&nbsp;<i><strong>Eliminar</strong>&nbsp;</i>la campaña será eliminada inmediatamente del sistema.&nbsp;</p>
<h2>Redirección de usuarios según versión de OS</h2>
<p>Si tu aplicación no es compatible con determinadas versiones de Android o iOS podrás establecer una versión mínima necesaria para que los usuarios sean redirigidos a la landing correspondiente.</p>
<p>El flujo habitual de redireccionamiento es que, cuando un usuario hace click en un tracking link de EMMA y no tiene la aplicación instalada, es redireccionado a la store correspondiente para que se pueda descargar la app.</p>
<p>Pero, ¿qué pasa si tu app no es compatible con determinadas versiones del sistema operativo? Lo único que tendrás que hacer es una pequeña configuración en EMMA para que sólo se redirija a las stores a aquellos usuarios con una versión mínima del sistema operativo.</p>
<p>Para ello, debes seguir estos sencillos pasos.&nbsp;</p>
<ul>
  <li>Haz <a href="https://ng.emma.io">login</a> en EMMA y dirígete a la sección&nbsp;<strong>Preferencias app</strong><i><strong>.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="/os_version_minima_1.png"></figure>
<ul>
  <li>Edita la configuración de tu app haciendo clic en el botón <i><strong>Editar</strong></i>.</li>
</ul>
<figure class="image"><img src="/os_version_minima_4.png"></figure>
<p>Ve a la sección&nbsp;de configuración de <strong>Android </strong>y/o <strong>iOS </strong>en función de si quieres añadir o no una versión mínima para cada sistema operativo. Selecciona la versión deseada y guarda los cambios.&nbsp;</p>
<figure class="image"><img src="/os_version_minima_3.png"></figure>
<figure class="image"><img src="/os_version_minima_2.png"></figure>
<p>Una vez realizada esta pequeña configuración, sólo serán redirigidos a la store para descargarse la app aquellos usuarios cuyos dispositivos cumplan con&nbsp; la versión mínima establecida. Los usuarios que tengan una versión inferior a la mínima requerida, serán redirigidos a la URL alternativa configurada en tu campaña. En este <a href="https://docs.emma.io/es/adquisicion/apptracker#introducci%C3%B3n">artículo</a> puedes ver más información acerca de las campañas de captación.</p>
<h1>Redirecciones en Apptracker</h1>
<p>Al dar de alta una nueva campaña en el Apptracker de EMMA, es necesario establecer las redirecciones que queramos que haga esa campaña en concreto.&nbsp;</p>
<p>De esta manera se puede establecer la URL exacta a la que van a ser redireccionados los usuarios de dispositivos iOS, los de Android, los de Huawei y el resto de usuarios que usan otro sistema operativo diferente.&nbsp;</p>
<figure class="image"><img src="/campañas_5.png"></figure>
<p>Lo más común es realizar la siguiente configuración en lo que a URLs de redirección se refiere:</p>
<ul>
  <li><strong>iOS URL:&nbsp;</strong>Normalmente se establece la URL de la app en App Store para que los usuarios sean redireccionados a la descarga de la app.</li>
  <li><strong>Android URL:</strong> Lo habitual es establecer la URL de la app en Google Play para que los usuarios sean redireccionados a la descarga de la app.</li>
  <li><strong>Huawei URL:&nbsp;</strong>Lo habitual es establecer la URL de la app en App Gallery para que los usuarios sean redireccionados a la descarga de la app.</li>
  <li><strong>URL Alternativa:&nbsp;</strong>Normalmente se establece una landing que suele ser la página web de la empresa. Pero también es muy común establecer la URL de la store de Android ya que es el sistema operativo con mayor peso.</li>
</ul>
<p>Si tu necesidad principal no es llevar al usuario a la descarga de la app, puedes establecer la URL&nbsp; que consideres oportuna para cada OS sin ningún tipo de problema.&nbsp;</p>
