<!--
title: Enlaces cortos
description: Enlaces cortos
published: true
date: 2025-03-03T12:03:36.720Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:51:25.865Z
-->

<p>La funcionalidad Enlaces cortos de EMMA te permite configurar enlaces cortos para redirigir a los usuarios a un destino determinado sin necesidad de que estos tengan la app instalada. Estos enlaces no miden ni instalaciones ni actividad del usuario dentro de la app, como sí hacen nuestros <a href="https://docs.emma.io/es/adquisicion/apptracker">powlinks</a>. La única analítica que se genera de estos enlaces es actividad e información sobre los propios enlaces; pero sin identificar usuario ni conocer el uso que hacen de la app a partir de estos enlaces.&nbsp;</p>
<h1>Crear enlaces cortos</h1>
<p>Para crear enlaces cortos tan solo tenemos que ir a <strong>Captación &gt; Enlaces cortos, </strong>hacer <i>scroll down</i> hasta el final de la pantalla y hacer clic en el botón <strong>+ Nuevo enlace.&nbsp;</strong></p>
<figure class="image"><img src="/enlaces_cortos_i.png"></figure>
<p>Inmediatamente se abrirá el formulario de creación del enlace, cubre todos los campos para poder crear el enlace.&nbsp;</p>
<figure class="image image_resized" style="width:70.08%;"><img src="/enlace_corto_ii.png"></figure>
<ul>
  <li><strong>Nombre del enlace: </strong>Establece un nombre identificativo para tu enlace. Es un nombre a nivel interno que el usuario final nunca va a ver.</li>
  <li><strong>Nombre de la campaña: </strong>Establece un nombre de campaña. Es un nombre a nivel interno que el usuario final nunca va a ver. Esta información nos permitirá filtrar datos en base a una campaña específica y agrupar mediante el filtrado diferentes enlaces que pertenezcan a una misma campaña.</li>
  <li><strong>Nombre de la subcampaña: </strong>Establece un nombre de subcampaña. Es un nombre a nivel interno que el usuario final nunca va a ver. Esta información nos permitirá filtrar datos en base a una subcampaña específica y agrupar mediante el filtrado diferentes enlaces que pertenezcan a una misma subcamaña.</li>
  <li><strong>URL: </strong>Establece la URL a la que quieres que tus usuarios sean redireccionados tras hacer clic en el enlace.</li>
  <li><strong>Dominio: </strong>Selecciona un dominio del listado. Si aparece vacío es porque no se ha configurado ningún <a href="https://docs.emma.io/es/configuracion#dominio-enlaces-cortos">dominio para enlaces cortos</a>.</li>
  <li><strong>Expiración: </strong>Establece una fecha y hora específica para que el enlace expire.</li>
  <li><strong>Redireccionamiento: </strong>Puedes redirigir a determinados grupos de usuarios a URLs específicas para cada grupo añadiendo redirecciones. Esta configuración pisará la configuración del campo URL. Puedes establecer una redirección específica para cada uno de los siguientes grupos de usuarios:<ul>
      <li>Todos los usuarios</li>
      <li>Usuarios web</li>
      <li>Usuarios iOS</li>
      <li>Usuarios iOS iPad</li>
      <li>Usuarios Android</li>
      <li>Usuarios Android Tablet</li>
      <li>Usuarios Huawei</li>
    </ul>
  </li>
</ul>
<p>Haz clic en el botón <strong>+ Guardar enlace,</strong> para guardar la configuración y crear tu primer enlace corto.&nbsp;</p>
<h1>Editar enlaces cortos</h1>
<p>Si hemos creado un enlace corto pero necesitamos hacer una modificación sobre el mismo, ya sea en la fecha de expiración, nombre o redirección, podemos editarlo para aplicar los cambios pertinentes.&nbsp;</p>
<p>Para ello, tan solo tenemos que ir a la tabla donde se muestran todos los enlaces, buscar el enlace en cuestión (puedes usar el buscador para facilitar la tarea) y hacer <i>mouse over</i> sobre el menú contextual a la izquierda de la tabla para seleccionar la opción <strong>Editar.&nbsp;</strong></p>
<figure class="image image_resized" style="width:48.75%;"><img src="/enlaces_cortos_x.png"></figure>
<p>Una vez se abre la pantalla de edición del enlace, podemos realizar los cambios necesarios. Una vez realizadas todas las modificaciones en la configuración del enlace, haz clic nuevamente en el botón <strong>+ Guardar enlace</strong> para que se apliquen los cambios realizados.&nbsp;</p>
<h1>Clonar o expirar enlaces cortos</h1>
<p>En caso de ser necesario, podemos clonar los enlaces previamente creados. Recuerda que, al clonar un enlace, se clonará toda la configuración del enlace original, pero podrás realizar los cambios que sean necesarios. Además, también podemos expirar manualmente determinados enlaces en caso de ser necesario. Para cualquiera de las dos acciones, tan solo tenemos que hacer <i>mouse over </i>sobre el menú contextual a la izquierda de la tabla de enlaces y hacer clic en la opción <strong>Clonar</strong> o <strong>Expirar.&nbsp;</strong></p>
<figure class="image image_resized" style="width:49.27%;"><img src="/enlaces_cortos_xi.png"></figure>
<h1>Datos de enlaces cortos</h1>
<p>Una vez que tenemos creados enlaces cortos, estos van a estar generando una serie de datos que podremos ver en el dashboard. A continuación veremos qué información se obtiene de estos enlaces para poder realizar una analítica al respecto.</p>
<p>En el primer gráfico que se muestra, podemos ver la información general del volumen de clics que han generado todos nuestros enlaces en el periodo de fechas seleccionado. Puedes ver más información sobre cómo aplicar periodos de fechas a los informes de EMMA <a href="https://docs.emma.io/es/barras-de-menu#men%C3%BA-supra-principal">aquí</a>.</p>
<figure class="image image_resized" style="width:91.71%;"><img src="/enlaces_cortos_iii.png"></figure>
<p>Los dos primeros gráficos de tipo donut nos muestran, por un lado, información de las campañas que han generado clics en el rango de fechas seleccionado y, por otro lado, información de las subcampañas de las que proceden los clics del rango de fechas seleccionado.&nbsp;</p>
<figure class="image image_resized" style="width:85.78%;"><img src="/enlaces_cortos_xiv.png"></figure>
<p>Los siguientes gráficos nos muestran, por un lado, información de las referencias. Las referencias son los dominios/sitios desde los que se ha realizado clic en el enlace corto. Y, por otro lado, tenemos la información de las localizaciones de todo el mundo de la que proceden la mayoría de los clics realizados en nuestros enlaces.&nbsp;</p>
<figure class="image image_resized" style="width:85.74%;"><img src="/enlaces_cortos_xii.png"></figure>
<p>Ya por último, los dos gráficos restantes nos dan información sobre los sistemas operativos desde los que se están haciendo clic en los enlaces, así como el idioma que tienen configurado los dispositivos desde los que se está haciendo clic en los enlaces.&nbsp;</p>
<figure class="image image_resized" style="width:85.61%;"><img src="/enlaces_cortos_xiii.png"></figure>
<p>En la parte final de la pantalla, tenemos una tabla que nos muestra todos los enlaces y que nos aporta información desglosada para cada uno de los enlaces creados. La tabla nos muestra información de:&nbsp;</p>
<figure class="image"><img src="/enlaces_cortos_viii.png"></figure>
<ul>
  <li><strong>Nombre: </strong>Muestra el nombre del enlace que se configuró en el momento de la creación del mismo.</li>
  <li><strong>Campaña: </strong>Muestra el nombre de la campaña que se configuró en el momento de la creación del enlace.</li>
  <li><strong>Subcampaña: </strong>Muestra el nombre de la subcampaña que se configuró en el momento de la creación del enlace.</li>
  <li><strong>Dominio: </strong>Dominio que usará el enlace.</li>
  <li><strong>Enlace: </strong>Enlace corto generado.</li>
  <li><strong>QR: </strong>Código QR generado al crear el enlace.</li>
  <li><strong>URL: </strong>URL configurada en el campo de dicho nombre al crear el enlace.</li>
  <li><strong>Clics:</strong> Número de clics realizados sobre el enlace.</li>
  <li><strong>Visitantes: </strong>Número de usuarios que han hecho clic en el enlace y este les ha abierto la app (la tenían instalada previamente). Solo podemos detectar los visitantes únicos cuando tienen la app instalada y se inicializa el SDK de EMMA (se abre la app). Por eso solo se pueden detectar visitantes si el enlace en el que se hace clic levanta la app.</li>
  <li><strong>Clics por visitante: </strong>Media de clics realizada por cada visitante detectado.</li>
  <li><strong>Propietario: </strong>Usuarios que creó el enlace.</li>
  <li><strong>Creación: </strong>Fecha de creación del enlace.</li>
  <li><strong>Caducidad:</strong> Fecha de caducidad del enlace.</li>
</ul>
<h1>Preguntas frecuentes</h1>
<ul>
  <li><strong>¿Se pueden configurar deeplinks en los campos de URL y redirección?&nbsp;</strong><br>No, no se pueden configurar deeplinks. Tanto el campo URL, como los campos de redirección, sólo permiten URLs propiamente dichas con estructura https.&nbsp;<br>Recuerda que, tal y como se comenta en esta documentación, los enlaces cortos están pensados para poder redireccionar a usuarios que NO tienen la app instalada a determinadas URLs.&nbsp;<br>Lo que sí se podría hacer es establecer en el campo de URL, solo en este campo, un https que contenga un path que redireccione a alguna sección específica de la app, pero es responsabilidad de la app saber a dónde tiene que redireccionar al usuario al recibir una determinada url con estructura determinada de path. Y recuerda que este comportamiento no es el adecuado para esta funcionalidad.</li>
</ul>
