<!--
title: Fuentes de medios
description: Fuentes de medios
published: true
date: 2021-08-09T07:39:08.697Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:46:12.437Z
-->

<h1>Gestión de fuentes de medios</h1>
<p>Una vez que se haya creado la campaña, es necesario añadir al menos una source para poder generar el powlink de EMMA.</p>
<p>El powlink de EMMA no es más que un tracking link, un enlace de seguimiento o clic command encargado de realizar las redirecciones pertinentes a las URLs que se hayan configurado previamente en la configuración de la campaña.</p>
<p>A continuación veremos más detalladamente cómo dar de alta nuevas fuentes en EMMA, así como cómo editarlas, clonarlas y eliminarlas.&nbsp;</p>
<ul>
  <li>Crear fuentes</li>
  <li>Editar y clonar fuentes</li>
  <li>Eliminar fuentes</li>
</ul>
<h2>Crear fuentes</h2>
<p>Para acceder a las fuentes de una campaña, debemos seleccionar la opción&nbsp;<strong>Fuentes</strong> del menú contextual de la tabla resumen de campañas.&nbsp;</p>
<figure class="image"><img src="/fuentes_i.png"></figure>
<p>Dentro de las fuentes, deberemos hacer clic en el botón&nbsp;<i><strong>Nueva fuente</strong>&nbsp;</i>y cubrir el formulario&nbsp;para crear un nuevo tracking link a nuestra campaña.</p>
<figure class="image"><img src="/fuentes_2.png"></figure>
<p>&nbsp;</p>
<figure class="table">
  <table style="background-color:rgb(255, 255, 255);">
    <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Nombre</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Establece un nombre identificativo para la fuente/tracking link.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Proveedor</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Selecciona un proveedor en el&nbsp;<a href="http://emma.io/partners">listado</a>.&nbsp;EMMA&nbsp;notificará al proveedor todas las&nbsp;instalaciones y eventos in-app provenientes de su&nbsp;tráfico. Se puede seleccionar la opción personalizada&nbsp;<i>(Custom)</i>&nbsp;si no se desea notificar a ningún proveedor. Si el proveedor al que se quiere notificar&nbsp;no se encuentra&nbsp;en el listado, envía tu solicitud a&nbsp;<a href="mailto:support@emma.io">EMMA support</a>&nbsp;y lo integraremos&nbsp;como un nuevo partner.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Modelo de pago</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Selecciona el modelo de pago con el que se quiera medir la compra/venta del tráfico en el informe de la source.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Coste</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Rellena la opción de pago. Si tu campaña no tiene coste, rellénalo con un 0.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Click ID</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Si se está utilizando un SDK diferente al de EMMA se deberá cambiar el id del click. En este <a href="https://support.emma.io/hc/es/articles/203254341-Utiliza-la-herramienta-3rd-Party-Tracker">artículo</a> se puede ver más información para saber qué ID de transacción se debe utilizar en cada caso. Si se está utilizando el SDK propio de EMMA, este campo no necesita ningún cambio, se deja con la configuración por defecto.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Sufijo personalizado en URL corta*</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Se puede establecer un sufijo personalizado para los short url. En caso de no querer añadir uno, se deja este campo vacío y EMMA creará uno de manera aleatoria. Recuerda que este sufijo debe estar compuesto únicamente por caracteres alfanuméricos.</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>Atribución</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Si se está dando de alta una fuente de una campaña de Re-Targeting, se ha de configurar la ventana de atribución deseada hasta un máximo de 90 días.&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;"><i><strong>¿Utilizar landing de deeplink?</strong></i></td>
        <td style="border-bottom:1px solid rgb(207, 216, 220);border-left:1px solid rgb(207, 216, 220);border-right:1px solid rgb(207, 216, 220);border-top:1px solid rgb(207, 216, 220);padding:0.5rem 0.75rem;">Activa la landing de deeplink para aquellos casos en los que no sea posible levantar la app automáticamente con un Universal/App Link. Para ver más información acerca de landing de deeplink, consulta nuestro artículo sobre <a href="https://docs.emma.io/es/adquisicion/apptracker#redirecci%C3%B3n-para-navegadores-no-nativos">redirección para navegadores no nativos</a>.&nbsp;</td>
      </tr>
      <tr>
        <td><i><strong>Ruta deeplink</strong></i></td>
        <td>Establece tu ruta de deeplink para que los usuarios que ya tengan tu aplicación sean redireccionados a una sección concreta de la app y no a las stores. Visita nuestro artículo sobre <a href="https://docs.emma.io/es/adquisicion/apptracker#configurar-powlink-y-pwlnk-stu">cómo usar el Powlink en EMMA</a> para conocer como gestionar esta tecnología en tus campañas.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>*EMMA ofrece la posibilidad de establecer un sufijo personalizo a la url de seguimiento corta para una mejor identificación de la misma y también de cara a la visibilidad que puedan tener los clientes en caso de que se emplee en un SMS por ejemplo. De esta manera, se puede establecer un sufijo a la URL corta de hasta <strong>10 caracteres</strong> alfanuméricos en el campo estipulado para ello.&nbsp;</p>
<p>En caso de no querer personalizar el sufijo, simplemente se debe dejar este campo vacío y EMMA generará un sufijo de manera aleatoria.&nbsp;</p>
<p>Veámoslo con un ejemplo.</p>
<p>Supongamos que se va a realizar un envío de SMS y queremos trackear ese envío. Establecer en un SMS el powlink clásico de EMMA no es práctico ya que alarga en exceso el contenido del SMS, por lo que podemos optar por usar el powlink acortado y personalizarlo con el texto <i>sms</i> por ejemplo. De esta manera, nuestro enlace corto de EMMA se verá de la siguiente manera:&nbsp;</p>
<p><a href="https://emma.pwlnk.io/sms">https://emma.pwlnk.io/sms</a></p>
<p>Obtenemos un enlace mucho más manejable y con la misma funcionalidad que el powlink clásico, perfecto para emplear en determinado casos que se necesita un enlace con una extensión más corta.&nbsp;</p>
<h3>Nota</h3>
<p>Los sufijos deben ser únicos, si un sufijo ya está siendo usado en otra fuente, no se podrá volver a usar en una nueva.</p>
<h2>Editar y clonar fuentes</h2>
<p>Si es necesario realizar alguna modificación en la fuente o crear otra con las mismas características, existe la posibilidad de editar o clonar la fuente de manera rápida y sencilla.&nbsp;</p>
<p>Tan solo hay que hacer clic en el menú contextual y seleccionar la opción específica de&nbsp;<i><strong>Editar&nbsp;</strong></i>o&nbsp;<i><strong>Clonar.</strong></i></p>
<figure class="image"><img src="/fuentes_3.png"></figure>
<p>En caso de que se haya&nbsp;<strong>editado</strong>&nbsp;la fuente, se abrirá el formulario de creación de fuentes con la configuración que haya establecida para poder hacer las modificaciones que sean pertinentes. Una vez se hayan realizado los cambios, tan solo deberemos hacer clic en le botón&nbsp;<i><strong>Guardar campaña</strong></i><strong>&nbsp;</strong>para guardar los cambios realizados.</p>
<p>En caso de que se haya&nbsp;<strong>clonado</strong> la fuente, se abrirá el formulario de creación de la fuente copiando la configuración de la fuente clonada. De esta manera, con esta opción podremos ahorrar tiempo en la creación de fuentes que tengan la misma configuración.&nbsp;</p>
<h2>Eliminar fuentes</h2>
<p>Si necesitamos eliminar una fuente, tan solo tenemos que ir al menú contextual y seleccionar la opción&nbsp;<i><strong>Eliminar.&nbsp;</strong></i></p>
<p>Una vez seleccionada la opción&nbsp;<i><strong>Eliminar</strong>&nbsp;</i>la campaña será eliminada inmediatamente del sistema.&nbsp;</p>
<figure class="image"><img src="/fuentes_4.png"></figure>
<h1>Notificar eventos a redes publicitarias</h1>
<p>Desde EMMA, estamos integrados con cientos de redes publicitarias diferentes para que puedas gestionar tus campañas de captación o Re-Targeting de manera sencilla desde EMMA y la red pueda recibir toda la información de la campaña en su sistema de manera automática para poder gestionar y optimizar la misma para conseguir un resultado óptimo.&nbsp;</p>
<p>Para que EMMA pueda notificar a las redes pertinentes, en primer lugar es necesario crear una tracking link desde apptracker y vincular el proveedor (red) adecuado. En esta <a href="https://docs.emma.io/es/adquisicion/apptracker#gesti%C3%B3n-de-fuentes">documentación</a> puedes ver información sobre como realizar esta configuración.&nbsp;</p>
<h2>Configuración de eventos para notificar a redes publicitarias</h2>
<p>Una vez creado el tracking link, deberemos configurar aquellos eventos que queramos notificar a la red en cuestión. Para ello tenemos que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Preguntar a la red si es posible notificarle uno o varios eventos y con qué nombre o id quiere que se le notifique.</li>
  <li>Accede a EMMA y ve a la sección Captación &gt; Fuentes de Medios.</li>
</ul>
<figure class="image"><img src="/notificar_redes_1.png"></figure>
<ul>
  <li>Busca y edita la Fuente de Medios (proveedor/red) que hayas seleccionado al crear el tracking link.</li>
</ul>
<figure class="image"><img src="/notificar_redes_2.png"></figure>
<ul>
  <li>En la pantalla de edición, busca la sección <i>Eventos </i>y haz clic sobre el botón <i><strong>Añadir evento. </strong></i>Realiza este paso tantas veces como eventos quieras notificar a la red.</li>
</ul>
<figure class="image"><img src="/notificar_redes_3.png"></figure>
<ul>
  <li>Selecciona los eventos que se van a notificar a la red publicitaria.&nbsp;<br>En el campo <i><strong>Identificador del Evento para la Fuente de medios </strong></i>configura el nombre con el que la red va a recibir el evento. Puede ser un número, una palabra o una cadena alfanumérica. Si se deja en “blanco” se notificará exactamente el nombre del evento que se haya puesto en EMMA cuando se creó. En este caso, &nbsp;se podrá ver sombreado como se notificará.</li>
</ul>
<figure class="image"><img src="/notificar_redes_6.png"></figure>
<p>Una vez se hayan cumplido todos estos pasos tan solo es necesario guardar los cambios y la red empezará a recibir notificaciones cada vez que un usuario atribuido a su campaña realice los eventos pertinentes.&nbsp;</p>
<h2>Dejar de notificar eventos a redes publicitarias</h2>
<p>Si necesitamos que se deje de notificar un evento a la red, tenemos que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Ve a <i><strong>Captación &gt; Fuentes de medios.&nbsp;</strong></i></li>
  <li>Busca y edita la fuente de medios (proveedor/red) en cuestión.</li>
  <li>En la pantalla de edición ve al apartado de <i><strong>Eventos</strong></i> y haz clic en el botón <i><strong>Eliminar</strong></i> del evento que se quiere dejar de notificar.</li>
</ul>
<figure class="image"><img src="/notificar_redes_7.png"></figure>
<h1>Guía de Integración AdNetwork</h1>
<p>EMMA te ofrece&nbsp;retroalimentación cuando se &nbsp;hace una conversión que viene de su tráfico. Cuando nuestro algoritmo de seguimiento coincide con una instalación de un clic, se notifica&nbsp;a tu sistema gracias a una devolución de llamada configurada previamente.</p>
<p>Para configurar nuestra <i>callback URL</i>&nbsp;(devolución de llamada)&nbsp;necesitas enviar un e-mail a&nbsp;<a href="mailto:integraciones@emma.io">integraciones@emma.io</a>&nbsp;con la siguiente información:&nbsp;</p>
<ol>
  <li>Tu&nbsp;URL base de su api o su <strong>píxel S2S.</strong></li>
  <li>Los <strong>parámetros</strong> y valores dinámicos o fijos a anexar a través de la redirección. Consulta&nbsp;<a href="https://docs.emma.io/es/adquisicion/fuentes-de-medios#c%C3%B3mo-a%C3%B1adir-par%C3%A1metros-personalizados">este artículo</a>&nbsp;para conocer cómo anexar tus parámetros. Es muy recomendable <a href="https://support.emma.io/hc/es/articles/203391031-Identificadores-%C3%9Anicos-Compatibles">anexar un identificador único</a>&nbsp;del dispositivo con el fin de mejorar la fiabilidad de descargas.</li>
  <li>El <strong>logo de tu compañía</strong> con medidas&nbsp;225x100 px. Lo añadiremos en nuestra&nbsp;<a href="https://emma.io/partners/">lista de <i>Partnerships</i></a><i>.</i></li>
</ol>
<p>EMMA&nbsp;enviará notificaciones con la estructura de tu URL base y&nbsp;opcionalmente añadirá los siguientes parámetros GET al final, así como:&nbsp;</p>
<p><i>http://yourbaseurl.com/event/70?click=43144397<strong>&amp;UDID=&amp;LATITUDE=&amp;LONGITUDE=&amp;CREATED_AT=2015-04-20+17%3A08%3A01</strong></i></p>
<figure class="table" style="height:208px;width:720px;">
  <table style="background-color:rgb(255, 255, 255);">
    <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;text-align:center;"><strong>UDID</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Identificador único de dispositivo</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;text-align:center;"><strong>LATITUDE</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Coordenadas del dispositivo (si se permite en la aplicación)</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;text-align:center;"><strong>LONGITUDE</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Coordenadas del dispositivo (si se permite en la aplicación)</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;text-align:center;"><strong>CREATED_AT</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Momento exacto de instalación</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>En el caso de no querer&nbsp;recibir nuestros parámetros GET, especifícalo en tu e-mail.</p>
<p>Aquí puedes ver las IP's de nuestro servidor en caso de que necesites añadirlas a tu Whitelist.</p>
<ul>
  <li>5.9.147.231</li>
  <li>213.239.208.15</li>
</ul>
<h1>Cómo añadir parámetros personalizados</h1>
<p>Puedes añadir algunos parámetros GET en la&nbsp;URL de <i>tracking</i> con el fin de obtener más información sobre el origen del clic, lo que permite distinguir el nombre de la aplicación o&nbsp;su categoría.</p>
<figure class="table" style="width:720px;">
  <table style="background-color:rgb(255, 255, 255);">
    <tbody>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Nombre</td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Descripción</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;"><strong>exid</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Identificador de red personalizado como ID de clic</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;"><strong>camid</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Identificador de encargo extra como ID de campaña</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;"><strong>dp</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Dispositivo (iPhone, iPad, Galaxy S1, …)</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;"><strong>appname</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Nombre de la app donde se hace el clic</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;"><strong>appcats</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Categoría de la app donde se hace el clic&nbsp;</td>
      </tr>
      <tr>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;"><strong>eat_sub[NUM]</strong></td>
        <td style="border-bottom:1px solid rgb(238, 238, 238);border-left:0px solid rgb(238, 238, 238);border-right:0px solid rgb(238, 238, 238);border-top:0px solid rgb(238, 238, 238);padding:12px;">Donde&nbsp;[<i>NUM</i>] es un número entero de 1 a&nbsp;22. Información de parámetros extra disponibles usando&nbsp;<a href="https://developer.emma.io/es/ios/integracion-sdk#informaci%C3%B3n-del-usuario">la función del SDK getUserInfo()</a></td>
      </tr>
    </tbody>
  </table>
</figure>
<p><strong>IMPORTANTE:</strong>&nbsp;el parámetro eat_sub[NUM] podría ser recogido y exportado a través de la API, pero no pueden ser notificadas por las devoluciones de datos del AdNetwork. Si eres un AdNetwork, utiliza el resto de parámetros de la lista para conseguir que se devuelva la información.</p>
<p>A continuación se muestran un par de ejemplos:<strong>&nbsp;</strong></p>
<ul>
  <li>http://eat.emmasolutions.net?entw=7b5b7e82e409be76027f5b688de2a67<strong>&amp;exid=</strong>[click_ID]<strong>&amp;dp=</strong>[device]<strong>&amp;eat_sub1=</strong>[extra_param1]<strong>&amp;eat_sub2=</strong>[extra_param2]<strong>&nbsp;</strong></li>
  <li>http://eat.emmasolutions.net?entw=7b5b7e82e409be76027f5b688de2a67<strong>&amp;exid=</strong>123456<strong>&amp;dp=</strong>iphone<strong>&amp;eat_sub1=</strong>performance<strong>&amp;eat_sub2=</strong>zanox</li>
</ul>
