<!--
title: Redirección para navegadores no nativos
description: redireccion-navegadores-no-nativos
published: true
date: 2021-05-03T13:35:46.921Z
tags: 
editor: ckeditor
dateCreated: 2021-04-28T14:28:57.573Z
-->

<p>Desde EMMA hemos estado trabajando en un desarrollo para poder asegurar un rango más amplio de funcionamiento del AppLink / UniversalLink y ampliar su funcionamiento y lógica al mayor número de escenarios posible. Para que un AppLink / UniversalLink funcione como tal, es necesario que se realice una acción (clic) sobre el mismo. Con este desarrollo se amplia el espectro de acción del AppLink / UniversalLink de tal manera que también funciona como tal sin necesidad de que se realice un clic explícito sobre el mismo (redirección o pegado del powlink directamente en un navegador).</p>
<p>Para ello, se ha determinado que todos los powlinks que tengan configurado un deeplink tengan un comportamiento determinado en función del navegador por defecto que se tenga seleccionado. De esta manera, a continuación, veremos el comportamiento dentro de cada sistema operativo.</p>
<p>En cualquier caso, los powlinks que no tengan configurado un deeplink van a seguir funcionando con la misma lógica de siempre, este flujo sólo aplica en aquellos casos en los que el powlink tenga un deeplink.</p>
<h1>Redireccionamiento en iOS</h1>
<p>En el caso de iOS vamos a diferenciar el comportamiento en función del navegador por defecto que tenga el usuario configurado, diferenciando entre Safari (propio del OS) y otros navegadores “externos” como Chrome.&nbsp;</p>
<h2>Safari</h2>
<p>Si el usuario tiene configurado en su dispositivo como navegador por defecto Safari, el flujo del powlink será el siguiente:</p>
<figure class="image"><img src="/ios_safari.png"></figure>
<p>*En el caso de que se haga un clic explícito sobre el powlink con deeplink y la app esté instalada en el dispositivo, la aplicación se levantará inmediatamente. En caso de hacer clic y no se tenga la app instalada, el flujo es el mismo que el detallado arriba.&nbsp;</p>
<p><strong>IMPORTANTE</strong></p>
<p>Las alertas que se muestran en el flujo, <i>“¿Quieres abrir la app?” y “Enlace no encontrado”</i>, es algo que hace por defecto Safari, es algo interno del OS y no se puede eliminar, es un elemento nativo sobre el que no tenemos control y no se puede evitar.&nbsp;</p>
<h2>Chrome</h2>
<p>Si el usuario tiene configurado en su dispositivo como navegador por defecto Chrome, el flujo del powlink será (en todos los casos) el siguiente:</p>
<figure class="image"><img src="/ios_chrome_vii.png"></figure>
<h1>Redireccionamiento en Android</h1>
<p>Al igual que en el caso de iOS, vamos a describir dos flujos y analizar el comportamiento del powlink en función del navegador seleccionado por el usuario como navegador por defecto. En este caso vamos a ver los flujos con el navegador nativo Chrome y con otros navegadores “externos” como pueden ser Firefox u Opera.&nbsp;</p>
<h2>Chrome</h2>
<p>Si el usuario tiene configurado en su dispositivo como navegador por defecto Chrome, el flujo del powlink será el siguiente:</p>
<figure class="image"><img src="/android_chrome_vii.png"></figure>
<p><strong>IMPORTANTE:&nbsp;</strong></p>
<p>En el caso de Chrome, si se añade la url a mano en el navegador, este va a bloquear el deeplinking y dejará al usuario en la landing. Se trata de un comportamiento propio de Chrome que hace automáticamente sobre el cual no tenemos control alguno y no se puede obviar.&nbsp;</p>
<p>Chrome sólo abrirá aquellos deeplinks que hayan sido ejecutados desde una acción (clic en un botón o redirección).&nbsp;</p>
<h2>Firefox / Opera</h2>
<p>En caso de que el usuario tenga configurado Firefox / Opera en su dispositivo como navegador por defecto, el flujo del powlink será, en todos los casos, el siguiente:&nbsp;</p>
<figure class="image"><img src="/android_firefox.png"></figure>
<h1>Huawei HMS</h1>
<p>Huawei tiene su propio navegador por defecto, <i>Huawei Browser, </i>pero aún con un único navegador, tenemos dos posibilidades de funcionamiento del powlink. En este caso, contamos con una primera opción, que es la opción por defecto que empleará EMMA y una segunda opción que implica un pequeño paso de configuración para poder usar el <i>AGConnect </i>(App Link) y la creación de una landing propia con la lógica de la landing por defecto de EMMA.</p>
<p>Veamos a continuación cada una de las opciones disponibles y sus especificaciones.&nbsp;</p>
<h2>Huawei Browser (opción por defecto)</h2>
<p>La opción que ofrecerá EMMA por defecto, presenta el siguiente flujo en el caso de que el usuario emplee <i>Huawei Browser</i> como navegador:&nbsp;</p>
<figure class="image"><img src="/huawei_default_vii.png"></figure>
<p>En este caso, en el flujo del usuario que NO tiene la app instalada o que no da permiso para abrirla cuando la tiene instalada, la App Gallery se abrirá siempre <i>“embebida”</i> en el navegador.&nbsp;</p>
<h2>AGConnect link (opción alternativa)</h2>
<p>Si queremos que al no tener la app instalada se abra la app de App Gallery, sería necesario optar por esta alternativa. Para poder hacer uso de esta alternativa, será necesario una pequeña configuración y crear una nueva landing personalizada. Más abajo, podemos ver detalladamente ambos requerimientos detallado.&nbsp;</p>
<p>En este caso, el flujo siempre será el siguiente:&nbsp;</p>
<figure class="image"><img src="/huawei_agconnect_vii.png"></figure>
<h3>Configuración AGConnect Link</h3>
<p>Habilitar el AGConnect Link para el uso en la landing de redireccionamiento es muy sencillo, tan solo hay que seguir dos pasos simples.&nbsp;</p>
<ul>
  <li>Haz login en <a href="https://developer.huawei.com/consumer/es/"><i><strong>App Gallery Connect</strong></i></a><i><strong> </strong></i>y seleccionamos la opción <i><strong>App Linking.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="/agconnect_i.png"></figure>
<ul>
  <li>Haz clic en el botón <i><strong>New URL prefix</strong></i> y crea un nuevo dominio de AGConnect Link.</li>
</ul>
<figure class="image"><img src="/agconnect_ii.png"></figure>
<figure class="image"><img src="/agconnect_iii.png"></figure>
<p>Una vez realizada esta configuración en App Gallery Connect, debemos crear una nueva landing personalizada en EMMA usando el código principal de nuestra landing (ponte en contacto con nosotros para solicitar el código html).&nbsp;</p>
<p>Una vez tengas acceso a nuestro código, deberás llevar a cabo las siguientes acciones:&nbsp;</p>
<ol>
  <li>Cambiar el flag <i><strong>useHuaweiAppLink</strong></i> de <i>false</i> a <i><strong>true</strong></i></li>
  <li>Añadir dentro de la landing, en el código <i>javascript,</i> el <i><strong>packageName</strong></i></li>
  <li>Añadir dentro de la landing, en el código <i>javascript,</i> el dominio de AGConnect Link configurado previamente en <a href="https://developer.huawei.com/consumer/es/"><i><strong>App Gallery Connect</strong></i></a></li>
</ol>
<h1>Cómo crear nuevas landings personalizadas</h1>
<p>En caso de ser necesario crear una nueva landing customizada, debes seguir estos pasos:&nbsp;</p>
<ul>
  <li>Haz login en EMMA</li>
  <li>Ve a la sección <i><strong>Gestión &gt; Landings</strong></i></li>
</ul>
<figure class="image"><img src="/crear_landing_deeplink_i.png"></figure>
<ul>
  <li>Haz clic en el botón <strong>+ Nueva landing</strong></li>
</ul>
<figure class="image"><img src="/crear_landing_deeplink_ii.png"></figure>
<ul>
  <li>Completa los campos del formulario de creación<ul>
      <li><strong>Nombre: </strong>Establece un nombre para tu landing de deeplink</li>
      <li><strong>Tipo: </strong>Selecciona el tipo <strong>Redirección (deeplink)</strong></li>
      <li><strong>¿Landing por defecto?: </strong>Habilita este check si quieres que sea la landing usada por defecto</li>
      <li><strong>Contenido HTML de la landing: </strong>Pega todo el contenido de tu HTML configurado anteriormente para poder alojarlo y emplearlo como landing de redirección</li>
    </ul>
  </li>
</ul>
<figure class="image"><img src="/crear_landing_deeplink_iii.png"></figure>
<ul>
  <li>Haz clic en <strong>Guardar Landing</strong></li>
</ul>
<p>Y listo, nuestra landing para redirección de deeplinks estaría creada y configurada para usarse por defecto.&nbsp;</p>
