<!--
title: Huawei
description: Huawei
published: true
date: 2022-04-25T12:33:43.457Z
tags: 
editor: ckeditor
dateCreated: 2022-04-20T08:56:42.836Z
-->

<h1>Huawei Ads</h1>
<p>Con Huawei Ads puedes promocionar tu aplicación móvil de Huawei App Gallery para que aparezca en los primeros resultados de búsqueda de App Galllery. Al igual que otras plataformas, Hauwei permite este tipo de campañas y EMMA es partner integrado de Huawei para permitirte medir y atribuir todas las conversiones que provengan de este formato.</p>
<p>Los anuncios de Huawei están integrados en varias aplicaciones de Huawei como:</p>
<ul>
  <li>Huawei App Gallery</li>
  <li>Hauwei Browser</li>
  <li>Huawei Video</li>
  <li>Huawei Assistant</li>
  <li>Huawei Reader</li>
  <li>Huawei Music</li>
</ul>
<p>Para poder medir con EMMA todas las instalaciones de las campañas enfocadas a App Gallery tienes que seguir estos sencillos pasos de configuración:</p>
<h2>Configuración en EMMA</h2>
<p>Primero de todo, debes realizar una pequeña configuración en el dashboard de EMMA para poder obtener la información necesaria para llevar a cabo la atribución. Tan solo tienes que seguir estos pasos:</p>
<ol>
  <li>Haz login en tu cuenta de <a href="https://ng.emma.io/es/">EMMA</a>.</li>
  <li>Ve a la sección <i><strong>Captación &gt; Apptracker</strong></i> y crea una nueva campaña. Si no sabes como crear campañas en Apptracker, <a href="/es/adquisicion/Campa%C3%B1as">aquí</a> puedes ver cómo hacerlo.</li>
  <li>Una vez creada la campaña, crea una nueva fuente dentro de esa campaña. <a href="/es/adquisicion/fuentes-de-medios">Aquí</a> tienes más info sobre el proceso de creación de fuentes.</li>
  <li>Una vez creada la fuente, edítala haciendo clic en la opción <i><strong>Editar</strong></i> el menú contextual.&nbsp;<br>&nbsp;</li>
</ol>
<figure class="image"><img src="/huawei_ads_1.png" alt=""></figure>
<ol>
  <li>En la barra de navegación del navegador, vas a poder ver una URL con la siguiente estructura:<br><a href="https://ng.emma.io/es/legacy/acquisition/apptracker/2444/sources/4235/edit">https://ng.emma.io/es/legacy/acquisition/apptracker/2444/sources/4235/edit</a><br>Es importante que te guardes el id de campaña (en este ejemplo es el 2444) y el id de la fuente (en este ejemplo 4235) ya que los vas a necesitar más adelante.</li>
</ol>
<h2>Configuración en Huawei Ads</h2>
<p>Una vez realizada la configuración en EMMA, es hora de realizar la configuración pertinente en Huawei Ads para poder medir las instalaciones de las campañas de App Gallery. Pare ello, sigue estos pasos:</p>
<ol>
  <li>Ve a <a href="https://ads.huawei.com">Huawei Ads</a> y haz login en tu cuenta.</li>
  <li>Crea una campaña con emplazaminto <strong>App Gallery</strong> (Network = App Gallery).<br>&nbsp;</li>
</ol>
<figure class="image"><img src="/huawei_ads_2.1.png" alt="huawei_ads_2.1.png"></figure>
<ol>
  <li>En el paso 2, <i><strong>Create Task</strong></i>, haz clic en la opci´ón <i><strong>More Settings</strong></i>.<br>&nbsp;</li>
</ol>
<figure class="image"><img src="/huawei_ads_3.1.png" alt="huawei_ads_3.1.png"></figure>
<ol>
  <li>Una vez desplegada la opción <i><strong>More Sttings</strong></i>, en el campo <i><strong>Tracking parameters</strong></i> debes añadir el <i><strong>Install Referrer</strong></i>, con la siguiente estructura:<br><strong>utm_source=1047&amp;utm_medium=emma&amp;utm_campaign=2537&amp;utm_content=huawei_ads</strong><br>Dónde debes sustituir los siguientes valores:<ul>
      <li><strong>utm_source</strong>: En este campo introduce el valor de la fuente obtenido en el paso 5 de la Configuración en EMMA en esta guía. Se corresponde con el segundo id de la URL.</li>
      <li><strong>utm_campaign</strong>: En este campo introduce el valor de la campaña obtenido en el paso 5 de la Configuración en EMMA de esta guía. Este valor se corresponde con el primer id de la URL.</li>
    </ul>
  </li>
</ol>
<h1>Filtro HMS</h1>
<p>El 19 de Mayo de 2019, Google decidió finalizar con Huawei todos aquellos negocios que conllevasen transferencia de <i>hardware</i> y <i>software</i>, menos aquellos cubiertos por licencias <i>open source.</i> Esto se traduce en que los dispositivos fabricados a partir de esta fecha, no contarán con los servicios de Google como es la Play Store, aunque sí con el equivalente, la <strong>App</strong> <strong>Gallery</strong> de <strong>Huawei</strong>.</p>
<p>Desde entonces, en EMMA hemos estado trabajando para adaptar nuestro SDK a la tienda de aplicaciones de Huawei &nbsp;con el objetivo de medir la atribución así como permitir el envío de notificaciones Push mediante su servicio. De esta manera, no se perderá la medición de estos usuarios. Puedes ver más información respecto a la implementación del SDK <a href="https://developer.emma.io/es/android/integracion-sdk">aquí</a>.</p>
<p>Además, también hemos trabajado en un filtro para poder diferenciar los dispositivos que usan los servicios de Google (<i>Google Mobile Services - GMS</i>) de los que usan los servicios de Huawei (<i>Huawei Mobile Services - HMS</i>). Puedes consultar este filtro desde <a href="/es/analisis-de-comportamiento/segmentos">explorador</a>, pero debes tener en cuenta las siguientes consideraciones:</p>
<ul>
  <li>El filtro diferencia los dispositivos que usan los servicios HMS de los que usan los servicios GMS.</li>
  <li>Es posible que haya dispositivos que no son de marca Huawei que se filtren como HMS. Esto se puede dar porque si un usuarios tiene un dispositivo Samsung, Xiaomi o de cualquier otro fabricante y un smartwatch de Huawei, para utilizar este último necesita instalar en su dispositivo los servicios HMS, con lo cual pasarán a estar categorizados como HMS.</li>
  <li>Los dispositivos de marca Huawei anteriores al cese de las relaciones entre Google y Huawei, tienen ambas stores, Google Play y App Gallery, pero actualmente no es posible saber desde que store el usuario ha descargado la app. Con lo cual existe la posibilidad de que haya dispositivos categorizados como HMS porque tienen los servicios de Huawei que se pueden haber descargado la app desde App Gallery.</li>
</ul>
