<!--
title: Facebook
description: Facebook
published: true
date: 2021-10-22T06:38:11.338Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T23:10:25.883Z
-->

<h1>Seguimiento con&nbsp;Facebook App Installs</h1>
<p><a href="https://developers.facebook.com/docs/ads-for-apps/mobile-app-ads?locale=es_ES"><i>Facebook App</i> Installs</a>&nbsp;es el formato de Facebook orientado para llegar a nuevos usuarios mediante&nbsp;dispositivos móviles.</p>
<figure class="image"><img src="/fb_9.png"></figure>
<p>En esta guía se explican todos los pasos de configuración necesarios para comenzar a medir tus campañas con <i>Facebook App Installs</i>.&nbsp;</p>
<h2>Programa de Medición Móvil Avanzada de Facebook (AMM)</h2>
<p>El 22 de abril de 2020 Facebook realizó un cambio que afectaba directamente al Programa de Medición Móvil Avanzada (AMM) por el cual restringían la información de aquellas instalaciones de impresiones de los anuncios de Facebook. Con este cambio, EMMA dejó de recibir la información de los anuncios a nivel de dispositivo y no podíamos saber de que emplazamiento venía la instalación (Facebook o Instagram) así como tampoco podíamos saber &nbsp;la información de la campaña y el grupo de anuncios al que pertenecía esa instalación. Es por eso, que las instalaciones de impresiones en anuncios de Facebook, se empezaron a mostrar bajo una fuente denominada <i>“Facebook / Instagram Restricted”</i>.&nbsp;</p>
<p>En 2021, Facebook ha anunciado que el programa de Medición Móvil Avanzada (AMM) quedará obsoleto el 29 de octubre de 2021. Esto significa que desde EMMA ya no vamos a poder acceder a los datos de las instalaciones de clics de anuncios de Facebook a nivel de dispositivo. Por lo que, al igual que pasó con los datos de las instalaciones de impresiones, Facebook no nos va a facilitar información del emplazamiento del anuncio (Facebook o Instagram), ni de la campaña ni del grupo de anuncios del que proviene cada instalación. La única información que nos va compartir es que es una instalación “Restricted”.&nbsp;</p>
<p>A partir del 29 de octubre de 2021, todas las instalaciones de tus campañas de Facebook e Instagram, en EMMA se van a ver bajo una misma fuente denominada <i>“Facebook / Instagram Restricted”.&nbsp;</i></p>
<p>Este cambio no va a afectar al rendimiento de las campañas activas en dicha plataforma, simplemente afecta a como la información será visualizada desde la plataforma de EMMA a partir del 29 de octubre cuando el programa AMM quede obsoleto.&nbsp;</p>
<h2>Configuración en Facebook</h2>
<ul>
  <li>Registra tu App con Facebook y obtén el <i><strong>Facebook App ID&nbsp;</strong></i>(lo necesitarás más adelante). Puedes seguir instrucciones específicas <a href="https://developers.facebook.com/docs/ads-for-apps/mobile-app-ads?locale=es_ES">aquí</a>&nbsp;en “<i>Step 1: Register your Mobile App with Facebook</i>”</li>
</ul>
<figure class="image"><img src="/fb_10.png"></figure>
<ul>
  <li>Acepta los <a href="https://www.facebook.com/ads/manage/advanced_mobile_measurement/app_based_tos/"><strong>términos y condiciones de Facebook</strong></a> desde todas las cuentas con rol de administrador en <i>Facebook Developers.</i></li>
  <li>Obtén el Facebook App ID, lo necesitarás más adelante para realizar al configuración en EMMA. Este ID se obtiene de la consola de <i>Facebook for Developers.</i></li>
</ul>
<h2>Configuración en EMMA</h2>
<p>Para empezar a medir tus campañas en EMMA tienes que seguir los siguientes pasos para finalizar la configuración:</p>
<ul>
  <li>Haz <a href="https://ng.emma.io">login</a>&nbsp;en EMMA y dirígete a&nbsp;<strong>Preferencias App</strong> desde el menú desplegable pasando por encima de tu nombre de usuario (arriba a la derecha)</li>
</ul>
<figure class="image"><img src="/fb_11.png"></figure>
<ul>
  <li>Configura la información de&nbsp;<strong>AppStore&nbsp;</strong>(url de la app en la store) y <strong>AppStore ID</strong> para&nbsp;<strong>iOS</strong> y la información de&nbsp;<strong>Google Play&nbsp;</strong>(url de la app en la store) y&nbsp;<strong>Google Play ID</strong> para&nbsp;<strong>Android.</strong></li>
</ul>
<figure class="image"><img src="/fb_12.png"></figure>
<figure class="image"><img src="/fb_13.png"></figure>
<p>Para sacar el<i> App Store ID </i>puedes copiar el&nbsp;ID a través del enlace generado en AppStore, como en el siguiente ejemplo:</p>
<figure class="image"><img src="/fb_14.png"></figure>
<p>Para sacar el<i>&nbsp;Google Play ID </i>puedes copiar el ID a través del enlace generado en GooglePlay, como en el siguiente ejemplo:</p>
<figure class="image"><img src="/fb_15.png"></figure>
<ul>
  <li>Una vez configurado esto, dirígete a <i><strong>Captación &gt; Fuentes de Medios</strong>.</i></li>
</ul>
<figure class="image"><img src="/fb_16.png"></figure>
<ul>
  <li>Busca la fuente de medios&nbsp;<strong>Facebook </strong>y en el menú lateral haz clic en editar</li>
</ul>
<figure class="image"><img src="/fb_17.png"></figure>
<ul>
  <li>Configura el <strong>Facebook App Id&nbsp; </strong>obtenido anteriormente y haz clic en&nbsp;<strong>Guardar.</strong></li>
</ul>
<figure class="image"><img src="/fb_18.png"></figure>
<ul>
  <li>Si todo se ha realizado correctamente, encontrarás las campañas de Facebook en la sección <i><strong>Captación &gt; Apptracker</strong>.</i> Una vez la campaña esté activa, los datos de rendimiento entrarán automáticamente EMMA.</li>
</ul>
<figure class="image"><img src="/fb_19.png"></figure>
<h2>Consideraciones para iOS 14</h2>
<p>A raíz de todos los cambios que ha traído consigo iOS 14 relativos a la privacidad de privacidad de Apple, se elimina el uso del IDFA (Identificador de publicidad).&nbsp;</p>
<p>Hasta la llegada de iOS 14, cada dispositivo móvil tenía un IDFA único que permitía poder identificar al usuario de manera anónima y saber desde que canal se había descargado la aplicación.&nbsp;</p>
<p>Este cambio tiene un impacto muy importante en las campañas de Facebook, ya que, con este cambio, Apple le ha dado el poder de decisión al usuario y es este último quién tiene que permitir el uso del IDFA para que Facebook pueda atribuir de manera correcta. En este escenario, es necesario que los usuarios que se instalan una app a través de un anuncio de Facebook cumplan las siguientes condiciones:&nbsp;</p>
<ol>
  <li>Haber permitido el uso del IDFA en la app de Facebook.</li>
  <li>Permitir el uso del IDFA en la app que se instale a través de un anuncio de Facebook.</li>
</ol>
<p>Si alguna de estas dos condiciones no se cumplen, Facebook no podrá realizar la atribución del usuario ya que no tiene manera alguna de vincular el usuario que ha instalado la app con el clic o la visualización del anuncio en su plataforma.&nbsp;</p>
<h2>Medición de eventos in app (opcional)</h2>
<p>Además de medir las campañas de Facebook en EMMA , también puedes enviar cualquier evento inapp que estés midiendo en EMMA a Facebook para medirlos. Sigue estos pasos para configurar los eventos para Facebook:</p>
<p>Haz&nbsp;<a href="https://ng.emma.io">login</a>&nbsp;en la página web de EMMA y dirígete a <i><strong>Captación &gt; Fuentes de medios</strong>.</i></p>
<figure class="image"><img src="/fb_16.png"></figure>
<ul>
  <li>Edita la fuente de medios de <strong>Facebook</strong>.</li>
  <li>En la sección de&nbsp;<strong>Eventos,&nbsp;</strong>haz clic en el botón&nbsp;<strong>añadir evento</strong> para añadir los eventos que quieres enviar a Facebook. Es importante que en la columna&nbsp;<i><strong>Identificador del Evento para la Fuente de medios</strong></i> selecciones el evento de Facebook con el que se vinculará el evento evento enviado desde EMMA.</li>
</ul>
<figure class="image"><img src="/fb_20.png"></figure>
<ul>
  <li>Decide con qué evento de Facebook vas a querer vincular el evento que se envía desde EMMA .<ul>
      <li>fb_mobile_level_achieved</li>
      <li>fb_mobile_activate_app</li>
      <li>fb_mobile_add_payment_info</li>
      <li>fb_mobile_add_to_cart</li>
      <li>fb_mobile_add_to_wishlist</li>
      <li>fb_mobile_complete_registration</li>
      <li>fb_mobile_tutorial_completion</li>
      <li>fb_mobile_initiated_checkout</li>
      <li>fb_mobile_purchase</li>
      <li>fb_mobile_rate</li>
      <li>fb_mobile_search</li>
      <li>fb_mobile_spent_credits</li>
      <li>fb_mobile_achievement_unlocked</li>
      <li>fb_mobile_content_view</li>
      <li>CUSTOM</li>
    </ul>
  </li>
</ul>
<h3>&nbsp;Eventos CUSTOM</h3>
<p>Es importante que tengas en cuenta las siguientes anotaciones para los eventos CUSTOM:</p>
<ul>
  <li>Facebook no utiliza estos eventos para optimizar el tráfico, sólo para medir y segmentar la audiencia en Facebook Analytics for Apps. Si quieres usar los eventos para optimizar el tráfico deberás seleccionar uno de los eventos por defecto que ofrece Facebook.</li>
  <li>Este tipo de eventos pueden ser usados para crear audiencias en Facebook.</li>
  <li>En el Ads Manager no podrás diferenciar estos eventos. Todos serán mostrados bajo la etiqueta Custom.</li>
  <li>En Analytics for Apps, podrás diferenciar los eventos CUSTOM unos de otros, ya que podrás ver el nombre real del evento</li>
</ul>
<h1>Facebook API: seguimiento para medir impresiones, clicks y coste (opcional)</h1>
<p>Con la nueva conexión con la API de Facebook puedes hacer 2 cosas:</p>
<ul>
  <li>Obtener las impresiones, los clicks y el coste de las campañas a tiempo real en EMMA. Esto es totalmente opcional y no afecta a la medición de instalaciones y eventos.</li>
  <li>Compartir audiencias directamente con Facebook. En este caso, esta conexión con la API es obligatoria. En este <a href="https://docs.emma.io/es/guias-de-integracion/facebook#compartir-audiencias-con-facebook">artículo</a> puedes ver más información sobre esto.</li>
</ul>
<h3>Info</h3>
<p>Ten en cuenta que, para poder llevar a cabo está conexión vía API, es necesario que tengas una campaña activa en tu panel de Business Manager de Facebook.</p>
<p>Para&nbsp;hacer esta conexión se deben seguir estos pasos:</p>
<ul>
  <li>Vete a <a href="https://developers.facebook.com/"><i>Facebook Developers</i></a>, entra en tu App y vete a la sección&nbsp;<i>Facebook Login. </i>Ahí autoriza la url de&nbsp;<a href="https://in.emma.io/">https://in.emma.io/social/init-facebook-api</a>&nbsp;en&nbsp;<i>Valid OAuth redirect URIs y </i>marca el<i>&nbsp;Web OAuth Login&nbsp;</i>como YES. Además debes marcar la opción&nbsp;<i>Use Strict Mode for Redirect URIs</i> como&nbsp;YES.</li>
</ul>
<figure class="image"><img src="/fb_21.png"></figure>
<h3>Nota</h3>
<p>Vete a <i>Settings &gt; Advanced </i>y revisa que el botón <i>Native&nbsp;or Desktop App&nbsp;</i>esté seleccionado como NO</p>
<figure class="image"><img src="/fb_22.png"></figure>
<p>&nbsp;</p>
<ul>
  <li>Vete a <i>Facebook Ads Manager</i> y loguéate con un rol de administrador de la cuenta publicitaria.</li>
  <li>Dirígete a tu cuenta de EMMA y entra en&nbsp;<i><strong>Captación &gt; Fuentes de medios.&nbsp;</strong></i>Busca la fuente&nbsp;<i>Facebook&nbsp;</i>y edítala.</li>
</ul>
<figure class="image"><img src="/fb_16.png"></figure>
<ul>
  <li>Una vez dentro del panel de edición de la fuente Facebook, busca la sección <i><strong>Impresiones, clics y coste </strong></i>y haz clic sobre el botón verde <i><strong>Iniciar sesión en Facebook</strong></i>:</li>
</ul>
<figure class="image"><img src="/fb_25.png"></figure>
<p>Inicia sesión con un usuario administración de la cuenta publicitaria para que la conexión se realice correctamente y guarda los cambios realizados.</p>
<h3>Importante</h3>
<p>La conexión con la API de Facebook debe ser renovada cada dos meses. Si dejas de medir datos de impresiones, clicks y coste deberás realizar los apartados 4 y 5 de esta sección.</p>
<h1>Campañas de Re-Targeting de Facebook</h1>
<p>Las campañas en Facebook pueden generar tanto acciones de nuevos usuarios (captación) como de usuarios antiguos (re-engagement) en función del segmento establecido. Por ello, si se quiere crear una campaña que apunte únicamente a nuevos usuarios es importante hacer una exclusión en la campaña de una audiencia custom con los usuarios que ya tienen la app o la tuvieron anteriormente.</p>
<p>Las acciones de re-engagement se generan por usuarios que ya tenían la app previamente instalada y pueden venir de diferentes campañas de Facebook. Por otro lado las acciones de captación vienen de aquellos usuarios que se instalan por primera vez la aplicación.</p>
<p>Además, si es la primera vez que vas a medir Facebook con EMMA, antes debes seguir los pasos del apartado <a href="https://docs.emma.io/es/guias-de-integracion/facebook#seguimiento-con-facebook-app-installs">Seguimiento con Facebook</a> para poder realizar la conexión con la plataforma social correctamente y poder medir todas tus campañas.</p>
<h2>Re-Targeting con Facebook</h2>
<p>Para poder medir las campañas de Re-Targeting de Facebook a través de EMMA, además de la configuración explicada en la guía citada anteriormente, es necesario habilitar los eventos que quieres enviar a Facebook para usar en tus campañas de Re-Targeting. Para ello tienes que:</p>
<ul>
  <li>Haz <a href="https://ng.emma.io">login</a> en tu cuenta de EMMA y ve a la sección&nbsp;<strong>Captación &gt; Fuentes de medios</strong><i><strong>.</strong></i></li>
</ul>
<figure class="image"><img src="/fb_16.png"></figure>
<ul>
  <li>Edita la fuente de medios de <strong>Facebook</strong>.</li>
  <li>En la sección de&nbsp;<strong>Eventos,&nbsp;</strong>haz clic en el botón&nbsp;<strong>añadir evento</strong> para añadir los eventos que quieres enviar a Facebook. Es importante que en la columna&nbsp;<i><strong>Identificador del Evento para la Fuente de medios</strong></i> selecciones el evento de Facebook con el que se vinculará el evento evento enviado desde EMMA.</li>
</ul>
<figure class="image"><img src="/fb_20.png"></figure>
<ul>
  <li>Decide con qué evento de Facebook vas a querer vincular el evento que se envía desde EMMA .<ul>
      <li>fb_mobile_level_achieved</li>
      <li>fb_mobile_activate_app</li>
      <li>fb_mobile_add_payment_info</li>
      <li>fb_mobile_add_to_cart</li>
      <li>fb_mobile_add_to_wishlist</li>
      <li>fb_mobile_complete_registration</li>
      <li>fb_mobile_tutorial_completion</li>
      <li>fb_mobile_initiated_checkout</li>
      <li>fb_mobile_purchase</li>
      <li>fb_mobile_rate</li>
      <li>fb_mobile_search</li>
      <li>fb_mobile_spent_credits</li>
      <li>fb_mobile_achievement_unlocked</li>
      <li>fb_mobile_content_view</li>
      <li>CUSTOM</li>
    </ul>
  </li>
  <li>Escribe un email a <a href="mailto:support@emma.io">support@emma.io</a>&nbsp;diciéndonos qué evento vas a mandar a Facebook y con que evento de Facebook quieres vincularlo.</li>
</ul>
<h3>&nbsp;Nota</h3>
<p>Es importante que tengas en cuenta que Facebook no utiliza los eventos CUSTOM para optimizar el tráfico, sólo para medir y segmentar la audiencia en Facebook Analytics for Apps.</p>
<p>Si quieres que Facebook use estos eventos para optimizar el tráfico deberás seleccionar uno de los eventos por defecto que ofrece Facebook para vincularlo.</p>
<h1>Compartir Audiencias con Facebook (opcional)</h1>
<p>La creación de audiencias de Facebook es la mejor forma de orientar tus campañas a un público objetivo basándote en distintos criterios de segmentación.</p>
<p>Facebook permite crear estas audiencias desde su propia plataforma publicitaria &nbsp;o bien automatizar la creación y actualización de las mismas desde el propio motor de segmentación de EMMA.</p>
<p>El método de compartir audiencias desde EMMA tiene dos ventajas claras:</p>
<ol>
  <li>Podrás usar todos los criterios de segmentación que te ofrece EMMA <strong>sin necesidad de volcar los datos manualmente y&nbsp;periódicamente&nbsp;en Facebook</strong>. Más rápido, sencillo y con menos integración técnica.</li>
  <li>Podrás crear <strong>audiencias basadas en ID's internos de tu compañía</strong> no compatibles en el creador de audiencias de Facebook. Por ejemplo un listado de "id's de clientes".</li>
</ol>
<p>¿Te parece interesante?</p>
<p>Antes de empezar asegúrate de que tienes completada la configuración de Facebook en EMMA. Es importante que cumplas los pasos del apartado <a href="https://docs.emma.io/es/guias-de-integracion/facebook#seguimiento-con-facebook-app-installs">Seguimiento con Facebook</a> para poder realizar la conexión con la plataforma social correctamente y poder medir todas tus campañas.</p>
<h2>Conexión con la API de Facebook</h2>
<p>Para poder compartir audiencias directamente con Facebook es necesario que tengas la conexión con la API de Facebook realizada. Para ello, sigue la configuración explicada <a href="https://docs.emma.io/es/guias-de-integracion/facebook#facebook-api-seguimiento-para-medir-impresiones-clicks-y-coste-opcional">aquí</a>.&nbsp;</p>
<h2>Habilitar audiencias para la cuenta de anunciante</h2>
<p>Una vez realizada la conexión con la API, en la fuente <i>Facebook </i>(Captación &gt; Fuentes de medios) se habilitará inmediatamente el campo de <i><strong>Audiencias.&nbsp;</strong></i></p>
<p>Mientras no está la conexión con la API realizada se muestra el siguiente mensaje.&nbsp;</p>
<figure class="image"><img src="/fb_1.png"></figure>
<p>Una vez se ha realizado la conexión con la API ya podemos seleccionar del listado la cuenta de anunciante correspondiente con la que queremos compartir las audiencias de manera directa.&nbsp;</p>
<figure class="image"><img src="/fb_2.png"></figure>
<h2>Compartir audiencias con Facebook</h2>
<p>Ahora sí, ha llegado el momento de compartir tus audiencias con Facebook, pero no te preocupes, es un proceso super sencillo. Tan solo tienes que seguir estos pasos para compartirlas.</p>
<ul>
  <li>Ve a la sección <strong>Comportamiento &gt; Audiencias</strong> y crea una audiencia que deseas compartir con Facebook. Si ya tienes audiencias creadas y quieres compartir una de esas no hace falta que la vuelvas a crear. En esta <a href="https://docs.emma.io/es/audiencias">guía</a> puedes ver más información sobre cómo crear audiencias.</li>
</ul>
<figure class="image"><img src="/fb_29.png"></figure>
<ul>
  <li>Una vez tengas tu audiencia lista, dirígete nuevamente a la sección <strong>Captación &gt; Fuentes de medios</strong> y edita la fuente <strong>Facebook.</strong></li>
  <li>A continuación, dentro de la edición de la fuente <strong>Facebook, </strong>ve al apartado de <strong>Audiencias </strong>y selecciona la audiencia que deseas compartir con Facebook de la lista y guarda cambios. Listo, tu audiencia ya se está compartiendo automáticamente con Facebook.</li>
</ul>
<figure class="image"><img src="/fb_30.png"></figure>
<ul>
  <li>Una vez compartida la audiencia con Facebook, desde la pantalla de audiencias (Comportamiento &gt; Audiencias) podremos ver qué audiencias están siendo compartidas con Facebook ya que en la columna <strong>Compartido</strong> estas mostrarán el icono de Facebook.</li>
</ul>
<figure class="image"><img src="/fb_31.png"></figure>
<h2>Dejar de compartir audiencias con Facebook</h2>
<p>Si quieres que se dejen de actualizar los datos de la audiencia con Facebook tan solo tienes que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Ve a <strong>Captación &gt; Fuentes de medios</strong> y edita la fuente de <strong>Facebook.</strong></li>
  <li>En el apartado audiencia, despliega el selector de audiencias a compartir y haz clic sobre aquellas que quieras dejar de compartir (puedes escribir el nombre de las mismas para localizarlas más fácilmente). Automáticamente verás como el check que las mantenía seleccionadas desaparecerá.</li>
</ul>
<figure class="image"><img src="/fb_32.png"></figure>
<figure class="image"><img src="/fb_33.png"></figure>
<ul>
  <li>Guarda los cambios para que la audiencia deje de ser compartida con Facebook.</li>
</ul>
<blockquote>
  <p>Ten en cuenta que el efecto de esta acción es simplemente que la audiencia deje de actualizar la información nueva en la audiencia de Facebook, pero esta audiencia no actualizada seguirá estando disponible en Facebook y podrá seguir siendo usado para campañas a menos que se elimine también allí.</p>
</blockquote>
<h1>Discrepancias con Facebook Mobile Ads Dashboard</h1>
<p>En ocasiones aparecen pequeñas diferencias entre los resultados reportados en el Dashboard de Facebook y el AppTracker de EMMA.</p>
<p>El motivo de que esto ocurra es porque, dentro de Facebook Ads Manager, Facebook utiliza un&nbsp;día de visualización y un modelo de atribución de click de 28 días. EMMA&nbsp;sólo reporta las instalaciones generadas de clicks producidos dentro de este margen de 28 días.</p>
<p>Adicionalmente, en Facebook Ads Manager los resultados se muestran basándose en impresiones o 'click-time', no instalaciones o conversiones como se utiliza en EMMA.</p>
<p style="text-align:center;"><strong>Por favor tenga esto en cuenta cuando compare su reporting entre Facebook Ads Manager y EMMA.</strong></p>
<p>Aunque trabajemos constantemente para minimizar al máximo estas discrepancias, debes tener en cuenta las siguientes razones que las justifican:</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Motivo</strong></td>
        <td><strong>Facebook</strong></td>
        <td><strong>EMMA</strong></td>
      </tr>
      <tr>
        <td><strong>Fecha Seguimiento Instalación</strong></td>
        <td>Facebook trackea nuevas instalaciones en un período determinado de click/view, que puede llegar hasta los 28 días.</td>
        <td>EMMA trackea como nuevas instalaciones aquellas que realmente se descargan por primera vez y una vez esta haya sido abierta por primera vez.</td>
      </tr>
      <tr>
        <td><strong>Ventana de&nbsp;Atribución</strong></td>
        <td>Facebook atribuye 1 día a la impresión y 28 días al click basándose en la impresión y período en el que ocurrió.</td>
        <td>
          <p>EMMA&nbsp;reporta sólo las instalaciones generadas por clicks dentro del mencionado período de 28 días.</p>
          <p>EMMA no reporta Ad View Installs.</p>
          <p><strong>**Esta es la principal causa de diferencias entre EMMA y Facebook. Para más detalle, vea el screenshot debajo sobre cómo ver las diferentes ventanas de atribución en Facebook.</strong></p>
        </td>
      </tr>
      <tr>
        <td><strong>Atribución multicanal</strong></td>
        <td>La atribución funciona&nbsp;como se especifica arriba en este caso concreto, no para otros canales. Facebook sólo atribuye a Facebook.</td>
        <td>EMMA&nbsp;usa una atribución a partir del último click y atribuye a múltiples canales.&nbsp;</td>
      </tr>
      <tr>
        <td><strong>Diferencia horaria</strong></td>
        <td>Facebook trabaja bajo el huso horario&nbsp;GMT-7 por lo que el día finaliza más tarde que en nuestro huso horario.</td>
        <td>En EMMA trabajamos bajo el huso horario&nbsp;CET, por lo que es posible que los instalaciones entre ambas plataformas estén asignadas a días diferentes.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Para ver las diferentes ventanas de atribución en Facebook (y comparar las instalaciones atribuidas con las reportadas por EMMA), ve a Facebook y configura la ventana de atribución como se muestra a continuación:</p>
<figure class="image"><img src="/fb_26.png"></figure>
<p>No dudes en contactar con <a href="mailto:%20xservices@emma.io">xservices@emma.io</a> en caso de que querer aclarar todavía más este punto.</p>
<h1>Preguntas frecuentes</h1>
<ul>
  <li><strong>¿Puedo ver los clics de las campañas de&nbsp;</strong><i><strong>Facebook App Installs</strong></i><strong>&nbsp;en EMMA?</strong><br>La integración&nbsp;<i>3rd party</i>&nbsp;con los socios oficiales de Facebook&nbsp;incluye únicamente las instalaciones. Sin embargo Facebook permite hacer una conexión con su API para obtener los datos de impresiones, clicks y coste de la campaña. Sigue estas <a href="https://docs.emma.io/es/guias-de-integracion/facebook#facebook-api-seguimiento-para-medir-impresiones-clicks-y-coste-opcional">instrucciones</a> para habilitarlo.</li>
  <li><strong>¿Por qué el coste y los clics que muestra EMMA no coinciden con los de Facebook?&nbsp;</strong><br>Si estás trabajando a la vez campañas de captación y de retargeting con Facebook, es posible que los costes y clics que muestra EMMA no coincidan con los datos que muestra Facebook. Esto es debido a que una misma campaña puede generar acciones de captación y engagement. Cuando se da esta situación, en EMMA diferenciamos en dos secciones diferentes las acciones de captación y las de engagement (secciones basic y retargeting del apptracker de EMMA).<br><br>En estos casos específicos, Facebook no ofrece datos diferenciados para captación y retargeting como nosotros y hemos optado por mostrarlos "repetidos". De este modo, podremos ver a nivel de fuentes en EMMA la misma fuente en la sección basic y en la sección de retargeting y ambas mostrarán el mismo número de clics y coste. Eso sí, a nivel de fuente (sin sumar basic y retargeting) los clics y coste serán idénticos a los datos que muestra Facebook, pero a nivel de campaña habrá discrepancia.</li>
  <li><strong>¿Puedo ver las instalaciones de la App en Facebook y EMMA?</strong><br>Sí, con esta integración podrás ver las conversiones en ambas plataformas, tanto en EMMA como en Facebok.</li>
  <li><strong>¿Qué nivel de detalle de campañas de Facebook da EMMA?</strong><br>En EMMA se creará una nueva campaña en el Apptracker en base al emplazamiento de la campaña: Facebook Audience, Facebook e Instagram. Además, también ofrece un desglose a nivel de grupo de anuncios en el reporting del Apptracker añadiendo una nueva source por cada grupo de anuncios.</li>
  <li><strong>¿Cómo puedo probar mi configuración de&nbsp;</strong><i><strong>Facebook App Installs setup</strong></i><strong>?</strong><br>Facebook&nbsp;no permite probar la configuración en un entorno de prueba por lo que recomendamos lanzar una campaña de prueba, con un límite presupuestario bajo, para verificar si las primeras instalaciones se están registrando&nbsp;correctamente en EMMA.</li>
  <li><strong>¿Por qué en&nbsp;EMMA no visualizo reengagement de mis campañas de Re-Targeting?</strong><br>Dependiendo del sistema de conexión que se haya empleado para la medición de Facebook App Installs, en EMMA se pueden mostrar o no mostrar reengagements.</li>
  <li><strong>¿Por qué en la sección de Re-Targeting de&nbsp;EMMA&nbsp;visualizo campañas de Facebook de captación?</strong><br>Hay dos maneras de crear segmentos en las campañas de Facebook. Subiendo un fichero manualmente con los usuarios o utilizando un sistema automático para establecer el target.&nbsp;<br>Si has creado una campaña de captación el día 3 de Mayo con un fichero manual en el que hay usuarios que no tienen la app instalada puede pasar lo siguiente:&nbsp;<br>- Un usuario que está en el archivo y cumple con el filtro (no tiene la app instalada) se instala la app orgánicamente X días después de que se haya iniciado la campaña de captación.<br>- Cómo se ha subido un archivo manual y no se actualiza dinámicamente, ese usuario que se ha instalado la app orgánicamente sigue estando dentro del segmento de la campaña de captación.<br>- X días después de haber instalado la app de manera orgánica, ese usuario interactúa con la campaña de captación y hace click.<br>- Esa información es considerada de Re-Targeting ya que el usuario ya tenía la app, pero aparece atribuida a la campaña de captación porque el usuario sigue estando en el segmento.<br><br>Este es el principal motivo por el que tus campañas de captación pueden estar generando reengagements y acciones de Re-Targeting.</li>
  <li><strong>¿Cómo puedo comprobar si un segmento ha sido enviado correctamente a Facebook?</strong><br>Puedes revisar los segmentos enviados a Facebook desde la sección de Audiencias. Para acceder a esta sección tienes que hacer click en el menú contextual superior izquierdo, hacer click en&nbsp;<strong>All tools</strong>&nbsp;y seleccionar la opción&nbsp;<strong>Audiences</strong> dentro de la sección&nbsp;<strong>Assets.</strong></li>
</ul>
<figure class="image"><img src="/fb_27.png"></figure>
<ul>
  <li><strong>¿Por qué no puedo ver en Audiencias el segmento que he compartido con Facebook?</strong><br>Si tienes toda la conexión correctamente realizada y envías un segmento a Facebook pero no consigues verlo puede que hayas superado el <strong>rate</strong> <strong>limit</strong> de tu cuenta.<br><br>Para verificar en que nivel está tu <strong>rate</strong> <strong>limit</strong> debes ir a <a href="https://developers.facebook.com/"><i>Facebook para Desarrolladores,</i></a><i>&nbsp;</i>seleccionar tu app y en la sección&nbsp;<i><strong>Dashboard</strong></i> podrás ver en qué nivel está tu <strong>rate limit.</strong> Si el nivel es 100% deberás esperar 1 hora más o menos para que se restablezca y puedas volver a realizar envíos de segmentos desde EMMA.</li>
</ul>
<figure class="image"><img src="/fb_28.png"></figure>
<ul>
  <li><strong>¿Cada cuánto se actualiza la información del segmento?</strong><br>EMMA realiza una actualización del segmento una vez al día, a las 04:00 am para evitar problemas de carga correcta por el volumen del tráfico. Cada vez que se realiza esta sincronización la información actual del segmento es enviada automáticamente a Facebook.</li>
  <li><strong>He realizado un&nbsp;</strong><i><strong>Update Facebook Audience</strong></i>&nbsp;<strong>pero no veo que se haya actualizado el segmento de la campaña.&nbsp;</strong><br>Cuando se realiza una actualización del segmento en EMMA, ya sea forzado (<i>Update Facebook Audience)&nbsp;</i>o automático, la información se verá al instante en la sección&nbsp;<i><strong>Audience</strong>&nbsp;</i>de Facebook, pero si esta audiencia está siendo usada en una campaña tardará 1 hora más o menos en actualizarse la información en la campaña.</li>
</ul>
<p>&nbsp;</p>
