<!--
title: Salesforce
description: Salesforce
published: true
date: 2021-05-31T13:24:56.970Z
tags: 
editor: ckeditor
dateCreated: 2020-11-26T00:12:42.385Z
-->

<p>Actualmente EMMA dispone de una conexión directa con Salesforce para poder compartir información entre plataformas.&nbsp;</p>
<p>Para ver más información al respecto sobre como realizar la conexión con Salesforce, vista nuestra <a href="https://developer.emma.io/es/home">guía</a> específica de configuración.&nbsp;</p>
