<!--
title: Rutas de clientes
description: Rutas de clientes
published: true
date: 2021-08-10T06:07:24.388Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:52:17.702Z
-->

<h1>Introducción</h1>
<p>Gracias a las rutas de clientes de EMMA podrás crear flujos de comunicaciones automatizadas con los usuarios en función del ciclo de vida que estos tengan dentro de tu app. De tal manera que podrás ir creando distintos flujos de conversión y segmentando a los usuarios en función de si realizan o no determinadas acciones clave dentro de la aplicación para llegar a realizar los eventos objetivo establecidos.&nbsp;</p>
<p>Con las rutas de clientes de EMMA, no sólo podrás crear flujos en función del ciclo de vida del usuario, sino que podrás comunicarte con ellos de la manera más adecuada teniendo en cuenta el status en el que se encuentran en cada momento, pudiendo hacer uso de todas las herramientas comunicativas de las que dispone EMMA, tanto comunicaciones In-App como Out-App (StartView, NativeAd, AdBall, Push, Email…).&nbsp;</p>
<h1>Componentes de las rutas de clientes</h1>
<p>Las rutas de clientes están compuestas por diferentes bloques que nos permiten ir construyendo de manera adecuada las flujos de comunicación con los usuarios de la app. Los bloques que componen las rutas son:&nbsp;</p>
<ul>
  <li>Fuentes de entrada</li>
  <li>Acciones</li>
  <li>Control del flujo</li>
</ul>
<h2>Fuentes de entrada</h2>
<p>En este bloque, podremos seleccionar de entre dos opciones, cual será la que inicie la ruta. Es decir, en este bloque especificaremos que usuarios entraran en la ruta en cuestión.&nbsp;</p>
<figure class="image"><img src="/rutas_fuentes_entrada.png"></figure>
<ul>
  <li><strong>Evento &gt; </strong>Especificaremos el evento en cuestión que han de realizar los usuarios para entrar en la ruta.</li>
  <li><strong>Audiencia &gt; </strong>Crearemos un filtro para seleccionar a una audiencia determinada para la ruta. Podemos seleccionar entre dos tipos de audiencia:<ul>
      <li><strong>Estática: </strong>La ruta únicamente tendrá en cuanta aquellos usuarios que cumplen el segmento en el momento de ser lanzada. Si no se indica lo contrario, será la opción por defecto.</li>
      <li><strong>Dinámica: </strong>La ruta se actualizará dinámicamente y tendrá en cuenta a aquellos usuarios que cumplan el segmento en el momento de ser lanza y también aquellos que lo cumplan a posterior.&nbsp;Es decir, la audiencia funcionará de la misma manera que cualquier segmento clásico de comunicaciones.&nbsp;<br><br><strong>NOTA: </strong>El sistema de filtrado de las audiencias funciona exactamente igual a los filtros clásicos con la excepción de que no se pueden emplear subfiltros en la construcción del segmento.</li>
    </ul>
  </li>
</ul>
<figure class="image"><img src="/rutas_fuentes_entrada_audiencia.png"></figure>
<h2>Acciones</h2>
<p>Dentro del bloque de <strong>Acciones</strong> seleccionaremos la acción que queremos llevar acabo, es decir, el tipo de comunicación que se enviará a los usuarios, a elegir entre 3 posibilidades:&nbsp;</p>
<figure class="image"><img src="/rutas_acciones.png"></figure>
<ul>
  <li><strong>Enviar Push: </strong>Seleccionando esta opción se enviará una notificación push a los usuarios, la seleccionada en el momento de añadir esta acción al flujo.</li>
  <li><strong>Activar In-App: </strong>Seleccionando esta opción activaremos una comunicación In-App que estará disponible para que los usuarios la visualicen en el momento adecuado. Seleccionaremos la comunicación concreta en el momento de añadir esta acción al flujo. Cualquier formato comunicativo de los existentes en EMMA puede ser usado para rutas de clientes.</li>
  <li><strong>Enviar Email: </strong>Seleccionando esta opción se enviará un email a los usuarios en el momento adecuado del flujo. El email en cuestión se selecciona en el momento de añadir esta opción al flujo.</li>
</ul>
<h2>Control del flujo</h2>
<p>Dentro del bloque <strong>Control del flujo</strong> tenemos varias opciones disponibles para poder realizar un control del flujo del usuario según nuestras necesidades específicas en cada caso. De esta manera, podemos establecer los siguientes controles del flujo:&nbsp;</p>
<figure class="image"><img src="/rutas_control_flujo.png"></figure>
<ul>
  <li><strong>Interacción: </strong>Se utiliza inmediatamente después de una acción (enviar un push, email o In-App) para poder controlar si los usuarios han realizado o no alguna interacción con dicha comunicación.<br>En el caso de añadir la <i><strong>interacción</strong></i> tras un email o una notificación push, la acción que se podrá comprobar si se ha realizado es la <i><strong>apertura</strong></i> del mismo.&nbsp;<br>En el caso de una comunicación In-App se podrá comprobar si se ha visualizado <i><strong>(impresión)</strong></i> o sí se ha interactuado <strong>(</strong><i><strong>clic) con</strong></i> la comunicación en cuestión.</li>
  <li><strong>Esperar: </strong>Nos permite añadir un espera entre acciones o controles de flujo para poder cumplir con los tiempos de acción requeridos en caso. La espera puede ir desde horas, hasta meses en función de lo que sea necesario y se adapte para cada caso concreto.&nbsp;<br>Las opciones existentes son:&nbsp;<br>- <i>Horas: </i>desde 1 hasta 48<br>- <i>Días: </i>desde 1 hasta 90<br>- <i>Semanas: </i>desde 1 hasta 18<br>-<i> Meses: </i>desde 1 hasta 36</li>
</ul>
<figure class="image"><img src="/rutas_espera_tiempo.png"></figure>
<ul>
  <li><strong>División aleatoria: </strong>Añadiendo una <i>división</i> <i>aleatoria</i> nos permite dividir la audiencia que llegue a este paso para unos usuarios sigan un flujo de comunicación y otros usuarios otro de manera totalmente aleatoria.</li>
  <li><strong>Evento: </strong>Añadiendo un control de flujo de <i>evento</i>, podremos comprobar si, llegados a un punto específico de la ruta, los usuarios han realizado o no X evento clave dentro de nuestra app o no. Con el control de flujo tipo <i>evento</i> simplemente se comprueba si el usuario ha realizado el evento o no una vez que está dentro de la ruta, no cuando ni cuantas veces ni hace cuanto tiempo.</li>
  <li><strong>Decisión: </strong>Al añadir una <i>decisión</i> se podrá ir construyendo el flujo de comunicación en base a cierta información que cumplan los usuarios, como por ejemplo, que en la etiqueta de usuario A tengan X información o que el atributo de sistema operativo sea X (iOS por ejemplo). De esta manera, gracias a este control de flujo, podremos ir acotando los usuarios que queremos que avancen por un flujo de comunicación y otro en función de la información que exista en las etiquetas de usuario para cada uno de ellos.</li>
</ul>
<h1>Cómo crear comunicaciones para rutas de clientes</h1>
<p>Crear comunicaciones para rutas de clientes es igual de sencillo que crear otro tipo de comunicaciones, tan solo nos tenemos que asegurar de seleccionar <i>Tipo automática para rutas de clientes</i> a la hora de crear la comunicación. Para ver más detalladamente cómo dar de alta nuevas comunicaciones, visita nuestra guía sobre <a href="https://docs.emma.io/es/mensajes-inapp">Cómo crear una nueva comunicación</a>.&nbsp;</p>
<h1>Cómo crear rutas de clientes</h1>
<p>Crear rutas de clientes es muy sencillo. Una vez que hayas creado todas las comunicaciones que quieras vincular a una ruta, tan solo debes ir a <i><strong>Comportamiento &gt; Rutas de cliente (beta)&nbsp;</strong></i> y dar de alta una nueva ruta.&nbsp;</p>
<p>Para ello, tan solo tienes que hacer clic en el botón verde situado a la derecha de la pantalla que dice <i><strong>+ Nueva ruta de cliente</strong></i> y se abrirá el formulario de creación.&nbsp;</p>
<figure class="image"><img src="/rutas_clientes_formulario_creación_i.png"></figure>
<p>Veamos a continuación cada uno de los diferentes campos y acciones que se pueden realizar a la hora de dar de alta una nueva ruta de cliente.&nbsp;</p>
<ol>
  <li><strong>Nombre: </strong>Configura un nombre para la ruta. Si no se establece ninguno, por defecto será <i>Nueva Ruta de cliente. </i>El sistema permite usar un nombre ya existente, con lo cual, si usas un nombre existente, será responsabilidad tuya saber identificar posteriormente las rutas.</li>
  <li><strong>Fuentes de entrada: </strong>Tras configurar un nombre deberemos establecer una fuente de entrada, bien sea un evento o una audiencia.</li>
  <li><strong>Acciones y Control de flujo: </strong>Una vez que hemos añadido una <i>fuente de entrada</i>, la sección de <i>Acciones</i> y <i>Control del flujo </i>se desbloqueará y podremos añadir las acciones y controles de flujo que necesitemos para ir dando forma a nuestra ruta.</li>
  <li><strong>Zoom in / Zoom out: </strong>Existe una opción para poder acercar y alejar el zoom de la ruta para poder ver el detalle de la misma o poder visualizarla de un modo global cuando se trata de una ruta compleja con muchos flujos diferentes.</li>
  <li><strong>Deshacer / Rehacer: </strong>Con los botones de deshacer / rehacer podemos deshacer la última acción que hayamos realizado o volverla a rehacer.</li>
  <li><strong>Corregir ruta: </strong>Si creamos un flujo incorrecto, este botón se marcará en rojo. Haciendo clic en él, automáticamente corregirá la ruta añadiendo el elemento(s) que falte(n) o eliminando lo(s) elemento(s) que sobre(n).</li>
  <li><strong>Lanzar / Guardar borrador /Cancelar: </strong>Una vez que tenemos creada y configurada nuestra ruta podemos <i>Cancelar </i>la ruta, <i>Guardar &nbsp;borrador </i>(lo que nos permitirá tenerla precreada para poderla lanzar cuando necesitemos) o <i>Lanzar. </i>Con esta última opción nuestra ruta entrará en el proceso para activarse y que los usuarios empiecen a acceder a la misma.</li>
</ol>
<h1>Editar, pausar, eliminar, clonar y ver rutas de clientes</h1>
<p>Una vez tenemos creadas nuestras rutas de clientes podemos realizar varias acciones sobre las mismas a través del menú al que se puede acceder desde los … que se muestran a la izquierda de la tabla de resumen.&nbsp;</p>
<figure class="image"><img src="/rutas_editar.png"></figure>
<p>Una vez que tenemos una ruta activa, las acciones que podemos hacer sobre la misma son:&nbsp;</p>
<ul>
  <li><strong>Ver: </strong>Con esta acción podemos previsualizar la configuración que tiene la ruta y los usuarios que hay en cada uno de los pasos de la misma.</li>
  <li><strong>Clonar: </strong>Al clonar una ruta, se clonará toda la configuración de la misma.</li>
  <li><strong>Asignar: </strong>Podemos asignar un nuevo propietario a la ruta. Por defecto el propietario es el usuario que la da de alta en la plataforma.</li>
  <li><strong>Parar: </strong>En caso de ser necesario se puede pausar la ruta. Una vez pausada, su estado cambiará de Activa a Borrador.</li>
</ul>
<p>Si queremos Editar o Eliminar una ruta, es necesario &nbsp;pararla antes de poder realizar ninguna de estas acciones. Una vez parada, en el menú aparecerán dos nuevas opciones:&nbsp;</p>
<figure class="image"><img src="/rutas_editar_eliminar.png"></figure>
<ul>
  <li><strong>Editar: </strong>Nos permite editar la ruta y realizar las modificaciones que sean necesarias sobre la misma.</li>
  <li><strong>Eliminar: </strong>Podemos eliminar una ruta que ya no queramos usar. Las rutas eliminadas solo permiten las acciones de <strong>Ver </strong>y <strong>Clonar.&nbsp;</strong></li>
</ul>
<h1>Reporting&nbsp;</h1>
<p>En rutas de clientes tenemos dos tipos de reporting diferenciados. Por un lado, tenemos un reporting específico del rendimiento de la ruta en la propia pantalla de rutas de clientes y, por otro lado, tenemos un reporting de cada una de las comunicaciones dentro de la ruta que podemos consultar desde la sección Comunicación &gt; Informe de comunicaciones.&nbsp;</p>
<h4>IMPORTANTE</h4>
<p>Los reportings de rutas de clientes se basan en el estado “actual” de la ruta.&nbsp;</p>
<p>Cuando pausamos una ruta, ésta pasa al estado borrador y se reinicia. En ese momento, pasa a tener 0 usuarios de audiencia y todos los reportings (tanto el de<i> Rutas de cliente</i> como el &nbsp;<i>Informe de comunicaciones</i>) pasan a no tener información.&nbsp;</p>
<p>Por tanto, si pausamos una ruta de cliente, perderemos la información del reporting que había hasta ese momento.&nbsp;</p>
<h2>Reporting rutas de cliente</h2>
<p>En el reporting de rutas de clientes vamos a ver la siguiente información:&nbsp;</p>
<figure class="image"><img src="/rutas_reporting_i.png"></figure>
<ul>
  <li><strong>ID: </strong>ID interno de EMMA para cada ruta.</li>
  <li><strong>Nombre: </strong>Nombre dado a cada una de las rutas en el momento de la creación.</li>
  <li><strong>Estado: </strong>Estado en el que se encuentra la ruta. Los estados posibles son:<ul>
      <li><i><strong>En proceso</strong></i>: Una ruta estará en proceso inmediatamente después de lanzarla durante unos minutos (5 aporx) hasta que pasa al estado <i>Activa.</i></li>
      <li><i><strong>Activa</strong></i>: Cuando una ruta está <i>Activa </i>significa que ya está lista para que los usuarios entren en ella y sigan los diferentes flujos de comunicación creados.</li>
      <li><i><strong>Eliminada</strong></i>: La ruta ha sido eliminada.</li>
      <li><i><strong>Borrador</strong></i>: La ruta ha sido guardada como <i>Borrador</i> y no está disponible para los usuarios.</li>
    </ul>
  </li>
  <li><strong>Audiencia</strong>: Bajo el KPI audiencia podremos ver todos los usuarios que actualmente están en algún paso de la ruta. Es decir, veremos los usuarios que están dentro de la ruta y los que ya han salido. En el caso de rutas con una fuente de entrada dinámica, este dato se irá actualizando a medida que nuevos usuarios vayan entrando en la ruta.</li>
  <li><strong>Rendimiento: </strong>Porcentaje de usuarios sobre el total de la audiencia que ya han finalizado la ruta.</li>
  <li><strong>Última modificación: </strong>Fecha en la que se ha realizado la última modificación sobre la ruta.</li>
</ul>
<h2>Reporting informe de comunicaciones</h2>
<p>Al igual que con el resto de comunicaciones (clásicas o automáticas para reglas), en la sección <i><strong>Comunicación &gt; Informe de comunicaciones </strong></i>podremos ver las estadísticas individuales de cada una de las comunicaciones que están siendo empleadas en las diferentes rutas. Podremos ver información de <i>impresiones, impresiones únicas, clics, eventos…&nbsp;</i></p>
<figure class="image"><img src="/rutas_reporting_ii.png"></figure>
<p>Visita nuestra guía de <a href="https://docs.emma.io/es/comunicacion/campa%C3%B1as/reporting-campa%C3%B1as"><i>Reporting de campañas</i></a> para obtener más información al respecto.&nbsp;</p>
