<!--
title: Embudos
description: Embudos
published: true
date: 2021-08-10T09:49:17.644Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:50:06.299Z
-->

<p>Si quieres consultar de manera rápida el ciclo de actividad de tus usuarios con tu aplicación, EMMA&nbsp;te da la opción de hacerlo de una manera sencilla a través de la creación de Funnels personalizados.</p>
<p>En esta sección puedes crear tantos Embudos cómo ciclos quieras consultar con todos los eventos disponibles y en un período de tiempo determinado.&nbsp;</p>
<h2>Cómo crear tu Embudo personalizado</h2>
<ul>
  <li>Haz login en EMMA y dirígete a <i>Comportamiento &gt; Embudos</i></li>
  <li>Selecciona el rango de fechas que quieras aplicar en los datos del informe y el sistema operativo que deseas ver (iOS/Android) o por defecto se seleccionarán ambos (Todos los sistemas operativos):</li>
</ul>
<figure class="image"><img src="/embudos_1.png"></figure>
<ul>
  <li>Puedes seleccionar cada uno de los eventos que quieres que compongan el embudo haciendo clic en el botón +.<br>&nbsp;</li>
</ul>
<figure class="image"><img src="/embudos_2.png"></figure>
<ul>
  <li>EMMA Embudos te da la posibilidad de combinar tres tipos de eventos marcados con los siguientes iconos:<br><i><strong>Rayo: </strong></i>eventos por defecto y personalizados de EMMA.<br><i><strong>Mano</strong></i><strong>:</strong> eventos creados automáticamente que contabilizan el número de usuarios que han hecho click en una campaña de EMMA Communication. Dichos eventos están identificados con el nombre de la propia campaña.&nbsp;<br><i><strong>Ojo</strong></i><strong>:</strong> eventos creados automáticamente que contabilizan el número de usuario impactados por una impresión de una campaña de EMMA Communication. Dichos eventos están identificados con el nombre de la propia campaña.</li>
</ul>
<figure class="image"><img src="/embudos_3.png"></figure>
<figure class="image"><img src="/embudos_4.png"></figure>
<p>Podrás añadir tantos eventos como quieras seleccionando el botón "<strong>+</strong>" (añadir nuevo paso).</p>
<p>Puedes eliminar los eventos deseados, haciendo clic en el menú lateral (3 puntitos) y seleccionando la opción <i><strong>Eliminar paso.</strong></i></p>
<figure class="image"><img src="/embudos_5.png"></figure>
<ul>
  <li>De manera automática, se mostrarán los resultados del embudo<i>:</i><br>Número de dispositivos únicos que han realizado el evento, en el período de fecha seleccionado.&nbsp;&nbsp;<br>Porcentaje de dispositivos únicos que han realizado el evento en comparación con el evento anterior del <i>embudo.</i></li>
</ul>
<figure class="image"><img src="/embudos_6.png"></figure>
<ul>
  <li>Puedes exportar los dispositivos únicos incluidos en cada etapa del embudo con la opción <i><strong>Exportar usuarios </strong></i>del menú de cada uno de los eventos.</li>
</ul>
<figure class="image"><img src="/embudos_7.png"></figure>
<ul>
  <li>Una previsualización de la información disponible se mostrará en tu pantalla pudiendo personalizar las columnas que quieres que sean añadidas a dicho informe y un botón de Export que genera un csv. Haz click <a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#exporta-tus-datos"><strong>aquí</strong></a> para conocer el detalle que este reporting puede ofrecer.</li>
</ul>
<figure class="image"><img src="/embudos_8.png"></figure>
<ul>
  <li>Una vez finalizado tu embudo<i>,</i> puedes guardarlo para utilizarlo más adelante, seleccionando el botón "<i><strong>Guardar embudo</strong></i><strong>"</strong> e introduciendo el nombre personalizado con el que deseas guardarlo.</li>
</ul>
<figure class="image"><img src="/embudos_9.png"></figure>
<ul>
  <li>Podrás utilizar tus <i>embudos </i>guardados pinchando en <i><strong>"Carga un embudo"</strong></i>. Una vez esté cargado tendrás también la opción de eliminarlo en<i><strong> "Borrar"</strong></i></li>
</ul>
<figure class="image"><img src="/embudos_10.png"></figure>
