<!--
title: Segmentos
description: Segmentos
published: true
date: 2023-05-22T06:35:36.700Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T22:49:26.598Z
-->

<p>En <i><strong>Comportamiento &gt; Explorador</strong></i> puedes consultar todos los datos relativos a la actividad de tus usuarios con tu aplicación: desde el tipo de usuarios, las compras que realizan, las pantallas que más emplean, etc.</p>
<p>EMMA pone a tu disposición un sistema de filtros/segmentos para que puedas tener toda esta información, además del etiquetado que hayas establecido para tu app.</p>
<h2>Aplicar los filtros</h2>
<p>Para poder realizar las consultas que necesites, es necesario que apliques los filtros que quieres emplear. Para ello, sigue estos pasos:&nbsp;</p>
<ul>
  <li>Haz click en el botón verde <i><strong>"+ Añadir grupo"</strong></i> para añadir un nuevo criterio de filtrado. Elige entre todos los <a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#filtros-disponibles">filtros disponibles</a>&nbsp;y añade todos los que necesites haciendo click nuevamente en el botón de <i><strong>+ Añadir grupo</strong></i>.</li>
</ul>
<figure class="image"><img src="/explorador_1.png"></figure>
<ul>
  <li>Todos los filtros condicionados de la segmentación se añadirán con un "Y" intermedio que significará que los usuarios filtrados deberán cumplir <strong><u>todas</u></strong> las condiciones.</li>
</ul>
<figure class="image"><img src="/explorador_2.png"></figure>
<ul>
  <li>Haz click en uno de los "Y" intermedios para convertir los condicionales en "O". Este cambio implicará que los usuarios filtrados deberán cumplir <strong><u>alguna</u></strong> de las condiciones.</li>
</ul>
<figure class="image"><img src="/explorador_3.png"></figure>
<ul>
  <li>Puedes enriquecer la segmentación añadiendo nuevos condicionales a la ecuación. Para ello, usa los <strong>subfiltros</strong>, que te permitirán incluir nuevos "Y" y "O"</li>
</ul>
<figure class="image"><img src="/explorador_4.png"></figure>
<p>Haz click en "Y" y "O" para que cambie la aplicación del condicional de "<strong>todos</strong>" a "<strong>alguno</strong>"</p>
<figure class="image"><img src="/segmentos_i.png"></figure>
<ul>
  <li>Para eliminar un filtro o subfiltros, simplemente tienes que seleccionar el icono de la papelera que aparece en rojo a la derecha del filtro.</li>
  <li>Cada vez que actualices alguna información o añadas/elimines un filtro, debes seleccionar el botón <i><strong>Actualizar </strong></i>para que actualicen los datos consultados.</li>
</ul>
<figure class="image"><img src="/explorador_5.png"></figure>
<p>&nbsp;</p>
<h4>Etiquetas</h4>
<p>Si se quiere consultar una etiqueta, hay que tener en cuenta que en las etiquetas con más de 100k resultados no se mostrará el listado de los mismos y habrá que introducir los valores deseados manualmente.</p>
<h2>Filtros disponibles</h2>
<p>A continuación se detalla el listado de filtros que puedes seleccionar en el dashboard de Explorador para consultar los datos.</p>
<p>Puedes elegir por:</p>
<p><strong>Atributos</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Versión App Android</i></td>
        <td>Versión de la aplicación en Android (ej:1.0).</td>
      </tr>
      <tr>
        <td><i>Versión EMMA SDK Android</i></td>
        <td>Versión del SDK de EMMA en Android.</td>
      </tr>
      <tr>
        <td><i>Modelo Dispositivo Android</i></td>
        <td>Modelo del dispositivo Android del usuario (ej.Samsumg Galaxy).</td>
      </tr>
      <tr>
        <td><i>Versión Android</i></td>
        <td>Versión del sistema operativo Android (ej. Android 4).</td>
      </tr>
      <tr>
        <td><i>Versión App iOS</i></td>
        <td>Version de la aplicación en iOS (ej.1.0).</td>
      </tr>
      <tr>
        <td><i>Versión EMMA SDK iOS</i></td>
        <td>Versión de SDK de EMMA en iOS.</td>
      </tr>
      <tr>
        <td><i>Modelo Dispositivo iOS</i></td>
        <td>Modelo del dispositivo iOS del usuario (ej.Iphone 5c).</td>
      </tr>
      <tr>
        <td><i>Versión iOS</i></td>
        <td>Version del sistema operativo iOS (ej.iOS 10).</td>
      </tr>
      <tr>
        <td>Android Mobile Services</td>
        <td>Dispositivos que usan los servicios de <i>Google Mobile Services </i>(dispositivos que tienen acceso a Google Play) o los dispositivos que usan los servicios de <i>Huawei Mobile Services</i> (dispositivos que tienen acceso a App Gallery).</td>
      </tr>
      <tr>
        <td><i>ID Dispositivo</i></td>
        <td>Número de identificación único de iOS (IDFA/IDFV) y Android (AAID). Se recoge automáticamente del dispositivo. En el caso del IDFA solo se recoge si el usuario ha dado consentimiento expreso.&nbsp;</td>
      </tr>
      <tr>
        <td><i>ID EMMA</i></td>
        <td>Número de identificador de usuario de la plataforma EMMA. Es un ID aleatorio que genera EMMA.&nbsp;</td>
      </tr>
      <tr>
        <td><i>ID Cliente</i></td>
        <td>Número de identificador&nbsp;interno para identificar los usuarios de los clientes. Este identificador es ajeno a EMMA y se puede o no enviar desde la app. Suele ser un identificador ya existente en la bbdd de cada cliente para poder identificar a los usuarios.</td>
      </tr>
      <tr>
        <td><i>Localización: Pais</i></td>
        <td>País en el que se encuentra el usuario mientras ha estado utilizando la geolocalización en la app/sitio móvil. En caso de no usar geolocalización se realiza una traducción de la IP.</td>
      </tr>
      <tr>
        <td><i>Localización: Ciudad</i></td>
        <td>Ciudad en la que se encuentra el usuario mientras ha estado utilizando la geolocalización en la app/sitio móvil. En caso de no usar geolocalización se realiza una traducción de la IP.</td>
      </tr>
      <tr>
        <td><i>Localización: Estado/Provincia</i></td>
        <td>Estado/Provincia en el que se encuentra el usuario mientras ha estado utilizando la geolocalización en la app/sitio móvil. En caso de no usar geolocalización se realiza una traducción de la IP.</td>
      </tr>
      <tr>
        <td><i>Múltiples Dispositivos</i></td>
        <td><i>True</i>: Localiza los usuarios únicos que usan uno o más de un dispositivo.<br><i>False: </i>Localiza los usuarios que sólo usan un dispositivo.</td>
      </tr>
      <tr>
        <td><i>Sistema Operativo</i></td>
        <td>iOS, Android, Windows Phone u otro sistema operativo.</td>
      </tr>
      <tr>
        <td><i>Valor de pedido</i></td>
        <td>Valor de la orden de compra.</td>
      </tr>
      <tr>
        <td><i>Nombre de producto</i></td>
        <td>Productos etiquetados:puedes utilizar todos los campos adicionales de los productos de tu app que se hayan implementado.</td>
      </tr>
      <tr>
        <td><i>Notificación Push Abierta</i></td>
        <td>Usuarios que han abierto las notificaciones Push.</td>
      </tr>
      <tr>
        <td><i>Notificación Push Activada</i></td>
        <td>Usuarios que tienen activadas las notificaiones Push.</td>
      </tr>
      <tr>
        <td><i>Fuente</i></td>
        <td>Información de la fuente del Apptracker a la que está atribuido un usuario si corresponde.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Campaña</i></td>
        <td>Información de la campaña del Apptracker a la que está atribuido un usuario si corresponde.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Comunicación</i></td>
        <td>Usuarios que han sido impactados por una comunicación inapp u outapp (email y push).</td>
      </tr>
      <tr>
        <td><i>TAG</i></td>
        <td>Etiquetas de usuario implementadas.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
<h4>&nbsp;Etiqueta Birthday</h4>
<p>Si has implementado la&nbsp;etiqueta <i>Birthday&nbsp;</i>y quieres impactar a usuarios en función de su cumpleaños, es importante que tengas en cuenta un par de apuntes sobre dos de los operadores disponibles.&nbsp;</p>
<ul>
  <li><strong>fue el:</strong> si llevas poco tiempo usando el SDK de EMMA, no podrás usar el operador&nbsp;<i>fue el </i>para impactar a los usuarios que cumplan años en un día determinado. Esto es porque si has empezado a usar el SDK de EMMA el día 15 de abril de 2016 el operador&nbsp;<i>fue el</i> sólo te permitirá retroceder hasta ese día, ya es cuando se empieza a recoger información. Es por ello que si un usuario establece que su fecha de nacimiento es el día 03/03/1988 no podrá ser impactado con este operador.</li>
  <li><strong>el cumpleaños es:&nbsp;</strong>con este operador podrás usar el valor 0 para impactar a los usuarios que estén de cumpleaños en el día en curso. Si estableces un valor &gt; 0 entonces impactarás a aquellos usuarios que hayan cumplido años hace X días (el valor que hayas establecido).</li>
</ul>
<p><strong>Eventos</strong></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Conversión</i></td>
        <td>Transacciones que se han realizado.</td>
      </tr>
      <tr>
        <td><i>Primera compra</i></td>
        <td>Primera compra&nbsp;del usuario en la app/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Última compra</i></td>
        <td>Última&nbsp;vez que el usuario realizó una compra en la app/sitio móvil.</td>
      </tr>
      <tr>
        <td>Visto por última vez</td>
        <td>Última vez que el usuario ha entrado en la app.</td>
      </tr>
      <tr>
        <td><i>Instalación</i></td>
        <td>Nuevos usuarios que se han descargado la app.</td>
      </tr>
      <tr>
        <td><i>Registro</i></td>
        <td>Usuarios que se han registrado en la app.</td>
      </tr>
      <tr>
        <td><i>Último Login</i></td>
        <td>Última vez que el usuario se ha logueado en la aplicación.</td>
      </tr>
      <tr>
        <td><i>Apertura</i></td>
        <td>Número de veces que el usuario ha entrado en la aplicación</td>
      </tr>
      <tr>
        <td><i>Login</i></td>
        <td>Usuarios que se han logueado en la app.</td>
      </tr>
      <tr>
        <td><i>Eventos de usuario</i></td>
        <td>Usuarios con Evento Custom o Automático. Aparecerán los eventos integrados como custom en la app y los automáticos recogidos por nuestro SDK.</td>
      </tr>
    </tbody>
  </table>
</figure>
<ul>
  <li>Los eventos por defecto estarán categorizados como <i>Eventos automáticos</i>:</li>
</ul>
<figure class="image"><img src="/explorador_6.png"></figure>
<ul>
  <li>Los eventos personalizados estarán categorizados como <i>Eventos de usuario</i>:</li>
</ul>
<figure class="image"><img src="/explorador_7.png"></figure>
<p>Puedes ver más información sobre los eventos por defecto y personalizados <a href="https://docs.emma.io/es/primeros-pasos/eventos">aquí</a>.&nbsp;</p>
<h2>Variantes de selección disponibles</h2>
<p>A continuación se detalla un listado de las variantes de selección disponibles a día de hoy para poder realizar un filtrado de la información más específico.</p>
<h4>Info</h4>
<p>Ten en cuenta que estas variables de selección no están todas disponibles para cada filtro. Cada filtro acepta unas u otras variantes de selección en función del tipo de información que se está filtrando.</p>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Es igual a</i></td>
        <td>El evento/etiqueta es igual a X valor/información.</td>
      </tr>
      <tr>
        <td><i>No es igual a</i></td>
        <td>El evento/etiqueta&nbsp;<strong>no&nbsp;</strong>es igual a X valor/información.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Contiene</i></td>
        <td>
          <p>La información contiene la palabra, caracter o conjunto de caracteres buscados.</p>
          <p>Este operador sólo estará disponible para las&nbsp;<a href="https://docs.emma.io/es/etiquetas">etiquetas de usuario</a>.</p>
        </td>
      </tr>
      <tr>
        <td><i>Existe</i></td>
        <td>El evento/etiqueta está seleccionado, marcado, cubierto.</td>
      </tr>
      <tr>
        <td><i>No existe</i></td>
        <td>El&nbsp;evento/etiqueta&nbsp;<strong>no</strong> está seleccionado, marcado, cubierto.</td>
      </tr>
      <tr>
        <td><i>Mayor que</i></td>
        <td>La información es superior a X valor.</td>
      </tr>
      <tr>
        <td><i>Menor que</i></td>
        <td>La información es inferior a X valor.</td>
      </tr>
      <tr>
        <td><i>Más de</i></td>
        <td>El evento se ha realizado más de X veces.</td>
      </tr>
      <tr>
        <td><i>Menos de</i></td>
        <td>El evento se ha realizado menos de X veces.</td>
      </tr>
      <tr>
        <td><i>Se hizo</i></td>
        <td>El evento se ha realizado.</td>
      </tr>
      <tr>
        <td><i>No se hizo</i></td>
        <td>El evento&nbsp;<strong>no</strong> se ha realizado.</td>
      </tr>
      <tr>
        <td><i>Fue el</i></td>
        <td>El evento ha sido realizado en una determinada fecha.</td>
      </tr>
      <tr>
        <td><i>No fue el&nbsp;</i></td>
        <td>El evento&nbsp;<strong>no</strong> ha sido realizado en una determinada fecha.</td>
      </tr>
      <tr>
        <td><i>Fue hace</i></td>
        <td>El evento ha sido realizado hace exactamente un tiempo determinado.</td>
      </tr>
      <tr>
        <td><i>No fue hace</i></td>
        <td>El evento&nbsp;<strong>no</strong> se ha realizado hace exactamente un tiempo determinado.</td>
      </tr>
      <tr>
        <td><i>Hace más de</i></td>
        <td>El evento ha sido realizada hace más de X días.</td>
      </tr>
      <tr>
        <td><i>No hace más de</i></td>
        <td>El evento&nbsp;<strong>no</strong> ha sido realizada hace más de X días, no se ha realizado nunca o se ha realizado en otro periodo.</td>
      </tr>
      <tr>
        <td><i>Hace menos de</i></td>
        <td>El evento se ha realizado hace menos de X días.</td>
      </tr>
      <tr>
        <td><i>No hace menos de</i></td>
        <td>El evento&nbsp;<strong>no</strong> se ha realizado hace menos de X días, nunca se ha realizado o se ha realizado en otro periodo.</td>
      </tr>
      <tr>
        <td><i>Con la propiedad</i></td>
        <td>
          <p>Este operador devolverá todos los atributos que tenga vinculados el evento de la consulta.</p>
          <p>Este operador sólo estará disponible para los eventos personalizados y los evento de session y login.</p>
        </td>
      </tr>
      <tr>
        <td><i>Sent</i></td>
        <td><strong>Outapp</strong>: Usuarios a los que se ha enviado la notificación push o email.<br><strong>Inapp</strong>: Usuarios que han sido impactados por una comunicación (al menos una impresión).</td>
      </tr>
      <tr>
        <td><i>Not Sent</i></td>
        <td><strong>Outapp</strong>:&nbsp;Usuarios a los que&nbsp;<strong>no</strong> se le ha enviado la notificación push o email.<br><strong>Inapp</strong>: Usuarios que <strong>no</strong> han sido impactados por una comunicación.</td>
      </tr>
      <tr>
        <td><i>Clicked</i></td>
        <td><strong>Outapp</strong>:&nbsp;Usuarios que han abierto la notificación push o el email.&nbsp;<br><strong>Inapp</strong>:&nbsp;Usuarios que han hecho clic en la comunicación inapp. En el caso del strip no aplica ya que es el único formato inapp no interactuable.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Not Clicked</i></td>
        <td><strong>Outapp</strong>:&nbsp;Usuarios que&nbsp;<strong>no</strong> han abierto la notificación push o el email.&nbsp;<br><strong>Inapp</strong>: Usuarios que&nbsp;<strong>no</strong> han hecho clic en la comunicación inapp.&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Filtrar desde un csv</h2>
<p>EMMA te da la oportunidad de cruzar tus csv's con nuestra base de datos.</p>
<p>Para ello debes seleccionar alguna de las etiquetas de usuario (<i>Tags</i>) que tu app nos esté enviando o atributos.</p>
<p>Si quieres subir un archivo puedes hacerlo en el botón de la nube que aparece a la derecha del filtro.&nbsp;</p>
<figure class="image"><img src="/explorador_8.png"></figure>
<p>Ten en cuenta que debe ser un csv con todos los valores en una única columna, sin espacios en blanco y sin el nombre del <i>TAG</i> en la cabecera.</p>
<figure class="image"><img src="/explorador_9.png"></figure>
<p>Tienes dos opciones, cargar manualmente el .CSV a EMMA o si lo prefieres EMMA puede consultar una ruta de un servidor FTP siempre que se necesite. Recuerda poner siempre el usuario y contraseña de la ruta.</p>
<figure class="image"><img src="/explorador_10.png"></figure>
<figure class="image"><img src="/explorador_11.png"></figure>
<h2>Contador de eventos</h2>
<p>Todos los datos que vayas a consultar en <i>Explorador</i> dependerán del KPI principal que selecciones. Las opciones se desglosarán cuando selecciones <i>el selector&nbsp;</i>de la sección de contador de eventos (parte inferior de la pantalla en la que se muestra la gráfica).&nbsp;</p>
<figure class="image"><img src="/explorador_12.png"></figure>
<p>KPI's disponibles para el contador de eventos<i>:</i></p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Usuarios</i></td>
        <td>Usuarios (nuevas instalaciones).</td>
      </tr>
      <tr>
        <td><i>Conversiones</i></td>
        <td>Consulta para saber el número de conversiones/transacciones realizadas a través de la app.</td>
      </tr>
      <tr>
        <td><i>Ingresos</i></td>
        <td>Consulta para saber el valor de las órdenes de transacción.</td>
      </tr>
      <tr>
        <td><i>Ingresos medios de compras</i></td>
        <td>Valor medio de las órdenes de transacción.</td>
      </tr>
      <tr>
        <td><i>Aperturas</i></td>
        <td>Consulta para saber el número de aperturas de la app.</td>
      </tr>
      <tr>
        <td><i>Registros</i></td>
        <td>Consulta para saber el número de registros en la app.</td>
      </tr>
      <tr>
        <td><i>Primer Login</i></td>
        <td>Consulta para saber el número de ‘primer inicio de sesión’.</td>
      </tr>
      <tr>
        <td><i>Logins</i></td>
        <td>Consulta para saber el número de inicios de sesión en la app.</td>
      </tr>
      <tr>
        <td><i>EVENTOS</i></td>
        <td>Consulta por cada uno de los eventos personalizados implementados en la app.</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Si tenemos un filtro/segmento principal creado, este tendrá efecto sobre la consulta del evento en esta sección de contador de eventos.&nbsp;</p>
<p>Además, al contador de eventos le afectan los filtros de fechas que tengamos seleccionados en la barra de menú principal.&nbsp;</p>
<figure class="image"><img src="/contador_eventos.png"></figure>
<h2>Guardar segmentos</h2>
<p>Puedes guardar los filtros seleccionados si los utilizas constantemente para que puedas consultarlos siempre que quieras de una manera rápida y sencilla.</p>
<ul>
  <li>Una vez seleccionados el/los filtros que quieras consultar, haz click en el botón del margen superior izquierdo <i>Guardar segmento:</i></li>
</ul>
<figure class="image"><img src="/explorador_13.png"></figure>
<p>A la hora de guardar el segmento lo primero que tienes que hacer es introducir un nombre para poder identificar tu segmento posteriormente.<br><br>Si quieres que tu segmento sea visible para todos los usuarios que tengan acceso a tu app, deberás habilitar el check <i><strong>"¿Segmento público?"</strong></i>.<br>Activa el <i><strong>Segmento de prueba</strong> </i>si quieres que un usuario con rol <i><strong>"Author"</strong></i> pueda testear sus campañas de comunicación (amplía&nbsp;<a href="https://docs.emma.io/es/prevalidacion-de-campa%C3%B1as">aquí</a> la información sobre los distintos roles)<br>En caso de que sea un segmento para compartir con Facebook, habilita el check&nbsp;<i><strong>"¿Compartir segmento con Facebook?"</strong></i><br>Más info sobre como compartir audiencias con Facebook <a href="https://docs.emma.io/es/guias-de-integracion/facebook#compartir-audiencias-con-facebook">aquí</a>.<br><br>Por último, ya sólo queda guardar tu segmento. Para ello, tendrás que darle al botón <i><strong>Guardar segmento nuevo</strong></i>&nbsp;para tener acceso a él posteriormente.</p>
<figure class="image"><img src="/explorador_14.png"></figure>
<p><br>Una vez que tengas creado el segmento, si quieres modificarlo, solo tienes que cargarlo <i>(Carga un segmento),</i> modificar lo que necesites y clickar en "<i>Guardar segmento".</i><br>Ahora, tienes dos opciones para guardar tu segmento:</p>
<ol>
  <li><i><strong>Actualizar segmento: </strong></i>Con esta opción se sobreescribe el segmento anteriormente creado con la nueva configuración.</li>
  <li><i><strong>Guardar segmento nuevo: </strong></i>Con esta opción puedes guardar este segmento como un nuevo segmento. De esta manera se mantiene el segmento original y la nueva versión modificada.</li>
</ol>
<figure class="image"><img src="/explorador_15.png"></figure>
<p>Tu segmento se guardará dentro de la opción <i>Carga un segmento.</i></p>
<figure class="image"><img src="/explorador_16.png"></figure>
<p>Una vez se despliegue el menú con todos los segmentos guardados, podrás acceder al segmento deseado de un modo más rápido y sencillo con el buscador.</p>
<h2>Segmentos preguardados</h2>
<p>Además de los filtros que tú mismo hayas guardado, tal y como te hemos indicado en el punto anterior, EMMA pone a tu disposición unos segmentos predefinidos que encontrarás en la opción de <i>Carga un segmento.</i></p>
<p>Como segmentos preguardados encontrarás:</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>A Users</i></td>
        <td>Usuarios que han entrado hace menos de un mes en la app y han hecho más de una transacción.</td>
      </tr>
      <tr>
        <td><i>A+ Users</i></td>
        <td>Usuarios que han entrado hace menos de un mes en la app, han iniciado sesión más de 4 veces y realizado más de una transacción.</td>
      </tr>
      <tr>
        <td><i>Active for push</i></td>
        <td>Usuarios que han actividado las notificaciones Push.</td>
      </tr>
      <tr>
        <td><i>Active Users</i></td>
        <td>Usuarios que han entrado en la aplicación&nbsp;hace menos de un mes.</td>
      </tr>
      <tr>
        <td><i>Inactive Users</i></td>
        <td>Usuarios que llevan sin entrar en la aplicación más de un mes.</td>
      </tr>
      <tr>
        <td><i>Installs (new users)</i></td>
        <td>Nuevos usuarios que se han descargado la aplicación.</td>
      </tr>
      <tr>
        <td><i>Leads</i></td>
        <td>Usuarios que se han registrado en la aplicación.</td>
      </tr>
      <tr>
        <td><i>Register Offline</i></td>
        <td>Usuarios que se han registrado en algún formulario externo de la app pero se han logueado en la app.</td>
      </tr>
      <tr>
        <td><i>Non-Register Users</i></td>
        <td>Usuarios que no se han registrado ni logueado en la app.</td>
      </tr>
      <tr>
        <td><i>Loyal Users</i></td>
        <td>Usuarios&nbsp;que han entrado en la aplicación más de 4 veces.</td>
      </tr>
      <tr>
        <td><i>Organic Users</i></td>
        <td>Usuarios orgánicos que no provienen de ninguna campaña.</td>
      </tr>
      <tr>
        <td><i>Non-organic users</i></td>
        <td>Usuarios que provienen de campaña.</td>
      </tr>
      <tr>
        <td><i>Buyers</i></td>
        <td>Usuarios que han realizado una o más transacciones.</td>
      </tr>
      <tr>
        <td><i>Loyal Buyers</i></td>
        <td>Usuarios que han realizado dos o más transacciones.</td>
      </tr>
      <tr>
        <td><i>Non-buyers users</i></td>
        <td>Usuarios que no han hecho ninguna transacción.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Acciones de retargeting</h2>
<p>Desde la sección <strong>Comportamiento &gt; Gente</strong>, vas a poder consultar acciones de las fuentes de retargeting, tales como saber los dispositivos que han realizado x evento atribuido a una fuente de retargeting en un rango de fechas concreto, así como poder ver los dispositivos que han realizado clic o engage en las diferentes fuentes de retargeting.&nbsp;</p>
<h3>Conocer los dispositivos que han hecho clic o engage</h3>
<p>Para poder obtener información de los usuarios que han realizado clic o engagement en una fuente o fuentes de retargeting deberás seguir estos pasos:&nbsp;</p>
<ul>
  <li>Haz click en el botón verde&nbsp;<i><strong>"+ Agregar grupo"</strong></i>&nbsp;para añadir un nuevo criterio de filtrado.</li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_1.png"></figure>
<ul>
  <li>En el selector busca la opción <i><strong>Retargeting</strong></i>.</li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_2.png"></figure>
<ul>
  <li>Una vez seleccionada, elige entre los operadores <i><strong>han hecho clic</strong></i> o <strong>han hecho engagement</strong> en función de la información que deseas obtener<strong>.</strong></li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_3.png"></figure>
<ul>
  <li>Selecciona la(s) campaña(s) de retargeting de la(s) que quieres obtener los datos.</li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_4.png"></figure>
<ul>
  <li>Por último, haz clic en el botón <i><strong>Actualizar</strong></i> para obtener el resultado de tu consulta.</li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_5.png"></figure>
<blockquote>
  <p>No es posible saber los dispositivos que han hecho clic en una fuente de retargeting de redes autoatribuidas como Google o Facebook, ya que la información del clic no esta vinculada a los usuarios, ya que las plataformas solo nos permiten recuperar la infromación del volumen de clics realizados.</p>
</blockquote>
<h3>Conocer los dispositivos que han realizado un evento atribuido a retargeting</h3>
<p>Para poder localizar los dispositivos que han llevado a cabo uno o varios eventos atribuidos a una campaña de retargeting, debes seguir estos pasos:&nbsp;</p>
<ul>
  <li>Haz click en el botón verde&nbsp;<i><strong>"+ Agregar grupo"</strong></i>&nbsp;para añadir un nuevo criterio de filtrado.</li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_1.png"></figure>
<ul>
  <li>Selecciona el evento deseado.</li>
  <li>Selecciona el nuevo operador <i><strong>atribuido a.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_6.png"></figure>
<ul>
  <li>Selecciona la fuente o fuentes de retargeting de la que deseas consultar la información.</li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_7.png"></figure>
<ul>
  <li>Selecciona el rango de fechas del que deseas obtener la información.</li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_8.png"></figure>
<ul>
  <li>Haz clic en el botón <i><strong>Actualizar.</strong></i></li>
</ul>
<figure class="image"><img src="/gente_filtro_rt_9.png"></figure>
<p>&nbsp;</p>
<blockquote>
  <p>Ten en cuenta que el dato que reporta apptracker y el dato que reporta gente no tiene que ser coincidente, ya que en apptracker se visualizan eventos totales realizados en un rango de fechas, mientras que gente nos devuelve los dispositivos únicos que han realizado un evento concreto en un rango de fechas.&nbsp;</p>
</blockquote>
<h2>Reporting: aprende a leer los resultados</h2>
<p>El dashboard de <strong>Explorador</strong> ofrece los resultados de los datos en tres partes:</p>
<h3>Dispositivos que cumplen el filtrado</h3>
<p>La primera de ellas engloba el primer recuadro en donde se muestran los dispositivos totales en BB.DD que cumplen con el filtro seleccionado:</p>
<figure class="image"><img src="/explorador_17.png"></figure>
<ul>
  <li>1.361 <strong>Usuarios en total</strong><i><strong>:</strong></i> muestra los dispositivos totales de la base de datos independientemente del filtro empleado.</li>
  <li>219 <i><strong>Usuarios filtrados:</strong></i>&nbsp;total de usuarios de la base de datos que cumplen la condición del/los filtros seleccionados. En el caso del ejemplo, estamos consultando usuarios que han realizado el evento conversión.</li>
</ul>
<p>Puedes exportar los dispositivos únicos filtrados seleccionando el recuadro en el que aparece justo debajo del número de usuarios filtrados&nbsp;<i><strong>"Exportación Raw".</strong></i></p>
<figure class="image"><img src="/explorador_18.png"></figure>
<p>Se mostrará en tu pantalla una previsualización de la información disponible, pudiendo personalizar las columnas que quieres que sean añadidas a dicho informe y un botón de Exportar que genera un csv. Haz click <a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#exporta-tus-datos"><strong>aquí</strong></a> para conocer el detalle que este reporting puede ofrecer.</p>
<figure class="image"><img src="/explorador_19.png"></figure>
<h3>Contador de eventos</h3>
<p>El reporting del contador de eventos, dibuja el resultado arrojado en una linea temporal que se puede desglosar diaria, semanal o mensualmente. El KPI dibujado será el seleccionado en el selector de eventos del contador de eventos.&nbsp;</p>
<figure class="image"><img src="/explorador_20.png"></figure>
<ul>
  <li>6&nbsp;<i><strong>evento en total:</strong></i> eventos del KPI totales que cumplen el filtro seleccionado durante el período de tiempo marcado.</li>
</ul>
<p>Para exportar los datos según el período de tiempo seleccionado, selecciona <i>Exportar datos. </i>Esto descargará un archivo csv con los datos del rango de fechas seleccionado en la parte superior del menú y agrupados por días, semanas o meses, tal y como se haya seleccionado en el menú principal también.&nbsp;</p>
<figure class="image"><img src="/segmentos_v.png"></figure>
<h3><i>Datos acumulados</i></h3>
<p>La tercera y última opción será una tabla que encontrarás debajo de la gráfica. En ella podrás revisar los datos acumulados del KPI seleccionado y hacer una comparativa por días, semanas o meses.</p>
<p><strong>Por día</strong>: compara el acumulado del día actual con los tres días equivalentes a las tres semanas anteriores:</p>
<figure class="image"><img src="/explorador_21.png"></figure>
<p><strong>Por semana:</strong> compara el acumulado de la semana actual con las tres semanas anteriores:</p>
<figure class="image"><img src="/explorador_22.png"></figure>
<p><strong>Por mes:</strong> compara el acumulado del mes actual con los tres meses anteriores:</p>
<figure class="image"><img src="/explorador_23.png"></figure>
<h2>Exporta tus datos</h2>
<p>La <strong>Exportación Raw</strong> es un tipo de reporting en bruto con toda la información disponible a tu alcance. EMMA te da la opción de hacer una <strong>Exportación Raw </strong>desde dos secciones distintas:</p>
<ul>
  <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos">Comportamiento &gt; Explorador</a></li>
  <li><a href="https://docs.emma.io/es/analisis-de-comportamiento/embudos">Comportamiento &gt; Embudos</a></li>
</ul>
<p>En ambas secciones se generará una previsualización de tu exportación en la que podrás personalizar las columnas que quieras incluir. Haz click en exportar y abre el archivo .csv dividiéndolo por comas.</p>
<figure class="image"><img src="/explorador_19.png"></figure>
<p>En el documento exportado aparecerá el desglose por dispositivo y de cada uno de ellos obtendrás la siguiente información en función de las columnas que hayas seleccionado en la previsualización:</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>ID</i></td>
        <td>Número de identificador de usuario de la plataforma EMMA.</td>
      </tr>
      <tr>
        <td><i>Device ID</i></td>
        <td>Número de identificación único de iOS (IDFA) y Android (AAID).</td>
      </tr>
      <tr>
        <td><i>E-mail</i></td>
        <td>Dirección electrónica del usuario registrado en la aplicación/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Customer ID</i></td>
        <td>Tu&nbsp;número de identificación interno para identificar los usuarios de los clientes.</td>
      </tr>
      <tr>
        <td><i>Install&nbsp;AT</i></td>
        <td>Fecha en que el usuario ha abierto la aplicación por primera vez una vez descargada.</td>
      </tr>
      <tr>
        <td><i>Register AT</i></td>
        <td>Fecha en que el usuario&nbsp;se ha registrado por primera vez.</td>
      </tr>
      <tr>
        <td><i>First Login</i></td>
        <td>La primera vez que el usuario ha realizado un inicio de sesión en la aplicación/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Last Login</i></td>
        <td>La última vez que el usuario ha realizado un inicio de sesión en la aplicación/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Device</i></td>
        <td>Modelo de dispositivo del usuario a través del cual ha &nbsp;utilizado la app/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>App Version</i></td>
        <td>Ultima versión instalada en el dispositivo del usuario.</td>
      </tr>
      <tr>
        <td><i>OS Version</i></td>
        <td>Última versión del sistema operativo configurado en el dispositivo del usuario.</td>
      </tr>
      <tr>
        <td><i>Emma Build</i></td>
        <td>Versión del SDK configurada en la última versión de la aplicación/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Rated</i></td>
        <td>Indica aquellos usuarios que han calificado la aplicación/sitio móvil (número 1) y aquellos usuarios que no la han calificado&nbsp;(número 0).</td>
      </tr>
      <tr>
        <td><i>Inactive</i></td>
        <td>Indica aquellos usuarios activos para&nbsp;recibir &nbsp;comunicación <i>Push</i>&nbsp;(número 0) y aquellos usuarios inactivos (número 1).</td>
      </tr>
      <tr>
        <td><i>Latitude</i></td>
        <td>Coordenadas de latitud del usuarios mientras ha estado utilizando la geolocalización en la app /sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Longitud</i></td>
        <td>Coordenadas de longitud del usuarios mientras ha estado utilizando la geolocalización en la app /sitio móvil.</td>
      </tr>
      <tr>
        <td><i>City</i></td>
        <td>Ciudad en la que se encuentra el&nbsp;usuarios mientras ha estado utilizando la geolocalización en la app /sitio móvil. En caso de no usar geolocalización se realiza una traducción de la IP.</td>
      </tr>
      <tr>
        <td><i>Country</i></td>
        <td>País en el que se encuentra&nbsp;usuarios mientras ha estado utilizando la geolocalización en la app /sitio móvil. En caso de no usar geolocalización se realiza una traducción de la IP.</td>
      </tr>
      <tr>
        <td><i>Referrer ID</i></td>
        <td>Identificador único de la <i>source&nbsp;</i>de&nbsp;campaña que informa sobre el origen del usuario por la campaña.</td>
      </tr>
      <tr>
        <td><i>From campaign</i></td>
        <td>Campaña de la que procede el usuario.</td>
      </tr>
      <tr>
        <td><i>From source</i></td>
        <td>Source de la campaña de la que procede el usuario.</td>
      </tr>
      <tr>
        <td><i>IP</i></td>
        <td>Dirección donde el usuario ha conectado la app/sitio web.</td>
      </tr>
      <tr>
        <td><i>Loyal User AT</i></td>
        <td>Momento en que el usuario se convierte en usuario <i>loyal</i>&nbsp;(inicio de sesión de usuario por quinta vez).</td>
      </tr>
      <tr>
        <td><i>Loyal Buyer AT</i></td>
        <td>Momento en que el usuario se convierte en <i>loyal buyer</i>&nbsp;(a partir de la segunda compra por parte del usuario).</td>
      </tr>
      <tr>
        <td><i>Last Session AT</i></td>
        <td>Última vez que el usuario abre la aplicación/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Conversions</i></td>
        <td>Número de compras que ha realizado el usuario.</td>
      </tr>
      <tr>
        <td><i>Last Conversion&nbsp;AT</i></td>
        <td>La última vez que el usuario compró a través de la app/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>First Conversion&nbsp;AT</i></td>
        <td>La primera vez que el usuario compró a través de la app/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Seconds to first purchase</i></td>
        <td>Momento en que el usuario hhizo&nbsp;la primera compra desde que instaló por primera vez la app/sitio móvil.</td>
      </tr>
      <tr>
        <td><i>Accept language</i></td>
        <td>Idioma del dispositivo.</td>
      </tr>
      <tr>
        <td><i>Carrier</i></td>
        <td>Compañía de teléfono contratada por el&nbsp;usuario.</td>
      </tr>
      <tr>
        <td><i>Connection type</i></td>
        <td>Indica si la conexión del usuario es a través de &nbsp;WIFI o 3G.</td>
      </tr>
      <tr>
        <td>Install Postback</td>
        <td>Notificación de la instalación enviada al "Provider".</td>
      </tr>
      <tr>
        <td><i>TAGs</i></td>
        <td>Valores atribuidos a los tags que se reciben desde la app en caso de existir.</td>
      </tr>
      <tr>
        <td><i>Events</i></td>
        <td>Contador del número de veces que cada dispositivo ha realizado alguno de los eventos que se envían desde la app.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h2>Importa tus datos a EMMA</h2>
<p>EMMA proporciona mucha información recogida a través de las interacciones que los usuarios realizan con tu app, pero es posible que, en ocasiones, dispongas de información del usuario no recogida en la app pero interesante para su análisis y segmentación desde la propia herramienta. Es por ello, que EMMA dispone de un sistema de carga de datos que permite importar información extra (etiquetas) a nuestro sistema a través de un archivo CSV.</p>
<h4>Importante</h4>
<p>La importación de información extra solo se podrá realizar para las etiquetas de usuario (<i>TAG's</i>) y sólo podrán realizarla aquellos usuarios con rol <strong>admin</strong> o <strong>manager.</strong></p>
<p>Para realizar la carga de esta información extra sólo tienes que seguir estos pasos:</p>
<ul>
  <li>Ve a la sección de <strong>Comportamiento &gt; Explorador</strong>. Una vez estés en la sección Explorador<i>,&nbsp;</i>selecciona el botón de <strong>Cargar datos.</strong></li>
</ul>
<figure class="image"><img src="/segmentos_vi.png"></figure>
<ul>
  <li>Descarga la plantilla disponible en el enlace <i><strong>“descargar una plantilla del fichero CSV” </strong></i>y completa la tabla con la información que quieras importar.</li>
</ul>
<figure class="image"><img src="/segmentos_vii.png"></figure>
<p>La plantilla está estructurada de la siguiente forma:</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Customer ID</strong></td>
        <td>Es la primera columna y la que sirve de referente para hacer el&nbsp;<i>match</i> en la importación de datos. En este campo tendrás que rellenar los valores&nbsp;<i><strong>"CUSTOMER_ID</strong></i>" de aquellos usuarios sobre los que vayas a importar información. Para poder realizar esta importación, estos identificadores de cliente deben haber sido recogidos por el SDK de EMMA con anterioridad.</td>
      </tr>
      <tr>
        <td><strong>Resto de columnas</strong></td>
        <td>Puedes completar el resto de columnas con la información que quieras importar. Introduce en la primera fila de la columna el nombre del&nbsp;<i>TAG</i> sobre el que cargarás información. Completa los valores que deba tener cada&nbsp;<i>TAG</i> para cada usuario fila por fila. La información de estas columnas se importará en EMMA sobreescribiendo los valores ya existentes.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h4>Nuevos TAG's</h4>
<p>En caso de que el nombre de la columna no exista en EMMA, se creará un nuevo atributo o TAG con el nombre proporcionado en el archivo CSV desde el que se está realizando la importación.</p>
<ul>
  <li>Guarda el archivo en formato csv separado por comas. Es importante que los valores no tengan espacios entre ellos para que la carga se realice correctamente.</li>
  <li>Haz clic en el input que pone <i>Selecciona un fichero CSV</i> para poder seleccionar el fichero que deseas cargar y a continuación haz clic en el botón cargar datos.</li>
</ul>
<figure class="image"><img src="/segmentos_ix.png"></figure>
<ul>
  <li>EMMA te mostrará una previsualización y un resumen de la carga que se realizará. Si todo es correcto, haz clic sobre el botón <i><strong>Importar.&nbsp;</strong></i>
    <ul>
      <li>Registros que serán actualizados</li>
      <li>Registros no encontrados, bien porque no se encuentre el CUSTOMER_ID en BB.DD o bien porque el formato del archivo o su estructura no sean correctos.</li>
      <li>Nuevos TAGS o etiquetas de usuarios que serán creados en BB.DD ya que no existían previamente.</li>
    </ul>
  </li>
</ul>
<figure class="image"><img src="/segmentos_x.png"></figure>
<ul>
  <li>Valida que la información ha sido importada con éxito realizando una Exportación Raw. Sino sabes como hacer una Exportación Raw, en esta <a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#reporting-aprende-a-leer-los-resultados">guía</a> puedes ver paso a paso cómo se hace.</li>
</ul>
<p>&nbsp;</p>
