<!--
title: Dispositivos de test
description: Dispositivos test
published: true
date: 2021-05-03T14:46:20.465Z
tags: 
editor: ckeditor
dateCreated: 2021-05-03T12:34:01.614Z
-->

<p>Para poder llevar a cabo múltiples pruebas de atribución sin necesidad de tener que emplear dispositivos que nunca hayan tenido la app y por ende no estén en nuestra base de datos, ha nacido la funcionalidad de <i><strong>Dispositivos de test.&nbsp;</strong></i></p>
<p>Gracias a esta nueva funcionalidad, podremos añadir hasta <strong>40</strong> <strong>dispositivos</strong> de test por <strong>cuenta </strong>para poder realizar tantas pruebas de atribución con el mismo dispositivo como sea necesario.&nbsp;</p>
<p>A continuación veremos con más detalle cómo dar de alta nuevos dispositivos de test, el funcionamiento y algunas consideraciones a tener en cuenta para su uso.&nbsp;</p>
<h1>Cómo añadir dispositivos de test</h1>
<p>Añadir nuevos dispositivos de test es muy sencillo. Para ello, tan solo tienes que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Inicia sesión en <a href="https://ng.emma.io/es/login?returnUrl=%2Findex">EMMA</a>.</li>
  <li>Ve a la sección <strong>Comportamiento &gt; Gente</strong> y busca tu dispositivo en base de datos.</li>
  <li>Copia el identificador que aparece en la columna <i><strong>Device ID</strong> </i>y guárdalo, ya que lo necesitaremos más adelante.</li>
</ul>
<figure class="image"><img src="/dispositivos_test_iii.png"></figure>
<ul>
  <li>Haz <i>mouse over </i>sobre tu nombre de usuario, a la derecha de la pantalla, y en el menú desplegable selecciona la opción <strong>Dispositivos de test.</strong></li>
</ul>
<figure class="image"><img src="/dispositivos_test_i.png"></figure>
<ul>
  <li>Haz clic en el botón <strong>+ Nuevo dispositivo de test.</strong></li>
</ul>
<figure class="image"><img src="/dispositivos_test_ii.png"></figure>
<ul>
  <li>Cubre los campos del formulario de alta:<ul>
      <li><strong>Nombre: </strong>Establece un nombre identificativo para ese dispositivo de test.</li>
      <li><strong>Sistema operativo: </strong>Selecciona el sistema operativo correspondiente entre las opciones disponibles (<strong>iOS, Android, Otro).</strong></li>
      <li><strong>Identificador: </strong>Pega el identificador obtenido en la sección Gente anteriormente.</li>
    </ul>
  </li>
  <li>Guarda el dispositivo.</li>
</ul>
<p>Repite este proceso tantas veces como dispositivos de test necesites añadir hasta un máximo de <strong>40</strong> <strong>dispositivos</strong> por <strong>cuenta</strong>.&nbsp;</p>
<h1>Editar y eliminar dispositivos de test</h1>
<p>Una vez que hemos dado de alta nuestros dispositivos de test, eliminaros o editarlos de ser necesario es muy sencillo. Tan solo tenemos que hacer clic en el menú contextual que se muestra al lado del nombre del dispositivo de test y seleccionar la opción que deseemos.&nbsp;</p>
<figure class="image"><img src="/dispositivos_test_v.png"></figure>
<ul>
  <li><strong>Editar: </strong>Se abrirá el menú de edición del dispositivo y podremos modificar cualquier campo: <strong>nombre, sistema operativo e identificador.&nbsp;</strong></li>
  <li><strong>Eliminar: </strong>Si hacemos clic en eliminar, el dispositivo de test será eliminado de inmediato (sin confirmación). Eso significa que ya no podrá ser empleado como un dispositivo “nuevo” para medir la atribución.</li>
</ul>
<h1>Cómo funcionan los dispositivos de test</h1>
<p>Cuando damos de alta dispositivos de test, lo que estamos haciendo es decirle a EMMA que trate esos dispositivos como si fuesen nuevas instalaciones en nuestra base de datos pero manteniendo el identificador.&nbsp;</p>
<p>De esta manera, podremos realizar tantas pruebas de atribución con powlink de EMMA como sean necesarias, ya que con cada nuevo clic y posterior instalación de la app se actualizará tanto la fecha de instalación, como la campaña y fuente, si así corresponde, a la que está atribuido el usuario.&nbsp;</p>
<h2>Cómo hacer pruebas de atribución y ver los datos&nbsp;</h2>
<p>Una vez que tenemos nuestro dispositivo dado de alta como dispositivo de test, el procedimiento para hacer pruebas de atribución y revisar los datos es el siguiente:&nbsp;</p>
<ul>
  <li>Desinstalar la aplicación de nuestro dispositivo.&nbsp;</li>
  <li>Hacer clic en un powlink de EMMA previamente creado. Si no sabes cómo crear un powlink, visita nuestro artículo sobre el <a href="https://docs.emma.io/es/adquisicion/apptracker">Apptracker</a> para ver como hacerlo.&nbsp;</li>
  <li>Instalar la app y la abrirla por primera vez.</li>
  <li>A continuación, vamos a la sección <strong>Comportamiento &gt; Explorador </strong>y buscamos nuestro dispositivo en base de datos.&nbsp;</li>
  <li>Una vez localizado nuestro dispositivo hacemos una<i> </i><strong>Exportación Raw</strong> y seleccionaremos las columnas <i><strong>Install_at, From_</strong></i><strong>campaign </strong>y <i><strong>From_source</strong></i> para revisar la nueva atribución del dispositivo.&nbsp;<i><strong>&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="/dispositivos_test_vi.png"></figure>
<h2>Qué información del dispositivo se actualizará</h2>
<p>La única información recogida del dispositivo que se verá afectada cuando tengamos un dispositivo de test será:&nbsp;</p>
<ul>
  <li>Fecha y hora de instalación.</li>
  <li>Campaña a la que el usuario está atribuido.</li>
  <li>Fuente a la que el usuario está atribuido.</li>
</ul>
<p>Toda la información relativa a <strong>eventos</strong> no sufrirá cambios y tendremos el histórico del usuario. Así mismo, las <strong>etiquetas de usuario</strong> funcionarán como siempre y también se mantendrá está información.&nbsp;</p>
<h1>Consideraciones extra para iOS 14</h1>
<p>Con iOS 14 el funcionamiento de dispositivos de test es un poco especial debido a las limitaciones que está sufriendo esta versión del OS con respecto al uso del IDFA.&nbsp;</p>
<p>Si el dispositivo en cuestión no ha permitido la recopilación del IDFA, lo que se va a recuperar es un identificador vendor del dispositivo. Este identificador, a diferencia del IDFA, no es único por dispositivo, sino que es único por grupo de apps del desarrollador.&nbsp;</p>
<p>Es decir, si en nuestra cuenta de App Store o Google Play, tenemos bajo el mismo desarrollador 3 aplicaciones, siempre que tengamos al menos una de esas 3 apps instaladas en el dispositivo, el vendor se podrá compartir entre las 3 apps y será el mismo.</p>
<p>Sin embargo, si solo tenemos una app, cada vez que instalemos la app, se generará un nuevo vendor diferente asociado a nuestro dispositivo.&nbsp;</p>
<p>Teniendo estos dos casos en cuenta:&nbsp;</p>
<ul>
  <li>Cuando tenemos varias apps del mismo desarrollador, podemos buscar nuestro vendor en base de datos y añadirlo como un dispositivo de test, ya que el funcionamiento será como en Android o iOS inferiores a iOS 14.&nbsp;<br><strong>IMPORTANTE:</strong> Eso sí, ten en cuenta que si desinstalas todas las apps del desarrollador del dispositivo, cuando vuelvas a instalar tu vendor será completamente diferente.&nbsp;</li>
  <li>Cuando el desarrollador solo tiene una app o solo tenemos instalada una de sus apps, no es necesario añadir el dispositivo como un dispositivo de test, ya que con cada nueva instalación, se generará un nuevo vendor distinto.&nbsp;</li>
</ul>
