<!--
title: Equipo de la cuenta
description: Equipo  de la cuenta
published: true
date: 2021-05-19T15:05:11.567Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T23:16:35.247Z
-->

<p>En EMMA puedes dar acceso a tu cuenta a tantos usuarios diferente como necesites controlando en todo momento el tipo de visibilidad que tiene cada uno de ellos a los datos y las funciones que cada uno de ellos tiene habilitada.&nbsp;</p>
<h1>Equipo de la cuenta</h1>
<h2>Crear nuevos usuarios</h2>
<p>Para ello solo tienes que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Haz <a href="https://ng.emma.io">login</a> en tu cuenta de EMMA y ve a la parte superior derecha donde aparece tu nombre de usuario.</li>
</ul>
<figure class="image"><img src="/crear_usuario_1.png">
  <figcaption>Selecciona tu usuario para desplegar el menú</figcaption>
</figure>
<ul>
  <li>En el menú desplegable selecciona la opción <i><strong>Equipo de la cuenta </strong></i>y a continuación haz clic en el botón <i><strong>Nuevo miembro del equipo.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="/crear_usuario_2.png"></figure>
<figure class="image"><img src="/crear_usuario_3a.png"></figure>
<ul>
  <li>Cubre la siguiente información del formulario de alta de usuarios:</li>
</ul>
<figure class="image"><img src="/crear_usuario_4.png"></figure>
<ul>
  <li><strong>Nombre: </strong>Nombre del nuevo usuario</li>
  <li><strong>Apellido: </strong>Apellido del nuevo usuario</li>
  <li><strong>Email: </strong>Email del usuario con el que va a tener acceso a EMMA.</li>
  <li><strong>Rol: </strong>Seleccionar un rol entre los disponibles de EMMA:<ul>
      <li><strong>Administrador: </strong>Tiene acceso ilimitado a EMMA a datos y funciones. Es el único usuario que puede realizad modificaciones de configuración de la app en la sección <i>Preferencias app.&nbsp;</i></li>
      <li><strong>Agencia: </strong>Puede acceder y operar (crear, editar, eliminar) en cualquier sección de EMMA. Puede crear y editar las aplicaciones y usuarios de una cuenta pero no podrá eliminarlos.</li>
      <li><strong>Analista: </strong>Este rol solo aparecerá disponible si se tienen habilitada la funcionalidad de <i>Pre-validación de campañas. </i>Para ver información más detalla sobre qué puede o no hacer este usuario, consulta nuestra guía sobre <a href="https://support.emma.io/hc/es/articles/115003728933-Pre-validaci%C3%B3n-de-campa%C3%B1as">Pre-validación de campañas</a>.</li>
      <li><strong>Autor: </strong>Este rol solo aparecerá disponible si se tienen habilitada la funcionalidad de <i>Pre-validación de campañas. </i>Para ver información más detalla sobre qué puede o no hacer este usuario, consulta nuestra guía sobre <a href="https://support.emma.io/hc/es/articles/115003728933-Pre-validaci%C3%B3n-de-campa%C3%B1as">Pre-validación de campañas</a>.</li>
      <li><strong>Cliente: </strong>Puede acceder y operar (crear, editar, eliminar) en cualquier sección de EMMA. Puede crear y editar las aplicaciones y usuarios de una cuenta pero no podrá eliminarlos.</li>
      <li><strong>Gestor: </strong>Este rol solo aparecerá disponible si se tienen habilitada la funcionalidad de <i>Pre-validación de campañas. </i>Para ver información más detalla sobre qué puede o no hacer este usuario, consulta nuestra guía sobre <a href="https://support.emma.io/hc/es/articles/115003728933-Pre-validaci%C3%B3n-de-campa%C3%B1as">Pre-validación de campañas</a>.</li>
      <li><strong>Proveedor: </strong>Tan solo tiene acceso de lectura a la sección de <i>Captación &gt; Apptracker </i>de EMMA única y exclusivamente a las campañas y fuentes a las que se le de acceso posteriormente. Continúa leyendo esta guía para ver como dar acceso a unas fuentes específicas.</li>
    </ul>
  </li>
  <li><strong>Departamento: </strong>Selecciona al departamento que pertenece ese usuario dentro de tu empresa de entre las opciones disponibles:<ul>
      <li>Dirección</li>
      <li>Finanzas</li>
      <li>Marketing</li>
      <li>Otro</li>
      <li>Producto</li>
      <li>Soporte</li>
      <li>Tecnología</li>
      <li>Ventas</li>
    </ul>
  </li>
  <li><strong>Aplicaciones: </strong>Selecciona las apps dentro de tu cuenta a las que tiene que tener acceso. Si solo tienes app dentro de tu cuenta, se dará acceso al usuario a esa única app. En caso de tener varias apps, por defecto se dará acceso a todas a no ser que selecciones lo contrario.</li>
  <li>Por último, haz clic en el botón <i><strong>Guardar Usuario</strong></i> para crearlo. En ese momento, el usuario recibirá un correo con los pasos a seguir para validar su usuario.</li>
</ul>
<figure class="image"><img src="/crear_usuario_7.png"></figure>
<h2>Configurar acceso de proveedor a fuentes</h2>
<p>Una vez que hemos creado un nuevo usuario con rol <i>Proveedor</i> tan solo nos queda darle acceso a las fuentes que queremos que visualice.&nbsp;</p>
<p>Para ello, tan solo tenemos que seguir estos pasos:&nbsp;</p>
<ul>
  <li>Realizar los pasos previos en esta guía para crear un nuevo usuario con rol <i>Proveedor.&nbsp;</i></li>
  <li>Ir a la sección <i><strong>Captación &gt; Fuentes de medios.&nbsp;</strong></i></li>
</ul>
<figure class="image"><img src="/crear_usuario_10.png"></figure>
<ul>
  <li>Buscar y editar la fuente de medios en cuestión a la que queremos dar acceso al proveedor.</li>
  <li>En el formulario de edición, nos deslizamos hasta la sección que pone <i><strong>Permisos. </strong></i>Activamos los permisos y añadimos el email del usuario que hemos creado previamente. Podemos añadir tantos usuarios como sean necesarios haciendo clic en el botón <i>+ Añadir acceso.&nbsp;</i></li>
</ul>
<figure class="image"><img src="/crear_usuario_11.png"></figure>
<ul>
  <li>Guardar los cambios y listo, el proveedor solo visualizará aquellas fuentes que en <i>Apptracker</i> tengan configurado como proveedor la fuente a la que se le ha dado desde esta sección.</li>
</ul>
<h2>Editar o eliminar usuarios existentes</h2>
<p>Para editar o eliminar un usuario existente, tan solo tenemos que hacer clic en el menú lateral a la derecha del nombre del usuario y seleccionar la opción adecuada, <i>Editar o Eliminar.&nbsp;</i></p>
<figure class="image"><img src="/crear_usuario_8.png"></figure>
<p>Si seleccionamos la opción <i>Editar</i>, se abrirá la pantalla de edición del usuario y tan solo tenemos que hacer las modificaciones pertinentes y guardar los cambios realizados.&nbsp;</p>
<p>Si seleccionamos la opción <i>Eliminar</i>, se abrirá un alerta para confirmar si realmente queremos eliminar ese usuario o no.&nbsp;</p>
<figure class="image"><img src="/crear_usuario_9.png"></figure>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
