<!--
title: Preferencias de la app
description: Preferencias de la app
published: true
date: 2021-05-25T14:23:46.543Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T23:12:49.172Z
-->

<h1>Cómo limitar el capping de frecuencia de las notificaciones Push</h1>
<p>Si se tiene pensado impactar a varios segmentos de usuarios o envíar un gran número de notificaciones push es recomendable limitar el capping de frecuencia para no sobreimpactar a los usuarios.</p>
<p>Para limitar el capping de frecuencia dirígite a <i>My Account &gt; Configuration &gt; Edit App:</i></p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005860289/Captura_de_pantalla_2017-06-21_a_las_16.29.08.png" alt="Captura_de_pantalla_2017-06-21_a_las_16.29.08.png"></figure>
<p>&nbsp;</p>
<p>Ahí se podrá editar el número de veces que se quiera impactar a un dispositivo por día, por semana y por mes.</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/115005823345/Captura_de_pantalla_2017-06-21_a_las_16.29.50.png" alt="Captura_de_pantalla_2017-06-21_a_las_16.29.50.png"></figure>
<p>Si el límite se deja a 0, EMMA interpretará que el usuario será susceptible de recibir notificaciones Push ilimitadas.</p>
<p>Cuando vayas a programar la notificación Push, el campo de Over Push Limit indicará los dispositivos que pese a pertenecer al segmento o filtro seleccionado, ya han superado el límite de recepción de notificaciones.</p>
