<!--
title: Reporting de campañas
description: Reporting de campañas
published: true
date: 2023-03-01T13:40:26.729Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T23:07:18.392Z
-->

<h1>Informe de comunicaciones</h1>
<p>Con el informe de comunicaciones de EMMA podrás ver en detalle los resultados que ha conseguido cada una de las comunicaciones enviadas obteniendo de esta manera toda la analítica referente al alcance y funcionamiento de dichas comunicaciones.&nbsp;</p>
<p>Para acceder a estas estadísticas de las comunicaciones tan solo tienes que ir a la sección <strong>Comunicación &gt; Informe de comunicaciones.&nbsp;</strong></p>
<figure class="image"><img src="/reporting_i.png"></figure>
<p>Según el tipo de reporting que queremos ver, tendremos que seleccionar una y otra opción en el menú desplegable superior izquierdo.&nbsp;</p>
<figure class="image"><img src="/reporting_ii.png"></figure>
<ul>
  <li><strong>In-App: </strong>Esta es la opción por defecto y nos mostrará toda la información de las campañas In-App (Adball, Startview, Native Ad…) que tengan datos en el rango de fechas seleccionado.</li>
  <li><strong>Out-App: </strong>Si se selecciona la opción Out-App se podrá ver toda la información relativa a aquellas comunicaciones que tienen lugar fuera de la app. En este caso, notificaciones Push e Emails, siempre que tengan datos en el periodo de fechas seleccionado.</li>
</ul>
<p>Además, podremos añadir más filtros en caso de ser necesario para localizar las comunicaciones de manera más rápida y fácil. Los filtros disponibles son los mismos tanto para <strong>In-App</strong> como para <strong>Out-App.&nbsp;</strong></p>
<figure class="image"><img src="/reporting_vii.png"></figure>
<ul>
  <li><strong>Test A/B:</strong> Con esta opción podremos realizar un filtrado que nos devuelva las comunicaciones que tienen variaciones de Test A/B o por el contrario aquellas que no tienen Test A/B.</li>
  <li><strong>Sistema operativo: </strong>Seleccionando esta opción podremos filtrar todas aquellas campañas que tengan datos de Android o iOS. Por defecto en el informe EMMA muestra datos conjuntos de ambos sistemas operativos. Si queremos obtener la información desglosada por sistema operativo deberemos usar este filtro.</li>
  <li><strong>Formato: </strong>Podemos seleccionar que se muestren aquellas comunicaciones que pertenecen a un formato específico. En el caso del informe In-App los formatos son Adball, Banner, Cupón, Dynamictab, Native Ad, Startview y Strip. En el caso del informe Out-App los formatos son Email y Push. Por defecto se muestra información de todos los formatos.</li>
  <li><strong>Campañas: </strong>Filtra los resultados del informe de comunicaciones seleccionando una o varias campañas de comunicación específicas.</li>
</ul>
<p>Ten en cuenta que EMMA siempre nos devolverá las comunicaciones que hayan tenido actividad en el periodo de fechas seleccionado. Por defecto, cuando accedemos a EMMA, se muestra información de lo últimos 7 días, pero podemos variar este rango de fechas en el selector de fechas superior derecho. Puedes ver más info al respecto <a href="https://docs.emma.io/es/barras-de-menu">aquí</a>.&nbsp;</p>
<figure class="image"><img src="/reporting_viii.png"></figure>
<h1>Informe In-App</h1>
<p>En el Informe de comunicaciones In-App podremos ver la información relativa a todas las campañas de comunicación In-App. Es decir, de aquellas comunicaciones que tienen lugar dentro de la app.&nbsp;</p>
<p>En este informe encontraremos dos secciones claramente diferenciadas. Por un lado, en primer lugar podremos ver información general acumulada de todas las comunicaciones In-App que muestra el informe.&nbsp;</p>
<figure class="image image_resized" style="width:81.69%;"><img src="/reporting_iii.png"></figure>
<p>En esta primera sección podemos ver la siguiente información:&nbsp;</p>
<ul>
  <li><strong>Impresiones</strong>:&nbsp;Número de veces totales que la comunicación ha sido mostrada (impresiones totales).</li>
  <li><strong>Impresiones únicas</strong>: Número de dispositivos únicos en los que se han mostrado las comunicaciones.</li>
  <li><strong>Clics</strong>:&nbsp;Número de veces que el usuario interactúa con la comunicación.</li>
  <li><strong>CTR</strong>:&nbsp;Porcentaje de dispositivos que han hecho clic en la comunicación entre las impresiones totales.</li>
</ul>
<p>En la segunda parte de la pantalla tenemos una tabla que muestra las <i>Estadísticas individuales.&nbsp;</i></p>
<figure class="image"><img src="/reporting_ix.png"></figure>
<p>En esta tabla tenemos un selector que nos permite seleccionar hasta un máximo de 16 columnas para poder ver la información de los KPIs que necesites. Los KPIs disponibles son:&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>ID</i></td>
        <td>Identificador de la campaña en EMMA.</td>
      </tr>
      <tr>
        <td><i>Nombre de campaña</i></td>
        <td>Nombre de la campaña.</td>
      </tr>
      <tr>
        <td><i>Estado</i></td>
        <td>Activa, finalizada, pausada o testing.</td>
      </tr>
      <tr>
        <td><i>Formato</i></td>
        <td>Formato de la comunicación.&nbsp;</td>
      </tr>
      <tr>
        <td>Audiencia</td>
        <td>Nombre de la audiencia vinculada a la comunicación.</td>
      </tr>
      <tr>
        <td><i>Fecha inicio</i></td>
        <td>Fecha y hora en la que se activa la campaña.</td>
      </tr>
      <tr>
        <td><i>Fecha fin</i></td>
        <td>Fecha y hora de finalización de la campaña.</td>
      </tr>
      <tr>
        <td><i>Impresiones</i></td>
        <td>Número de veces que la comunicación ha sido mostrada (impresiones totales).</td>
      </tr>
      <tr>
        <td><i>Impresiones únicas</i></td>
        <td>Número de dispositivos únicos en los que se ha mostrado la comunicación.</td>
      </tr>
      <tr>
        <td><i>Clics</i></td>
        <td>Número de veces que el usuario interactúa con la comunicación.</td>
      </tr>
      <tr>
        <td><i>CTR</i></td>
        <td>Porcentaje de dispositivos que han hecho clic en la comunicación entre las impresiones totales.</td>
      </tr>
      <tr>
        <td><i>Redenciones</i></td>
        <td>Número de veces que el cupón ha sido canjeado.</td>
      </tr>
      <tr>
        <td><i>Media de redenciones</i></td>
        <td>Valor medio total de redenciones&nbsp;por dispositivo.</td>
      </tr>
      <tr>
        <td><i>Test A/B</i></td>
        <td>La campaña tiene configurado test ab o no.&nbsp;</td>
      </tr>
      <tr>
        <td><i>Automática</i></td>
        <td>Tipo de campaña (Automática o clásica).</td>
      </tr>
      <tr>
        <td><i>Ventana de atribución</i></td>
        <td>Tiempo de atribución de eventos a cada campaña, después de haber interactuado con ella (clic).</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>Puedes filtrar en el buscador que está arriba a la derecha de la tabla para localizar una comunicación en concreto.</p>
<h1>Informe Out-App</h1>
<p>En el caso del informe de comunicaciones Out-App la estructura es la misma que el informe de In-App, solo que en este caso, hace referencia a las notificaciones push e email.. A continuación veremos la información específica que incluye este informe.&nbsp;</p>
<figure class="image image_resized" style="width:85.87%;"><img src="/reporting_v.png"></figure>
<p>En la primera parte, podremos ver información general acumulada de todas las campañas:&nbsp;</p>
<ul>
  <li><strong>Envío</strong>:&nbsp;Número de <i>push </i>e <i>emails </i>que se han intentado enviar&nbsp;a través de EMMA.</li>
  <li><strong>Aperturas</strong>:&nbsp;Número de dispositivos que han abierto&nbsp;los mensajes Out-App.</li>
  <li><strong>Aperturas únicas</strong>:&nbsp;Número de dispositivos únicos que han abierto los mensajes Out-App.</li>
  <li><strong>Ratio de aperturas</strong>:&nbsp;Porcentaje de dispositivos que han abierto los mensajes Out-App<i>&nbsp;</i>entre el total de entregas por campaña (aperturas únicas).</li>
</ul>
<p>En la tabla de <i>Estadísticas individuales</i> podremos ver la siguiente información:&nbsp;</p>
<figure class="image"><img src="/reporting_x.png"></figure>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>ID</td>
        <td>Identificador de la campaña en EMMA.</td>
      </tr>
      <tr>
        <td>Nombre de campaña</td>
        <td>Nombre de la campaña.</td>
      </tr>
      <tr>
        <td>Estado</td>
        <td>Activa, finalizada, pausada, programada o testing.</td>
      </tr>
      <tr>
        <td>Formato</td>
        <td>Formato de la comunicación.&nbsp;</td>
      </tr>
      <tr>
        <td>Audiencia</td>
        <td>Nombre de la audiencia vinculada a la comunicación.</td>
      </tr>
      <tr>
        <td>Enviados</td>
        <td>Número de <i>push </i>que se han intentado enviar&nbsp;a través de EMMA.</td>
      </tr>
      <tr>
        <td>Entregados</td>
        <td>Número de dispositivos al que se ha enviado el <i>push</i>.</td>
      </tr>
      <tr>
        <td>Aperturas</td>
        <td>Número de dispositivos que han hecho clic en la notificación.</td>
      </tr>
      <tr>
        <td>Ratio de aperturas</td>
        <td>Porcentaje de dispositivos que han abierto el <i>push&nbsp;</i>entre el total de entregas por campaña.</td>
      </tr>
      <tr>
        <td>Aperturas únicas</td>
        <td>Usuarios únicos que han abierto la comunicación.</td>
      </tr>
      <tr>
        <td>Aperturas en ventana de atribución</td>
        <td>Número de aperturas de la notificación que se han realizado dentro de la ventana de atribución configurada.</td>
      </tr>
      <tr>
        <td>AOV</td>
        <td><i>Average Order Value:&nbsp;</i>Ingresos totales/ventas totales</td>
      </tr>
      <tr>
        <td>Fecha de lanzamiento</td>
        <td>Fecha para la que el&nbsp;<i>push</i> estaba programado.</td>
      </tr>
      <tr>
        <td>Fecha de envío</td>
        <td>Fecha y hora en la que el push se entregó.</td>
      </tr>
      <tr>
        <td>Zona horaria</td>
        <td>Zona horaria seleccionada para el envío.</td>
      </tr>
      <tr>
        <td>Test A/B</td>
        <td>La campaña tiene configurado test ab o no.&nbsp;</td>
      </tr>
      <tr>
        <td>Automática</td>
        <td>Tipo de campaña (Automática o clásica)</td>
      </tr>
      <tr>
        <td>Ventana de atribución</td>
        <td>Tiempo de atribución de eventos a cada campaña, después de haber interactuado con ella (clic).</td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Test A/B análisis</h1>
<p>Para ver el informe de las campañas que tengan configurado un Test A/B tan solo tenemos que ir a la comunicación en cuestión y hacer clic en la opción <strong>Test A/B análisis</strong> que se muestra en el menú contextual de dicha comunicación. En esta <a href="https://docs.emma.io/es/comunicacion/campa%C3%B1as/test-ab">guía</a> puedes ver todos los detalles del informe de comunicaciones de las comunicaciones con Test A/B.&nbsp;</p>
<h1>Usuarios impactados por las campañas</h1>
<p>Si queremos saber información de los usuarios que han sido impactados por nuestras campañas, ya sea In-App o Out-App, existe un filtro en <strong>Comportamiento &gt; Explorador</strong> que nos permite saber los usuarios que han sido impactados o no por una comunicación en concreto. Se trata del filtro <strong>Comunicación</strong> y en esta <a href="https://docs.emma.io/es/analisis-de-comportamiento/segmentos#filtros-disponibles">guía</a> puedes ver más info al respecto.&nbsp;</p>
<h1>Consideraciones informe de comunicaciones</h1>
<ul>
  <li>Los datos se muestran según las fechas que tengas seleccionadas. NO son acumulativos.</li>
  <li>Aunque una campaña esté activa, si en el rango de fechas que se ha seleccionado no ha recogido datos, esta no se mostrará en la tabla.</li>
  <li>Las campañas que se hayan eliminado antes de recopilar datos no se mostrarán.</li>
  <li>Si se realiza una exportación de la&nbsp; tabla <i>“Estadísticas individuales”,&nbsp;</i>esta se hará como lo ves en la propia tabla, solo aparecerán las columnas de los KPI y campañas que estaban seleccionadas.</li>
  <li>El Informe de comunicaciones se actualiza cada 2h. Ten en cuenta que el tiempo de actualización puede variar en función del volumen de datos que se estén recogiendo.</li>
</ul>
