<!--
title: Test AB
description: Test AB
published: true
date: 2021-07-05T05:15:07.124Z
tags: 
editor: ckeditor
dateCreated: 2020-11-25T23:06:11.096Z
-->

<p>Una vez que las comunicaciones de Test A/B están lanzadas y generando datos, es necesario saber cuál es la que mejor está funcionando en base a los objetivos marcados para esa comunicación.&nbsp;</p>
<p>Para ello, se podrán analizar los datos y ver la comunicación con mejor rendimiento desde la sección de&nbsp;<i><strong>Comunicación &gt; Informe de comunicaciones</strong></i>.</p>
<figure class="image image_resized" style="width:73.68%;"><img src="https://support.emma.io/hc/article_attachments/360006895899/Captura_de_pantalla_2019-12-02_a_las_16.46.12.png"></figure>
<p>Para ver los datos en concreto de las comunicaciones de Test A/B deberemos bajar hasta la tabla con todas las comunicaciones y buscar la comunicación deseada. Al tratarse de una comunicación de Test A/B podremos ver, al lado de la columna del&nbsp;<i><strong>Estado,</strong>&nbsp;</i>tres puntitos verticales a forma de menú. Es desde ese menú contextual desde donde se accederá al informe concreto de Test A/B.&nbsp;</p>
<figure class="image image_resized" style="width:74.49%;"><img src="https://support.emma.io/hc/article_attachments/360006902139/Captura_de_pantalla_2019-12-02_a_las_22.16.10.png"></figure>
<h1>Informe Test A/B</h1>
<p>Una vez que se accede al informe, nos encontraremos con tres secciones diferenciadas. Por un lado, está el resumen con datos generales, a continuación se pueden ver los datos de cada una de las campañas que forman el AB testing y han obtenido datos y por último nos encontramos una tabla como en el informe clásico con toda la actividad recogida por cada campaña.&nbsp;</p>
<h2>Datos generales</h2>
<p>Antes de nada, es necesario seleccionar el evento objetivo de la campaña en el desplegable de la parte superior izquierda de la pantalla. Este evento será el KPI objetivo en base al cual se decidirá la campaña que mejor funciona.</p>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360006902159/Captura_de_pantalla_2019-12-02_a_las_22.13.57.png"></figure>
<p>En esta primera parte del informe se podrán ver datos generales (totales) de las campañas, como impresiones, impresiones únicas, clics (o el evento objetivo seleccionado como objetivo) y ETR. Además, se podrá ver una gráfica en la que se muestran datos del evento objetivo de cada una de las campañas.&nbsp;</p>
<h3>Importante</h3>
<p>El <strong>ETR</strong> es el&nbsp;<i><strong>Event Through Ratio</strong></i> y es el KPI que se emplea para determinar la campaña "vencedora" del Test A/B. Este KPI se calcula dividiendo los&nbsp;<i><strong>eventos</strong>&nbsp;</i>entre las&nbsp;<i><strong>impresiones</strong>&nbsp;</i>de cada versión. La versión que tenga un mayor ETR, un mejor porcentaje de conversión, será la versión ganadora.&nbsp;</p>
<h2>Versiones</h2>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360006895220/Captura_de_pantalla_2019-12-03_a_las_9.35.51.png"></figure>
<p>La segunda gráfica nos mostrará el ganador del test A/B en base al ETR. La campaña ganadora se mostrará con un icono de una copa antes del nombre.&nbsp;</p>
<p>En esta gráfica se verán única y exclusivamente los KPIs empleados para seleccionar el vencedor. Por lo tanto sólo se podrán ver datos de impresiones, impresiones únicas, evento objetivo y ETR.&nbsp;</p>
<ul>
  <li><strong>Versión:&nbsp;</strong>Nombre de la versión. Las posibilidades son&nbsp;<i>Original, Versión A, Versión B y Versión C.&nbsp;</i></li>
  <li><strong>Impresiones:&nbsp;</strong>Número de veces que la comunicación ha sido mostrada (impresiones totales).</li>
  <li><strong>Impresiones únicas:&nbsp;</strong>Número de dispositivos únicos en los que se han mostrado las comunicaciones.</li>
  <li><strong>Evento objetivo</strong>: La columna <i><strong>clics</strong></i> irá cambiando de nombre en función del evento objetivo seleccionado. Se muestra el número de veces que el usuario realiza el evento objetivo.</li>
  <li><strong>ETR:</strong> Event Through Ratio. Ratio de evento frente a impresiones.</li>
</ul>
<h3>Nota</h3>
<p>El evento objetivo irá cambiando en la columna en función del evento seleccionado previamente (ver apartado&nbsp;<i>Datos Generales</i> mas arriba). En este ejemplo concreto el evento objetivo son clics.&nbsp;</p>
<h2>Estadísticas individuales</h2>
<figure class="image"><img src="https://support.emma.io/hc/article_attachments/360006889740/Captura_de_pantalla_2019-12-02_a_las_22.14.15.png"></figure>
<p>Asimismo, en la última gráfica de <i>Estadísticas individuales</i> se podrá consultar toda la actividad asociada a las campañas al igual que en el informe de comunicaciones clásico con cualquier otra comunicación.&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><i>Versión</i></td>
        <td>Nombre de la versión de la comunicación. Las opciones son&nbsp;<i>Original, Versión A, Versión B y Versión C.&nbsp;</i></td>
      </tr>
      <tr>
        <td><i>Impresiones</i></td>
        <td>Número de veces que la comunicación ha sido mostrada (impresiones totales).</td>
      </tr>
      <tr>
        <td><i>Impresiones únicas</i></td>
        <td>Número de dispositivos únicos en los que se han mostrado las comunicaciones.</td>
      </tr>
      <tr>
        <td><i>Clics</i></td>
        <td>Número de veces que el usuario interactúa con la comunicación.&nbsp;</td>
      </tr>
      <tr>
        <td>Eventos por defecto y personalizados</td>
        <td>Medición de los eventos que tengas definidos para tu aplicación.</td>
      </tr>
    </tbody>
  </table>
</figure>
<h3>Info</h3>
<p>Con este nuevo&nbsp;<strong>Informe de comunicaciones,&nbsp;</strong>tienes que tener en cuenta:</p>
<ul>
  <li>El Informe de comunicaciones se actualizan cada 2 horas. Ten en cuenta que el tiempo puede ser mayor o menor dependiendo del volumen de datos.</li>
  <li>Los datos se muestran según las fechas que tengas seleccionadas. NO son acumulativos.</li>
  <li>Aunque una campaña esté activa, si en las fechas que tú seleccionas no ha recogido datos, esta no se mostrará en la tabla.</li>
  <li>Las campañas que se hayan eliminado antes de recopilar datos no se mostrarán.</li>
  <li>Si se realiza una&nbsp;exportación de la tabla <i>Estadísticas individuales,&nbsp;</i>esta se hará como lo ves en la propia tabla, solo aparecerán las columnas de los KPI y campañas que estaban seleccionadas.</li>
  <li>El Informe de comunicaciones se actualiza cada 2h. Ten en cuenta que el tiempo de actualización puede variar en función del volumen de datos que se estén recogiendo.</li>
</ul>
